amir-shipping-data-base-EWLjwbn4J9E6p3RY.json
{"createdAt":"2025-09-01T06:19:47.254Z","updatedAt":"2025-09-01T06:20:35.000Z","id":"EWLjwbn4J9E6p3RY","name":"Amir Shipping Data Base","active":false,"isArchived":false,"nodes":[{"parameters":{"name":"SALES AND SHIPMENT FOLLOW UP","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Create folder\"].json[\"id\"] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1280,928],"id":"5a0df04c-e06d-4ec0-b487-6b4f78b3e1eb","name":"Drive Upload"},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{$json[\"id\"]}}/copy\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"mimeType\": \"application/vnd.google-apps.spreadsheet\",\n  \"name\": \"Converted - {{$json[\"name\"]}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,928],"id":"cc8fcbe1-0e62-4ad9-b4ec-eebc98980e78","name":"Convert .xls to Sheet"},{"parameters":{"authentication":"oAuth2","operation":"download","path":"/Shipping-Data/1 - SALES AND SHIPMENT FOLLOW UP (2).xlsx"},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[1056,928],"id":"9f38c021-9359-4939-93fa-d06115856b76","name":"Dropbox Download1"},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"deletePermanently":true}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[448,928],"id":"24331dd5-625c-437e-bb48-f02320a9eb79","name":"Delete folder"},{"parameters":{"resource":"folder","name":"Amir-Shipping","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[656,928],"id":"a5b45bc7-19c8-4f93-8b74-cc4f9f35133b","name":"Create folder"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"981e920d-8cd6-4b12-9772-41d365a68416","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1168,1472],"id":"bb342148-36d9-4d6c-b751-f35a4ea883e5","name":"If"},{"parameters":{"resource":"fileFolder","queryString":"/Amir-Shipping","filter":{"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"includeTrashed":false},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1360,1472],"id":"588dbf92-9263-4236-aac1-1e773f6a5b0f","name":"Search files and folders","alwaysOutputData":true},{"parameters":{"name":"SALES AND SHIPMENT FOLLOW UP","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $item(\"0\").$node[\"Create folder1\"].json[\"id\"] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1168,2032],"id":"d598cb48-8cce-4e7f-b374-40fa61ec1fe6","name":"Drive Upload2"},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{$json[\"id\"]}}/copy\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"mimeType\": \"application/vnd.google-apps.spreadsheet\",\n  \"name\": \"Converted - {{$json[\"name\"]}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,2032],"id":"9e7b6def-1a5e-49f5-9700-f8f54dd61f02","name":"Convert .xls to Sheet1"},{"parameters":{"authentication":"oAuth2","operation":"download","path":"/Shipping-Data/1 - SALES AND SHIPMENT FOLLOW UP (2).xlsx"},"type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[944,2032],"id":"8ce02ef9-9c5d-489c-83b2-0ae2acc5880c","name":"Dropbox Download2"},{"parameters":{"resource":"folder","name":"Amir-Shipping","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[512,2032],"id":"cd4a18b8-be0d-4c82-a5fc-ffdb2c3b6baf","name":"Create folder1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1536,1472],"id":"78927071-1026-4645-8621-b2e9f874661e","name":"Schedule Trigger"},{"parameters":{"resource":"folder","operation":"share","folderNoRootId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[848,928],"id":"01310bed-124e-4ed5-8ce3-ab48c7879210","name":"Share folder"},{"parameters":{"resource":"folder","operation":"share","folderNoRootId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"writer","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[704,2032],"id":"f932978f-aa3c-4309-a7b7-ba4204a036aa","name":"Share folder1"},{"parameters":{"content":"#  Schedule Trigger\n## Runs every 12 hours to start the automation. ⏰\n\n#  Search files and folders (Google Drive)\n## Looks for the Amir-Shipping folder in the root of Drive.\n\n# If\n## Checks if the folder exists by verifying the folder ID.","height":976,"width":1536},"type":"n8n-nodes-base.stickyNote","position":[-2512,1008],"typeVersion":1,"id":"39625605-a3da-49e7-ac75-122265fa2bad","name":"Sticky Note"},{"parameters":{"content":"#  Delete folder (Google Drive)\n## - Deletes existing Amir-Shipping folder permanently if found.\n\n#  Create folder (Google Drive)\n## - Creates a new Amir-Shipping folder in Drive.\n\n#  Share folder (Google Drive)\n## - Grants “Anyone with link = Writer” access to the new folder.\n\n#  Dropbox Download\n## - Downloads - SALES AND SHIPMENT FOLLOW UP (2).xlsx from Dropbox.\n\n#  Drive Upload (Google Drive)\n## - Uploads downloaded XLSX into the shared Amir-Shipping folder.\n\n#  Convert .xls to Sheet (HTTP Request to Drive API)\n## - Converts uploaded XLSX into Google Sheets format with “Converted - [Name]”.","height":1216,"width":2912,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-352,-16],"typeVersion":1,"id":"ddf136b9-6385-4aad-8c5b-c94fcf837280","name":"Sticky Note1"},{"parameters":{"content":"#  Create folder (Google Drive)\n## Creates another instance of Amir-Shipping folder if folder is not already present (branch two).\n\n#  Share folder (Google Drive)\n## - Shares the folder with Writer access for anyone.\n\n#  Dropbox Download\n## - Downloads the from Dropbox.\n\n#  Drive Upload2 (Google Drive)\n## - Uploads the file to the second Amir-Shipping folder.\n\n#  Convert .xls to Sheet (HTTP Request to Drive API)\n## Converts second uploaded XLSX into Google Sheets.","height":1520,"width":2608,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-352,1680],"typeVersion":1,"id":"517bb2cc-c42c-41f3-87f5-ca9d238dbd3d","name":"Sticky Note2"},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.id }}?fields=sheets.properties\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,928],"id":"3fe84000-7d99-4133-868c-2e6dbc2d6b72","name":"Get gid's of Sheet"},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.id }}?fields=sheets.properties\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,2032],"id":"f161f65b-82ff-47f3-8391-917ef34e83d1","name":"Get gid's of Sheet1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1drL5Vd-6AFEpIVI1U3tJLz5JSwh3Rnoh-GpVX_BkVIg","mode":"list","cachedResultName":"ID DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1drL5Vd-6AFEpIVI1U3tJLz5JSwh3Rnoh-GpVX_BkVIg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1drL5Vd-6AFEpIVI1U3tJLz5JSwh3Rnoh-GpVX_BkVIg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"SALES":"={{ $item(\"0\").$node[\"Get gid's of Sheet\"].json[\"sheets\"][\"0\"][\"properties\"][\"sheetId\"] }}","NOTIFICATION":"={{ $item(\"0\").$node[\"Get gid's of Sheet\"].json[\"sheets\"][\"2\"][\"properties\"][\"sheetId\"] }}","BALANCE":"={{ $item(\"0\").$node[\"Get gid's of Sheet\"].json[\"sheets\"][\"4\"][\"properties\"][\"sheetId\"] }}","MAYANK":"={{ $item(\"0\").$node[\"Get gid's of Sheet\"].json[\"sheets\"][\"8\"][\"properties\"][\"sheetId\"] }}","SUIVI":"={{ $item(\"0\").$node[\"Get gid's of Sheet\"].json[\"sheets\"][\"6\"][\"properties\"][\"sheetId\"] }}","ID":"={{ $item(\"0\").$node[\"Convert .xls to Sheet\"].json[\"id\"] }}","SHIPMENT-FOLLOW-UP":"={{ $item(\"0\").$node[\"Get gid's of Sheet\"].json[\"sheets\"][\"1\"][\"properties\"][\"sheetId\"] }}","CLIENT-PAYMENTS":"={{ $item(\"0\").$node[\"Get gid's of Sheet\"].json[\"sheets\"][\"3\"][\"properties\"][\"sheetId\"] }}","Avance-Soguipah":"={{ $item(\"0\").$node[\"Get gid's of Sheet\"].json[\"sheets\"][\"7\"][\"properties\"][\"sheetId\"] }}","PROCUREMENT-RUBBER":"={{ $item(\"0\").$node[\"Get gid's of Sheet\"].json[\"sheets\"][\"5\"][\"properties\"][\"sheetId\"] }}"},"matchingColumns":["id"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SALES","displayName":"SALES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SHIPMENT-FOLLOW-UP","displayName":"SHIPMENT-FOLLOW-UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOTIFICATION","displayName":"NOTIFICATION","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CLIENT-PAYMENTS","displayName":"CLIENT-PAYMENTS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BALANCE","displayName":"BALANCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PROCUREMENT-RUBBER","displayName":"PROCUREMENT-RUBBER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SUIVI","displayName":"SUIVI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Avance-Soguipah","displayName":"Avance-Soguipah","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MAYANK","displayName":"MAYANK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2288,928],"id":"5977be36-f8ca-456c-963c-5d1468fabd57","name":"Append row in sheet"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1drL5Vd-6AFEpIVI1U3tJLz5JSwh3Rnoh-GpVX_BkVIg","mode":"list","cachedResultName":"ID DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1drL5Vd-6AFEpIVI1U3tJLz5JSwh3Rnoh-GpVX_BkVIg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1drL5Vd-6AFEpIVI1U3tJLz5JSwh3Rnoh-GpVX_BkVIg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"SALES":"={{ $json.sheets[0].properties.sheetId }}","NOTIFICATION":"={{ $json.sheets[2].properties.sheetId }}","BALANCE":"={{ $json.sheets[4].properties.sheetId }}","PROCUREMENT- RUBBER":"={{ $json.sheets[5].properties.sheetId }}","MAYANK":"={{ $json.sheets[8].properties.sheetId }}","SUIVI":"={{ $json.sheets[6].properties.sheetId }}","ID":"={{ $item(\"0\").$node[\"Convert .xls to Sheet1\"].json[\"id\"] }}","SHIPMENT-FOLLOW-UP":"={{ $json.sheets[1].properties.sheetId }}","CLIENT-PAYMENTS":"={{ $json.sheets[3].properties.sheetId }}","Avance-Soguipah":"={{ $json.sheets[7].properties.sheetId }}"},"matchingColumns":["id"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SALES","displayName":"SALES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SHIPMENT-FOLLOW-UP","displayName":"SHIPMENT-FOLLOW-UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOTIFICATION","displayName":"NOTIFICATION","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CLIENT-PAYMENTS","displayName":"CLIENT-PAYMENTS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"BALANCE","displayName":"BALANCE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PROCUREMENT- RUBBER","displayName":"PROCUREMENT- RUBBER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SUIVI","displayName":"SUIVI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Avance-Soguipah","displayName":"Avance-Soguipah","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MAYANK","displayName":"MAYANK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1824,2032],"id":"b12d2e84-7f43-41cc-a6ea-6776138f7a36","name":"Append row in sheet1"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1drL5Vd-6AFEpIVI1U3tJLz5JSwh3Rnoh-GpVX_BkVIg","mode":"list","cachedResultName":"ID DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1drL5Vd-6AFEpIVI1U3tJLz5JSwh3Rnoh-GpVX_BkVIg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1drL5Vd-6AFEpIVI1U3tJLz5JSwh3Rnoh-GpVX_BkVIg/edit#gid=0"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1952,928],"id":"8898e995-3b7a-4a7f-9183-3a9e680bb937","name":"Delete rows or columns from sheet"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1552,1712],"id":"80bf4307-ff0b-4628-bf72-af12f4e0604f","name":"When clicking ‘Execute workflow’"}],"connections":{"Drive Upload":{"main":[[{"node":"Convert .xls to Sheet","type":"main","index":0}]]},"Convert .xls to Sheet":{"main":[[{"node":"Get gid's of Sheet","type":"main","index":0}]]},"Dropbox Download1":{"main":[[{"node":"Drive Upload","type":"main","index":0}]]},"Delete folder":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Share folder","type":"main","index":0}]]},"If":{"main":[[{"node":"Delete folder","type":"main","index":0}],[{"node":"Create folder1","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"If","type":"main","index":0}]]},"Drive Upload2":{"main":[[{"node":"Convert .xls to Sheet1","type":"main","index":0}]]},"Convert .xls to Sheet1":{"main":[[{"node":"Get gid's of Sheet1","type":"main","index":0}]]},"Dropbox Download2":{"main":[[{"node":"Drive Upload2","type":"main","index":0}]]},"Create folder1":{"main":[[{"node":"Share folder1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Share folder":{"main":[[{"node":"Dropbox Download1","type":"main","index":0}]]},"Share folder1":{"main":[[{"node":"Dropbox Download2","type":"main","index":0}]]},"Get gid's of Sheet":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Get gid's of Sheet1":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9dc5c82b-bd8c-4b93-8974-569ee7d0a27c","triggerCount":0,"shared":[{"createdAt":"2025-09-01T06:19:47.264Z","updatedAt":"2025-09-01T06:19:47.264Z","role":"workflow:owner","workflowId":"EWLjwbn4J9E6p3RY","projectId":"6EdZFkSJTSDUHwBl"}],"tags":[]}