amir-shipping-9HbeZVQV2WQoprlF.json
{"createdAt":"2025-08-06T07:19:33.038Z","updatedAt":"2025-08-07T11:47:43.000Z","id":"9HbeZVQV2WQoprlF","name":"Amir-Shipping","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-368,-352],"id":"2070fa97-4765-4999-9abc-0ed3de5bfdaa","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"=https://shipsgo.com/api/v1.1/ContainerService/GetContainerInfo/","sendQuery":true,"queryParameters":{"parameters":[{"name":"authCode","value":"78e3642bec2adb856211df1ef7429604"},{"name":"requestId","value":"={{ $json.value }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,304],"id":"7bda8759-4199-4a17-95e5-e2b2898d532f","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"=https://live-mt-server.wati.io/479147/api/v1/sendSessionMessage/{{ $('Edit Fields').item.json.sessionId }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"messageText","value":"={{ $json.value }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI1MjhlMGRiNy0yMTFhLTRkZWYtOTllMC01NmI3NGNlYmE3YmIiLCJ1bmlxdWVfbmFtZSI6Im1vaHNpbkBpcmVuaWN0ZWNoLmNvbSIsIm5hbWVpZCI6Im1vaHNpbkBpcmVuaWN0ZWNoLmNvbSIsImVtYWlsIjoibW9oc2luQGlyZW5pY3RlY2guY29tIiwiYXV0aF90aW1lIjoiMDgvMDYvMjAyNSAxMzo1NzoxOSIsInRlbmFudF9pZCI6IjQ3OTE0NyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.A2v51HN046ms82aKoVocN08Xpq2iFOc5zYRGg1RergM"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,-48],"id":"9a3d6d50-07c8-4394-943c-c558f90384a7","name":"HTTP Request2"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You're a friendly AI assistant on WhatsApp.\n\n🧑‍🤝‍🧑 When user sends normal message:\n- Chat casually, warmly, like a human.\n- Keep responses short and clear.\n- Ask follow-up questions naturally.\n\n📦 When user asks about shipping or tracking:\n- Say: “Sure! Please send me your Reference ID to check the status.”\n\n🔎 When you receive a message that contains a Reference ID (e.g., 8–12 digit number or starts with known pattern):\n- Return ONLY the Reference ID number.\n- Do NOT add any extra text, formatting, or message.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-464,-32],"id":"5569e659-07ed-482e-b6ee-9ad74500e308","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-464,208],"id":"47ea95d3-2c5a-4c98-9826-1bf68b6562da","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87958cd5-8b3f-409c-afd0-7cf96bbd898c","leftValue":"={{ $json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[144,-32],"id":"1efe9994-497c-4a04-ac8e-2133cda695b4","name":"If"},{"parameters":{"jsCode":"const response = $json.output?.trim() || \"\";\n\n// Update this regex pattern to match your Reference ID format\nconst isReferenceId = /^[A-Z0-9]{6,20}$/i.test(response);\n\nreturn {\n  json: {\n    type: isReferenceId ? \"id\" : \"text\",\n    value: response\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-32],"id":"344dfea1-3726-467c-921c-3afcd5d6f70f","name":"Code"},{"parameters":{"method":"POST","url":"=https://live-mt-server.wati.io/479147/api/v1/sendSessionMessage/{{ $('Edit Fields').item.json.sessionId }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"messageText","value":"={{ $json.output }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI1MjhlMGRiNy0yMTFhLTRkZWYtOTllMC01NmI3NGNlYmE3YmIiLCJ1bmlxdWVfbmFtZSI6Im1vaHNpbkBpcmVuaWN0ZWNoLmNvbSIsIm5hbWVpZCI6Im1vaHNpbkBpcmVuaWN0ZWNoLmNvbSIsImVtYWlsIjoibW9oc2luQGlyZW5pY3RlY2guY29tIiwiYXV0aF90aW1lIjoiMDgvMDYvMjAyNSAxMzo1NzoxOSIsInRlbmFudF9pZCI6IjQ3OTE0NyIsImRiX25hbWUiOiJtdC1wcm9kLVRlbmFudHMiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBRE1JTklTVFJBVE9SIiwiZXhwIjoyNTM0MDIzMDA4MDAsImlzcyI6IkNsYXJlX0FJIiwiYXVkIjoiQ2xhcmVfQUkifQ.A2v51HN046ms82aKoVocN08Xpq2iFOc5zYRGg1RergM"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,304],"id":"2d7c5770-6b90-4655-b97d-e58d27192c01","name":"HTTP Request3"},{"parameters":{"contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-288,256],"id":"618c044c-fe18-4ee3-906d-3dbc3f76d7ee","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=Refrence ID: {{ $('If').item.json.value }}\nShipping Status: {{ $json.Status }} \nLoading Date: {{ $json.LoadingDate.Date }}\nDeparture Date: {{ $json.DepartureDate.Date }}\nLive Map URL: {{ $json.LiveMapUrl }}\n","options":{"systemMessage":"=ou are a shipping assistant that replies with full status updates based on a given Reference ID.\n\nWhen a user sends a tracking/reference number (e.g., SHP123456), your job is to return a complete, human-friendly status update using that ID.\n\n🟢 Your response should include:\n\nThe order status (like \"In Transit\", \"Delivered\", \"Delayed\", etc.)\n\nThe departure date\n\nThe estimated arrival date or time\n\n💬 Example response format:\n\n\"Your order with reference ID SHP123456 is currently In Transit. It departed on August 5, 2025, and is expected to arrive by August 12, 2025. You can live location through this url: https://shipsgo.com/live-map-container-tracking?query=FTA747474\",\"\n\n❗Always include the reference ID in your response so the user knows which shipment you're talking about.\n\nDo not return just the ID — always generate a full status message.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[896,304],"id":"806395f5-09a9-4326-b970-2722629f2fb2","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[896,608],"id":"d6ebc24d-e6ce-4d6b-a949-c0f3e9d0185e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"6c508605-9039-4661-8bf6-feab3c34164f","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1184,-32],"id":"120a0bce-4d95-43da-999a-07cf75aea058","name":"Webhook1","webhookId":"6c508605-9039-4661-8bf6-feab3c34164f"},{"parameters":{"assignments":{"assignments":[{"id":"117ef553-3a87-4aee-bae9-8b316c8df452","name":"sessionId","value":"={{ $json.body.waId }}","type":"string"},{"id":"48ed9647-2557-42c1-b759-7f06538d9795","name":"chatInput","value":"={{ $json.body.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,-32],"id":"e2b745e5-7c22-4b74-b50d-78578f29d319","name":"Edit Fields"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-960,-32],"id":"68343e85-9bf7-4e18-8cdf-546e40371ed2","name":"Respond to Webhook"},{"parameters":{"url":"=https://shipsgo.com/api/v1.1/ContainerService/GetShippingLineList","sendQuery":true,"queryParameters":{"parameters":[{"name":"authCode","value":"78e3642bec2adb856211df1ef7429604"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,-352],"id":"8f66b4f6-ae1b-43f4-b919-f8514588cacd","name":"GET - Shipping Line List"},{"parameters":{"url":"=https://shipsgo.com/api/v1.1/ContainerService/GetContainerInfo/","sendQuery":true,"queryParameters":{"parameters":[{"name":"authCode","value":"78e3642bec2adb856211df1ef7429604"},{"name":"requestId","value":"=FTAU2056740"},{"name":"mapPoint","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,-608],"id":"42478d05-58e7-432d-acb9-c7c876048f76","name":"GET - Voyage Data"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"HTTP Request1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Webhook1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"GET - Shipping Line List":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"GET - Shipping Line List":[{"json":"ACL"},{"json":"ADMIRAL LINE"},{"json":"AKKON LINES"},{"json":"ANL"},{"json":"APL"},{"json":"ARKAS LINE"},{"json":"ASYAD LINE"},{"json":"AVANA LOGISTEK ( BALAJI )"},{"json":"BLPL SINGAPORE"},{"json":"BLUE WATER LINES"},{"json":"BMC LINES"},{"json":"CHARTER LINK"},{"json":"CK LINE"},{"json":"CMA CGM"},{"json":"CNC LINE"},{"json":"CONTAINERSHIPS (CONTAZ)"},{"json":"CORDELIA SHIPPING LINE"},{"json":"COSCO"},{"json":"COSCO SPECIALIZED"},{"json":"COSIARMA"},{"json":"COTRANSA"},{"json":"CROWLEY"},{"json":"CSTAR LINE"},{"json":"CTM"},{"json":"CU LINES"},{"json":"DONG YOUNG SHIPPING"},{"json":"DONGJIN SHIPPING"},{"json":"ECON SHIPPING"},{"json":"ECU WORLDWIDE"},{"json":"EMIRATES LINE"},{"json":"EMKAY LINE"},{"json":"EUKOR"},{"json":"EVERGREEN"},{"json":"FESCO"},{"json":"G2 OCEAN"},{"json":"GOLD STAR LINE"},{"json":"GOODRICH"},{"json":"GRIMALDI"},{"json":"HAMBURG SUD"},{"json":"HAPAG LLOYD"},{"json":"HEDE SHIPPING"},{"json":"HEUNG A"},{"json":"HIKARU SHIPPING LINE"},{"json":"HOEGH AUTOLINERS"},{"json":"HS LINE (HANSUNG)"},{"json":"HYUNDAI MM"},{"json":"INTERASIA"},{"json":"JJ SHIPPING"},{"json":"JSV"},{"json":"K LINE (RO-RO)"},{"json":"KAMBARA KISEN"},{"json":"KMTC"},{"json":"LESCHACO"},{"json":"M LINE"},{"json":"MACS"},{"json":"MAERSK LINE"},{"json":"MARFRET LINES"},{"json":"MARGUISA"},{"json":"MARIANA EXPRESS LINES (MELL)"},{"json":"MARKHOR SHIP"},{"json":"MASTER CONSOL LINE"},{"json":"MATSON"},{"json":"MAXICON"},{"json":"MBF CARPENTERS"},{"json":"MEDKON"},{"json":"MESSINA LINE"},{"json":"MSC"},{"json":"NAMSUNG SHIPPING"},{"json":"NIRINT SHIPPING"},{"json":"ONE LINE"},{"json":"OOCL"},{"json":"OTHERS"},{"json":"OVP SHIPPING"},{"json":"PAN OCEAN"},{"json":"PANCON"},{"json":"PANTOS SHIPPING"},{"json":"PASHA HAWAII"},{"json":"PIL"},{"json":"PSL NAVEGACAO"},{"json":"RCL"},{"json":"SACO SHIPPING"},{"json":"SAFETRANS LINE"},{"json":"SAMUDERA"},{"json":"SARJAK CONTAINER LINE"},{"json":"SCI"},{"json":"SEA LEAD SHIPPING"},{"json":"SEA LEGEND SHIPPING"},{"json":"SEALAND"},{"json":"SHAL ASIA"},{"json":"SHIPLILLY LATAM"},{"json":"SIDRA LINE"},{"json":"SINOKOR"},{"json":"SINOTRANS"},{"json":"SITC LINE"},{"json":"SM LINE"},{"json":"STOLT TANK CONTAINERS"},{"json":"SUNMARINE LINE"},{"json":"SWIRE SHIPPING"},{"json":"TAILWIND"},{"json":"TARROS"},{"json":"TOTE MARITIME"},{"json":"TRANS ASIA LINE"},{"json":"TRANSIT FRUITS EAGLE"},{"json":"TRANSMAR"},{"json":"TRANSVISION SHIPPING"},{"json":"TROY CONTAINER LINE"},{"json":"TS LINES"},{"json":"TURKON LINE"},{"json":"UGL SHIPPING"},{"json":"UNIFEEDER"},{"json":"UNITED AFRICA FEEDER LINE"},{"json":"UWL"},{"json":"VASI SHIPPING"},{"json":"VERTRACO SHIPPING"},{"json":"VOLTA SHIPPING"},{"json":"VUXX SHIPPING"},{"json":"W SHIPS LINES"},{"json":"WALLENIUS LINES"},{"json":"WAN HAI LINES"},{"json":"WEC LINES"},{"json":"WHITE LINE"},{"json":"WORLD DIRECT SHIPPING"},{"json":"YANG MING"},{"json":"ZIM LINE"}],"GET - Voyage Data":[{"json":{"Message":"Success","Status":"Sailing","StatusId":40,"ReferenceNo":"LIB 87","BLReferenceNo":"254703386","ShippingLine":"MAERSK LINE","ContainerNumber":"FTAU2056740","ContainerTEU":"20","FromCountry":"LIBERIA","Pol":"MONROVIA","LoadingDate":{"Date":"2025-06-20","IsActual":true},"DepartureDate":{"Date":"2025-06-22","IsActual":true},"TSPorts":[{"Port":"ABIDJAN","ArrivalDate":{"Date":"2025-07-02","IsActual":true},"DepartureDate":{"Date":"2025-07-07","IsActual":true},"Vessel":"MAERSK HANGZHOU","VesselIMO":"9784300","VesselLatitude":"Not Supported","VesselLongitude":"Not Supported"},{"Port":"COLOMBO","ArrivalDate":{"Date":"2025-07-29","IsActual":true},"DepartureDate":{"Date":"2025-08-09","IsActual":false},"Vessel":"ANAXAGORAS","VesselIMO":"9972983","VesselLatitude":6.95,"VesselLongitude":79.85},{"Port":"TANJUNG PELEPAS","ArrivalDate":{"Date":"2025-08-12","IsActual":false},"DepartureDate":{"Date":"2025-08-20","IsActual":false},"Vessel":"ZHONG GU TIAN JIN","VesselIMO":"9810264","VesselLatitude":"Not Supported","VesselLongitude":"Not Supported"}],"ToCountry":"MALAYSIA","Pod":"PENANG","ArrivalDate":{"Date":"2025-08-23","IsActual":false},"DischargeDate":{"Date":"2025-08-23","IsActual":false},"Vessel":"GARWOOD","VesselIMO":"9347255","VesselLatitude":"Not Supported","VesselLongitude":"Not Supported","GateOutDate":"","EmptyReturnDate":"","FormatedTransitTime":"64 days","ETA":"22 days Delay Occured.","FirstETA":"2025-08-01","BLContainerCount":8,"BLContainers":[{"ContainerCode":"GLDU5438114","ContainerTEU":"20","LiveMapUrl":"https://shipsgo.com/live-map-container-tracking?query=GLDU5438114","BLGateOutDate":"","BLEmptyReturnDate":""},{"ContainerCode":"MAXU1365861","ContainerTEU":"20","LiveMapUrl":"https://shipsgo.com/live-map-container-tracking?query=MAXU1365861","BLGateOutDate":"","BLEmptyReturnDate":""},{"ContainerCode":"MRKU6553500","ContainerTEU":"20","LiveMapUrl":"https://shipsgo.com/live-map-container-tracking?query=MRKU6553500","BLGateOutDate":"","BLEmptyReturnDate":""},{"ContainerCode":"MRKU7786214","ContainerTEU":"20","LiveMapUrl":"https://shipsgo.com/live-map-container-tracking?query=MRKU7786214","BLGateOutDate":"","BLEmptyReturnDate":""},{"ContainerCode":"MRKU7883425","ContainerTEU":"20","LiveMapUrl":"https://shipsgo.com/live-map-container-tracking?query=MRKU7883425","BLGateOutDate":"","BLEmptyReturnDate":""},{"ContainerCode":"MRKU8031594","ContainerTEU":"20","LiveMapUrl":"https://shipsgo.com/live-map-container-tracking?query=MRKU8031594","BLGateOutDate":"","BLEmptyReturnDate":""},{"ContainerCode":"MSKU5112082","ContainerTEU":"20","LiveMapUrl":"https://shipsgo.com/live-map-container-tracking?query=MSKU5112082","BLGateOutDate":"","BLEmptyReturnDate":""}],"LiveMapUrl":"https://shipsgo.com/live-map-container-tracking?query=FTAU2056740","Tags":["TIONG HUAT","SC2210202169","SOGUIPAH","TSR OFFSPEC"]}}]},"versionId":"4cf931ce-5235-4eb5-b8d4-7f8f93cc70cc","triggerCount":1,"shared":[{"createdAt":"2025-08-06T07:19:33.045Z","updatedAt":"2025-08-06T07:19:33.045Z","role":"workflow:owner","workflowId":"9HbeZVQV2WQoprlF","projectId":"6EdZFkSJTSDUHwBl"}],"tags":[]}