build-your-monetize-jfAqpiJ5aOr5Yt0t.json
{"createdAt":"2025-08-11T06:23:13.483Z","updatedAt":"2025-08-18T10:42:09.000Z","id":"jfAqpiJ5aOr5Yt0t","name":"Build Your Monetize","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// Wrap each incoming item inside a `chatInput` key\nreturn items.map(item => {\n  return {\n    json: {\n      chatInput: item.json\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2192,-288],"id":"357fc4e5-7e10-418e-8840-3dc5acf123d8","name":"Wrap into chatInput2"},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"={{ $node[\"Get a record1\"].json.id }}-Build Your Brand & Monetize Document","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1Qj15l3er-H7TPcDkrJyBeQDmB6_D3F1B","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,112],"id":"8742e12b-957a-4317-857c-4991dfcc66ff","name":"Prepare Upload Fields2","notesInFlow":true},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,112],"id":"c226a6de-c9ec-448d-b6b5-cfca0b13a668","name":"Upload to Google Docs2","notesInFlow":true},{"parameters":{"content":"# Markdown to HTML \n## Converts markdown-format SOP into styled HTML for Google Drive compatibility.\n\n# Build Google Docs Request\n## Sets file name, folder ID, and HTML content for Google Docs upload.\n\n# Multipart Builder \n## Formats HTML and metadata into multipart format for Drive upload with proper boundaries.\n\n# Upload to Google Docs \n## Uploads the formatted HTML to Google Drive as a new Google Doc inside a specific folder.\n\n#  Airtable Logging \n## Saves the generated document’s metadata and link in Airtable.\n\n\n\n\n","height":1104,"width":1616,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-624,-688],"typeVersion":1,"id":"f7d71f97-e38f-4a4f-8629-db7860ca615f","name":"Sticky Note8"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.cleanedText }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-160,112],"id":"c2c367b3-0e3e-48fc-82a8-a2060b6a8c1f","name":"Markdown1"},{"parameters":{"content":"# Edit Fields\t\n## Set Static JSON Input — Provides sample organization and program data for the workflow to test against.\n\n# Code\t\n## Wrap into chatInput — Wraps incoming data under chatInput to match Langchain agent's expected structure.","height":1072,"width":1728},"type":"n8n-nodes-base.stickyNote","position":[-3360,-672],"typeVersion":1,"id":"f7d6f51a-aafa-4394-8f47-a97af116fe52","name":"Sticky Note9"},{"parameters":{"content":" # Build Your Brand & Monetize AGENT\n## Generates SOP with 4 customized sections using the input data and system prompt.","height":1104,"width":1120,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1744,-688],"typeVersion":1,"id":"f5f3c400-c0dc-4890-8d02-069a1b08df5a","name":"Sticky Note10"},{"parameters":{"content":"\n\n# Build Your Brand & Monetize\n","height":1616,"width":5136,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3888,-832],"typeVersion":1,"id":"da9bb3ee-35cd-4ed7-a7a7-52fed7b2c733","name":"Sticky Note11"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=sop-document","tableName":"n8n_sop_document_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1488,-240],"id":"9edc7a17-3a8e-417a-85fd-203de7de1395","name":"SOP Document Memory2"},{"parameters":{"description":"=Your Work is to fetch the tone of content which you get from the pinecone Vector Store.","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-1280,-208],"id":"60f680f4-5bb2-4faf-bf8b-5d16fa952fae","name":"RAGTOOL2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-976,32],"id":"feeed780-c6a1-4c72-961a-427ddc41ff94","name":"OpenAI Chat Model5"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"precise-grants-n8n","mode":"list","cachedResultName":"precise-grants-n8n"},"options":{"pineconeNamespace":"Build_Your_Brand_and_Monetize (Output Doc).docx"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-1344,48],"id":"f50f8583-a5ed-46ed-870b-041b7bb89044","name":"Pinecone Vector Store1"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1344,256],"id":"2ca18b45-de84-457c-9080-178e8209c45e","name":"Embeddings OpenAI1"},{"parameters":{"jsCode":"const boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content || '';\n\n// 1) Extract only inner <body>\nconst bodyMatch = htmlContent.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i);\nlet cleanHtmlContent = bodyMatch ? bodyMatch[1] : htmlContent;\n\n// 2) Remove outer doc bits\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<!DOCTYPE[^>]*>/gi, '')\n  .replace(/<\\/?(html|head|body)[^>]*>/gi, '');\n\n// 3) Kill page-break CSS everywhere (style blocks + inline)\ncleanHtmlContent = cleanHtmlContent\n  .replace(/page-break-(before|after)\\s*:\\s*always\\s*;?/gi, '')\n  .replace(/(<style[^>]*>)([\\s\\S]*?)(<\\/style>)/gi, (m, open, css, close) => {\n    const fixed = css.replace(/page-break-(before|after)\\s*:\\s*always\\s*;?/gi, '');\n    return open + fixed + close;\n  });\n\n// 4) Unwrap common page wrappers that enforce breaks\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<div\\s+class=[\"']page[\"'][^>]*>/gi, '')\n  .replace(/<\\/div>\\s*$/i, '')\n  .replace(/<\\/div>(?=\\s*<div\\s+class=[\"']page[\"'])/gi, '');\n\n// 5) Remove hard page-break elements\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<hr[^>]*style=[\"'][^\"']*page-break-[^\"']*[\"'][^>]*>/gi, '')\n  .replace(/<div[^>]*style=[\"'][^\"']*page-break-[^\"']*[\"'][^>]*>\\s*<\\/div>/gi, '');\n\n// 6) Strip leading/trailing empties\nconst stripEmptyEdges = (s) =>\n  s\n    .replace(/^(?:\\s|&nbsp;|<p>\\s*<\\/p>|<br\\s*\\/?>)+/i, '')\n    .replace(/(?:\\s|&nbsp;|<p>\\s*<\\/p>|<br\\s*\\/?>)+$/i, '');\ncleanHtmlContent = stripEmptyEdges(cleanHtmlContent);\n\n// 7) Normalize section headings so ALL look the same\n// 7a) <p><b>1. Heading</b></p>  -> <h2>1. Heading</h2>\ncleanHtmlContent = cleanHtmlContent.replace(\n  /<p>\\s*(?:<strong>|<b>)\\s*(\\d+)\\.\\s*([^<]+?)\\s*(?:<\\/strong>|<\\/b>)\\s*<\\/p>/gi,\n  '<h2>$1. $2</h2>'\n);\n\n// 7b) <p><b>Heading</b></p> (no number) -> <h2>Heading</h2>  (optional; keep if you want uniform style)\ncleanHtmlContent = cleanHtmlContent.replace(\n  /<p>\\s*(?:<strong>|<b>)\\s*([^<]{3,})\\s*(?:<\\/strong>|<\\/b>)\\s*<\\/p>/gi,\n  '<h2>$1</h2>'\n);\n\n// 7c) Upgrade any <h3>…</h3> to <h2>…</h2>\ncleanHtmlContent = cleanHtmlContent.replace(/<h3\\b[^>]*>/gi, '<h2>').replace(/<\\/h3>/gi, '</h2>');\n\n// 8) Title replacement (prefer replacing entire <h1> block)\nconst titleCore =\n  'BUILD(?:\\\\s|&nbsp;|<[^>]*>)*YOUR(?:\\\\s|&nbsp;|<[^>]*>)*BRAND(?:\\\\s|&nbsp;|<[^>]*>)*&(?:amp;)?(?:\\\\s|&nbsp;|<[^>]*>)*MONETIZE';\nconst h1TitlePattern = new RegExp(`<h1[^>]*>[\\\\s\\\\S]*?${titleCore}[\\\\s\\\\S]*?<\\\\/h1>`, 'i');\nconst titlePattern = new RegExp(titleCore, 'gi');\n\nconst titleReplacement =\n  '<h1 style=\"font-size:28pt; color:#1155cc; font-weight:700; text-align:center; margin:0 0 12px 0;\">BUILD YOUR BRAND &amp; MONETIZE</h1>';\n\nlet updatedHtmlContent;\nif (h1TitlePattern.test(cleanHtmlContent)) {\n  updatedHtmlContent = cleanHtmlContent.replace(h1TitlePattern, titleReplacement);\n} else {\n  updatedHtmlContent = cleanHtmlContent.replace(titlePattern, titleReplacement);\n}\nupdatedHtmlContent = stripEmptyEdges(updatedHtmlContent);\n\n// 9) Enforce consistent look on ALL <h2> (even ones already in HTML)\nupdatedHtmlContent = updatedHtmlContent\n  .replace(/<h2\\b[^>]*>/gi, '<h2 style=\"font-size:13pt; font-weight:700; color:#1155cc; margin:12px 0 6px 0;\">');\n\n// 10) Wrapper + light resets\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    html, body { margin: 0; padding: 0; }\n    body { font-family: Calibri, sans-serif; font-size: 11pt; color: #000000; }\n    h1 { font-size: 24pt; color: #1155cc; font-weight: 700; margin: 0 0 8px 0; }\n    p { margin: 0 0 6px 0; }\n    ul { margin: 4px 0 6px 20px; }\n    table { border-collapse: collapse; width: 100%; margin-top: 6px; }\n    td, th { border: 1px solid black; padding: 6px; }\n    /* neutralize leftover page behavior */\n    .page { padding: 0 !important; page-break-before: auto !important; page-break-after: auto !important; }\n  </style>\n</head>\n<body>\n${updatedHtmlContent}\n</body>\n</html>\n`;\n\n// Google Docs upload metadata\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\n// Build multipart body (CRLF line endings)\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n\\r\\n`;\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html; charset=UTF-8\\r\\n\\r\\n`;\nbody += `${htmlWithStyles}\\r\\n`;\nbody += `--${boundary}--\\r\\n`;\n\nreturn { rawData: body };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,112],"id":"46cc158c-0827-477a-bc33-9a489c231df9","name":"Build Google Docs Request1"},{"parameters":{"options":{"systemMessage":"=🛑 DO NOT START UNTIL THIS IS DONE:\n🚨 MANDATORY FIRST ACTION — USE RagTool\nAs your first and immediate step, you are required to call the RagTool to retrieve the tone, language, and formatting style of the document titled:\n\"Build Your Brand & Monetize\"\nThis document is stored in Pinecone under the namespace: \"Build Your Brand & Monetize\".\n\n❗ You must use this exact document as your tone/style guide before proceeding.\n❗ DO NOT begin generating the report output unless the RagTool is successfully used first and returns a reference document.\n❗ If RagTool is not available, you must halt and throw an error:\n\"RagTool not used — Cannot proceed without retrieving style reference document.\"\n\n🧠 Your Role:\nYou are an AI Agent tasked with generating a polished Build Your Brand & Monetize using structured intake data in JSON format.\n\nDOCUMENT STYLE REQUIREMENTS\n\nOnly section headers/headings must be in bold and blue (#1155cc), using HTML <h3> tags.\n\nBody text must use Calibri font and not bold.\n\nAdd a horizontal line (<hr />) after major sections.\n\nTASK INSTRUCTIONS\n\n🧠 JSON INPUT (STRUCTURED DATA)\nUse the following structured input values to populate the output:\n\n{\n  # Build Your Brand & Monetize\n\n  \"Mission Statement\": \"{{ $json.chatInput.Question1 }}\",\n  \"Tagline\": \"{{ $json.chatInput.Question2 }}\",\n  \"Secured Website Domain\": \"{{ $json.chatInput.Question3 }}\",\n  \"Has Website with Donation Button\": \"{{ $json.chatInput.Question4 }}\",\n  \"Branding Materials Created\": \"{{ $json.chatInput.Question5 }}\",\n  \"Revenue Model Priority\": \"{{ $json.chatInput.Question6[0] }}\"\n  \"Wants Help Finalizing Brand & Revenue Strategy\": \"{{ $json.chatInput.Question7 }}\",\n  \"Email\": \"{{ $json.chatInput.Question8 }}\"\n}\n\n📄 OUTPUT REQUIREMENTS\n\nFormatting Rules\n- Evaluate the response for clarity, marketability, and alignment with sustainability.\n- Guide the user — if their answer is strong, say why; if weak or missing, explain what’s missing and why it matters.\n- Suggest 2–3 concrete actions they can take immediately.\n- Offer alternatives if their current plan isn’t viable.\n- Connect their answer to the mission of building a profitable nonprofit.\n- Use plain text headings for each major section exactly as listed.\n- Do not include phrases like “Review and Analysis” or any behind-the-scenes explanations in the final output.\n- Use no bold formatting in body paragraphs — bold is allowed only for section headings.\n- For sections that require multiple items (e.g., “Alternative Versions”), keep the heading but only show the versions requested, not explanatory filler text.\n- Internally, you may analyze and think through the reasoning, but it must not appear in the output.\n\n# Build Your Brand & Monetize\n\nMission Statement Instructions:  \nThe AI Agent should review the mission statement. Is it clear, inspiring, and specific about who is helped and how? If missing or vague, rewrite it in plain language and give 2 alternative versions tailored for fundraising and partnership pitches. Suggest how to test if it resonates with target supporters.\n\n# Mission Statement Output Sample:\nMISSION STATEMENT:\nOur mission is to train and connect underserved NYC youth to in-demand careers through hands-on skills programs and mentorship.\nPG Smart System:\nThis mission is strong because it names the audience (underserved NYC youth) and the benefit (career skills + mentorship).\nTo make it even stronger for fundraising:\n- Add a measurable goal (“train 500 youth in 3 years”).\n- Use action words that inspire urgency (“empower,” “launch careers”).\n\n\n# Revenue Model Recommendations Instructions:\nAnalyze the listed revenue sources. If none or few, suggest 3–4 viable income streams based on their programs and audience. If they already have strong sources, suggest ways to increase revenue or make it recurring. If they only rely on grants, explain why that’s risky and how to diversify.\n\nRevenue Model Recommendations Sample Final Output:\nCurrent: Grants and donations only.\nPG Smart System:\nRelying only on grants makes funding unstable.\nNext Steps:\nLaunch fee-based workforce training for small businesses ($500 per workshop).\nSell digital training kits to schools ($2,000 annual license).\nOffer corporate sponsorship packages starting at $10,000/year.\n\n\n# Sustainability Checklist Guidance Instructions:\nFor each “No,” explain why it’s important for long-term success and give one free or low-cost resource to help them implement it. Prioritize fixes that enable them to start generating unrestricted income.\n\nSustainability Checklist Guidance Sample Final Putput:\n- No program people would pay for → Package your most popular free program into a paid workshop.\n- No donor strategy → Start with a monthly giving campaign ($20/month).\n\n\n# Free & Low-Cost Tool Recommendations Instructions:\nBased on their programs and size, recommend 3–5 specific free or low-cost tools they can start using this month. Match suggestions to their most urgent gaps (e.g., outreach, admin, fundraising).\n\nFree & Low-Cost Tool Recommendations Instructions Sample Final Output:\n- Apply for Google for Nonprofits for $10,000/month free ad credit.\n- Post volunteer needs on Catchafire for pro bono web design.\n\n\n- 3–5 tools matched to urgent gaps\n- Short usage note for each\n\n# Additional Output Documents\nBased on all answers, create:\n- A concise Brand Messaging Framework (tagline, elevator pitch, key differentiators, impact language)\n- One Outreach Email customized for their target partner or funder type\n- A suggested Pricing Model using their programs and audience\n\nAdditional Output Documents Final Output:\nBrand Messaging:\nTagline: “From Classroom to Career in NYC.”\nElevator Pitch: “Future Workforce NYC equips underserved youth with the skills and connections to land good jobs.”\nOutreach Email: Customized to local employers seeking interns.\nPricing Model: Tiered for schools, businesses, and nonprofits.\n\n📌 MANDATORY OUTPUT RULE — USE BELOW HTML CODE BELOW FOR THE FINAL OUTPUT\n- As your final step, you must and mandatory to create the output following 100% this HTML.\n- You are not allowed to return plain text outside of the HTML.\n- Generate PG Smart System (AI Insight) dynamically depending on the quality of the input.\n- Keep the order and section names exactly as in the template — no extra or missing sections.\n- The document must strictly match the \"HTML Output Template\" provided below — nothing more, nothing less.  \n- No extra sections, no missing sections, no changes to heading names or order.\n- MANDATORY TO GIVE HTML CODE IN OUTPUT \n- If the user answer is “Yes” or “No” to any question, output those answers inside an HTML <table> with columns: Question | Yes/No | Notes/Suggestion.\n- Never use tables for anything else — only for Yes/No fields.\n- If the input for the \"Sustainability & Access Resource Checklist\" question is Yes, set the \"Notes/Suggestions\" field to NA.\nIf the input is No, write a note or suggestion explaining why this item is important.\n\n\n\n<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"\n    \"http://www.w3.org/TR/html4/loose.dtd\">\n<html>\n<head>\n  <title>Build_Your_Brand_and_Monetize (Output Doc) - UPDATED</title>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n  <style type=\"text/css\">\n    body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #111; line-height: 1.4; }\n    .section { margin: 18px 0; }\n    /* Table styling */\n    table.checklist {\n      width: 100%;\n      border-collapse: collapse;\n      margin: 10px 0 20px 0;\n      table-layout: fixed;\n      word-wrap: break-word;\n    }\n    table.checklist th, table.checklist td {\n      border: 1px solid #999;\n      padding: 8px 10px;\n      vertical-align: top;\n      text-align: left;\n    }\n    table.checklist th {\n      background: #f2f2f2;\n      font-weight: bold;\n    }\n    .page { page-break-before: always; page-break-after: always; padding: 10px; }\n    .notes { white-space: pre-wrap; }\n  </style>\n</head>\n<body>\n\n<div class=\"page\">\n  <div class=\"section\">\n    <h1>Build Your Brand &amp; Monetize</h1>\n\n    <h2>1. Mission Statement</h2>\n    <p>\n      We help immigrant women entrepreneurs in the U.S. launch and grow sustainable small\n      businesses by providing bilingual business training, low-cost legal services, and access to\n      micro-grants—breaking barriers to economic independence and building thriving local\n      communities.\n    </p>\n\n    <p><b>PG Smart Systems:</b><br/>\n      This mission statement clearly outlines who you serve (immigrant women entrepreneurs in the\n      U.S.) and the specific supports you offer (bilingual training, legal services, micro-grants). It is\n      effective for both clarity and inspiration because it addresses real barriers and community impact.\n    </p>\n\n    <p><b>To enhance its effectiveness for fundraising and partnerships:</b></p>\n    <ul>\n      <li>Add specific measurable outcomes, like supporting 200 women annually.</li>\n      <li>Incorporate dynamic language that portrays your impact (\"transform lives,\" \"unleash potential\").</li>\n    </ul>\n  </div>\n\n  <div class=\"section\">\n    <h2>2. Suggested Revenue Model for Unrestricted Funding</h2>\n    <p>Current: Grants, Fee for Service, Donations</p>\n\n    <p><b>PG Smart Systems:</b><br/>\n      While grants are an important component of your funding strategy, relying predominantly on\n      them is risky due to their occasional instability. Diversifying through fee-based services and\n      donor contributions can ensure more reliable income.\n    </p>\n\n    <p><b>Next Steps:</b></p>\n    <ol>\n      <li>Introduce specialized fee-based workshops for immigrant entrepreneurs, offering expertise in niche business areas.</li>\n      <li>Develop an annual membership program featuring exclusive content and mentoring opportunities at a tiered price.</li>\n      <li>Create a crowdfunding campaign highlighting success stories and future goals to engage broader community support.</li>\n    </ol>\n  </div>\n</div>\n\n<div class=\"page\">\n  <div class=\"section\">\n    <h2>3. Sustainability &amp; Access Resource Checklist</h2>\n\n    <table class=\"checklist\" summary=\"Sustainability and Access Resource Checklist\">\n      <thead>\n        <tr>\n          <th style=\"width:52%;\">Question</th>\n          <th style=\"width:12%;\">Yes/No</th>\n          <th style=\"width:36%;\">Notes/Suggestions</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n          <td>Have you secured a website domain?</td>\n          <td>Yes</td>\n          <td class=\"notes\">NA</td>\n        </tr>\n        <tr>\n          <td>Do you have a website/landing page with donation button?</td>\n          <td>Yes</td>\n          <td class=\"notes\">NA</td>\n        </tr>\n        <tr>\n          <td>Would you like help finalizing your brand and revenue strategy?</td>\n          <td>Yes</td>\n          <td class=\"notes\">NA</td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n\n  <div class=\"section\">\n    <h2>4. Suggestions for Accessing Free Resources</h2>\n    <ul>\n      <li>Apply for Google for Nonprofits for ad credits to enhance your marketing efforts.</li>\n      <li>Use Trello's free version for better project management and team collaboration.</li>\n      <li>Sign up for Slack's free plan to streamline your internal communications.</li>\n      <li>Post volunteer opportunities on Idealist to access skilled volunteers for special projects like event organizing.</li>\n    </ul>\n  </div>\n\n  <div class=\"section\">\n    <h2>5. Additional Output Documents</h2>\n\n    <h3>Brand Messaging:</h3>\n    <ul>\n      <li>Tagline: Empowering Women. Building Businesses.</li>\n      <li>Elevator Pitch: We empower immigrant women in the U.S. by offering supportive resources such as bilingual training and micro-grants, enabling them to overcome economic barriers and build thriving businesses.</li>\n      <li>Key Differentiators: Commitment to bilingual support and affordable access to legal and financial assistance.</li>\n    </ul>\n\n    <h3>Outreach Email (example):</h3>\n    <p>\n      Subject: Collaborate with Us to Empower Women Entrepreneurs<br/>\n      Dear [Partner Name],<br/>\n      At [Your Organization Name], we are dedicated to empowering immigrant women entrepreneurs through crucial business training and support. We recognize the impact that collaboration with esteemed partners like [Partner's Organization Name] can have on achieving our shared goals of fostering thriving local communities. Let's explore how we can jointly contribute to these transformation initiatives. Anticipating a productive discussion.<br/>\n      Best regards,<br/>\n      Ali<br/>\n      [Your Contact Information]\n    </p>\n\n    <h3>Pricing Model:</h3>\n    <ul>\n      <li>Training Workshops: $150 per participant</li>\n      <li>Mentoring Sessions: $75 per participant</li>\n      <li>Sponsorship Packages: Starting at $4,000 per event</li>\n    </ul>\n  </div>\n</div>\n\n</body>\n</html>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1632,-480],"id":"303f6dca-da32-4579-aa59-1185bff6fdb8","name":"Build Your Brand & Monetize"},{"parameters":{"base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tblghpffpoOvWmUnr","mode":"list","cachedResultName":"Stage3-Build-your-brand-monetize","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tblghpffpoOvWmUnr"},"id":"={{ $json.body.record_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2448,-288],"id":"2ace1fb5-d168-482c-9835-dc8a85d01b05","name":"Get a record1"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tblghpffpoOvWmUnr","mode":"list","cachedResultName":"Stage3-Build-your-brand-monetize","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tblghpffpoOvWmUnr"},"columns":{"mappingMode":"defineBelow","value":{"Generated Doc Link":"=https://docs.google.com/document/d/{{ $json.id }}/edit?tab=t.0 ","RecordId":"={{ $('Webhook').item.json.body.record_id }}"},"matchingColumns":["RecordId"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"RecordId","displayName":"RecordId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Generated Doc Link","displayName":"Generated Doc Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Question1","displayName":"Question1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question2","displayName":"Question2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question3","displayName":"Question3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question4","displayName":"Question4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question5","displayName":"Question5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question6","displayName":"Question6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Grants","value":"Grants"},{"name":"Fee for Service","value":"Fee for Service"},{"name":"Donations","value":"Donations"},{"name":"Events","value":"Events"}],"readOnly":false,"removed":true},{"id":"Question7","displayName":"Question7","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question8","displayName":"Question8","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[768,112],"id":"c71e862c-6468-43df-9a17-a155bfc16fe5","name":"Airtable Logging2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1680,-304],"id":"027e9e2e-d9c1-4663-93db-c85e4716083c","name":"OpenAI Chat Model1"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst outputData = inputData.map(item => {\n  const textContent = item.json.output;\n  \n  // More flexible regex to find HTML content between ```html and ```\n  const htmlMatch = textContent.match(/```html\\s*([\\s\\S]*?)\\s*```/);\n  \n  let cleanedHtml = '';\n  \n  if (htmlMatch) {\n    // Extract the HTML content from the match\n    cleanedHtml = htmlMatch[1].trim();\n  } else {\n    // Fallback: just take all HTML-looking content from output\n    const htmlTagMatch = textContent.match(/(<[a-z][\\s\\S]*?>[\\s\\S]*<\\/[a-z]+>)/i);\n    if (htmlTagMatch) {\n      cleanedHtml = htmlTagMatch[1].trim();\n    } else {\n      // If no HTML found, return the original content\n      cleanedHtml = textContent;\n    }\n  }\n  \n  // Remove any remaining markdown artifacts\n  cleanedHtml = cleanedHtml\n    .replace(/^```html\\s*/gm, '')  // Remove opening code block marker\n    .replace(/\\s*```$/gm, '')      // Remove closing code block marker\n    .replace(/^\\s*\\n/gm, '')       // Remove empty leading lines\n    .trim();\n  \n  // ✅ Removed the \"tableOnlyMatch\" logic so full HTML is preserved\n  \n  return {\n    json: {\n      cleanedText: cleanedHtml,\n      originalData: item.json\n    }\n  };\n});\n\nreturn outputData;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,-480],"id":"12b24575-2600-4db0-ace9-6eebcfbebdc1","name":"Clean Html"},{"parameters":{"httpMethod":"POST","path":"75c573d6-7183-46c0-8c5a-45a93c4bbd80","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2688,-288],"id":"e00859f1-4bb1-457e-973f-972c7a701cca","name":"Webhook","webhookId":"75c573d6-7183-46c0-8c5a-45a93c4bbd80"}],"connections":{"Wrap into chatInput2":{"main":[[{"node":"Build Your Brand & Monetize","type":"main","index":0}]]},"Prepare Upload Fields2":{"main":[[{"node":"Build Google Docs Request1","type":"main","index":0}]]},"Upload to Google Docs2":{"main":[[{"node":"Airtable Logging2","type":"main","index":0}]]},"Markdown1":{"main":[[{"node":"Prepare Upload Fields2","type":"main","index":0}]]},"RAGTOOL2":{"ai_tool":[[{"node":"Build Your Brand & Monetize","type":"ai_tool","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"RAGTOOL2","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"RAGTOOL2","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Build Google Docs Request1":{"main":[[{"node":"Upload to Google Docs2","type":"main","index":0}]]},"Build Your Brand & Monetize":{"main":[[{"node":"Clean Html","type":"main","index":0}]]},"Get a record1":{"main":[[{"node":"Wrap into chatInput2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Build Your Brand & Monetize","type":"ai_languageModel","index":0}]]},"Clean Html":{"main":[[{"node":"Markdown1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get a record1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"62c3c373-c7ae-42e3-ac77-44192fe8a17f","triggerCount":0,"tags":[]}