error-logger-Bs9nAZDSVW8QlMiA.json
{"createdAt":"2025-07-16T12:08:15.896Z","updatedAt":"2025-07-16T12:33:20.000Z","id":"Bs9nAZDSVW8QlMiA","name":"Error Logger","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"ef882b07-0411-4608-a1cf-dbc64f4dde68","name":"Error Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ecWCO1frr95AlHJBzth-JfIE6U65c65U_gP4OeJOao0","mode":"list","cachedResultName":"Log Error to Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ecWCO1frr95AlHJBzth-JfIE6U65c65U_gP4OeJOao0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ecWCO1frr95AlHJBzth-JfIE6U65c65U_gP4OeJOao0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Error Node":"={{ $json.execution.lastNodeExecuted }}","Time":"={{ $now }}","Error Stack":"={{ $json.execution.error.stack }}","Workflow":"={{ $json.workflow.name }}","Error Message":"={{ $json.execution.error.message }}","URL":"={{ $json.execution.url }}"},"matchingColumns":[],"schema":[{"id":"Error Node","displayName":"Error Node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Stack","displayName":"Error Stack","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,0],"id":"14545f86-b967-4073-9f9b-93375093523c","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"sendTo":"jamshed.irenictech@gmail.com","subject":"=Error in n8n Workflow: {{ $json.Workflow }}","emailType":"text","message":"=Workflow: {{ $json.Workflow }}\nNode:{{ $json['Error Node'] }} \nMessage:{{ $json['Error Message'] }} \nTime: {{ $json.Time }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[440,0],"id":"a832986b-8764-472d-b477-bc35d534c64d","name":"Send a message","webhookId":"6bf07631-32e3-44cc-94a2-a06a15d3d1a2","credentials":{"gmailOAuth2":{"id":"dGFjRRdCcxA2JKoz","name":"Jamshed's Gmail account "}}}],"connections":{"Error Trigger":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7745c237-7e7b-4220-91cc-eeb4fe41a744","triggerCount":0,"tags":[]}