jamshed's-summaries-task-5VPsw1Z8C0d37YvQ.json
{"createdAt":"2025-07-07T06:05:15.181Z","updatedAt":"2025-07-07T06:05:15.181Z","id":"5VPsw1Z8C0d37YvQ","name":"Jamshed's Summaries task","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"e21c6556-21f5-43f3-90f4-e7862dbfa65c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,660],"id":"6f8ae7c2-af1d-444f-9cd6-3c64232421ae","name":"Webhook","webhookId":"e21c6556-21f5-43f3-90f4-e7862dbfa65c"},{"parameters":{"promptType":"define","text":"=Client Name: {{ $json['Client Name'] }}\nService Provided By: {{ $json['Service Provided By'] }}\nStart Time: {{ $json['Start Time'] }}\nEnd Time: {{ $json['End Time'] }}\nTotal Time: {{ $json['Total Time'] }}\nGoal: {{ $json.Goal }}\nMedicaid Number: {{ $json.Medicaid_number }}\nDay: {{ $now }}","options":{"systemMessage":"=You are a data summary agent. Your task is to receive raw data and generate a clear, accurate, and concise summary in human-readable format of the key information."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1620,600],"id":"5bc1c0ce-e6a6-4974-9680-91202c1064ae","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1600,820],"id":"3dd3a06e-79e0-4ec1-a53b-cf366a36404f","name":"OpenAI Chat Model"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU","mode":"list","cachedResultName":"ALL FORMS DATA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Merge').item.json['Sheet Name'] }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Merge').item.json.id }}","Summary":"={{ $('Merge').item.json['Hardcoded Summary'] }}","AI Summary":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Service Provided By","displayName":"Service Provided By","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Time in Quarter Hours","displayName":"Time in Quarter Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratio","displayName":"Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medicaid_number","displayName":"Medicaid_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2120,600],"id":"f7e8a7c6-a1f1-4873-bf97-c1d0e9a6919a","name":"Update row in sheet"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":"Community_Exploration","operator":{"type":"string","operation":"equals"},"id":"d4dfa362-c65f-4286-b898-d34c96bcdd78"}],"combinator":"and"},"renameOutput":true,"outputKey":"Community Exploration"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"415f1246-879e-41d2-95ea-e7a71452f5d5","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":" Outdoor Activities","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":" Outdoor Activities"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b669304-474b-4d9a-878b-c8ab99d10183","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":"Creative Arts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Creative Arts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"acdd3421-9925-4afd-ad5a-9d96fab62970","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":"Mixed Indoor Activities","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mixed Indoor Activities"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5dbad0e1-64f8-47a6-8f99-be842f453d3d","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":"Home_Like_Skills","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Home_Like_Skills"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"36c19c15-8cc6-4d38-af19-8f5ec98ec3a0","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":"Community_Exploration","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Community_Exploration"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[560,600],"id":"4e7feca8-d2ed-4a3a-bcdc-43bce82af713","name":"Switch"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in the local community. The individual was given options such as visiting a park or engaging in educational activities. They participated in tasks including worksheets, flash cards, coloring, and observation of their environment. Lunch was eaten during the session. Services promoted cognitive development and community connection. The individual actively engaged and demonstrated communication and goal focus throughout the service.`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,160],"id":"2fe3a24c-0452-465f-a0cb-4b2608aa321d","name":"Code"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in the local community. The individual was offered choices such as going to the park or other outdoor locations. They chose to go to the park where they enjoyed playing, sight-seeing, and bonding with peers. They selected a meal and ate outside while engaging in social interactions. Services supported goal development and community involvement per the implementation plan. Participation was active and communication was expressed through gestures and/or verbal cues.`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,360],"id":"2888c254-7d9c-435e-b4bf-9d38f247b71c","name":"Code1"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in the local community. The individual visited an activity center where they were offered arts and crafts, board games, TV time, and cooking activities. They chose to engage in creative and recreational tasks such as drawing, coloring, watching TV, or light games. A packed lunch was eaten during the session. The individual participated appropriately, expressed themselves, and worked toward goals in a supportive setting.`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,580],"id":"5396facc-3335-4c2e-9b68-7cd455007826","name":"Code2"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in the local community. The individual visited an activity center where they were offered arts and crafts, board games, TV time, and cooking activities. They chose to engage in creative and recreational tasks such as drawing, coloring, watching TV, or light games. A packed lunch was eaten during the session. The individual participated appropriately, expressed themselves, and worked toward goals in a supportive setting.`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,840],"id":"5daad4d1-e3af-437d-84fa-de0dca289e37","name":"Code3"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in a home-like environment. The individual participated in domestic and daily living tasks such as cleaning, organizing, meal preparation, and practicing personal hygiene routines. They were given options like setting the table, folding laundry, or engaging in simple cooking activities. A packed lunch was eaten during the session. The individual actively engaged in skill-building, communicated their preferences, and worked toward increasing independence in a structured and supportive setting.`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,1040],"id":"a4cdb358-7ae2-4a51-bf3f-245c125da943","name":"Code4"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in the local community. The individual explored community locations such as parks, libraries, stores, or recreational centers. They were given opportunities to practice navigation, social interaction, safety awareness, and making choices in public settings. Lunch was eaten during the session. The individual demonstrated appropriate behavior, communicated their interests, and actively participated in developing community integration and independence skills.`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,1280],"id":"dff4383e-f94d-4eb9-8faa-2a3cbc3b224f","name":"Code5"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1240,540],"id":"d7c4d4e3-5a6c-4ed5-ba6b-96e139a663db","name":"Merge"},{"parameters":{"content":"# Prev","height":1520,"width":2320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"50def5be-9060-4b7f-b49f-9a8a1eaaaf50","name":"Sticky Note"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in the local community. The individual was given options such as visiting a park or engaging in educational activities. They participated in tasks including worksheets, flash cards, coloring, and observation of their environment. Lunch was eaten during the session. Services promoted cognitive development and community connection. The individual actively engaged and demonstrated communication and goal focus throughout the service.`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3480,3000],"id":"dfd96eb0-8cb9-49a5-970e-81f9ee92a567","name":"Education"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in the local community. The individual was offered choices such as going to the park or other outdoor locations. They chose to go to the park where they enjoyed playing, sight-seeing, and bonding with peers. They selected a meal and ate outside while engaging in social interactions. Services supported goal development and community involvement per the implementation plan. Participation was active and communication was expressed through gestures and/or verbal cues.`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3460,1980],"id":"1f0565d8-3b58-427c-8e52-4e9423a3f270","name":"Outdoor"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in the local community. The individual visited an activity center where they were offered arts and crafts, board games, TV time, and cooking activities. They chose to engage in creative and recreational tasks such as drawing, coloring, watching TV, or light games. A packed lunch was eaten during the session. The individual participated appropriately, expressed themselves, and worked toward goals in a supportive setting.`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3440,2180],"id":"b9a49251-3a2c-4439-a19a-e064e986ca24","name":"Creative Arts"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in the local community. The session included indoor activities such as watching movies, participating in crafts, playing games, and light chores. The individual selected from these options and engaged in meaningful, goal-directed activities. A packed lunch was eaten, and they interacted with peers. Services focused on enhancing daily living skills and communication. The individual participated well and expressed`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3440,2380],"id":"c842f0db-404c-4f77-aeee-9738d175af70","name":"Mixed"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in the local community. The individual explored community locations such as parks, libraries, stores, or recreational centers. They were given opportunities to practice navigation, social interaction, safety awareness, and making choices in public settings. Lunch was eaten during the session. The individual demonstrated appropriate behavior, communicated their interests, and actively participated in developing community integration and independence skills.`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3480,2800],"id":"dd2e34c9-de53-4972-8782-c3e3e7501585","name":"Community"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU","mode":"list","cachedResultName":"ALL FORMS DATA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1536024918,"mode":"list","cachedResultName":"Creative Arts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit#gid=1536024918"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Creative Arts').item.json.id }}","Summary":"={{ $('Creative Arts').item.json['Hardcoded Summary'] }}","AI Summary":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Service Provided By","displayName":"Service Provided By","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Time in Quarter Hours","displayName":"Time in Quarter Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratio","displayName":"Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medicaid_number","displayName":"Medicaid_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4240,2180],"id":"afa00cd8-4f18-49ad-ba2e-19ebecea50c6","name":"Update row in sheet1"},{"parameters":{"promptType":"define","text":"=Client Name: {{ $json['Client Name'] }}\nService Provided By: {{ $json['Service Provided By'] }}\nStart Time: {{ $json['Start Time'] }}\nEnd Time: {{ $json['End Time'] }}\nTotal Time: {{ $json['Total Time'] }}\nGoal: {{ $json.Goal }}\nMedicaid Number: {{ $json.Medicaid_number }}\nDay: {{ $now }}","options":{"systemMessage":"=You are a data summary agent. Your task is to receive raw data and generate a clear, accurate, and concise summary in human-readable format of the key information."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3780,2180],"id":"e67f8415-562e-45e6-905e-aafc9c800b2e","name":"AI Agent1"},{"parameters":{"promptType":"define","text":"=Client Name: {{ $json['Client Name'] }}\nService Provided By: {{ $json['Service Provided By'] }}\nStart Time: {{ $json['Start Time'] }}\nEnd Time: {{ $json['End Time'] }}\nTotal Time: {{ $json['Total Time'] }}\nGoal: {{ $json.Goal }}\nMedicaid Number: {{ $json.Medicaid_number }}\nDay: {{ $now }}","options":{"systemMessage":"=You are a data summary agent. Your task is to receive raw data and generate a clear, accurate, and concise summary in human-readable format of the key information."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3800,2380],"id":"dbcb9f1f-28d0-4aed-a02d-672fe5e2fa5d","name":"AI Agent2"},{"parameters":{"promptType":"define","text":"=Client Name: {{ $json['Client Name'] }}\nService Provided By: {{ $json['Service Provided By'] }}\nStart Time: {{ $json['Start Time'] }}\nEnd Time: {{ $json['End Time'] }}\nTotal Time: {{ $json['Total Time'] }}\nGoal: {{ $json.Goal }}\nMedicaid Number: {{ $json.Medicaid_number }}\nDay: {{ $now }}","options":{"systemMessage":"=You are a data summary agent. Your task is to receive raw data and generate a clear, accurate, and concise summary in human-readable format of the key information."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3800,2580],"id":"58fc2f25-59f7-4628-862a-b9b2fb6a7e9d","name":"AI Agent3"},{"parameters":{"promptType":"define","text":"=Client Name: {{ $json['Client Name'] }}\nService Provided By: {{ $json['Service Provided By'] }}\nStart Time: {{ $json['Start Time'] }}\nEnd Time: {{ $json['End Time'] }}\nTotal Time: {{ $json['Total Time'] }}\nGoal: {{ $json.Goal }}\nMedicaid Number: {{ $json.Medicaid_number }}\nDay: {{ $now }}","options":{"systemMessage":"=You are a data summary agent. Your task is to receive raw data and generate a clear, accurate, and concise summary in human-readable format of the key information."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3800,2800],"id":"af635346-7a94-4499-bf1b-5e59bbebef4b","name":"AI Agent4"},{"parameters":{"promptType":"define","text":"=Client Name: {{ $json['Client Name'] }}\nService Provided By: {{ $json['Service Provided By'] }}\nStart Time: {{ $json['Start Time'] }}\nEnd Time: {{ $json['End Time'] }}\nTotal Time: {{ $json['Total Time'] }}\nGoal: {{ $json.Goal }}\nMedicaid Number: {{ $json.Medicaid_number }}\nDay: {{ $now }}","options":{"systemMessage":"=You are a data summary agent. Your task is to receive raw data and generate a clear, accurate, and concise summary in human-readable format of the key information."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3820,3000],"id":"2ffecdac-6a72-47dc-937d-7438a2c7734f","name":"AI Agent5"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU","mode":"list","cachedResultName":"ALL FORMS DATA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1661305442,"mode":"list","cachedResultName":"Mixed Indoor Activities","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit#gid=1661305442"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Mixed').item.json.id }}","Summary":"={{ $('Mixed').item.json['Hardcoded Summary'] }}","AI Summary":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Service Provided By","displayName":"Service Provided By","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Time in Quarter Hours","displayName":"Time in Quarter Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratio","displayName":"Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medicaid_number","displayName":"Medicaid_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4240,2380],"id":"bc271c98-17a8-492d-9ade-6217a476651d","name":"Update row in sheet2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU","mode":"list","cachedResultName":"ALL FORMS DATA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1934344845,"mode":"list","cachedResultName":"Home_Like_Skills","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit#gid=1934344845"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Home_Like').item.json.id }}","AI Summary":"={{ $json.output }}","Summary ":"={{ $('Home_Like').item.json['Hardcoded Summary'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Service Provided By","displayName":"Service Provided By","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Time in Quarter Hours","displayName":"Time in Quarter Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratio","displayName":"Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medicaid_number","displayName":"Medicaid_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Summary ","displayName":"Summary ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4240,2580],"id":"3a2b275e-9676-478c-8a4d-564346ac8187","name":"Update row in sheet3"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU","mode":"list","cachedResultName":"ALL FORMS DATA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":995664098,"mode":"list","cachedResultName":"Community_Exploration","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit#gid=995664098"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Community').item.json.id }}","Summary":"={{ $('Community').item.json['Hardcoded Summary'] }}","AI Summary":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Service Provided By","displayName":"Service Provided By","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Time in Quarter Hours","displayName":"Time in Quarter Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratio","displayName":"Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medicaid_number","displayName":"Medicaid_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4260,2800],"id":"5124333f-0cac-476c-89fc-1ba1e9ce3856","name":"Update row in sheet4"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU","mode":"list","cachedResultName":"ALL FORMS DATA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1791234709,"mode":"list","cachedResultName":" Educational Enrichment","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit#gid=1791234709"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Education').item.json.id }}","Summary":"={{ $('Education').item.json['Hardcoded Summary'] }}","AI Summary":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Service Provided By","displayName":"Service Provided By","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Time in Quarter Hours","displayName":"Time in Quarter Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratio","displayName":"Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medicaid_number","displayName":"Medicaid_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4300,3000],"id":"3c26e717-7218-453a-a5a4-870fb4cf5438","name":"Update row in sheet5"},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Convert Timestamp to readable format\nconst date = new Date(input.Timestamp);\nconst options = {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n};\nconst formattedDate = date.toLocaleDateString(\"en-US\", options);\n\n// Split formatted date into parts\nconst [dayOfWeek, monthDayYear] = formattedDate.split(\", \");\nconst [month, day, year] = monthDayYear.trim().split(\" \");\n\n// Build summary\nconst summary = `On ${dayOfWeek}, ${month} ${day.replace(\",\", \"\")}, ${year}, I provided Life Skills Development Level 1 Services in a home-like environment. The individual participated in domestic and daily living tasks such as cleaning, organizing, meal preparation, and practicing personal hygiene routines. They were given options like setting the table, folding laundry, or engaging in simple cooking activities. A packed lunch was eaten during the session. The individual actively engaged in skill-building, communicated their preferences, and worked toward increasing independence in a structured and supportive setting`;\n\n// Return summary\nreturn [\n  {\n    json: {\n      ...input,\n      \"Hardcoded Summary\": summary,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3460,2580],"id":"e86eb15e-e23a-47f5-a1b0-1fa9ff7dd363","name":"Home_Like"},{"parameters":{"httpMethod":"POST","path":"e21c6556-21f5-43f3-90f4-e7862dbfa65c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2520,2400],"id":"a046f7a7-94c6-477a-a0b2-8c16795dd9e0","name":"Webhook1","webhookId":"e21c6556-21f5-43f3-90f4-e7862dbfa65c"},{"parameters":{"promptType":"define","text":"=Client Name: {{ $json['Client Name'] }}\nService Provided By: {{ $json['Service Provided By'] }}\nStart Time: {{ $json['Start Time'] }}\nEnd Time: {{ $json['End Time'] }}\nTotal Time: {{ $json['Total Time'] }}\nGoal: {{ $json.Goal }}\nMedicaid Number: {{ $json.Medicaid_number }}\nDay: {{ $now }}","options":{"systemMessage":"=You are a data summary agent. Your task is to receive raw data and generate a clear, accurate, and concise summary in human-readable format of the key information."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3780,1980],"id":"6ff45ce8-0ae2-4186-95e4-8d28afd4a448","name":"AI Agent6"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3640,2520],"id":"db6f99b8-b92e-48b1-b207-833952ffa2cb","name":"OpenAI Chat Model1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU","mode":"list","cachedResultName":"ALL FORMS DATA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":822271212,"mode":"list","cachedResultName":" Outdoor Activities","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KrkxsPiD9NJvr8_MovD24UOqw7qucQCGWj7Ux81TKIU/edit#gid=822271212"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Outdoor').item.json.id }}","Summary":"={{ $('Outdoor').item.json['Hardcoded Summary'] }}","AI Summary":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Service Provided By","displayName":"Service Provided By","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Time in Quarter Hours","displayName":"Time in Quarter Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratio","displayName":"Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medicaid_number","displayName":"Medicaid_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4240,1980],"id":"f76cf50b-a446-4e92-a91e-c478dc6003bc","name":"Update row in sheet6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"415f1246-879e-41d2-95ea-e7a71452f5d5","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":" Outdoor Activities","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":" Outdoor Activities"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b669304-474b-4d9a-878b-c8ab99d10183","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":"Creative Arts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Creative Arts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"acdd3421-9925-4afd-ad5a-9d96fab62970","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":"Mixed Indoor Activities","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mixed Indoor Activities"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5dbad0e1-64f8-47a6-8f99-be842f453d3d","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":"Home_Like_Skills","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Home_Like_Skills"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"36c19c15-8cc6-4d38-af19-8f5ec98ec3a0","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":"Community_Exploration","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Community_Exploration"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23996cf4-ff61-4c6f-b481-d1615c8d6a33","leftValue":"={{ $json.body['Sheet Name'] }}","rightValue":"Educational Enrichment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Educational Enrichment"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2900,2340],"id":"53244fd9-8870-4364-a320-9233522879dd","name":"Switch1"},{"parameters":{"content":"# New\n","height":1520,"width":2320,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2320,1740],"id":"99a322cf-1f30-4ff5-919f-254695a281da","name":"Sticky Note1"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}],[{"node":"Code5","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code2":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Code3":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Code4":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Code5":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Education":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"Outdoor":{"main":[[{"node":"AI Agent6","type":"main","index":0}]]},"Creative Arts":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Mixed":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Community":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Update row in sheet4","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Update row in sheet5","type":"main","index":0}]]},"Home_Like":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"AI Agent6":{"main":[[{"node":"Update row in sheet6","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent6","type":"ai_languageModel","index":0},{"node":"AI Agent1","type":"ai_languageModel","index":0},{"node":"AI Agent2","type":"ai_languageModel","index":0},{"node":"AI Agent3","type":"ai_languageModel","index":0},{"node":"AI Agent4","type":"ai_languageModel","index":0},{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Switch1":{"main":[[{"node":"Outdoor","type":"main","index":0}],[{"node":"Creative Arts","type":"main","index":0}],[{"node":"Mixed","type":"main","index":0}],[{"node":"Home_Like","type":"main","index":0}],[{"node":"Community","type":"main","index":0}],[{"node":"Education","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0a6c2125-fdd0-4447-a06a-a8603f1ddeb8","triggerCount":0,"tags":[]}