jamshed's-precise-grants-v3rPKKssYivkLTIE.json
{"createdAt":"2025-07-29T08:14:35.283Z","updatedAt":"2025-08-07T19:16:01.000Z","id":"v3rPKKssYivkLTIE","name":"Jamshed's precise-grants","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-12656,480],"id":"216c2cf5-4025-4d44-b48f-5b86fc8cf55c","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"jsCode":"// Wrap each incoming item inside a chatInput key\nreturn items.map(item => {\n  return {\n    json: {\n      chatInput: item.json\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4640,-2592],"id":"eaefd3d5-5300-47c5-b247-f36e89912583","name":"Wrap into chatInput"},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"=SOP Document","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1ZctVqDaF-kTeyjlDrYdtjM6w9jiKkoUi","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2576,-2320],"id":"907c4a44-afa9-462b-86b4-bab6d978181a","name":"Prepare Upload Fields","notesInFlow":true},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2160,-2320],"id":"dcdebaab-5280-44ce-b175-8f988ad50dba","name":"Upload to Google Docs","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"MypZ8VjDkpJt7tQw","name":"Usman's Account"}}},{"parameters":{"content":"# Markdown to HTML \n## Converts markdown-format SOP into styled HTML for Google Drive compatibility.\n\n# Build Google Docs Request\n## Sets file name, folder ID, and HTML content for Google Docs upload.\n\n# Multipart Builder \n## Formats HTML and metadata into multipart format for Drive upload with proper boundaries.\n\n# Upload to Google Docs \n## Uploads the formatted HTML to Google Drive as a new Google Doc inside a specific folder.\n\n#  Airtable Logging \n## Saves the generated document’s metadata and link in Airtable.\n\n\n\n\n","height":1104,"width":1616,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3184,-2992],"typeVersion":1,"id":"0d0ac178-acc7-4c84-b350-bd3d8cd8488b","name":"Sticky Note2"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-2784,-2320],"id":"336d0783-07ab-4695-ac65-9e5062e55099","name":"Markdown2"},{"parameters":{"content":"# Edit Fields\t\n## Set Static JSON Input — Provides sample organization and program data for the workflow to test against.\n\n# Code\t\n## Wrap into chatInput — Wraps incoming data under chatInput to match Langchain agent's expected structure.","height":1072,"width":1424},"type":"n8n-nodes-base.stickyNote","position":[-5920,-2976],"typeVersion":1,"id":"45127af2-2a3a-4df0-9c07-af02aa26e278","name":"Sticky Note3"},{"parameters":{"content":" # SOP AGENT\n## Generates SOP with 4 customized sections using the input data and system prompt.","height":1088,"width":1008,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4352,-2976],"typeVersion":1,"id":"1d48c4e3-7ecd-429a-8458-283820f9c8a7","name":"Sticky Note4"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4288,-2544],"id":"58198415-d651-4de1-89a2-663fbd57c3c5","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=# Objective\nYou are an AI assistant tasked with generating a Standard Operating Procedure (SOP) document based on structured organizational data provided below.\n\n## ⚙️ Step 1: Fetch Tone via RAGTOOL1 (Required Tool Call)\n\nBefore writing the Roles & Responsibilities Matrix, you must call the tool `RAGTOOL` to retrieve tone from namespace \"Sample Documents\" from the Pinecone Vector Store.\n\nUse this tool only to:\n\n- Understand tone, writing style, and formatting used in nonprofit or program-related documents.\n- Identify patterns such as whether the tone is formal/informal, concise/verbose, community-focused, or technical.\n\n- After retrieving documents, output a brief tone/style summary like:\n> _\"Tone is formal, community-centered, clear, and structured with professional language and bulleted sections.\"_\n\n- Do **not** reuse or copy any content, facts, or structure from these documents.\n\nProceed to SOP generation only after completing this step.\n\n\n## Standard Operating Procedure (SOP)\n\n**Organization:** {{ $json.chatInput.Question1 }}\n\n---\n\n###  Program: {{ $json.chatInput.Question6 }}\n\n**Description:** {{ $json.chatInput.Question7 }}  \n**Program Type:** {{ $json.chatInput.Question8 }}  \n**Objectives:** {{ $json.chatInput.Question9 }}  \n**Duration:** {{ $json.chatInput.Question10 }}  \n**Frequency:** {{ $json.chatInput.Question11 }}  \n**Key Activities & Services:** {{ $json.chatInput.Question12 }}  \n**Target Audience:** {{ $json.chatInput.Question13 }}  \n**Number of Staff:** {{ $json.chatInput.Question14 }}  \n**Staff Roles:** {{ $json.chatInput.Question15 }}  \n**Max Participants:** {{ $json.chatInput.Question16 }}  \n**Funding Source(s):** {{ $json.chatInput.Question17 }}  \n**Evaluation/Impact Strategy:** {{ $json.chatInput.Question18 }}  \n**Top 3 Priorities or Challenges:** {{ $json.chatInput.Question19 }}\n\n---\n\n### 1. Weekly Planning & Scheduling\n\n- Sessions for **{{ $json.chatInput.Question6 }}** occur on a **{{ $json.chatInput.Question11 }}** basis.  \n- Confirm availability of facilitators like **{{ $json.chatInput.Question15 }}**, etc., each week.  \n- Review prior attendance and feedback from up to **{{ $json.chatInput.Question16 }}** participants.  \n- Send reminders to participants from the **{{ $json.chatInput.Question13 }}** across **{{ $json.chatInput.Question5 }}**.  \n- Ensure all planning aligns with the values of a **{{ $json.chatInput.Question4 }}**.  \n- Planning should reinforce the mission: *{{ $json.chatInput.Question2 }}*.  \n- Address known challenges such as: {{ $json.chatInput.Question19 }}\n\n---\n\n### 2. Program Delivery\n\n- Execute **{{ $json.chatInput.Question12 }}**.  \n- Staff such as **{{ $json.chatInput.Question15 }}**, etc., lead check-ins, sessions, and support.  \n- Activities should reflect the mission: *{{ $json.chatInput.Question2 }}* and vision: *{{ $json.chatInput.Question3 }}*.  \n- Ensure program experience aligns with the organization's service model: **{{ $json.chatInput.Question4 }}**.  \n- Log attendance, session notes, and feedback to support ongoing improvement.\n\n---\n\n### 3. Monitoring & Evaluation\n\n- Evaluation should follow this strategy: **{{ $json.chatInput.Question18 }}**.  \n- Metrics and KPIs should reflect how the program supports the mission: *{{ $json.chatInput.Question2 }}*.  \n- Conduct pre- and post-program surveys to assess engagement and results.  \n- Monitor participation levels across the **{{ $json.chatInput.Question5 }}** region.  \n- Pay special attention to these known challenges: {{ $json.chatInput.Question19 }}\n\n---\n\n### 4. Reporting\n\n- Share weekly summaries with program managers and key staff.  \n- Prepare monthly reports for funders like **{{ $json.chatInput.Question17 }}**.  \n- End-of-cycle reports (after **{{ $json.chatInput.Question10 }}**) should review:  \n  - Overall program goals  \n  - Alignment with the mission: *{{ $json.chatInput.Question2 }}*  \n  - Fit within the vision: *{{ $json.chatInput.Question3 }}*  \n  - Organizational model: **{{ $json.chatInput.Question4 }}**\n\n---\nKey Rules:\nNever output any tone summary or content from RAGTOOL—adjust style silently.\n\nOutput only the SOP in the Markdown format as specified.\n\nDo not add any explanatory text, comments, or instructions.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-4288,-2816],"id":"50a35587-f9e9-43a2-9e1d-69c6f619735e","name":"SOP Agent2"},{"parameters":{"options":{"systemMessage":"=You are an expert in organizational structure and nonprofit operations.\n\nUsing the intake data below, generate a \"Roles & Responsibilities Matrix\" tailored to the program's team structure and size.\n\n---\n\n### 📌 Instructions:\n- Output must be formatted in **Markdown**.\n- Use section headers,  bolded labels, and proper **table formatting** with spacing.\n- If only roles are provided without full descriptions, infer appropriate responsibilities and reporting lines using standard nonprofit structure.\n- Follow the sample structure provided below to guide your format.\n\n---\n\n## ⚙️ Step 1: Fetch Tone via RAGTOOL1 (Required Tool Call)\n\nBefore writing the Roles & Responsibilities Matrix, you must call the tool `RAGTOOL` to retrieve tone from namespace \"Sample Documents\" from the Pinecone Vector Store.\n\nUse this tool only to:\n\n- Understand tone, writing style, and formatting used in nonprofit or program-related documents.\n- Identify patterns such as whether the tone is formal/informal, concise/verbose, community-focused, or technical.\n\n✅ After retrieving documents, output a brief tone/style summary like:\n> _\"Tone is formal, community-centered, clear, and structured with professional language and bulleted sections.\"_\n\n❌ Do **not** reuse or copy any content, facts, or structure from these documents.\n\nProceed to SOP generation only after completing this step.\n\n---\n\n\n### 📝 Intake Data\n\n**Program Name:** {{ $json.chatInput.Question6 }}\n**Number of Staff:**  {{ $json.chatInput.Question14 }}\n**Staff Roles:** {{ $json.chatInput.Question15 }}\n**Organization Type:** {{ $json.chatInput.Question4 }}\n**Program Type:** {{ $json.chatInput.Question8 }}\n**Top Priorities or Challenges:** {{ $json.chatInput.Question19 }}\n\n---\n\n### Mandatory Role Reporting Rules\nThese roles and their reporting structure must always be included and must always follow this hierarchy, even if the intake data does not mention them:\n\nRole\t                  Reports To\nProgram Director\t      Executive Director\nProgram Manager\t          Program Director\nProgram Coordinator\t      Program Manager\nFacilitator\t              Program Manager\nVolunteer Mentor\t      Program Coordinator\n\n- You may add other roles based on the provided staffRoles input.\n- Ensure that added roles do not conflict with the reporting hierarchy above.\n- If a role in staffRoles resembles a mandatory role, treat it as that role with enforced reporting logic.\n\n### 💡 Sample Reference Structure\n ________________________________________________________________________\n|   Role             |   Responsibility         |   Reports To          |          \n|--------------------|--------------------------|-----------------------|\n|Program Director    | Strategic oversight      | Executive Director    |\n|Program Manager     | Day-to-day operations    | Program Director      |\n|Program Coordinator | Logistics, documentation | Program Manager       |             \n------------------------------------------------------------------------\n\n### ✅ Output Requirements\n\n- Start with a clear **Markdown header**: `## Roles & Responsibilities Matrix`\n- Use a  table to list: `Role`, `Responsibility`, and `Reports To`\n- Ensure roles are aligned with the number of staff and program type\n- **Use bulleted lists** in table cells if multiple responsibilities apply\n- Be concise but clear\n\n---\n\nPlease generate the full matrix below."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-4544,-720],"id":"9fae41bc-2062-440f-89c0-ec88e1a25123","name":"Roles & Responsibilities Matrix Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4544,-448],"id":"cc8d2544-3d88-45cd-86fc-49a567a01102","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"content":"\n\n# AI-Powered SOP Generator for Nonprofit Programs (Markdown → Google Docs)","height":1616,"width":5136,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-6448,-3136],"typeVersion":1,"id":"c19f50e3-153e-4017-9609-004ee2f6c0e4","name":"Sticky Note"},{"parameters":{"content":"# Sample Intake Data:\t\n## Provides sample structured intake data for testing the AI agent.\n\t\n\n\n# Wrap Chat Input\t\t\n## Wraps the input data under a chatInput key so it matches the structure expected in the AI agent prompt.","height":1408,"width":1456},"type":"n8n-nodes-base.stickyNote","position":[-6288,-1216],"typeVersion":1,"id":"5415b2b2-2948-4209-b275-d17c563b2273","name":"Sticky Note1"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-2976,-224],"id":"672426bf-ed9f-4366-9193-8653717cc8bc","name":"Convert Markdown to HTML"},{"parameters":{"jsCode":"const markdown = $input.first().json.output;\n\n// Convert a markdown table to an HTML table with merged responsibility rows per role\nfunction markdownTableToHTML(md) {\n  const lines = md.trim().split('\\n');\n  const tableLines = lines.filter(line => line.trim().startsWith('|'));\n\n  if (tableLines.length < 2) return '<p>No valid table found</p>';\n\n  const headerCells = tableLines[0].split('|').slice(1, -1).map(cell => cell.trim());\n  const rows = [];\n  \n  let currentRow = null;\n\n  // Start from line 2 (skip header + separator)\n  for (let i = 2; i < tableLines.length; i++) {\n    const cells = tableLines[i].split('|').slice(1, -1).map(cell => cell.trim());\n\n    if (cells[0]) {\n      // New role row\n      currentRow = {\n        role: cells[0],\n        responsibility: cells[1],\n        reportsTo: cells[2]\n      };\n      rows.push(currentRow);\n    } else if (currentRow) {\n      // Continuation of previous responsibility (merge into previous)\n      currentRow.responsibility += `<br> ${cells[1]}`;\n    }\n  }\n\n  let html = '<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse: collapse; width: 100%;\">';\n  html += '<thead><tr>' + headerCells.map(cell => `<th>${cell}</th>`).join('') + '</tr></thead>';\n  html += '<tbody>';\n  rows.forEach(row => {\n    html += `<tr><td><strong>${row.role}</strong></td><td>${row.responsibility}</td><td>${row.reportsTo}</td></tr>`;\n  });\n  html += '</tbody></table>';\n\n  return html;\n}\n\n// Extract heading\nconst headingMatch = markdown.match(/^##.+?\\n+/);\nconst heading = headingMatch ? headingMatch[0].trim() : '';\n\n// Generate final HTML\nconst tableHTML = markdownTableToHTML(markdown);\nreturn {\n  html_output: `<h2>${heading.replace(/^##\\s*/, '')}</h2>\\n${tableHTML}`\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2736,-224],"id":"8a126c84-5c98-4bba-8eb0-ffadbb1993a9","name":"Enhance HTML Table Style"},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"=Roles & Responsibilities Matrix","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.html_output }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1g5VR97sP3DjUPTbE4LzEdw27Hgb-JLa1","type":"string"},{"id":"e7c1e5f1-531b-4c8f-8b69-7fe95af4e14e","name":"Organization Name","value":"={{ $('Wrap into chatInput1').item.json.chatInput.Question1 }}","type":"string"},{"id":"b1b43e73-9aa1-45f0-994d-074fd7b19ccf","name":"Program Name","value":"={{ $('Wrap into chatInput1').item.json.chatInput.Question6 }}","type":"string"},{"id":"e276adbc-d601-4864-bd82-025f104e44da","name":"=Program Type","value":"={{ $('Wrap into chatInput1').item.json.chatInput.Question8 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2496,-224],"id":"17958e4f-99ea-4a26-b825-2f5b0e8be181","name":"Set Document Metadata","notesInFlow":true},{"parameters":{"jsCode":"// Simple HTML to Google Drive converter with link preservation\nconst boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\nconst orgName = $input.first().json[\"Organization Name\"];\nconst programName = $input.first().json[\"Program Name\"];\nconst programType = $input.first().json[\"Program Type\"];\n\n// Prepend the program info in a formatted HTML block\nconst programInfo = `\n  <div style=\"margin-bottom: 20pt;\">\n    <p><strong>Organization Name:</strong> ${orgName}</p>\n    <p><strong>Program Name:</strong> ${programName}</p>\n    <p><strong>Program Type:</strong> ${programType}</p>\n  </div>\n`;\n\n// Combine program info and original HTML\nconst fullHtmlContent = programInfo + htmlContent;\n\n// Process HTML to ensure links are preserved\nfunction preserveLinks(htmlContent) {\n    // Ensure all links have proper attributes for Google Drive\n    let processedHtml = htmlContent;\n    \n    // Fix any malformed or incomplete link tags\n    processedHtml = processedHtml.replace(/<a\\s+href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi, '<a href=\"$1\">$2</a>');\n    \n    // Ensure links have proper protocol\n    processedHtml = processedHtml.replace(/<a\\s+href=[\"'](?!https?:\\/\\/|mailto:|tel:)([^\"']+)[\"']>/gi, '<a href=\"https://$1\">');\n    \n    return processedHtml;\n}\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\n// Process the HTML content to preserve links\nconst processedHtmlContent = preserveLinks(fullHtmlContent);\n\nconst htmlWithStyles = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n    h2 {\n      margin-top: 20pt;\n    }\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n    /* Ensure links are styled properly for Google Drive */\n    a {\n      color: #1155cc;\n      text-decoration: underline;\n    }\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${processedHtmlContent}\n</body>\n</html>`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2256,-224],"id":"e2f02ee2-57e1-4bb3-a7cf-042467ac220a","name":"Build Google Docs Request"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2032,-224],"id":"d6ffacd8-6d3c-487f-8232-0e6d961affe1","name":"Upload Google Doc","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"MypZ8VjDkpJt7tQw","name":"Usman's Account"}}},{"parameters":{"content":"# Roles & Responsibilities Matrix Agent\n## Agent that receives structured intake data and uses an expert prompt to generate a customized Roles & Responsibilities Matrix in Markdown format. It adapts responsibilities and reporting lines based on nonprofit best practices, even if the input is minimal.","height":1408,"width":1408,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-4736,-1216],"typeVersion":1,"id":"13b5b891-bebd-4039-a4ba-ab16fd319aba","name":"Sticky Note5"},{"parameters":{"content":"# Convert Markdown to HTML\n## Converts AI-generated Markdown (Roles & Responsibilities Matrix) into basic HTML. This prepares the content for further formatting before Google Docs upload.\n\n# Enhance HTML Table Style\n## Parses the Markdown table and transforms it into a styled HTML table. Merges rows for repeated roles, adds headings, and improves readability for Docs export.\n\n# Set Document Metadata\n## Sets key metadata for the final Google Docs upload, including document name, program/organization info, and styled HTML content. This data feeds into the request builder.\n\n# Build Google Docs Request\n## Constructs a multipart/related HTTP request payload for uploading an HTML document to Google Drive. Injects inline styles and preserves links for a clean Docs rendering.\n\n# Upload Google Doc\n# Sends the fully prepared document to Google Drive via direct HTTP POST. Uploads the HTML as a native Google Doc under the specified folder ID.\n\n#  Airtable Logging \n## Saves the generated document’s metadata and link in Airtable.\n","height":1408,"width":1664,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3200,-1216],"typeVersion":1,"id":"55de0719-e5d3-4e54-86c6-0df7374fa07b","name":"Sticky Note6"},{"parameters":{"content":"\n\n# Generate Roles & Responsibilities Matrix & Save to Google Docs\n\n\n","height":1776,"width":5152,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-6448,-1328],"typeVersion":1,"id":"45b65b85-78ac-4636-b4d2-5641294b9b32","name":"Sticky Note7"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=sop-document","tableName":"n8n_sop_document_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4160,-2592],"id":"327cefaa-fecb-4af0-a607-fa6112478ab5","name":"SOP Document Memory","credentials":{"postgres":{"id":"RVvoTUjJJ1ESHsVt","name":"Precise-grant"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"role-responsibilities-document","tableName":"n8n_roles_responsibilities_matrix_document_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4384,-464],"id":"e7a517b1-5388-4167-be34-68375cb64a00","name":"Roles & Responsibilities Matrix Memory","credentials":{"postgres":{"id":"RVvoTUjJJ1ESHsVt","name":"Precise-grant"}}},{"parameters":{"content":"# Manual Trigger \n## Starts the workflow manually for testing or development.","height":880,"width":1184},"type":"n8n-nodes-base.stickyNote","position":[-12208,64],"typeVersion":1,"id":"e38c0e51-4a39-4867-82f0-bfac7c23737a","name":"Sticky Note8"},{"parameters":{"description":"=Your Work is to fetch the tone of content which you get from the pinecone Vector Store.","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-3936,-2544],"id":"81b06200-316a-4f41-b666-61e9801d6ecf","name":"RAGTOOL"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3632,-2304],"id":"7189e706-b692-4498-806e-87a610752e4f","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{"pineconeNamespace":"Sample Documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-4000,-2288],"id":"3c48538a-e739-40d5-b65c-8c417801d09a","name":"Pinecone Vector Store5","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-4000,-2080],"id":"a130a355-60bf-44f3-8cf3-a6e5302cf254","name":"Embeddings OpenAI6","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=# 🔒 Mandatory Tool Usage Initialization\n\n> ⚠️ IMPORTANT: Before performing any writing task, you are strictly required to call the `RAGTOOL3` tool.\n\nYou are a program strategist and professional nonprofit copywriter.\n\nYour task is to generate a **Program Overview** section using the structured data provided. However, you are **not allowed to generate any content** until you have used the `RAGTOOL3` tool to retrieve nonprofit documents from the Pinecone Vector Store.\n\n---\n\n## ⚙️ Step 1: Tool Requirement – `RAGTOOL3` (❗MANDATORY)\n\nYou **must** call the tool `RAGTOOL3` before continuing. This is **required for every request**, even if the same tool was called earlier. If `RAGTOOL3` has not been called in this thread or session, stop and do so immediately.\n\n-Before writing the Program Overview, you **must call the tool `RAGTOOL`** to retrieve tone from namespace \"Sample Documents\" from the Pinecone Vector Store.\n\n- Purpose: Retrieve documents to understand tone, voice, and formatting style common in nonprofit program documents.\n- Application: Use the tone internally (formal, structured, clear).\n- Restrictions:\n  - ❌ Do NOT generate output without calling the tool first.\n  - ❌ Do NOT describe or summarize the tool output.\n  - ❌ Do NOT reuse or copy the document content.\n  - ✅ DO silently apply the tone to your writing.\n\n⛔ If you proceed without calling `RAGTOOL3`, your output will be rejected.\n\n---\n\n## ✅ Step 2: After Tool Usage – Generate Program Overview\n\nOnly after `RAGTOOL3` has been called, write the program overview in the following format:\n\n---\n\n### 📌 Output Format (Markdown Only)\n\n- Title must be `**Program Overview**` (bolded, no heading tag)\n- Use this field format: `**Label:** Value`\n- One blank line between each field\n- If \"Program Benefits\" is missing, default to:  \n  `Certificates, Networking Opportunities, Life Skills, Mentorship, Career Pathways`\n- Comma-separate arrays like learning areas or benefits\n\n---\n\n### 📝 Data Mapping\n\n- Program Name → `{{ $json.chatInput.Question6 }}`\n- Mission → `{{ $json.chatInput.Question2 }}`\n- Key Learning Areas → `{{ $json.chatInput.Question12 }}`\n- Program Duration → `{{ $json.chatInput.Question10 }}`\n- Weekly Time Commitment → `{{ $json.chatInput.Question11 }}`\n- Program Benefits → *(fallback if missing)*\n\n---\n\n### ✅ Output Template\n\n**Program Overview**\n\n**Program Name:** {{ $json.chatInput.Question6 }}\n\n**Mission:** {{ $json.chatInput.Question2 }}\n\n**Key Learning Areas:** {{ $json.chatInput.Question12 }}\n\n**Program Duration:** {{ $json.chatInput.Question10 }}\n\n**Weekly Time Commitment:** {{ $json.chatInput.Question11 }}\n\n**Program Benefits:** Certificates, Networking Opportunities, Life Skills, Mentorship, Career Pathways\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-4384,1392],"id":"768f6ec5-7841-494c-b1a7-f9b01a2a564f","name":"Program Overview Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"program-overview-document","tableName":"n8n_program_overview_document_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4224,1744],"id":"9302c019-cea3-47b1-8181-75c91c4a6cff","name":"Program Overview Memory","credentials":{"postgres":{"id":"RVvoTUjJJ1ESHsVt","name":"Precise-grant"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4400,1744],"id":"321f5e80-1e53-4fe0-a115-22386f54938a","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-3040,1824],"id":"64a10a3e-b517-4d9d-8d56-5acc2f7b746d","name":"Convert Markdown to HTML1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3888,-208],"id":"7f19aa62-480a-478f-ae2a-bb08467f61ee","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{"pineconeNamespace":"Sample Documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-4256,-192],"id":"a5f1eeee-2e35-41ab-960e-a96c48b8b675","name":"Pinecone Vector Store6","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-4256,16],"id":"2ab6c4fd-eb58-4cc5-a7ad-e2f9dd6c5c0f","name":"Embeddings OpenAI8","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4288,3648],"id":"a95e7bf6-d21a-444c-bae5-000b762f56a2","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-2896,3920],"id":"eea72869-4546-4c40-ab21-106e87e623db","name":"Convert Markdown to HTML2"},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"=Code Of Conduct","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1g5VR97sP3DjUPTbE4LzEdw27Hgb-JLa1","type":"string"},{"id":"e7c1e5f1-531b-4c8f-8b69-7fe95af4e14e","name":"Organization Name","value":"={{ $('Wrap into chatInput2').item.json.chatInput.Question1 }}","type":"string"},{"id":"b1b43e73-9aa1-45f0-994d-074fd7b19ccf","name":"Program Name","value":"={{ $('Wrap into chatInput2').item.json.chatInput.Question6 }}","type":"string"},{"id":"e276adbc-d601-4864-bd82-025f104e44da","name":"Program Type","value":"={{ $('Wrap into chatInput2').item.json.chatInput.Question8 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2672,3920],"id":"9a71f9a1-c0bd-4d3f-acee-9f489d453ce3","name":"Set Document Metadata2","notesInFlow":true},{"parameters":{"jsCode":"// Simple HTML to Google Drive converter with link preservation\nconst boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\n// Process HTML to ensure links are preserved\nfunction preserveLinks(htmlContent) {\n    // Ensure all links have proper attributes for Google Drive\n    let processedHtml = htmlContent;\n    \n    // Fix any malformed or incomplete link tags\n    processedHtml = processedHtml.replace(/<a\\s+href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi, '<a href=\"$1\">$2</a>');\n    \n    // Ensure links have proper protocol\n    processedHtml = processedHtml.replace(/<a\\s+href=[\"'](?!https?:\\/\\/|mailto:|tel:)([^\"']+)[\"']>/gi, '<a href=\"https://$1\">');\n    \n    return processedHtml;\n}\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\n// Process the HTML content to preserve links\nconst processedHtmlContent = preserveLinks(htmlContent);\n\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n    h2 {\n      margin-top: 20pt;\n    }\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n    /* Ensure links are styled properly for Google Drive */\n    a {\n      color: #1155cc;\n      text-decoration: underline;\n    }\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${processedHtmlContent}\n</body>\n</html>\n`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body \n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2464,3920],"id":"9584987f-1a13-4b73-9c88-81a4283b19bc","name":"Build Google Docs Request2"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2256,3920],"id":"8018637b-4c3d-4049-af76-002461338a7a","name":"Upload Google Doc2","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"MypZ8VjDkpJt7tQw","name":"Usman's Account"}}},{"parameters":{"content":"\n\n# Program Overview Generation Workflow\n\n","height":1840,"width":5152,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-6480,704],"typeVersion":1,"id":"9a8fe2ca-b821-4311-9003-6074b83601e3","name":"Sticky Note9"},{"parameters":{"content":"# Sample Intake Data:\t\n## Provides sample structured intake data for testing the AI agent.\n\t\n\n\n# Wrap Chat Input\t\t\n## Wraps the input data under a chatInput key so it matches the structure expected in the AI agent prompt.","height":1408,"width":1456},"type":"n8n-nodes-base.stickyNote","position":[-6336,928],"typeVersion":1,"id":"85e92bd5-155d-4575-aee3-decfe292e694","name":"Sticky Note10"},{"parameters":{"content":"# Program Overview  Agent\n## Agent that receives structured intake data and uses an expert prompt to generate a customized Roles & Responsibilities Matrix in Markdown format. It adapts responsibilities and reporting lines based on nonprofit best practices, even if the input is minimal.","height":1408,"width":1408,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-4800,944],"typeVersion":1,"id":"d99a0246-8317-425b-8535-90e1699519d9","name":"Sticky Note11"},{"parameters":{"content":"# Markdown to HTML \n## Converts markdown-format SOP into styled HTML for Google Drive compatibility.\n\n# Build Google Docs Request \n## Sets file name, folder ID, and HTML content for Google Docs upload.\n\n# Multipart Builder \n## Formats HTML and metadata into multipart format for Drive upload with proper boundaries.\n\n# Upload to Google Docs \n## Uploads the formatted HTML to Google Drive as a new Google Doc inside a specific folder.\n\n#  Airtable Logging \n## Saves the generated document’s metadata and link in Airtable.\n\n\n","height":1408,"width":1664,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3248,864],"typeVersion":1,"id":"08dda10f-d277-464d-9149-19bfc7f20196","name":"Sticky Note12"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3728,1872],"id":"a6807ad6-42ae-41af-99a7-4b5cd8a15af1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{"pineconeNamespace":"Sample Documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-4112,1904],"id":"d72ea9b9-c238-4e4f-84e2-d4511975440c","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-4112,2112],"id":"40efc1c0-40b2-4ab5-aa6b-7b5d952cd490","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"description":"=Your Work is to fetch the tone of content which you get from the pinecone Vector Store.","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-4048,1648],"id":"31dd6b38-e57e-47c5-bb48-e1a9c4553d7e","name":"RAGTOOL3"},{"parameters":{"description":"=Your Work is to fetch the tone of content which you get from the pinecone Vector Store.","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-4192,-448],"id":"b0b9b426-c1bc-43f5-a137-43012d496e0e","name":"RAGTOOL1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3680,3920],"id":"6d215772-7691-42ac-8cb3-300ae3e42d4a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{"pineconeNamespace":"Sample Documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-4064,3952],"id":"3ff470b5-10c2-4fcc-ac58-e433561f8182","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-4064,4160],"id":"e0edac1c-4a4a-4f8d-8bb6-fa6d96079de6","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"description":"=Your Work is to fetch the tone of content which you get from the pinecone Vector Store.","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-4000,3696],"id":"736e854c-8cb8-47d7-a897-b4790a1b69cb","name":"RAGTOOL4"},{"parameters":{"content":"\n\n# Code of Conduct generation workflow\n","height":1776,"width":5152,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-6432,2768],"typeVersion":1,"id":"7e664c27-7bc5-4ac1-8417-eb60cc772dc4","name":"Sticky Note13"},{"parameters":{"content":"# Sample Intake Data:\t\n## Provides sample structured intake data for testing the AI agent.\n\t\n\n\n# Wrap Chat Input\t\t\n## Wraps the input data under a chatInput key so it matches the structure expected in the AI agent prompt.","height":1408,"width":1456},"type":"n8n-nodes-base.stickyNote","position":[-6304,2928],"typeVersion":1,"id":"c7d7deb6-1c98-4141-885a-88ab52678d62","name":"Sticky Note14"},{"parameters":{"content":"#  LangChain Memory & Code of Conduct Agent\n## Initializes memory context and configures the LangChain AI Agent.\n\n## Program Overview Memory1: Stores conversation memory using Postgres.\n\n## Code of Conduct Agent: Central AI agent with strict system message for tool usage.\n\n## OpenAI Chat Model7: Assigned as the agent’s core language model.\n\n# RAGTOOL – Vector Retrieval Tool (Orange)\n  ##Retrieves nonprofit document references from Pinecone to ensure tone alignment.\n\n\n\n\n","height":1408,"width":1408,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-4784,2912],"typeVersion":1,"id":"2c692a50-3ddc-4984-9d72-7f205cd2f873","name":"Sticky Note15"},{"parameters":{"content":"# Markdown to HTML \n## Converts markdown-format SOP into styled HTML for Google Drive compatibility.\n\n# Prepare Upload Fields \n## Sets file name, folder ID, and HTML content for Google Docs upload.\n\n# Multipart Builder \n## Formats HTML and metadata into multipart format for Drive upload with proper boundaries.\n\n# Upload to Google Docs \n## Uploads the formatted HTML to Google Drive as a new Google Doc inside a specific folder.\n\n#  Airtable Logging \n## Saves the generated document’s metadata and link in Airtable.\n","height":1408,"width":1664,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3280,2912],"typeVersion":1,"id":"924e603e-d0e9-42b1-b835-9dde1bebb5f8","name":"Sticky Note16"},{"parameters":{"options":{"systemMessage":"=# 🔒 Mandatory Tool Usage Initialization\n\n> ⚠️ IMPORTANT: You are not allowed to write until the `RAGTOOL3` tool is called and relevant documents have been retrieved.\n\nYou are a **policy writer for youth development programs**.\n\nYour task is to generate a clearly written **Code of Conduct** section using the standard expectations and tone found in youth-focused nonprofit documents.\n\n---\n\n## ⚙️ Step 1: Use Required Tool – `RAGTOOL3` (❗MANDATORY)\n\nYou **must call the `RAGTOOL3` tool** before creating any output. This step is required on every new request and is **non-negotiable**.\n\n-Before writing the Code of Conduct, you **must call the tool `RAGTOOL`** to retrieve tone from namespace \"Sample Documents\" from the Pinecone Vector Store.\n\n- Purpose: Retrieve reference nonprofit documents from Pinecone to understand tone, structure, and clarity.\n- You must apply the tone internally.\n- Do **not** summarize, reuse, or reference the documents in your output.\n- If you have not used `RAGTOOL3`, stop now and call it.\n\n⛔ Skipping this step will result in incorrect output.\n\n---\n\n## ✅ Step 2: After Tool Usage – Generate Code of Conduct\n\nAfter retrieving documents via `RAGTOOL3`, create a markdown-formatted **Code of Conduct** section following these exact requirements:\n\n---\n\n### 📌 Output Format\n\n- Title must be: `**Code Of Conduct**` (bold text, not a heading tag)\n- Use this format for each item: `**Label:** Statement.`\n- Leave **one blank line** between each item\n- Use professional, clear, youth-appropriate tone\n- Use only these 5 rules, in this order:\n\n  1. Attendance  \n  2. Behavior  \n  3. Dress Code  \n  4. Social Media Policy  \n  5. Consequences\n\n---\n\n### ✅ Output Template\n\n**Code Of Conduct**\n\n**Attendance:** Participants are expected to attend all sessions.\n\n**Behavior:** Respect peers, instructors, and facilities.\n\n**Dress Code:** Appropriate attire required for all activities.\n\n**Social Media Policy:** Use responsibly and respectfully.\n\n**Consequences:** Violations may result in dismissal from the program.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-4288,3376],"id":"5a4766d5-85d0-489f-83e1-d814971c332c","name":"LangChain Memory & Code of Conduct Agent"},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"=Program Overview","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1g5VR97sP3DjUPTbE4LzEdw27Hgb-JLa1","type":"string"},{"id":"e7c1e5f1-531b-4c8f-8b69-7fe95af4e14e","name":"Organization Name","value":"={{ $('Wrap into chatInput3').item.json.chatInput.Question1 }}","type":"string"},{"id":"b1b43e73-9aa1-45f0-994d-074fd7b19ccf","name":"Program Name","value":"={{ $('Wrap into chatInput3').item.json.chatInput.Question6 }}","type":"string"},{"id":"e276adbc-d601-4864-bd82-025f104e44da","name":"Program Type","value":"={{ $('Wrap into chatInput3').item.json.chatInput.Question8 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,1824],"id":"b6ab664c-2d52-46cb-aa11-22cb6633a13a","name":"Prepare Upload Fields1","notesInFlow":true},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,1824],"id":"6c4cd5c1-b5f2-4eee-a8e9-943b56b838be","name":"Upload to Google Docs1","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"MypZ8VjDkpJt7tQw","name":"Usman's Account"}}},{"parameters":{"jsCode":"// Simple HTML to Google Drive converter with link preservation\nconst boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\n// Process HTML to ensure links are preserved\nfunction preserveLinks(htmlContent) {\n    // Ensure all links have proper attributes for Google Drive\n    let processedHtml = htmlContent;\n    \n    // Fix any malformed or incomplete link tags\n    processedHtml = processedHtml.replace(/<a\\s+href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi, '<a href=\"$1\">$2</a>');\n    \n    // Ensure links have proper protocol\n    processedHtml = processedHtml.replace(/<a\\s+href=[\"'](?!https?:\\/\\/|mailto:|tel:)([^\"']+)[\"']>/gi, '<a href=\"https://$1\">');\n    \n    return processedHtml;\n}\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\n// Process the HTML content to preserve links\nconst processedHtmlContent = preserveLinks(htmlContent);\n\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n    h2 {\n      margin-top: 20pt;\n    }\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n    /* Ensure links are styled properly for Google Drive */\n    a {\n      color: #1155cc;\n      text-decoration: underline;\n    }\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${processedHtmlContent}\n</body>\n</html>\n`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body \n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2560,1824],"id":"33f2d407-bf13-4e45-93aa-e8d17a3b252c","name":"Build Google Docs Request1"},{"parameters":{"jsCode":"// Simple HTML to Google Drive converter with link preservation\nconst boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\n// Process HTML to ensure links are preserved\nfunction preserveLinks(htmlContent) {\n    // Ensure all links have proper attributes for Google Drive\n    let processedHtml = htmlContent;\n    \n    // Fix any malformed or incomplete link tags\n    processedHtml = processedHtml.replace(/<a\\s+href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi, '<a href=\"$1\">$2</a>');\n    \n    // Ensure links have proper protocol\n    processedHtml = processedHtml.replace(/<a\\s+href=[\"'](?!https?:\\/\\/|mailto:|tel:)([^\"']+)[\"']>/gi, '<a href=\"https://$1\">');\n    \n    return processedHtml;\n}\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\n// Process the HTML content to preserve links\nconst processedHtmlContent = preserveLinks(htmlContent);\n\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n    h2 {\n      margin-top: 20pt;\n    }\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n    /* Ensure links are styled properly for Google Drive */\n    a {\n      color: #1155cc;\n      text-decoration: underline;\n    }\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${processedHtmlContent}\n</body>\n</html>\n`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body \n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2384,-2320],"id":"97ab6c7b-3b13-4c9e-a2e2-ac194cd5b4c0","name":"Build Google Docs Request3"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl8IgDuAc8CynAuh","mode":"list","cachedResultName":"Program-Intake","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl8IgDuAc8CynAuh"},"columns":{"mappingMode":"defineBelow","value":{"SOP-Doc-Link":"=https://docs.google.com/document/d/{{ $json.id }}/edit?tab=t.0","RecordId":"={{ $('Get a record1').item.json.RecordId }}"},"matchingColumns":["RecordId"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"RecordId","displayName":"RecordId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SOP-Doc-Link","displayName":"SOP-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Roles & Responsibilities Matrix-Doc-Link","displayName":"Roles & Responsibilities Matrix-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Program Overview-Doc-link","displayName":"Program Overview-Doc-link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Code of Conduct-Doc-Link","displayName":"Code of Conduct-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Media Release Form-Doc-Link","displayName":"Media Release Form-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question1","displayName":"Question1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question2","displayName":"Question2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question3","displayName":"Question3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question4","displayName":"Question4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Youth Development","value":"Youth Development"},{"name":"Workforce","value":"Workforce"},{"name":"Housing","value":"Housing"},{"name":"Health","value":"Health"}],"readOnly":false,"removed":true},{"id":"Question5","displayName":"Question5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question6","displayName":"Question6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question7","displayName":"Question7","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question8","displayName":"Question8","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Training","value":"Training"},{"name":"Mentorship","value":"Mentorship"},{"name":"Scholarship","value":"Scholarship"},{"name":"Community","value":"Community"},{"name":"Outreach","value":"Outreach"}],"readOnly":false,"removed":true},{"id":"Question9","displayName":"Question9","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question10","displayName":"Question10","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"8 weeks","value":"8 weeks"},{"name":"ongoing","value":"ongoing"},{"name":"6 months","value":"6 months"}],"readOnly":false,"removed":true},{"id":"Question11","displayName":"Question11","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Weekly","value":"Weekly"},{"name":"Daily","value":"Daily"},{"name":"Monthly","value":"Monthly"}],"readOnly":false,"removed":true},{"id":"Question12","displayName":"Question12","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question13","displayName":"Question13","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question14","displayName":"Question14","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question15","displayName":"Question15","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Program Manager","value":"Program Manager"},{"name":"Lead Instructor","value":"Lead Instructor"},{"name":"Teaching Assistant","value":"Teaching Assistant"},{"name":"Guest Mentor","value":"Guest Mentor"}],"readOnly":false,"removed":true},{"id":"Question16","displayName":"Question16","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question17","displayName":"Question17","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question18","displayName":"Question18","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question19","displayName":"Question19","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1952,-2320],"id":"fda04212-776f-4c62-9404-b6985c2d2d1d","name":"Airtable Logging","credentials":{"airtableTokenApi":{"id":"c6IbQTcvLSXeD2At","name":"Client-Main-Precise-Grant"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"code-of-conduct-document","tableName":"n8n_code_of_conduct_document_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4128,3648],"id":"8bb59fb1-0f28-473d-97cc-9d58e6ff52f8","name":"Code Of Conduct Memory","credentials":{"postgres":{"id":"RVvoTUjJJ1ESHsVt","name":"Precise-grant"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{"pineconeNamespace":"Sample Documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-4080,6000],"id":"96430b45-ff9c-44b8-b4f2-9ce401edce44","name":"Pinecone Vector Store2","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-4080,6208],"id":"1773654d-1ff0-4c37-b817-a3d2fd5c71eb","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=🔐 Mandatory Tool Usage Enforcement Prompt\n⚠️ IMPORTANT: You are NOT allowed to generate any output until the required RAGTOOL5 tool has been used to retrieve legal tone and formatting standards found in nonprofit youth program documents.\n\nYou are an AI assistant tasked with drafting a Media Release Form for a nonprofit youth program. Follow the instructions below strictly and sequentially:\n\n-Before writing the  Media Release Form Generation, you **must call the tool `RAGTOOL`** to retrieve tone from namespace \"Sample Documents\" from the Pinecone Vector Store.\n\n✅ Step 1: Use Required Tool — RAGTOOL5\nCall the RAGTOOL5 tool before doing anything else.\nUse it to fetch tone and style guidance relevant to nonprofit documentation or the provided program information.\n\nDO NOT SKIP THIS STEP. The Media Release Form must reflect the tone/style retrieved by RAGTOOL5.\n\n✅ Step 2: Generate Media Release Form (Template-Based)\nOnce the tone/style is retrieved, use the following fixed template to generate the form:\n\nReplace:\n\n[Participant Name] → insert actual participant name\n\n{{ $json.chatInput.Question1 }} → insert actual organization name\n\n{{ $json.chatInput.Question6 }} → insert actual program name\n\nFont must be Arial\n\nAll text must be bold\n\nNO extra output allowed – do not add explanations, summaries, notes, or formatting hints\n\nNo extra line breaks, spaces, or characters outside the template\n\n\n🖨️ Template (Bold, Arial Font Only):\n\n\nMedia Release Form\n\nI, [Participant Name], grant [organizationName] permission to use photographs, videotapes, or audio recordings of me that were taken over the course of the [programName] for promotional, educational, and/or commemorative purposes. I understand that the material may be used in various publications, public affairs releases, recruitment materials, broadcast public service advertising (PSAs), or for other related endeavors. This material may also appear on the \"organizationName\" website, social platforms, or both.\n\nParticipant Signature: __________________________  \nDate: __________________________  \nParent/Guardian Signature (if under 18): __________________________\n⛔ Do Not:\nGenerate any part of the form without using RAGTOOL5\n\nChange the template structure\n\nUse any font other than Arial\n\nSkip bold formatting\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-4320,5440],"id":"7b5bd060-566e-470e-b046-cce08e1e9449","name":"LangChain Memory & Media Release Form Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"media-release-form-document","tableName":"n8n_media_release_form_document_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4144,5696],"id":"7b3b3895-f0b0-4720-85ad-90895f342ed6","name":"Media Release Form Memory","credentials":{"postgres":{"id":"RVvoTUjJJ1ESHsVt","name":"Precise-grant"}}},{"parameters":{"description":"=Your Work is to fetch the tone of content which you get from the pinecone Vector Store.","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-4016,5744],"id":"2ee8e5c2-0c4a-46b8-9af8-a0e7335c654a","name":"RAGTOOL5"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4304,5696],"id":"8ee904ae-412a-4a8b-b012-94cbcb21c4a5","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-2912,5968],"id":"5b11176e-9589-4f8f-b582-334cf24a1566","name":"Convert Markdown to HTML3"},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"=Media Release Form","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1g5VR97sP3DjUPTbE4LzEdw27Hgb-JLa1","type":"string"},{"id":"e7c1e5f1-531b-4c8f-8b69-7fe95af4e14e","name":"Organization Name","value":"={{ $('Wrap into chatInput4').item.json.chatInput.Question1 }}","type":"string"},{"id":"b1b43e73-9aa1-45f0-994d-074fd7b19ccf","name":"Program Name","value":"={{ $('Wrap into chatInput4').item.json.chatInput.Question6 }}","type":"string"},{"id":"e276adbc-d601-4864-bd82-025f104e44da","name":"Program Type","value":"={{ $('Wrap into chatInput4').item.json.chatInput.Question8 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2688,5968],"id":"d929ca66-7355-4c22-8e2a-3ab48f1724a1","name":"Set Document Metadata3","notesInFlow":true},{"parameters":{"jsCode":"// Simple HTML to Google Drive converter with enhancements\nconst boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\n// Process HTML: fix links, bold title, add signature dashes\nfunction processHtml(htmlContent) {\n  let html = htmlContent;\n\n  // 1. Preserve and normalize links\n  html = html\n    .replace(/<a\\s+href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi, '<a href=\"$1\">$2</a>')\n    .replace(/<a\\s+href=[\"'](?!https?:\\/\\/|mailto:|tel:)([^\"']+)[\"']>/gi, '<a href=\"https://$1\">');\n\n  // 2. Bold the title \"Media Release Form\" if not already\n  html = html.replace(\n    /<p>(\\s*)Media Release Form(\\s*)<\\/p>/i,\n    '<p><strong>Media Release Form</strong></p>'\n  );\n\n  // 3. Add dashed lines after signature fields\n  html = html.replace(/Participant Signature:\\s*/i, 'Participant Signature: __________________');\n  html = html.replace(/Date:\\s*/i, 'Date: __________________');\n  html = html.replace(/Parent\\/Guardian Signature \\(if under 18\\):\\s*/i, 'Parent/Guardian Signature (if under 18): __________________');\n\n  return html;\n}\n\nconst processedHtmlContent = processHtml(htmlContent);\n\n// Prepare metadata for Drive upload\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\n// Apply HTML styling and wrap processed content\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    p, ul, ol, table, h1, h2, h3, h4, h5, h6 {\n      margin-bottom: 10pt;\n    }\n    h2 {\n      margin-top: 20pt;\n    }\n    li {\n      margin-bottom: 2pt;\n    }\n    a {\n      color: #1155cc;\n      text-decoration: underline;\n    }\n  </style>\n</head>\n<body>\n  ${processedHtmlContent}\n</body>\n</html>\n`;\n\n// Construct multipart body with HTML and metadata\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n\\r\\n`;\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n\\r\\n`;\nbody += `${htmlWithStyles}\\r\\n`;\nbody += `--${boundary}--\\r\\n`;\n\nreturn {\n  rawData: body\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2480,5968],"id":"46e389a1-8478-4538-85c3-b1f60d2b3b4f","name":"Build Google Docs Request4"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2272,5968],"id":"42b31a71-929d-4a02-8b26-b6cb08444743","name":"Upload Google Doc3","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"MypZ8VjDkpJt7tQw","name":"Usman's Account"}}},{"parameters":{"content":"\n\n# Media Release Form Generation Workflow\n","height":1776,"width":5152,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-6448,4816],"typeVersion":1,"id":"0ae7aa98-e80f-438c-b4fa-2d73cc373650","name":"Sticky Note17"},{"parameters":{"content":"# Sample Intake Data:\t\n## Provides sample structured intake data for testing the AI agent.\n\t\n\n\n# Wrap Chat Input\t\t\n## Wraps the input data under a chatInput key so it matches the structure expected in the AI agent prompt.","height":1408,"width":1456},"type":"n8n-nodes-base.stickyNote","position":[-6336,4960],"typeVersion":1,"id":"d0bb4f08-fe1b-490c-a96c-a5507f3c7e06","name":"Sticky Note18"},{"parameters":{"content":"#   Media Release Form Generation\n## Initializes memory context and configures the LangChain AI Agent.\n\n## Media Release Memory: Stores conversation memory using Postgres.\n\n## Media Release Agent: Central AI agent with strict system message for tool usage.\n\n## OpenAI Chat Model7: Assigned as the agent’s core language model.\n\n# RAGTOOL – Vector Retrieval Tool (Orange)\n  ##Retrieves nonprofit document references from Pinecone to ensure tone alignment.\n\n\n\n\n","height":1408,"width":1408,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-4800,4960],"typeVersion":1,"id":"5429bccf-25a3-4935-85dc-6fb08d8e25bc","name":"Sticky Note19"},{"parameters":{"content":"# Markdown to HTML \n## Converts markdown-format SOP into styled HTML for Google Drive compatibility.\n\n# Prepare Upload Fields \n## Sets file name, folder ID, and HTML content for Google Docs upload.\n\n# Multipart Builder \n## Formats HTML and metadata into multipart format for Drive upload with proper boundaries.\n\n# Upload to Google Docs \n## Uploads the formatted HTML to Google Drive as a new Google Doc inside a specific folder.\n\n#  Airtable Logging \n## Saves the generated document’s metadata and link in Airtable.\n","height":1408,"width":1664,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3296,4960],"typeVersion":1,"id":"91fa63ad-f4cb-43d0-ba0a-9e3adc23b727","name":"Sticky Note20"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3696,5968],"id":"6ab35316-5671-4b5f-8c7d-50de45174c0f","name":"OpenAI Chat Model9","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"79747972-8248-4e82-9764-bbf88d93ace4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-11728,400],"id":"8177bc0e-a729-46f5-948f-8a26511906ce","name":"Webhook","webhookId":"79747972-8248-4e82-9764-bbf88d93ace4","disabled":true},{"parameters":{"base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl8IgDuAc8CynAuh","mode":"list","cachedResultName":"Program-Intake","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl8IgDuAc8CynAuh"},"id":"={{ $json.body.record_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-4896,-2592],"id":"f8d5c141-87f9-4c4e-811a-ec2b6c8cc2e2","name":"Get a record1","credentials":{"airtableTokenApi":{"id":"c6IbQTcvLSXeD2At","name":"Client-Main-Precise-Grant"}}},{"parameters":{"base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl8IgDuAc8CynAuh","mode":"list","cachedResultName":"Program-Intake","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl8IgDuAc8CynAuh"},"id":"={{ $json.body.record_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-5232,-720],"id":"80a6ca0e-c9b5-4450-aa05-087ef3026e27","name":"Get a record","credentials":{"airtableTokenApi":{"id":"c6IbQTcvLSXeD2At","name":"Client-Main-Precise-Grant"}}},{"parameters":{"base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl8IgDuAc8CynAuh","mode":"list","cachedResultName":"Program-Intake","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl8IgDuAc8CynAuh"},"id":"={{ $json.body.record_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-5776,1408],"id":"c231d7fd-7de7-4b45-9b31-032f0fa264bc","name":"Get a record2","credentials":{"airtableTokenApi":{"id":"c6IbQTcvLSXeD2At","name":"Client-Main-Precise-Grant"}}},{"parameters":{"base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl8IgDuAc8CynAuh","mode":"list","cachedResultName":"Program-Intake","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl8IgDuAc8CynAuh"},"id":"={{ $json.body.record_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-5776,3232],"id":"5ff57d0e-e516-4712-953f-b422589f7ec8","name":"Get a record3","credentials":{"airtableTokenApi":{"id":"c6IbQTcvLSXeD2At","name":"Client-Main-Precise-Grant"}}},{"parameters":{"base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl8IgDuAc8CynAuh","mode":"list","cachedResultName":"Program-Intake","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl8IgDuAc8CynAuh"},"id":"={{ $json.body.record_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-5904,5280],"id":"dbf55555-b3ab-4d15-bcba-ca156b927e81","name":"Get a record4","credentials":{"airtableTokenApi":{"id":"c6IbQTcvLSXeD2At","name":"Client-Main-Precise-Grant"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl8IgDuAc8CynAuh","mode":"list","cachedResultName":"Program-Intake","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl8IgDuAc8CynAuh"},"columns":{"mappingMode":"defineBelow","value":{"Roles & Responsibilities Matrix-Doc-Link":"=https://docs.google.com/document/d/{{ $json.id }}/edit?tab=t.0","RecordId":"={{ $('Get a record').item.json.RecordId }}"},"matchingColumns":["RecordId"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"RecordId","displayName":"RecordId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SOP-Doc-Link","displayName":"SOP-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Roles & Responsibilities Matrix-Doc-Link","displayName":"Roles & Responsibilities Matrix-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Program Overview-Doc-link","displayName":"Program Overview-Doc-link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Code of Conduct-Doc-Link","displayName":"Code of Conduct-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Media Release Form-Doc-Link","displayName":"Media Release Form-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question1","displayName":"Question1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question2","displayName":"Question2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question3","displayName":"Question3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question4","displayName":"Question4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Youth Development","value":"Youth Development"},{"name":"Workforce","value":"Workforce"},{"name":"Housing","value":"Housing"},{"name":"Health","value":"Health"}],"readOnly":false,"removed":true},{"id":"Question5","displayName":"Question5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question6","displayName":"Question6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question7","displayName":"Question7","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question8","displayName":"Question8","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Training","value":"Training"},{"name":"Mentorship","value":"Mentorship"},{"name":"Scholarship","value":"Scholarship"},{"name":"Community","value":"Community"},{"name":"Outreach","value":"Outreach"}],"readOnly":false,"removed":true},{"id":"Question9","displayName":"Question9","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question10","displayName":"Question10","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"8 weeks","value":"8 weeks"},{"name":"ongoing","value":"ongoing"},{"name":"6 months","value":"6 months"}],"readOnly":false,"removed":true},{"id":"Question11","displayName":"Question11","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Weekly","value":"Weekly"},{"name":"Daily","value":"Daily"},{"name":"Monthly","value":"Monthly"}],"readOnly":false,"removed":true},{"id":"Question12","displayName":"Question12","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question13","displayName":"Question13","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question14","displayName":"Question14","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question15","displayName":"Question15","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Program Manager","value":"Program Manager"},{"name":"Lead Instructor","value":"Lead Instructor"},{"name":"Teaching Assistant","value":"Teaching Assistant"},{"name":"Guest Mentor","value":"Guest Mentor"}],"readOnly":false,"removed":true},{"id":"Question16","displayName":"Question16","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question17","displayName":"Question17","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question18","displayName":"Question18","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question19","displayName":"Question19","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1824,-224],"id":"2529bdc3-c06b-4bb5-9342-8a20d2e494fb","name":"Airtable Logging5","credentials":{"airtableTokenApi":{"id":"c6IbQTcvLSXeD2At","name":"Client-Main-Precise-Grant"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl8IgDuAc8CynAuh","mode":"list","cachedResultName":"Program-Intake","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl8IgDuAc8CynAuh"},"columns":{"mappingMode":"defineBelow","value":{"RecordId":"={{ $('Get a record2').item.json.RecordId }}","Program Overview-Doc-link":"=https://docs.google.com/document/d/{{ $json.id }}/edit?tab=t.0"},"matchingColumns":["RecordId"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"RecordId","displayName":"RecordId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SOP-Doc-Link","displayName":"SOP-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Roles & Responsibilities Matrix-Doc-Link","displayName":"Roles & Responsibilities Matrix-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Program Overview-Doc-link","displayName":"Program Overview-Doc-link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Code of Conduct-Doc-Link","displayName":"Code of Conduct-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Media Release Form-Doc-Link","displayName":"Media Release Form-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question1","displayName":"Question1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question2","displayName":"Question2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question3","displayName":"Question3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question4","displayName":"Question4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Youth Development","value":"Youth Development"},{"name":"Workforce","value":"Workforce"},{"name":"Housing","value":"Housing"},{"name":"Health","value":"Health"}],"readOnly":false,"removed":true},{"id":"Question5","displayName":"Question5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question6","displayName":"Question6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question7","displayName":"Question7","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question8","displayName":"Question8","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Training","value":"Training"},{"name":"Mentorship","value":"Mentorship"},{"name":"Scholarship","value":"Scholarship"},{"name":"Community","value":"Community"},{"name":"Outreach","value":"Outreach"}],"readOnly":false,"removed":true},{"id":"Question9","displayName":"Question9","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question10","displayName":"Question10","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"8 weeks","value":"8 weeks"},{"name":"ongoing","value":"ongoing"},{"name":"6 months","value":"6 months"}],"readOnly":false,"removed":true},{"id":"Question11","displayName":"Question11","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Weekly","value":"Weekly"},{"name":"Daily","value":"Daily"},{"name":"Monthly","value":"Monthly"}],"readOnly":false,"removed":true},{"id":"Question12","displayName":"Question12","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question13","displayName":"Question13","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question14","displayName":"Question14","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question15","displayName":"Question15","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Program Manager","value":"Program Manager"},{"name":"Lead Instructor","value":"Lead Instructor"},{"name":"Teaching Assistant","value":"Teaching Assistant"},{"name":"Guest Mentor","value":"Guest Mentor"}],"readOnly":false,"removed":true},{"id":"Question16","displayName":"Question16","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question17","displayName":"Question17","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question18","displayName":"Question18","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question19","displayName":"Question19","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2096,1824],"id":"aaad8a48-5a71-41e1-b971-b8b8965df77d","name":"Airtable Logging1","credentials":{"airtableTokenApi":{"id":"c6IbQTcvLSXeD2At","name":"Client-Main-Precise-Grant"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl8IgDuAc8CynAuh","mode":"list","cachedResultName":"Program-Intake","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl8IgDuAc8CynAuh"},"columns":{"mappingMode":"defineBelow","value":{"RecordId":"={{ $('Get a record3').item.json.RecordId }}","Code of Conduct-Doc-Link":"=https://docs.google.com/document/d/{{ $json.id }}/edit?tab=t.0"},"matchingColumns":["RecordId"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"RecordId","displayName":"RecordId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SOP-Doc-Link","displayName":"SOP-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Roles & Responsibilities Matrix-Doc-Link","displayName":"Roles & Responsibilities Matrix-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Program Overview-Doc-link","displayName":"Program Overview-Doc-link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Code of Conduct-Doc-Link","displayName":"Code of Conduct-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Media Release Form-Doc-Link","displayName":"Media Release Form-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question1","displayName":"Question1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question2","displayName":"Question2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question3","displayName":"Question3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question4","displayName":"Question4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Youth Development","value":"Youth Development"},{"name":"Workforce","value":"Workforce"},{"name":"Housing","value":"Housing"},{"name":"Health","value":"Health"}],"readOnly":false,"removed":true},{"id":"Question5","displayName":"Question5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question6","displayName":"Question6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question7","displayName":"Question7","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question8","displayName":"Question8","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Training","value":"Training"},{"name":"Mentorship","value":"Mentorship"},{"name":"Scholarship","value":"Scholarship"},{"name":"Community","value":"Community"},{"name":"Outreach","value":"Outreach"}],"readOnly":false,"removed":true},{"id":"Question9","displayName":"Question9","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question10","displayName":"Question10","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"8 weeks","value":"8 weeks"},{"name":"ongoing","value":"ongoing"},{"name":"6 months","value":"6 months"}],"readOnly":false,"removed":true},{"id":"Question11","displayName":"Question11","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Weekly","value":"Weekly"},{"name":"Daily","value":"Daily"},{"name":"Monthly","value":"Monthly"}],"readOnly":false,"removed":true},{"id":"Question12","displayName":"Question12","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question13","displayName":"Question13","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question14","displayName":"Question14","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question15","displayName":"Question15","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Program Manager","value":"Program Manager"},{"name":"Lead Instructor","value":"Lead Instructor"},{"name":"Teaching Assistant","value":"Teaching Assistant"},{"name":"Guest Mentor","value":"Guest Mentor"}],"readOnly":false,"removed":true},{"id":"Question16","displayName":"Question16","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question17","displayName":"Question17","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question18","displayName":"Question18","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question19","displayName":"Question19","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2032,3920],"id":"e1cdbf51-0a9c-4438-8f53-44e03b5b533e","name":"Airtable Logging2","credentials":{"airtableTokenApi":{"id":"c6IbQTcvLSXeD2At","name":"Client-Main-Precise-Grant"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl8IgDuAc8CynAuh","mode":"list","cachedResultName":"Program-Intake","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl8IgDuAc8CynAuh"},"columns":{"mappingMode":"defineBelow","value":{"RecordId":"={{ $('Get a record4').item.json.RecordId }}","Media Release Form-Doc-Link":"=https://docs.google.com/document/d/{{ $json.id }}/edit?tab=t.0"},"matchingColumns":["RecordId"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"RecordId","displayName":"RecordId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SOP-Doc-Link","displayName":"SOP-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Roles & Responsibilities Matrix-Doc-Link","displayName":"Roles & Responsibilities Matrix-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Program Overview-Doc-link","displayName":"Program Overview-Doc-link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Code of Conduct-Doc-Link","displayName":"Code of Conduct-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Media Release Form-Doc-Link","displayName":"Media Release Form-Doc-Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Question1","displayName":"Question1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question2","displayName":"Question2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question3","displayName":"Question3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question4","displayName":"Question4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Youth Development","value":"Youth Development"},{"name":"Workforce","value":"Workforce"},{"name":"Housing","value":"Housing"},{"name":"Health","value":"Health"}],"readOnly":false,"removed":true},{"id":"Question5","displayName":"Question5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question6","displayName":"Question6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question7","displayName":"Question7","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question8","displayName":"Question8","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Training","value":"Training"},{"name":"Mentorship","value":"Mentorship"},{"name":"Scholarship","value":"Scholarship"},{"name":"Community","value":"Community"},{"name":"Outreach","value":"Outreach"}],"readOnly":false,"removed":true},{"id":"Question9","displayName":"Question9","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question10","displayName":"Question10","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"8 weeks","value":"8 weeks"},{"name":"ongoing","value":"ongoing"},{"name":"6 months","value":"6 months"}],"readOnly":false,"removed":true},{"id":"Question11","displayName":"Question11","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Weekly","value":"Weekly"},{"name":"Daily","value":"Daily"},{"name":"Monthly","value":"Monthly"}],"readOnly":false,"removed":true},{"id":"Question12","displayName":"Question12","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question13","displayName":"Question13","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question14","displayName":"Question14","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question15","displayName":"Question15","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Program Manager","value":"Program Manager"},{"name":"Lead Instructor","value":"Lead Instructor"},{"name":"Teaching Assistant","value":"Teaching Assistant"},{"name":"Guest Mentor","value":"Guest Mentor"}],"readOnly":false,"removed":true},{"id":"Question16","displayName":"Question16","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question17","displayName":"Question17","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question18","displayName":"Question18","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question19","displayName":"Question19","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2032,5968],"id":"4a7580e0-7827-4582-ac4a-ae90b4f4a103","name":"Airtable Logging3","credentials":{"airtableTokenApi":{"id":"c6IbQTcvLSXeD2At","name":"Client-Main-Precise-Grant"}}},{"parameters":{"jsCode":"// Wrap each incoming item inside a `chatInput` key\nreturn items.map(item => {\n  return {\n    json: {\n      chatInput: item.json\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4976,-720],"id":"3cb07b6d-bae2-42c9-886e-a28b34a6664d","name":"Wrap into chatInput1"},{"parameters":{"jsCode":"// Wrap each incoming item inside a `chatInput` key\nreturn items.map(item => {\n  return {\n    json: {\n      chatInput: item.json\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,1408],"id":"a11b8c1e-ffe6-4b6b-ad24-f6f4f9cc1ed4","name":"Wrap into chatInput3"},{"parameters":{"jsCode":"// Wrap each incoming item inside a `chatInput` key\nreturn items.map(item => {\n  return {\n    json: {\n      chatInput: item.json\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5536,3232],"id":"fcf83a6c-3a0d-46ca-b464-e25ba31e5043","name":"Wrap into chatInput2"},{"parameters":{"jsCode":"// Wrap each incoming item inside a `chatInput` key\nreturn items.map(item => {\n  return {\n    json: {\n      chatInput: item.json\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,5280],"id":"ca562313-e950-4bca-b1cb-a8cd38cc2908","name":"Wrap into chatInput4"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"Wrap into chatInput":{"main":[[{"node":"SOP Agent2","type":"main","index":0}]]},"Prepare Upload Fields":{"main":[[{"node":"Build Google Docs Request3","type":"main","index":0}]]},"Markdown2":{"main":[[{"node":"Prepare Upload Fields","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"SOP Agent2","type":"ai_languageModel","index":0}]]},"SOP Agent2":{"main":[[{"node":"Markdown2","type":"main","index":0}]]},"Roles & Responsibilities Matrix Agent":{"main":[[{"node":"Convert Markdown to HTML","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Roles & Responsibilities Matrix Agent","type":"ai_languageModel","index":0}]]},"Convert Markdown to HTML":{"main":[[{"node":"Enhance HTML Table Style","type":"main","index":0}]]},"Enhance HTML Table Style":{"main":[[{"node":"Set Document Metadata","type":"main","index":0}]]},"Set Document Metadata":{"main":[[{"node":"Build Google Docs Request","type":"main","index":0}]]},"Build Google Docs Request":{"main":[[{"node":"Upload Google Doc","type":"main","index":0}]]},"Upload Google Doc":{"main":[[{"node":"Airtable Logging5","type":"main","index":0}]]},"SOP Document Memory":{"ai_memory":[[]]},"Roles & Responsibilities Matrix Memory":{"ai_memory":[[]]},"Upload to Google Docs":{"main":[[{"node":"Airtable Logging","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"RAGTOOL","type":"ai_languageModel","index":0}]]},"RAGTOOL":{"ai_tool":[[{"node":"SOP Agent2","type":"ai_tool","index":0}]]},"Pinecone Vector Store5":{"ai_vectorStore":[[{"node":"RAGTOOL","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI6":{"ai_embedding":[[{"node":"Pinecone Vector Store5","type":"ai_embedding","index":0}]]},"Program Overview Agent":{"main":[[{"node":"Convert Markdown to HTML1","type":"main","index":0}]]},"Program Overview Memory":{"ai_memory":[[]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Program Overview Agent","type":"ai_languageModel","index":0}]]},"Convert Markdown to HTML1":{"main":[[{"node":"Prepare Upload Fields1","type":"main","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"RAGTOOL1","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store6":{"ai_vectorStore":[[{"node":"RAGTOOL1","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI8":{"ai_embedding":[[{"node":"Pinecone Vector Store6","type":"ai_embedding","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"LangChain Memory & Code of Conduct Agent","type":"ai_languageModel","index":0}]]},"Convert Markdown to HTML2":{"main":[[{"node":"Set Document Metadata2","type":"main","index":0}]]},"Set Document Metadata2":{"main":[[{"node":"Build Google Docs Request2","type":"main","index":0}]]},"Build Google Docs Request2":{"main":[[{"node":"Upload Google Doc2","type":"main","index":0}]]},"Upload Google Doc2":{"main":[[{"node":"Airtable Logging2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAGTOOL3","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"RAGTOOL3","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"RAGTOOL3":{"ai_tool":[[{"node":"Program Overview Agent","type":"ai_tool","index":0}]]},"RAGTOOL1":{"ai_tool":[[{"node":"Roles & Responsibilities Matrix Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"RAGTOOL4","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"RAGTOOL4","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"RAGTOOL4":{"ai_tool":[[{"node":"LangChain Memory & Code of Conduct Agent","type":"ai_tool","index":0}]]},"LangChain Memory & Code of Conduct Agent":{"main":[[{"node":"Convert Markdown to HTML2","type":"main","index":0}]]},"Prepare Upload Fields1":{"main":[[{"node":"Build Google Docs Request1","type":"main","index":0}]]},"Upload to Google Docs1":{"main":[[{"node":"Airtable Logging1","type":"main","index":0}]]},"Build Google Docs Request1":{"main":[[{"node":"Upload to Google Docs1","type":"main","index":0}]]},"Build Google Docs Request3":{"main":[[{"node":"Upload to Google Docs","type":"main","index":0}]]},"Code Of Conduct Memory":{"ai_memory":[[]]},"Pinecone Vector Store2":{"ai_vectorStore":[[{"node":"RAGTOOL5","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"LangChain Memory & Media Release Form Agent":{"main":[[{"node":"Convert Markdown to HTML3","type":"main","index":0}]]},"Media Release Form Memory":{"ai_memory":[[]]},"RAGTOOL5":{"ai_tool":[[{"node":"LangChain Memory & Media Release Form Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"LangChain Memory & Media Release Form Agent","type":"ai_languageModel","index":0}]]},"Convert Markdown to HTML3":{"main":[[{"node":"Set Document Metadata3","type":"main","index":0}]]},"Set Document Metadata3":{"main":[[{"node":"Build Google Docs Request4","type":"main","index":0}]]},"Build Google Docs Request4":{"main":[[{"node":"Upload Google Doc3","type":"main","index":0}]]},"Upload Google Doc3":{"main":[[{"node":"Airtable Logging3","type":"main","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"RAGTOOL5","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Get a record","type":"main","index":0},{"node":"Get a record2","type":"main","index":0},{"node":"Get a record3","type":"main","index":0},{"node":"Get a record4","type":"main","index":0},{"node":"Get a record1","type":"main","index":0}]]},"Get a record1":{"main":[[{"node":"Wrap into chatInput","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Wrap into chatInput1","type":"main","index":0}]]},"Get a record2":{"main":[[{"node":"Wrap into chatInput3","type":"main","index":0}]]},"Get a record3":{"main":[[{"node":"Wrap into chatInput2","type":"main","index":0}]]},"Get a record4":{"main":[[{"node":"Wrap into chatInput4","type":"main","index":0}]]},"Wrap into chatInput1":{"main":[[{"node":"Roles & Responsibilities Matrix Agent","type":"main","index":0}]]},"Wrap into chatInput3":{"main":[[{"node":"Program Overview Agent","type":"main","index":0}]]},"Wrap into chatInput2":{"main":[[{"node":"LangChain Memory & Code of Conduct Agent","type":"main","index":0}]]},"Wrap into chatInput4":{"main":[[{"node":"LangChain Memory & Media Release Form Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"462cc9f2-7061-4416-b8fe-23a512c6ec32","triggerCount":1,"tags":[]}