jamshed's-error-workflow-V3P9rqiDcvg0a6hX.json
{"createdAt":"2025-07-07T06:04:45.023Z","updatedAt":"2025-07-07T06:04:45.023Z","id":"V3P9rqiDcvg0a6hX","name":"Jamshed's Error Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"cf6402b9-e687-4383-8720-7d1b3884b5f3","name":"Error Trigger"},{"parameters":{"sendTo":"jamshed.irenictech@gmail.com","subject":"=Workflow {{ $json.workflow.name }} Failed\n","emailType":"text","message":"=Workflow: {{ $json.workflow.name }} is broken\nDate and time: {{ $now }}\nLast Node: {{ $json.execution.lastNodeExecuted }}\n\nDetails: {{ $json.execution.error.message }}\n\nDamn!!!\n\nError Stack: {{ $json.execution.error.stack }}","options":{"appendAttribution":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[220,0],"id":"dad7fd9f-69d7-4bbc-a8d6-5c035ca4cd23","name":"Send a message","webhookId":"ff79f94e-588d-4745-83c6-fce0839c920a"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-100,280],"id":"58cdee9e-c873-4296-ae0b-404ff3970d98","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"=Write a short fiction story about any superhero.","options":{"systemMessage":"=You are a story writer.\nWrite a short fiction story about any superhero."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[120,280],"id":"d75ef90a-d699-48c5-a83a-f0a525c17731","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,560],"id":"48b1cdb2-8067-4589-94b1-76ec87c401ac","name":"OpenAI Chat Model"}],"connections":{"Error Trigger":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f20c114a-f76a-4362-8706-1b2e6e3a437d","triggerCount":0,"tags":[]}