jamshed's-automation-emails,-calendar-via-voice-&-text-V6yYdWMXcuUYS8M6.json
{"createdAt":"2025-07-07T06:03:51.822Z","updatedAt":"2025-07-07T06:03:56.000Z","id":"V6yYdWMXcuUYS8M6","name":"Jamshed's Automation Emails, Calendar via voice & text","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-660,100],"id":"ef665cb8-2dbb-4004-b56a-39019d2b8913","name":"WhatsApp Trigger","webhookId":"aabe4be8-6647-4e60-bb26-fddd3f2821fa"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Role\nYou are an assistant with access to multiple tools.\n\n# Behavior\nYou respond concisely and succinctly in a friendly and approachable style.\n\n# Date and Time: {{ $now }}\n\n# Tools\nYou have access to multiple tools and always use the appropriate one depending on the task.\n\n## Gmail_Summary\nUse this tool to summarize emails.\n\n## Gmail_Send\nUse this tool to send emails. You sign every email with \"Arnie\" and never use empty placeholders for names.\nEnsure that emails are well-formatted with a proper body.\n\n## Calendar_Set\nUse this tool to schedule appointments in the calendar.\n\n## Calendar_Get\nUse this tool to find calendar events and inform me when I have an appointment."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[660,20],"id":"fdd116d9-aa57-48e8-8fab-9a999277569d","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"= {{  $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[660,400],"id":"20aa1474-088a-49c3-bd18-50bc9e03f020","name":"Simple Memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"7b2fd112-ccc1-46a2-9da9-9a09ce5e5ff7"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3b76325c-46f2-4504-bb05-36bde7544456","leftValue":"={{ $json.messages[0].audio.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-460,100],"id":"1c09f28f-d64e-44ca-a71e-d05daf1a48af","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"5eb3c553-2336-4e8c-abdf-1812c74c01e5","name":"text","value":"={{ $json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"180b31e0-f776-4c31-ae7b-e3a1850d7a49","name":"Edit Fields"},{"parameters":{"url":"=https://graph.facebook.com/v19.0/{{ $json.messages[0].audio.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAARsdKf662wBOZBCuu3ZBuTVZC79gdemGYu0NOO6HDZA0hOfFOO2WxcKqZBQDyFF5ZAZAcyjBfWXmsA8W96Bej3Ic8aKbmte7mxT9PK7zHm0hVMCgL5brM7s1HTX9f1TSXOuYAo1ZC3NeYOdpZBmE0p41suXWZAufKL6FU4xbSl4hIYjUdO9xQCibNYUIJFLzS5RQI8kyZCwlgfTcdly7gdI4efFukiZBbBbscTDTDX2JneKqgZDZD"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-220,380],"id":"646d2b40-0cbd-49c1-afe6-c44404078336","name":"Get Audio File URL"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAARsdKf662wBOZBCuu3ZBuTVZC79gdemGYu0NOO6HDZA0hOfFOO2WxcKqZBQDyFF5ZAZAcyjBfWXmsA8W96Bej3Ic8aKbmte7mxT9PK7zHm0hVMCgL5brM7s1HTX9f1TSXOuYAo1ZC3NeYOdpZBmE0p41suXWZAufKL6FU4xbSl4hIYjUdO9xQCibNYUIJFLzS5RQI8kyZCwlgfTcdly7gdI4efFukiZBbBbscTDTDX2JneKqgZDZD"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,380],"id":"dd924577-6d38-4bc5-bbc0-64604dbd73d6","name":"Get Binary File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,380],"id":"8457c8b4-4983-469a-8515-f0de74668f93","name":"Transcribe Audio"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,400],"id":"29791ebc-ebde-4242-993b-41d82ade1d40","name":"OpenAI Chat Model"},{"parameters":{"calendar":{"__rl":true,"value":"jamshed.irenictech@gmail.com","mode":"list","cachedResultName":"jamshed.irenictech@gmail.com"},"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1140,380],"id":"61a93096-e566-468c-8ba7-9f0b96de3429","name":"Calendar_Set"},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"maazfyp2020@gmail.com","mode":"list","cachedResultName":"maazfyp2020@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1280,380],"id":"c083086b-eb0b-4bf1-bc77-4bbf3f68f359","name":"Calendar_Get"},{"parameters":{"operation":"getAll","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[840,380],"id":"78019cd9-3598-49b5-8656-75cd27705687","name":"Gmail_Summary","webhookId":"e3262992-57f1-469a-8093-8d9fd5a2d84a"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[980,380],"id":"4476aa62-50ad-478e-8241-46540c77e267","name":"Gmail","webhookId":"7fc707d1-343c-4798-ad3e-6eb9080dd368"},{"parameters":{"resource":"audio","model":"tts-1-hd","input":"={{ $json.output }}","options":{"response_format":"opus"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1020,20],"id":"bffefa76-3969-4ce4-b124-d3df5643bb7b","name":"OpenAI"},{"parameters":{"operation":"send","phoneNumberId":"646879911849539","recipientPhoneNumber":"+923219283372","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1580,20],"id":"a132a00f-8e42-4e59-b471-994de1299353","name":"WhatsApp Business Cloud","webhookId":"f0880f1c-6561-49be-9e2f-b21bb4e644fd"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Get Audio File URL","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Audio File URL":{"main":[[{"node":"Get Binary File","type":"main","index":0}]]},"Get Binary File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calendar_Set":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calendar_Get":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gmail_Summary":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ea74c55d-5486-4a10-a0e0-8f2d19c123d6","triggerCount":0,"tags":[]}