jamshed's-invoice-generator-in-pdf-g7hGprgogPPG8TLv.json
{"createdAt":"2025-07-14T07:01:54.947Z","updatedAt":"2025-07-14T12:06:02.000Z","id":"g7hGprgogPPG8TLv","name":"Jamshed's Invoice Generator in Pdf","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8c53a32e-2a96-48e5-91c9-3175e4102895","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-760,-360],"id":"ce33c5c7-bee1-4670-be39-f443497b6cf3","name":"Webhook","webhookId":"8c53a32e-2a96-48e5-91c9-3175e4102895"},{"parameters":{"jsCode":"const data = items[0].json.body;\n\n// Step 1: Split strings into arrays\nconst names = data.itemsName.split(',').map(n => n.trim());\nconst prices = data.itemsPrice.split(',').map(p => parseFloat(p.trim()));\nconst quantities = data.itemquantity.split(',').map(q => parseInt(q.trim()));\n\n// Step 2: Combine into structured items list\nconst invoiceItems = names.map((name, i) => ({\n  name,\n  price: prices[i] || 0,\n  qty: quantities[i] || 1,\n  total: (prices[i] || 0) * (quantities[i] || 1)\n}));\n\n// Step 3: Calculate totals\nconst subtotal = invoiceItems.reduce((sum, item) => sum + item.total, 0);\nconst taxRate = 10; // 10% tax\nconst taxAmount = parseFloat(((subtotal * taxRate) / 100).toFixed(2));\nconst total = subtotal + taxAmount;\n\n// Step 4: Generate Invoice Number\nconst now = new Date();\nconst invoiceNumber = `INV-${now.getFullYear()}${(now.getMonth() + 1).toString().padStart(2, '0')}${now.getDate().toString().padStart(2, '0')}-${Math.floor(Math.random() * 1000)}`;\n\n// Step 5: Return final object\nreturn [{\n  json: {\n    customerName: data.customerName,\n    customerEmail: data.customerEmail,\n    customeraddress: data.customeraddress,\n    date: data.date,\n    invoiceNumber,\n    items: invoiceItems,\n    subtotal,\n    taxRate,\n    tax: taxAmount,\n    total\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,-360],"id":"29e8f20c-ff05-4f36-8f36-700f631806aa","name":"Code"},{"parameters":{"method":"POST","url":"https://api.pdf-app.net/html_to_pdf","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,-360],"id":"abe1e08b-ad78-4ac0-b5ce-6f2459ffe945","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"hih1wtLGqreZJ1wq","name":"Jamshed's html to pdf"}}},{"parameters":{"url":"={{ $json.presignedUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-360],"id":"aadf3c89-1108-4574-aae1-c6d86ee03eb9","name":"HTTP Request1"},{"parameters":{"jsCode":"const data = items[0].json;\n\nreturn [\n  {\n    json: {\n      html_template: \"\",\n      headerTemplate: \"<div style='width:100%;text-align:right'><span style='font-size:8px;color:#E4E4E4;margin-right:20px'>PDF-app.net </span></div>\",\n      footerTemplate: \"<div style='width:100%;text-align:right'><span style='font-size:8px;margin-right:20px'>Page <span class='pageNumber'></span> of <span class='totalPages'></span></span></div>\",\n      format: \"A4\",\n      displayHeaderFooter: true,\n      margin: {\n        top: \"40px\",\n        bottom: \"40px\",\n        left: \"30px\",\n        right: \"30px\"\n      },\n      orientation: \"Portrait\",\n      printBackground: true,\n      async: false,\n      fileName: `Invoice-${data.invoiceNumber}`,\n      template_html_id: \"1752479486-e599a6bb-4e44-4478-832a-4a6d63b0b2fb\",\n      content_data: {\n        customerName: data.customerName,\n        customerEmail: data.customerEmail,\n        date: data.date,\n        invoiceNumber: data.invoiceNumber,\n        customerAddress: data.customeraddress,\n        companyAddress: \"Company Address xyz\",\n        invoiceLines: data.items.map(item => ({\n          description: item.name,\n          price: item.price,\n          quantity: item.qty,\n          total: item.total\n        })),\n        subtotal: data.subtotal,\n        taxRate: 10,\n        taxAmount: data.tax,\n        totalInvoice: data.total\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-360],"id":"38f46ed9-be1d-4490-a2b9-820aec481e4b","name":"Code1"},{"parameters":{"name":"=Invoice-{{$json[\"fileName\"]}}.pdf","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"160J1Q_cgoYmgyuHsbnEWNIySGTDnLVKS","mode":"list","cachedResultName":"PDF-Files","cachedResultUrl":"https://drive.google.com/drive/folders/160J1Q_cgoYmgyuHsbnEWNIySGTDnLVKS"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[980,-360],"id":"d0e56ab8-38fe-4eab-89d9-fd5644e65303","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"method":"POST","url":"https://script.google.com/macros/s/AKfycby5TW7PiH9URkVCNjAGbEU9JjxKH-vsv0YTYMO1_Rycb7hdcuwgzYm9UB1QUr193GGY_g/exec","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,-360],"id":"e0ba59c3-0166-4612-aaa1-20760e8b4df5","name":"HTTP Request2"},{"parameters":{"content":"# Invoice Generator Using Drive's App Script","height":720,"width":920},"type":"n8n-nodes-base.stickyNote","position":[-840,-680],"typeVersion":1,"id":"9243d817-a051-4243-9194-cdd10d9f7a94","name":"Sticky Note"},{"parameters":{"content":"# Invoice Generator Using pdf-app.net api App Script","height":720,"width":920},"type":"n8n-nodes-base.stickyNote","position":[240,-680],"typeVersion":1,"id":"654d1cbe-2a50-4c8e-9532-96007a34dacb","name":"Sticky Note1"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"487127f4-081b-426d-9b9d-d825b4a22982","triggerCount":1,"tags":[]}