jamshed's-youtube-scrapper-Bqwv4AbgDfvyCrGX.json
{"createdAt":"2025-07-07T06:06:52.989Z","updatedAt":"2025-07-07T06:06:52.989Z","id":"Bqwv4AbgDfvyCrGX","name":"Jamshed's Youtube Scrapper","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"124673c7-85ff-4671-8704-53c7d485db15","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"6a7f4656-dd2f-467d-80f5-2c176b692930","name":"niche","value":"blockchain","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,0],"id":"9c4176af-86db-4562-bc50-af078cf039e7","name":"Input Niche"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"=snippet"},{"name":"q","value":"={{ $json.niche }}"},{"name":"type","value":"channel"},{"name":"key","value":"AIzaSyC_Ys_RWq5RJUcntvK_IP3R4gaXFkaEHEM"},{"name":"regionCode","value":"US"},{"name":"maxResults","value":"50"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,0],"id":"ca9acc3b-b6ed-423d-821b-a04350118016","name":"Search Based On Niche"},{"parameters":{"jsCode":"const inputData = $input.first().json.items;\n\n// Create an array to store the output rows\nconst output = [];\n\n// Loop through up to 50 items\nfor (let i = 0; i < inputData.length; i++) {\n  const item = inputData[i];\n  const channelId = item?.id?.channelId;\n  const channelTitle = item?.snippet?.title;\n\n  if (channelId && channelTitle) {\n    output.push({\n      json: {\n        channelId: channelId,\n        channelTitle: channelTitle\n      }\n    });\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,0],"id":"98e9d121-ea60-4c77-b9a5-31a26a4461e5","name":"List down id & Title"},{"parameters":{"jsCode":"const ids = items.map(i => i.json.channelId).join(',');\nreturn [\n  {\n    json: {\n      channelIds: ids\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,0],"id":"0debfa6e-92b3-4bfd-a311-64bf9da3fdd6","name":"Convert id into String"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/channels","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"statistics"},{"name":"id","value":"={{ $json.channelIds }}"},{"name":"key","value":"=AIzaSyC_Ys_RWq5RJUcntvK_IP3R4gaXFkaEHEM"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,0],"id":"b8ee395d-b952-4a7b-87b5-35daefc5acad","name":"Get Subscribers & Views"},{"parameters":{"jsCode":"// Step 1: Get stats response from YouTube API\nconst stats = items[0].json.items;\n\n// Step 2: Get channel titles from earlier Code node\nconst titles = $('List down id & Title').all().map(item => item.json);\n\n// Step 3: Match, merge, parse subscriberCount\nconst merged = stats.map(channel => {\n  const channelId = channel.id;\n  const titleEntry = titles.find(t => t.channelId === channelId);\n  const subscriberCount = parseInt(channel.statistics?.subscriberCount || \"0\");\n\n  return {\n    channelId,\n    channelTitle: titleEntry?.channelTitle || \"Unknown\",\n    subscriberCount,\n    viewCount: channel.statistics?.viewCount || \"0\"\n  };\n});\n\n// Step 4: Sort by subscriberCount and keep top 10\nconst top10 = merged\n  .sort((a, b) => b.subscriberCount - a.subscriberCount)\n  .slice(0, 10);\n\n// Step 5: Return top 10 as output items\nreturn top10.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1740,0],"id":"8e3274a5-594d-46c4-9ddd-6b996bdad3dc","name":"List down Top 10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"756eb19a-a0ba-4326-99c6-85e496cf2496","leftValue":"={{ $json.nextPageToken }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,1040],"id":"eac66e82-70c9-4d72-88af-509db2893107","name":"If"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[900,1040],"id":"6f57fbca-26aa-49cc-aaeb-9f1b58cb135a","name":"Merge"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1280,1580],"id":"43ef3ec6-24d7-4873-9932-5bdf2eb79aba","name":"Wait","webhookId":"02485277-6135-4251-87e2-8e5c94c89ed6"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Input Niche","type":"main","index":0}]]},"Input Niche":{"main":[[{"node":"Search Based On Niche","type":"main","index":0}]]},"Search Based On Niche":{"main":[[{"node":"List down id & Title","type":"main","index":0}]]},"List down id & Title":{"main":[[{"node":"Convert id into String","type":"main","index":0}]]},"Convert id into String":{"main":[[{"node":"Get Subscribers & Views","type":"main","index":0}]]},"Get Subscribers & Views":{"main":[[{"node":"List down Top 10","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b17d7a8c-0295-4b9c-b26a-29587edbf239","triggerCount":0,"shared":[{"createdAt":"2025-07-07T06:06:52.997Z","updatedAt":"2025-07-07T06:06:52.997Z","role":"workflow:owner","workflowId":"Bqwv4AbgDfvyCrGX","projectId":"6EdZFkSJTSDUHwBl"}],"tags":[]}