jamshed's-youtube-tool-(for-50-results)-s7Y8QFfwKccGdQ6R.json
{"createdAt":"2025-07-07T06:08:13.650Z","updatedAt":"2025-07-07T13:55:53.000Z","id":"s7Y8QFfwKccGdQ6R","name":"Jamshed's Youtube Tool (for 50 results)","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"6a7f4656-dd2f-467d-80f5-2c176b692930","name":"q","value":"={{ $json.body.title }}","type":"string"},{"id":"759f3283-ca81-4b3d-b10e-34c83f814979","name":"pageToken","value":"=","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-660,340],"id":"7f05cff2-5311-41df-bf3b-8ffd2e4e67e3","name":"Input Niche"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"=snippet"},{"name":"q","value":"={{ $json.q }}"},{"name":"pageToken","value":"={{ $json.pageToken }}"},{"name":"type","value":"channels"},{"name":"key","value":"AIzaSyC18fp8ncZ92OPL1Gne2fOWSOqZ_UtDlfU"},{"name":"regionCode","value":"US"},{"name":"maxResults","value":"=50"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,340],"id":"56b8982b-6136-489f-ad14-679fdae6b952","name":"Search Based On Niche"},{"parameters":{"jsCode":"const inputData = $input.all();\nconst output = [];\n\nfor (const row of inputData) {\n  let items;\n\n  try {\n    items = typeof row.json.items === 'string'\n      ? JSON.parse(row.json.items)\n      : row.json.items;\n  } catch (error) {\n    continue; // Skip if JSON parsing fails\n  }\n\n  if (Array.isArray(items)) {\n    for (const item of items) {\n      const channelId = item?.snippet?.channelId;\n      const channelTitle = item?.snippet?.channelTitle;\n      const videoId = item?.id?.videoId;\n\n      if (channelId && channelTitle && videoId) {\n        output.push({\n          json: {\n            channelId,\n            channelTitle,\n            videoId\n          }\n        });\n      }\n    }\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,20],"id":"00692c53-8c49-4e99-a9b5-67322c665e48","name":"List down id & Title"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,statistics"},{"name":"id","value":"={{ $json.videoId }}"},{"name":"key","value":"=AIzaSyC18fp8ncZ92OPL1Gne2fOWSOqZ_UtDlfU"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,20],"id":"0a73c8eb-d15f-47e5-bd48-70e633c42fe9","name":"Get Subscribers & Views"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72f8e513-8909-49c2-b87e-561ad42b119e","leftValue":"={{ $json.pageToken }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1100,320],"id":"c3b46a0c-7c33-4a0a-a59d-cb2e578c5598","name":"If"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-140,40],"id":"4bf58a72-578a-46bc-8ff3-a4b2698f638a","name":"Merge"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1540,300],"id":"bea463d9-a28e-4dee-97ab-f30e7f298bb3","name":"Wait","webhookId":"6625b9b0-7d4f-43be-84c2-76fb8e59a4b1"},{"parameters":{"assignments":{"assignments":[{"id":"42d373d6-c4fc-46ad-a7f9-3e62a01af8da","name":"q","value":"={{ $('Input Niche').item.json.q }}","type":"string"},{"id":"ba689bf5-c5ae-45c0-a507-18fd04e4d45b","name":"pageToken","value":"={{ $('Merge').item.json.nextPageToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,320],"id":"a5720363-6e7b-4b40-8f34-5f814e0fa4d5","name":"Edit Fields"},{"parameters":{"jsCode":"const output = [];\n\nfor (const row of $input.all()) {\n  const items = row.json.items;\n\n  if (Array.isArray(items)) {\n    for (const video of items) {\n      const videoId = video?.id;\n      const stats = video?.statistics;\n      const snippet = video?.snippet;\n\n      if (videoId && stats && snippet) {\n        output.push({\n          json: {\n            videoId,\n            title: snippet.title,\n            publishedAt: snippet.publishedAt,\n            channelId: snippet.channelId,\n            channelTitle: snippet.channelTitle,\n            views: parseInt(stats.viewCount),\n            likes: parseInt(stats.likeCount),\n            comments: parseInt(stats.commentCount)\n          }\n        });\n      }\n    }\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,20],"id":"1038b28f-71e5-45d7-87bb-bd0dc9a67512","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.nextPageToken }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"e7cbc88b-c933-448d-a980-018756992edb"}],"combinator":"and"},"renameOutput":true,"outputKey":"if/else node"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a1082aa-99cd-48c8-977d-598f9947cbd4","leftValue":"={{ $json.nextPageToken }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Operations"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[380,0],"id":"e19db2a1-3b41-4024-8fca-0d680d110fb6","name":"Switch"},{"parameters":{"jsCode":"const inputData = $input.all();\nconst output = [];\n\nconst videoMap = new Map();\nlet duplicatesRemoved = 0;\n\nfor (const row of inputData) {\n  const videoId = row.json.videoId;\n  const title = row.json.title;\n  const views = parseInt(row.json.views);\n  const likes = parseInt(row.json.likes);\n  const comments = parseInt(row.json.comments);\n  const channelId = row.json.channelId;\n  const channelTitle = row.json.channelTitle;\n\n  if (!videoId || isNaN(views)) continue;\n\n  const videoUrl = `https://www.youtube.com/watch?v=${videoId}`;\n\n  if (videoMap.has(videoId)) {\n    const existing = videoMap.get(videoId);\n    if (views > existing.views) {\n      videoMap.set(videoId, {\n        videoId,\n        title,\n        views,\n        likes,\n        comments,\n        channelId,\n        channelTitle,\n        videoUrl\n      });\n      duplicatesRemoved++;\n    } else {\n      duplicatesRemoved++;\n    }\n  } else {\n    videoMap.set(videoId, {\n      videoId,\n      title,\n      views,\n      likes,\n      comments,\n      channelId,\n      channelTitle,\n      videoUrl\n    });\n  }\n}\n\n// Sort by views descending\nconst sorted = [...videoMap.values()].sort((a, b) => b.views - a.views);\n\n// Get top 10\nconst top10 = sorted.slice(0, 10);\n\n// Push top 10 to output\nfor (const video of top10) {\n  output.push({ json: video });\n}\n\n\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,20],"id":"26e42eac-f62f-4609-bc65-32e5f007ef9a","name":"Code3"},{"parameters":{"httpMethod":"POST","path":"741b1123-10dd-4690-a2d1-3de7e0ecb264","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-920,340],"id":"1d6549e2-a0cf-49e2-a0f3-ebfb2d20e581","name":"Webhook","webhookId":"741b1123-10dd-4690-a2d1-3de7e0ecb264"}],"connections":{"Input Niche":{"main":[[{"node":"Search Based On Niche","type":"main","index":0}]]},"Search Based On Niche":{"main":[[{"node":"Merge","type":"main","index":0}]]},"List down id & Title":{"main":[[{"node":"Get Subscribers & Views","type":"main","index":0}]]},"Get Subscribers & Views":{"main":[[{"node":"Code","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Search Based On Niche","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"List down id & Title","type":"main","index":0}],[]]},"Webhook":{"main":[[{"node":"Input Niche","type":"main","index":0}]]},"Code3":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"67e2d674-fe02-494a-b9e7-b23ce22b7a81","triggerCount":1,"tags":[]}