jamshed's-ultimate-browser-agent-child-GQbt1v8GGcr04eVR.json
{"createdAt":"2025-07-07T06:03:07.856Z","updatedAt":"2025-07-07T06:03:07.856Z","id":"GQbt1v8GGcr04eVR","name":"Jamshed's Ultimate Browser Agent Child","active":false,"isArchived":false,"nodes":[{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C092DKTV4AF","mode":"list","cachedResultName":"ultimate-browser-agenyt"},"text":"={{ $json.data.liveViewUrl }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"f8963857-023a-4453-9505-123d688b7a69","name":"Slack","type":"n8n-nodes-base.slack","position":[540,0],"webhookId":"72d47d9c-6860-4248-8e83-7790264fdaf2","typeVersion":2.3},{"parameters":{"profileName":"={{ $json.profile_name }}","additionalFields":{}},"id":"2acbe68b-187d-4d13-9e2d-61afd0c9d97f","name":"Session","type":"n8n-nodes-base.airtop","position":[180,0],"typeVersion":1},{"parameters":{"resource":"window","url":"={{ $('When Executed by Another Workflow').item.json.url }}","getLiveView":true,"additionalFields":{}},"id":"55780fbe-61e6-4e26-bc7c-a330dff9b487","name":"Window","type":"n8n-nodes-base.airtop","position":[360,0],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"0a0680af-39bd-4bc7-b9cd-84c1766c79a1","name":"sessionId","type":"string","value":"={{ $('Session').item.json.sessionId }}"},{"id":"13940ee8-c1d4-4718-a7b4-176c44c097b7","name":"windowId","type":"string","value":"={{ $('Window').item.json.data.windowId }}"},{"id":"a0f2005c-2cd2-4a8d-891b-a4759b72a124","name":"output","type":"string","value":"Session and window created successfully"}]},"options":{}},"id":"596c2da9-7625-4599-92a9-a108ae86edda","name":"Return IDs","type":"n8n-nodes-base.set","position":[720,0],"typeVersion":3.4},{"parameters":{"workflowInputs":{"values":[{"name":"url"},{"name":"profile_name"}]}},"id":"e24be393-b577-4998-a6c0-47f27d455e3a","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0],"typeVersion":1.1}],"connections":{"Slack":{"main":[[{"node":"Return IDs","type":"main","index":0}]]},"Window":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Session":{"main":[[{"node":"Window","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Session","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1d9e86a4-102b-40e7-8ac9-5953506db42b","triggerCount":0,"tags":[]}