jamshed's-scraping-details-cd1YBx6lyfa8bPQ3.json
{"createdAt":"2025-07-07T06:04:22.752Z","updatedAt":"2025-07-07T14:01:27.000Z","id":"cd1YBx6lyfa8bPQ3","name":"Jamshed's Scraping Details","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,0],"id":"a87fb60e-8b89-49c9-874a-e60b3c7a51d3","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,0],"id":"1438a036-d5e4-442a-b854-d231b212bf26","name":"HTTP Request1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-cQd-OLkmNMfeZKOvPvMf51KdZ9h5yB89PMi80m6ICE","mode":"list","cachedResultName":"Scrap Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-cQd-OLkmNMfeZKOvPvMf51KdZ9h5yB89PMi80m6ICE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-cQd-OLkmNMfeZKOvPvMf51KdZ9h5yB89PMi80m6ICE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"GYM Name":"={{ $json.title }}","Address":"={{ $json.address }}","City":"={{ $json.city }}","Street":"={{ $json.street }}","Phone":"={{ $json.phone }}","Website":"={{ $json.website }}"},"matchingColumns":[],"schema":[{"id":"GYM Name","displayName":"GYM Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Street","displayName":"Street","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1520,0],"id":"2724c179-2cb8-4b88-881a-3aeca7d9d94f","name":"Google Sheets"},{"parameters":{"amount":50},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[820,0],"id":"0e20d24d-5448-4a6d-8abf-ff961176bc0a","name":"Wait","webhookId":"47f88e39-005b-463e-81b6-38c58fb089c6"},{"parameters":{"options":{"systemMessage":"=You are a smart automation assistant that prepares API input for the Apify Google Maps Scraper.\n\nYour task is to generate a valid JSON object based on the user's request. The user may provide:\n- A location or region (e.g., \"Berlin\", \"South Germany\", or a postal code)\n- A gym or business name (default is \"Clever Fit\")\n- A desired number of results (default is 100)\n- An optional Google Sheet link to save results\n\nBased on this input, return a JSON that follows Apify's Google Maps Scraper format.\n\n📌 Rules:\n- Set \"searchStringsArray\" to: [ \"<gym name> <location>\" ]\n- Set \"locationQuery\" to the location (e.g., \"Germany\", \"Berlin\", etc.)\n- Set \"maxCrawledPlacesPerSearch\" to the user-defined number, or default to 100\n- Include \"googleSheetUrl\" only **if** the user provides a valid Google Sheets link\n\nAlways include the following keys with these values:\n- \"includeWebResults\": false  \n- \"language\": \"en\"  \n- \"maxImages\": 0  \n- \"maximumLeadsEnrichmentRecords\": 0  \n- \"scrapeContacts\": false  \n- \"scrapeDirectories\": false  \n- \"scrapeImageAuthors\": false  \n- \"scrapePlaceDetailPage\": false  \n- \"scrapeReviewsPersonalData\": true  \n- \"scrapeTableReservationProvider\": false  \n- \"skipClosedPlaces\": false\n\n❗ Do not include any extra fields.  \n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"a5e7b929-d0e7-4fb6-8e7a-f7e328c7471c","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"4b547cf5-5f5b-4646-921a-f44d91815a28","name":"When chat message received","webhookId":"39e33130-39c9-4f3d-9c97-3ed6c2f52c25"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[240,320],"id":"a9da6d4e-f8a0-4ff6-8535-76ec592f8ec2","name":"OpenAI Chat Model"},{"parameters":{"assignments":{"assignments":[{"id":"b3bdef67-dbad-4b2a-85a1-f960b4e165bb","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"85d34338-e498-4f54-a326-68097b62a329","name":"address","value":"={{ $json.address }}","type":"string"},{"id":"91fc9310-3524-496d-a3a1-10520d1abe31","name":"street","value":"={{ $json.street }}","type":"string"},{"id":"711814d1-d1c1-42a7-8383-911d917f3bb6","name":"city","value":"={{ $json.city }}","type":"string"},{"id":"bb57aea2-b577-4845-a1f5-7a74d58839bb","name":"website","value":"={{ $json.website }}","type":"string"},{"id":"def03920-4fee-4905-bafd-c459fdd101cd","name":"phone","value":"={{ $json.phoneUnformatted }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,0],"id":"950f7f5c-375a-47f3-8726-e02edb9e4d73","name":"Edit Fields"}],"connections":{"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"277f6d5f-f53c-4939-976e-79969984e01c","triggerCount":0,"shared":[{"createdAt":"2025-07-07T06:04:22.760Z","updatedAt":"2025-07-07T06:04:22.760Z","role":"workflow:owner","workflowId":"cd1YBx6lyfa8bPQ3","projectId":"6EdZFkSJTSDUHwBl"}],"tags":[]}