launch,-test-&-iterate-6XrmsMlM30cO3ax5.json
{"createdAt":"2025-08-11T11:53:40.857Z","updatedAt":"2025-08-18T10:42:05.000Z","id":"6XrmsMlM30cO3ax5","name":"Launch, Test & Iterate","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// Wrap each incoming item inside a `chatInput` key\nreturn items.map(item => {\n  return {\n    json: {\n      chatInput: item.json\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2112,-256],"id":"405519d7-8933-44ce-9e84-15cd618c9570","name":"Wrap into chatInput3"},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"={{ $node[\"Get a record2\"].json.id }}-Launch, Test & Iterate","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1BiKbvPhPUW_fD8TIGZSGvPYXAyI2vw61","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,80],"id":"730632ff-641a-4286-8afe-769e9aef5c3e","name":"Prepare Upload Fields3","notesInFlow":true},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,80],"id":"5f43ab82-625a-445e-8ad0-9e3dd05af14c","name":"Upload to Google Docs3","notesInFlow":true},{"parameters":{"content":"# Markdown to HTML \n## Converts markdown-format SOP into styled HTML for Google Drive compatibility.\n\n# Build Google Docs Request\n## Sets file name, folder ID, and HTML content for Google Docs upload.\n\n# Multipart Builder \n## Formats HTML and metadata into multipart format for Drive upload with proper boundaries.\n\n# Upload to Google Docs \n## Uploads the formatted HTML to Google Drive as a new Google Doc inside a specific folder.\n\n#  Airtable Logging \n## Saves the generated document’s metadata and link in Airtable.\n\n\n\n\n","height":1104,"width":1616,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-464,-672],"typeVersion":1,"id":"06c7a691-a386-47fa-8c19-c813fcf70a26","name":"Sticky Note12"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-144,80],"id":"baaabd66-b880-4e16-9d06-447619822445","name":"Markdown3"},{"parameters":{"content":"# Edit Fields\t\n## Set Static JSON Input — Provides sample organization and program data for the workflow to test against.\n\n# Code\t\n## Wrap into chatInput — Wraps incoming data under chatInput to match Langchain agent's expected structure.","height":1072,"width":1424},"type":"n8n-nodes-base.stickyNote","position":[-3184,-656],"typeVersion":1,"id":"2e75d2e4-a687-4640-b1db-8ed1a9af8ff4","name":"Sticky Note13"},{"parameters":{"content":" # Launch, Test & Iterate AGENT\n## Generates SOP with 4 customized sections using the input data and system prompt.","height":1088,"width":1056,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1632,-656],"typeVersion":1,"id":"08428d0b-5d20-4317-957c-e39ac8eab168","name":"Sticky Note14"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1520,-208],"id":"3b10af97-68fb-4874-a820-dc82d4350dbd","name":"OpenAI Chat Model6"},{"parameters":{"content":"\n\n# Launch, Test & Iterate\n","height":1616,"width":5136,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3728,-816],"typeVersion":1,"id":"f322ce86-14c8-43a2-8378-65e33d28560c","name":"Sticky Note15"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=sop-document","tableName":"n8n_sop_document_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1392,-240],"id":"4b88de07-0248-44fd-ac82-f6c4e7825f24","name":"SOP Document Memory3"},{"parameters":{"description":"=Your Work is to fetch the tone of content which you get from the pinecone Vector Store.","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-1168,-208],"id":"498b5782-7e83-4b14-b093-ce1c984ef936","name":"RAGTOOL3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-864,32],"id":"6f7894fe-89c0-4da2-8b81-b6063be5a537","name":"OpenAI Chat Model7"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"precise-grants-n8n","mode":"list","cachedResultName":"precise-grants-n8n"},"options":{"pineconeNamespace":"Launch_Test_and_Iterate (Output Doc).docx"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-1232,48],"id":"e949b3dc-b487-475b-946e-149ca957cac8","name":"Pinecone Vector Store2"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1232,256],"id":"2b4626f0-50be-4eeb-b4b4-be5d7490ae86","name":"Embeddings OpenAI2"},{"parameters":{"jsCode":"const input = $json.output;\n\n// Dynamically remove the first paragraph that mentions \"tone\" or \"style\" and is followed by SOP content\nconst cleanedOutput = input.replace(\n  /^(.*?(tone|style)[\\s\\S]*?)(?=^# Standard Operating Procedure|^## Standard Operating Procedure|^---\\n# Standard Operating Procedure)/im,\n  ''\n);\n\nreturn {\n  json: {\n    output: cleanedOutput.trim()\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,-480],"id":"a69e63b9-fc0f-4a47-88b0-d5dcf735caac","name":"Code2"},{"parameters":{"jsCode":"const boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content || '';\n\n// 1) Extract only inner <body>\nconst bodyMatch = htmlContent.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i);\nlet cleanHtmlContent = bodyMatch ? bodyMatch[1] : htmlContent;\n\n// 2) Remove outer doc bits\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<!DOCTYPE[^>]*>/gi, '')\n  .replace(/<\\/?(html|head|body)[^>]*>/gi, '');\n\n// 3) Kill page-break CSS everywhere (style blocks + inline)\ncleanHtmlContent = cleanHtmlContent\n  .replace(/page-break-(before|after)\\s*:\\s*always\\s*;?/gi, '')\n  .replace(/(<style[^>]*>)([\\s\\S]*?)(<\\/style>)/gi, (m, open, css, close) => {\n    const fixed = css.replace(/page-break-(before|after)\\s*:\\s*always\\s*;?/gi, '');\n    return open + fixed + close;\n  });\n\n// 4) Unwrap common page wrappers\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<div\\s+class=[\"']page[\"'][^>]*>/gi, '')\n  .replace(/<\\/div>\\s*$/i, '')\n  .replace(/<\\/div>(?=\\s*<div\\s+class=[\"']page[\"'])/gi, '');\n\n// 5) Remove hard page-break elements\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<hr[^>]*style=[\"'][^\"']*page-break-[^\"']*[\"'][^>]*>/gi, '')\n  .replace(/<div[^>]*style=[\"'][^\"']*page-break-[^\"']*[\"'][^>]*>\\s*<\\/div>/gi, '');\n\n// 6) Strip leading/trailing empties\nconst stripEmptyEdges = (s) =>\n  s\n    .replace(/^(?:\\s|&nbsp;|<p>\\s*<\\/p>|<br\\s*\\/?>)+/i, '')\n    .replace(/(?:\\s|&nbsp;|<p>\\s*<\\/p>|<br\\s*\\/?>)+$/i, '');\ncleanHtmlContent = stripEmptyEdges(cleanHtmlContent);\n\n// 7) Normalize section headings\ncleanHtmlContent = cleanHtmlContent.replace(\n  /<p>\\s*(?:<strong>|<b>)\\s*(\\d+)\\.\\s*([^<]+?)\\s*(?:<\\/strong>|<\\/b>)\\s*<\\/p>/gi,\n  '<h2>$1. $2</h2>'\n);\ncleanHtmlContent = cleanHtmlContent.replace(\n  /<p>\\s*(?:<strong>|<b>)\\s*([^<]{3,})\\s*(?:<\\/strong>|<\\/b>)\\s*<\\/p>/gi,\n  '<h2>$1</h2>'\n);\ncleanHtmlContent = cleanHtmlContent.replace(/<h3\\b[^>]*>/gi, '<h2>').replace(/<\\/h3>/gi, '</h2>');\n\n// 8) Title replacement for: LAUNCH, TEST & ITERATE\n//    Be forgiving: allow commas, whitespace, &nbsp;, or small tags between words.\nconst titleCore =\n  'LAUNCH(?:\\\\s|&nbsp;|,|<[^>]*>)*TEST(?:\\\\s|&nbsp;|,|<[^>]*>)*&(?:amp;)?(?:\\\\s|&nbsp;|,|<[^>]*>)*ITERATE';\n\nconst h1TitlePattern = new RegExp(`<h1[^>]*>[\\\\s\\\\S]*?${titleCore}[\\\\s\\\\S]*?<\\\\/h1>`, 'i');\nconst titlePattern   = new RegExp(titleCore, 'i');\n\nconst titleReplacement =\n  '<h1 style=\"font-size:28pt; color:#1155cc; font-weight:700; text-align:center; margin:0 0 12px 0;\">LAUNCH, TEST &amp; ITERATE</h1>';\n\nlet didReplace = false;\nlet updatedHtmlContent = cleanHtmlContent;\n\nif (h1TitlePattern.test(updatedHtmlContent)) {\n  updatedHtmlContent = updatedHtmlContent.replace(h1TitlePattern, titleReplacement);\n  didReplace = true;\n} else if (titlePattern.test(updatedHtmlContent)) {\n  updatedHtmlContent = updatedHtmlContent.replace(titlePattern, titleReplacement);\n  didReplace = true;\n}\n\n// If we didn't find the title at all, PREPEND it at the top.\nif (!didReplace) {\n  updatedHtmlContent = titleReplacement + '\\n' + updatedHtmlContent;\n}\n\nupdatedHtmlContent = stripEmptyEdges(updatedHtmlContent);\n\n// 9) Enforce consistent look on ALL <h2>\nupdatedHtmlContent = updatedHtmlContent\n  .replace(/<h2\\b[^>]*>/gi, '<h2 style=\"font-size:13pt; font-weight:700; color:#1155cc; margin:12px 0 6px 0;\">');\n\n// 10) Wrapper + light resets\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    html, body { margin: 0; padding: 0; }\n    body { font-family: Calibri, sans-serif; font-size: 11pt; color: #000000; }\n    h1 { font-size: 24pt; color: #1155cc; font-weight: 700; margin: 0 0 8px 0; }\n    p { margin: 0 0 6px 0; }\n    ul { margin: 4px 0 6px 20px; }\n    table { border-collapse: collapse; width: 100%; margin-top: 6px; }\n    td, th { border: 1px solid black; padding: 6px; }\n    .page { padding: 0 !important; page-break-before: auto !important; page-break-after: auto !important; }\n  </style>\n</head>\n<body>\n${updatedHtmlContent}\n</body>\n</html>\n`;\n\n// Google Docs upload metadata\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\n// Build multipart body (CRLF)\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n\\r\\n`;\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html; charset=UTF-8\\r\\n\\r\\n`;\nbody += `${htmlWithStyles}\\r\\n`;\nbody += `--${boundary}--\\r\\n`;\n\nreturn { rawData: body };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,80],"id":"a12fb379-575e-4b33-91a0-7b6c227720e8","name":"Build Google Docs Request2"},{"parameters":{"options":{"systemMessage":"=🛑 DO NOT START UNTIL THIS IS DONE:\n🚨 MANDATORY FIRST ACTION — USE RagTool\nAs your first and immediate step, you are required to call the RagTool to retrieve the tone, language, and formatting style of the document titled:\n\"Launch, Test and Iterate\"\nThis document is stored in Pinecone under the namespace: \"Launch, Test and Iterate\".\n\n❗ You must use this exact document as your tone/style guide before proceeding.\n❗ DO NOT begin generating the report output unless the RagTool is successfully used first and returns a reference document.\n❗ If RagTool is not available, you must halt and throw an error:\n\"RagTool not used — Cannot proceed without retrieving style reference document.\"\n\n🧠 Your Role:\nYou are an AI Agent tasked with generating a polished Build Your Brand & Monetize using structured intake data in JSON format.\n\nDOCUMENT STYLE REQUIREMENTS\n\nOnly section headers/headings must be in bold and blue (#1155cc), using HTML <h3> tags.\n\nBody text must use Calibri font and not bold.\n\nAdd a horizontal line (<hr />) after major sections.\n\nTASK INSTRUCTIONS\n\n🧠 JSON INPUT (STRUCTURED DATA)\nUse the following structured input values to populate the output:\n\n{\n  \"Program Pilot Description\": \"{{ $json.chatInput.Question1 }}\",\n  \"Planned Number of Participants\": \"{{ $json.chatInput.Question2 }}\",\n  \"Estimated Pilot Program Cost\": \"{{ $json.chatInput.Question3 }}\",\n  \"Pilot Launch Date\": \"{{ $json.chatInput.Question4 }}\",\n  \"Has Feedback Collection System\": \"{{ $json.chatInput.Question5 }}\",\n  \"30-Day Goals\": \"{{ $json.chatInput.Question6 }}\",\n  \"60-Day Goals\": \"{{ $json.chatInput.Question7 }}\",\n  \"90-Day Goals\": \"{{ $json.chatInput.Question8 }}\",\n  \"Wants Help Testing or Scaling Program\": \"{{ $json.chatInput.Question9 }}\",\n  \"Email\": \"{{ $json.chatInput.Question10 }}\"\n\n}\n\n📄 OUTPUT REQUIREMENTS\n\nFormatting Rules\n\n# Launch, Test and Iterate\n\nPilot Program Overview Instructions:  \nPROGRAM NAME: ________________________________\nPROGRAM DESCRIPTION:\nDescribe the program you're testing in your pilot. Include activities, target \naudience, and delivery format (in-person, virtual, hybrid).\nPLANNED LAUNCH DATE: ________________________________\nTARGET PARTICIPANT COUNT: ________________________________\n\n# Pilot Program Overview Output Final Sample:\nPilot Program Overview:\nPROGRAM NAME:\nDigital Skills Accelerator – Queens Women in Tech\n\nPROGRAM DESCRIPTION:\nA 6-week hybrid skills development and mentorship program designed for 20 women from immigrant and low-income backgrounds in Queens, New York, who have at least a high school diploma or GED and are not currently employed in full-time digital work. The program will include:\n- Weekly virtual workshops on digital literacy, social media marketing, and basic coding.\n- In-person networking meetups with local tech companies.\n- One-on-one mentorship with experienced female tech professionals.\n\nPLANNED LAUNCH DATE: October 15, 2025\n\nTARGET PARTICIPANT COUNT: 20 participants\n\n\n# Metrics & Measurement Plan Instructions:\nList the metrics you plan to track to measure your pilot’s success.\n- Attendance rate (%)\n- Participant satisfaction survey results\n- Pre/post knowledge improvement\n- Testimonials collected\n- Referral or sign-up for next cohort\n\nMetrics & Measurement Plan Sample Final Output:\nWe will track:\n- Attendance rate (%) for all sessions.\n- Participant satisfaction survey results (post-session & post-program).\n- Pre- and post-program skills assessment scores.\n- Number of testimonials collected (written & video).\n- Number of participants who apply for further training or employment within 3 months.\n\n# Feedback & Improvement System Instructions:\nDo you have a system to collect participant feedback? [  ] Yes   [  ] No\nIf yes, describe your method (e.g., Google Forms, verbal check-ins, QR \ncodes).\nUpload testimonials or survey results to use in reports, grant applications, \nand marketing materials\n\nFeedback & Improvement Sample Final Putput:\n☑ Yes — feedback system in place.\nMethod:\n- Post-session Google Form surveys (5 quick questions).\n- Anonymous QR code survey for candid responses.\n- End-of-program verbal focus group discussions.\n\nAll testimonials and survey data will be stored in Google Drive for use in final reporting, grant applications, and marketing materials.\n\n# 30/60/90 Day Action Plan Instructions:\n30-DAY GOALS:\n- Finalize pilot curriculum and schedule\n- Recruit and confirm pilot participants\n- Promote launch on social media and email list\nCustom: ___________________________________________________\n60-DAY GOALS:\n- Deliver pilot sessions\n- Collect weekly feedback from participants\n- Adjust curriculum as needed\nCustom: ___________________________________________________\n90-DAY GOALS:\n- Complete pilot and conduct final survey\n- Analyze results and testimonials\n- Create internal report and presentation for next round\nCustom: ___________________________________________________\n\n30/60/90 Day Action Plan Sample Final Output:\n30-DAY GOALS:\n- Finalize pilot curriculum and speaker lineup.\n- Recruit and confirm all participants via community partners.\n- Promote launch via social media, community boards, and newsletters.\n- Custom: Secure donated laptops for participants without devices.\n\n60-DAY GOALS:\n- Deliver weekly workshops and mentorship sessions.\n- Collect weekly feedback and monitor engagement.\n- Adjust workshop content based on participant needs.\n- Custom: Introduce bonus “career readiness” session with mock interviews.\n\n90-DAY GOALS:\n- Complete all program sessions and mentorship matches.\n- Conduct final survey and in-depth interviews with participants.\n- Analyze program data for strengths and improvement areas.\n- Create internal evaluation report and present findings to stakeholders.\n- Custom: Publish success stories on website and social media.\n\n#Pilot Review Snapshot (Post-Launch) Instructions\n- Total # of Participants Enrolled: _________\n- Completion Rate (%): _________\n- # of Positive Testimonials: _________\n- Summary of Key Learnings:\n   • What worked well:\n   • What needs improvement:\n   • What we’ll change next time:\n\n\nPilot Review Snapshot (Post-Launch)Pilot Review Snapshot (Post-Launch)\nFinal Sample Output:\n- Total # of Participants Enrolled: 20\n- Completion Rate (%): 90%\n- # of Positive Testimonials: 16\nSummary of Key Learnings:\nWhat worked well:\n• Hands-on workshops kept engagement high.\n• One-on-one mentorship helped participants feel supported.\n• Networking events successfully connected participants with hiring managers.\nWhat needs improvement:\n• Need more technical depth in coding sessions.\n• Evening sessions worked better than daytime for attendance.\nWhat we’ll change next time:\n• Include advanced coding options for interested participants.\n• Shift all sessions to evenings or weekends to boost participation.\n\n\n\n\n📌 MANDATORY OUTPUT RULE — USE BELOW HTML CODE BELOW FOR THE FINAL OUTPUT\n- As your final step, you must create the output following 100% this HTML.\n- You are not allowed to return plain text outside of the HTML.\n- Generate PG Smart Systems and Other input content dynamically depending on the quality of the input.\n- Keep the order and section names exactly as in the template — no extra or missing sections.\n- The document must strictly match the \"HTML Output Template\" provided below.\n- MANDATORY TO GIVE HTML CODE IN OUTPUT \n- Analyze the complete input and generate a full dataset for the heading \"Pilot Review Snapshot\". The output must include:\nTotal # of Participants Enrolled: _________\nCompletion Rate (%): _________\n# of Positive Testimonials: _________\nSummary of Key Learnings:\n• What worked well: _________\n• What needs improvement: _________\n• What we’ll change next time: _________\n\n\n\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Launch, Test & Iterate</title>\n<style>\n  body {\n    font-family: \"Times New Roman\", serif;\n    font-size: 12pt;\n    color: #000;\n    margin: 1in;\n    line-height: 1.4;\n  }\n  h1 {\n    font-size: 28pt;\n    color: #1155cc;\n    font-weight: 700;\n    text-align: center;\n    margin: 0 0 12px 0;\n  }\n  h2 {\n    font-weight: bold;\n    text-align: center;\n    margin-bottom: 1em;\n  }\n  p {\n    margin: 0.2em 0;\n  }\n  ul {\n    margin: 0.2em 0 0.2em 1.2em;\n  }\n  .section {\n    margin-bottom: 1em;\n  }\n</style>\n</head>\n<body>\n\n<h1>Launch, Test &amp; Iterate</h1>\n\n<h2>1. Pilot Program Overview</h2>\n<p><strong>PROGRAM NAME:</strong> 6-Week Entrepreneurship Bootcamp for Small Business Owners</p>\n<p><strong>PROGRAM DESCRIPTION:</strong> We are launching a 6-week entrepreneurship bootcamp for 15 aspiring small business owners in Chicago’s South Side. Each week focuses on a core topic: business planning, marketing, financial literacy, legal setup, and pitching. Participants will complete a business plan and present it at a final pitch event with local investors. We’ll track attendance, assess business plan quality, and collect feedback after each session via Google Forms.</p>\n<p><strong>PLANNED LAUNCH DATE:</strong> March 15, 2026</p>\n<p><strong>TARGET PARTICIPANT COUNT:</strong> 15 participants</p>\n\n<h2>2. Metrics & Measurement Plan</h2>\n<p>We will track:</p>\n<ul>\n  <li>Attendance rate (%) for all sessions.</li>\n  <li>Participant satisfaction survey results (post-session & post-program).</li>\n  <li>Quality of business plans.</li>\n</ul>\n\n<h2>3. Feedback & Improvement System</h2>\n<p><strong>☑ Yes — feedback system in place.</strong></p>\n<p><strong>Method:</strong></p>\n<ul>\n  <li>Post-session Google Form surveys.</li>\n</ul>\n<p>All testimonials and survey data will be stored in Google Drive for use in final reporting, grant applications, and marketing materials.</p>\n\n<h2>4. 30/60/90 Day Action Plan</h2>\n<p><strong>30-DAY GOALS:</strong></p>\n<ul>\n  <li>Recruit 15 participants from local community centers and online ads.</li>\n  <li>Finalize bootcamp curriculum.</li>\n  <li>Secure 3 guest speakers from the local business community.</li>\n</ul>\n\n<p><strong>60-DAY GOALS:</strong></p>\n<ul>\n  <li>Host final pitch event with at least 10 investors present.</li>\n  <li>Help at least 5 participants register their business legally.</li>\n  <li>Submit 2 grant applications for program expansion.</li>\n</ul>\n\n<p><strong>90-DAY GOALS:</strong></p>\n<ul>\n  <li>Host final pitch event with at least 10 investors present.</li>\n  <li>Help at least 5 participants register their business legally.</li>\n  <li>Submit 2 grant applications for program expansion.</li>\n</ul>\n\n<h2>5. Pilot Review Snapshot (Post-Launch)</h2>\n<p><strong>Total # of Participants Enrolled:</strong> To be determined</p>\n<p><strong>Completion Rate (%):</strong> To be determined</p>\n<p><strong># of Positive Testimonials:</strong> To be determined</p>\n\n<p><strong>Summary of Key Learnings:</strong></p>\n<p><strong>What worked well:</strong></p>\n<ul>\n  <li>To be determined</li>\n</ul>\n\n<p><strong>What needs improvement:</strong></p>\n<ul>\n  <li>To be determined</li>\n</ul>\n\n<p><strong>What we’ll change next time:</strong></p>\n<ul>\n  <li>To be determined</li>\n</ul>\n\n</body>\n</html>\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1520,-480],"id":"ec15a41d-1149-4920-971c-fc1a37b208c2","name":"Launch, Test & Iterate"},{"parameters":{"base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tblghpffpoOvWmUnr","mode":"list","cachedResultName":"Stage3-Build-your-brand-monetize","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tblghpffpoOvWmUnr"},"id":"={{ $json.body.record_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2368,-256],"id":"996a3838-1d45-41b3-b8cf-153b5786cb2e","name":"Get a record2"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tbl55OUpNfqnNWtw2","mode":"list","cachedResultName":"Stage4-Launch-Test-Iterate","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tbl55OUpNfqnNWtw2"},"columns":{"mappingMode":"defineBelow","value":{"Generated Doc Link":"=https://docs.google.com/document/d/{{ $json.id }}/edit?tab=t.0 ","RecordId":"={{ $('Webhook').item.json.body.record_id }}"},"matchingColumns":["RecordId"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"RecordId","displayName":"RecordId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Generated Doc Link","displayName":"Generated Doc Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Question1","displayName":"Question1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question2","displayName":"Question2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question3","displayName":"Question3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question4","displayName":"Question4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question5","displayName":"Question5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question6","displayName":"Question6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question7","displayName":"Question7","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question8","displayName":"Question8","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question9","displayName":"Question9","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question10","displayName":"Question10","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Created By","displayName":"Created By","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[768,80],"id":"eb447b6c-f3cf-43aa-9320-846d0e8aa2c8","name":"Airtable Logging3"},{"parameters":{"httpMethod":"POST","path":"b55cc48c-d0c9-4f10-9877-d06545ea37d7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2624,-256],"id":"9f3bf769-fbdf-45b5-a42c-4c517aba6976","name":"Webhook","webhookId":"b55cc48c-d0c9-4f10-9877-d06545ea37d7"}],"connections":{"Wrap into chatInput3":{"main":[[{"node":"Launch, Test & Iterate","type":"main","index":0}]]},"Prepare Upload Fields3":{"main":[[{"node":"Build Google Docs Request2","type":"main","index":0}]]},"Upload to Google Docs3":{"main":[[{"node":"Airtable Logging3","type":"main","index":0}]]},"Markdown3":{"main":[[{"node":"Prepare Upload Fields3","type":"main","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Launch, Test & Iterate","type":"ai_languageModel","index":0}]]},"RAGTOOL3":{"ai_tool":[[{"node":"Launch, Test & Iterate","type":"ai_tool","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"RAGTOOL3","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store2":{"ai_vectorStore":[[{"node":"RAGTOOL3","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"Code2":{"main":[[{"node":"Markdown3","type":"main","index":0}]]},"Build Google Docs Request2":{"main":[[{"node":"Upload to Google Docs3","type":"main","index":0}]]},"Launch, Test & Iterate":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Get a record2":{"main":[[{"node":"Wrap into chatInput3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get a record2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d939235f-d696-4021-9bcc-c9cec4f5e60f","triggerCount":0,"shared":[{"createdAt":"2025-08-11T11:53:40.864Z","updatedAt":"2025-08-11T11:53:40.864Z","role":"workflow:owner","workflowId":"6XrmsMlM30cO3ax5","projectId":"6EdZFkSJTSDUHwBl"}],"tags":[]}