legal-formation-output-document-TMmelI5tlqXTqIou.json
{"createdAt":"2025-08-18T10:45:44.294Z","updatedAt":"2025-08-18T10:45:44.294Z","id":"TMmelI5tlqXTqIou","name":"Legal Formation Output Document","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Wrap each incoming item inside a `chatInput` key\nreturn items.map(item => {\n  return {\n    json: {\n      chatInput: item.json\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,320],"id":"285dc742-1d95-49c3-948d-1936973b1bcc","name":"Wrap into chatInput1"},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"={{ $node[\"Get a record\"].json.id }}-Legal Formation Output Document","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1tnxfRH2hjLFIos-d9dAp4I6mbnonUY0U","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4080,816],"id":"0004ba9f-64cf-4b03-b463-89d898cfb8dd","name":"Prepare Upload Fields1","notesInFlow":true},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4496,816],"id":"f907b3fe-4100-4228-a0f3-9ed8cc07ea8f","name":"Upload to Google Docs1","notesInFlow":true},{"parameters":{"content":"# Markdown to HTML \n## Converts markdown-format SOP into styled HTML for Google Drive compatibility.\n\n# Build Google Docs Request\n## Sets file name, folder ID, and HTML content for Google Docs upload.\n\n# Multipart Builder \n## Formats HTML and metadata into multipart format for Drive upload with proper boundaries.\n\n# Upload to Google Docs \n## Uploads the formatted HTML to Google Drive as a new Google Doc inside a specific folder.\n\n#  Airtable Logging \n## Saves the generated document’s metadata and link in Airtable.\n\n\n\n\n","height":1152,"width":2144,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3488,112],"typeVersion":1,"id":"b0cbef2b-023c-428e-9d36-7299d4b2a683","name":"Sticky Note5"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.cleanedText }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[3856,816],"id":"30558a90-2363-469b-8231-4762a12f0244","name":"Markdown"},{"parameters":{"content":"# Edit Fields\t\n## Set Static JSON Input — Provides sample organization and program data for the workflow to test against.\n\n# Code\t\n## Wrap into chatInput — Wraps incoming data under chatInput to match Langchain agent's expected structure.","height":1072,"width":1872},"type":"n8n-nodes-base.stickyNote","position":[192,160],"typeVersion":1,"id":"083747a7-b159-489f-82d8-5eb9233434f5","name":"Sticky Note6"},{"parameters":{"content":" # Legal Formation Output Document AGENT\n## Generates SOP with 4 customized sections using the input data and system prompt.","height":1088,"width":1328,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2080,160],"typeVersion":1,"id":"f37f1ad8-247c-4c45-8171-d09bc75dbe2e","name":"Sticky Note7"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2528,592],"id":"f4df2b25-962e-404b-be80-0b97d40f7389","name":"OpenAI Chat Model"},{"parameters":{"content":"\n\n# Legal Formation Output Document\n","height":1616,"width":5792,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"340a48cf-5605-4ade-9786-c703da44eb1f","name":"Sticky Note1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=sop-document","tableName":"n8n_sop_document_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2368,672],"id":"30b41df8-79c5-44c8-89ae-44d89bcee408","name":"SOP Document Memory1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3184,832],"id":"5fed15b4-bdcf-4c4c-ba02-6182d348cc1f","name":"OpenAI Chat Model4"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"precise-grants-n8n","mode":"list","cachedResultName":"precise-grants-n8n"},"options":{"pineconeNamespace":"Legal_Formation (Output Doc).docx"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[2816,848],"id":"43d30385-0f2e-4348-b135-e5daa697a33f","name":"Pinecone Vector Store"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2816,1056],"id":"f3e947c5-6b3d-4d0f-877d-84296aeb854c","name":"Embeddings OpenAI"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst outputData = inputData.map(item => {\n  const textContent = item.json.output;\n  \n  // More flexible regex to find HTML content between ```html and ```\n  const htmlMatch = textContent.match(/```html\\s*([\\s\\S]*?)\\s*```/);\n  \n  let cleanedHtml = '';\n  \n  if (htmlMatch) {\n    // Extract the HTML content from the match\n    cleanedHtml = htmlMatch[1].trim();\n  } else {\n    // Fallback: just take all HTML-looking content from output\n    const htmlTagMatch = textContent.match(/(<[a-z][\\s\\S]*?>[\\s\\S]*<\\/[a-z]+>)/i);\n    if (htmlTagMatch) {\n      cleanedHtml = htmlTagMatch[1].trim();\n    } else {\n      // If no HTML found, return the original content\n      cleanedHtml = textContent;\n    }\n  }\n  \n  // Remove any remaining markdown artifacts\n  cleanedHtml = cleanedHtml\n    .replace(/^```html\\s*/gm, '')  // Remove opening code block marker\n    .replace(/\\s*```$/gm, '')      // Remove closing code block marker\n    .replace(/^\\s*\\n/gm, '')       // Remove empty leading lines\n    .trim();\n  \n  // ✅ Removed the \"tableOnlyMatch\" logic so full HTML is preserved\n  \n  return {\n    json: {\n      cleanedText: cleanedHtml,\n      originalData: item.json\n    }\n  };\n});\n\nreturn outputData;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,320],"id":"0b43b752-8792-4aac-aa0f-c0f4cb525d0f","name":"Code"},{"parameters":{"jsCode":"const boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content || '';\n\n// 1) Extract only inner <body>\nconst bodyMatch = htmlContent.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i);\nlet cleanHtmlContent = bodyMatch ? bodyMatch[1] : htmlContent;\n\n// 2) Remove outer doc bits\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<!DOCTYPE[^>]*>/gi, '')\n  .replace(/<\\/?(html|head|body)[^>]*>/gi, '');\n\n// 3) Kill page-break CSS everywhere (style blocks + inline)\ncleanHtmlContent = cleanHtmlContent\n  .replace(/page-break-(before|after)\\s*:\\s*always\\s*;?/gi, '')\n  .replace(/(<style[^>]*>)([\\s\\S]*?)(<\\/style>)/gi, (m, open, css, close) => {\n    const fixed = css.replace(/page-break-(before|after)\\s*:\\s*always\\s*;?/gi, '');\n    return open + fixed + close;\n  });\n\n// 4) Unwrap common page wrappers\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<div\\s+class=[\"']page[\"'][^>]*>/gi, '')\n  .replace(/<\\/div>\\s*$/i, '')\n  .replace(/<\\/div>(?=\\s*<div\\s+class=[\"']page[\"'])/gi, '');\n\n// 5) Remove hard page-break elements\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<hr[^>]*style=[\"'][^\"']*page-break-[^\"']*[\"'][^>]*>/gi, '')\n  .replace(/<div[^>]*style=[\"'][^\"']*page-break-[^\"']*[\"'][^>]*>\\s*<\\/div>/gi, '');\n\n// 6) Strip leading/trailing empties\nconst stripEmptyEdges = (s) =>\n  s\n    .replace(/^(?:\\s|&nbsp;|<p>\\s*<\\/p>|<br\\s*\\/?>)+/i, '')\n    .replace(/(?:\\s|&nbsp;|<p>\\s*<\\/p>|<br\\s*\\/?>)+$/i, '');\ncleanHtmlContent = stripEmptyEdges(cleanHtmlContent);\n\n// 7) Normalize section headings (so later sections look consistent)\ncleanHtmlContent = cleanHtmlContent.replace(\n  /<p>\\s*(?:<strong>|<b>)\\s*(\\d+)\\.\\s*([^<]+?)\\s*(?:<\\/strong>|<\\/b>)\\s*<\\/p>/gi,\n  '<h2>$1. $2</h2>'\n);\ncleanHtmlContent = cleanHtmlContent.replace(\n  /<p>\\s*(?:<strong>|<b>)\\s*([^<]{3,})\\s*(?:<\\/strong>|<\\/b>)\\s*<\\/p>/gi,\n  '<h2>$1</h2>'\n);\ncleanHtmlContent = cleanHtmlContent.replace(/<h3\\b[^>]*>/gi, '<h2>').replace(/<\\/h3>/gi, '</h2>');\n\n// 8) Replace the FIRST existing title-like element with our H1\nconst titleReplacement =\n  '<h1 style=\"font-size:28pt; color:#1155cc; font-weight:700; text-align:center; margin:0 0 12px 0;\">LEGALIZE YOUR NON-PROFIT REPORT</h1>';\n\nlet updatedHtmlContent = cleanHtmlContent;\nlet didSetTitle = false;\n\n// Prefer first <h1>...</h1>\nconst firstH1 = /<h1[^>]*>[\\s\\S]*?<\\/h1>/i;\nif (firstH1.test(updatedHtmlContent)) {\n  updatedHtmlContent = updatedHtmlContent.replace(firstH1, titleReplacement);\n  didSetTitle = true;\n} else {\n  // Else first <h2>...</h2>\n  const firstH2 = /<h2[^>]*>[\\s\\S]*?<\\/h2>/i;\n  if (firstH2.test(updatedHtmlContent)) {\n    updatedHtmlContent = updatedHtmlContent.replace(firstH2, titleReplacement);\n    didSetTitle = true;\n  } else {\n    // Else a top bold paragraph as heading\n    const topBoldPara = /^(?:\\s|<p>\\s*<\\/p>|<br\\s*\\/?>)*<p>\\s*(?:<strong>|<b>)[\\s\\S]*?(?:<\\/strong>|<\\/b>)\\s*<\\/p>/i;\n    if (topBoldPara.test(updatedHtmlContent)) {\n      updatedHtmlContent = updatedHtmlContent.replace(topBoldPara, titleReplacement);\n      didSetTitle = true;\n    }\n  }\n}\n\n// If nothing to replace, prepend our title once\nif (!didSetTitle) {\n  updatedHtmlContent = titleReplacement + '\\n' + updatedHtmlContent;\n}\n\nupdatedHtmlContent = stripEmptyEdges(updatedHtmlContent);\n\n// 🔹 NEW STEP: Bold common field labels\nconst boldLabels = [\n  'Organization:',\n  'State:',\n  'Mailing Address:',\n  'Website:',\n  'Filed:',\n  'Date of Incorporation:',\n  'Has EIN:'\n];\nboldLabels.forEach(label => {\n  const pattern = new RegExp(`(${label.replace(/[-\\/\\\\^$*+?.()|[\\]{}]/g, '\\\\$&')})`, 'g');\n  updatedHtmlContent = updatedHtmlContent.replace(pattern, '<strong>$1</strong>');\n});\n\n// 9) Enforce consistent look on ALL <h2>\nupdatedHtmlContent = updatedHtmlContent\n  .replace(/<h2\\b[^>]*>/gi, '<h2 style=\"font-size:13pt; font-weight:700; color:#1155cc; margin:12px 0 6px 0;\">');\n\n// 10) Wrapper + light resets\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    html, body { margin: 0; padding: 0; }\n    body { font-family: Calibri, sans-serif; font-size: 11pt; color: #000000; }\n    h1 { font-size: 24pt; color: #1155cc; font-weight: 700; margin: 0 0 8px 0; }\n    p { margin: 0 0 6px 0; }\n    ul { margin: 4px 0 6px 20px; }\n    table { border-collapse: collapse; width: 100%; margin-top: 6px; }\n    td, th { border: 1px solid black; padding: 6px; }\n    .page { padding: 0 !important; page-break-before: auto !important; page-break-after: auto !important; }\n  </style>\n</head>\n<body>\n${updatedHtmlContent}\n</body>\n</html>\n`;\n\n// Google Docs upload metadata\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\n// Build multipart body (CRLF)\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n\\r\\n`;\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html; charset=UTF-8\\r\\n\\r\\n`;\nbody += `${htmlWithStyles}\\r\\n`;\nbody += `--${boundary}--\\r\\n`;\n\nreturn { rawData: body };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4304,816],"id":"670d9e9c-50ae-4b64-9a06-f636781707e7","name":"Build Google Docs Request"},{"parameters":{"options":{"systemMessage":"=🛑 DO NOT START UNTIL THIS IS DONE:\n🚨 MANDATORY FIRST ACTION — USE RagTool\nAs your first and immediate step, you are required to call the RagTool to retrieve the tone, language, and formatting style of the document titled:\n\"Legal_Formation (Output Doc).docx\"\nThis document is stored in Pinecone under the namespace: \"Legal_Formation (Output Doc).docx\".\n\n🧠 Your Role:\nYou are an AI Agent tasked with generating a polished Legal_Formation (Output Doc).docx using structured intake data in JSON format.\n\nDOCUMENT STYLE REQUIREMENTS\n\nOnly section headers/headings must be in bold and blue (#1155cc), using HTML <h3> tags.\n\nBody text must use Calibri font and not bold.\n\nAdd a horizontal line (<hr />) after major sections.\n\nTASK INSTRUCTIONS\n\n🧠 JSON INPUT (STRUCTURED DATA)\nUse the following structured input values to populate the output:\n\n{\n  # LEGAL FORMATION OUTPUT DOCUMENT\n\n  \"Organization\": \"{{ $json.chatInput.Question1 }}\",\n  \"Articles of Incorporation\": \"{{ $json.chatInput.Question2 }}\",\n  \"State\": \"{{ $json.chatInput.Question3 }}\",\n  \"Date of incorporation\": \"{{ $json.chatInput.Question4 }}\",\n  \"EIN\": \"{{ $json.chatInput.Question5 }}\",\n  \"Bylaws\": \"{{ $json.chatInput.Question6 }}\"\n  \"Conflict of Interest Policy\": \"{{ $json.chatInput.Question7 }}\",\n  \"Completed IRS Form 1023-EZ\": \"{{ $json.chatInput.Question8 }}\",\n  \"Mailing Address\": \"{{ $json.chatInput.Question9 }}\",\n  \"List three board members\": \"{{ $json.chatInput.Question10 }}\",\n  \"Tax year end\": \"{{ $json.chatInput.Question11 }}\",\n  \"Website\": \"{{ $json.chatInput.Question12 }}\"\n  \"Email\": \"{{ $json.chatInput.Question13 }}\",\n  \"Mission Statement\": \"{{ $json.chatInput.Question14 }}\".\n  \"Description of your programs/activities\": \"{{ $json.chatInput.Question15 }}\"\n}\n\n📄 OUTPUT TEMPLATE REQUIREMENTS:\n\nFormatting Rules\nLEGAL FORMATION OUTPUT DOCUMENT\nOrganization: Future Workforce NYC\nState: New York\nMailing Address: \nWebsite: \n\n# Articles of Incorporation:  (Yes/No)\n\nAI Insight:\nAction Steps:\n\n# plan to incorporate:  \n\nAI Insight:\nAction Steps:\n\n# Date of incorporation\n\nAI Insight:\nAction Steps:\n\n# EIN: (Yes/No)\n\nAI Insight: \nAction Steps:\n\n# Bylaws:(Yes/No)\n\nAI Insight: \nAction Steps: \n\n# Conflict of Interest Policy: (Yes/No)\n\nAI Insight:\nAction Steps:\n\n# Completed IRS Form 1023-EZ: (Yes/No)\n\nAI Insight:\nAction Steps:\n\n# List three board members:\nList three board members (must be at least three) with name, title, and mailing address.\n\n\n# Tax year end: \nput here tax year\n\n# Mission Statement:\n\nAI Insight:\nAction Steps:\n\n\n# Description of your programs/activities:\n\nAI Insight:\nAction Steps:\n\n\n# Draft Form 1023-EZ \n\n# Part I\n1a. Future Workforce NYC\n1c–f. [Mailing address from Q9]\n2. EIN – “Upon receipt of EIN from IRS, enter here”\n3. Month Tax Year Ends – 12\n4. Contact Person – [From intake]\n5. Contact Phone – [From intake]\n7. User Fee – $275\n8. Board Members – [From Q10]\n9a/b. [From Q12/Q13]\n\n# Part II\nClick “Corporation”\nDate Incorporated – [From Q4]\nState – New York\n\n# Part III\nMission: “Provide workforce development programs in New York City…”\nNTEE Code: J22 (Job Training) – Auto-selected from program description\nExempt Purpose: Educational, Charitable\nPart IV–VI – Check “No” where applicable, sign as “Board Member”\n\nSample Example Template Output:\nLEGALIZE YOUR NONPROFIT REPORT\nOrganization: Tech Pathways Texas\nState: Texas\nMailing Address: 7421 Oak Meadow Dr, Dallas, TX 75240\nWebsite: www.techpathwaystx.org\n\n1. Articles of Incorporation\nFiled: Yes — Filed January 18, 2025\n\nPG Smart Systems: Your Articles of Incorporation are complete and include the required state filing information. Keep the stamped copy in your compliance binder.\n\nStore physical and digital copies of the stamped Articles of Incorporation.\nReview annually for accuracy and update if board or address changes.\n\n2. Incorporation — Date\nDate of Incorporation: January 18, 2025\n\nPG Smart Systems: Use this exact date when completing Form 1023-EZ Part II.\n\nEnter the exact incorporation date on all IRS and state filings.\n\n3. EIN\nHas EIN: Yes — 12-3456789\n\nPG Smart Systems: EIN format validated and ready for filings.\n\nKeep IRS EIN confirmation letter in the compliance binder.\n\n4. Bylaws\nAdopted: No\n\nPG Smart Systems: Bylaws are required before filing Form 1023-EZ. The organization should adopt a set of bylaws and have board approval/minutes.\n\nUse the provided bylaws template (Articles I–VII + dissolution clause).\nSchedule a board meeting to approve and sign the bylaws; keep signed copies.\n\n5. Conflict of Interest Policy\nAdopted: Yes — Adopted February 2, 2025\n\nPG Smart Systems: Ensure all current and future board members sign an annual conflict of interest statement.\n\nMaintain signed COI statements in the compliance binder.\n\nCompleted IRS Form 1023-EZ\nCompleted: No\n\nPG Smart Systems: Form 1023-EZ can be completed once bylaws are adopted. Confirm eligibility checklist before submission.\n\nWatch the Pay.gov Scribe walkthrough and prepare attachments (bylaws + articles + EIN letter).\nConfirm NTEE mapping and mission text for Part III.\n\n6. Board Members (minimum 3)\nName\t         Title\t                     Mailing Address\nMaria Lopez\t    President\t          7421 Oak Meadow Dr, Dallas, TX 75240\nJames Parker\tTreasurer\t          501 Main St, Plano, TX 75074\nAnika Sharma\tSecretary\t          1400 W Mockingbird Ln, Dallas, TX 75247\n\n7. Tax Year End\nMonth: December\n\n8. Mission Statement\nTo bridge the digital divide by providing free STEM education, mentorship, and career guidance to underserved youth in Texas.\n\nPG Smart Systems: Mission aligns with educational and charitable purposes. Recommended NTEE code: U41 (Computer Science Education).\n\nUse this exact mission wording in Form 1023-EZ Part III.\n\n9. Programs & Activities\nAfter-school coding bootcamps, robotics clubs, and summer tech internships for high school students in low-income communities.\n\nPG Smart Systems: Activities clearly support educational charitable purpose. Maintain attendance and program impact records to support public charity status.\n\nTrack participant rosters, curricula, and outcomes for IRS review and annual reporting.\n\n# Draft Form 1023-EZ (Auto-Completed)\n\n# Part I\n1a.    Organization Name\tTech Pathways Texas\n1c–f.  Mailing Address\t    7421 Oak Meadow Dr, Dallas, TX 75240\n2.     EIN\t                12-3456789\n3.     Month Tax Year Ends\t12 (December)\n4.     Contact Person\t    Maria Lopez\n5.     Contact Phone\t    (214) 555-8921\n7.     User Fee\t            $275\n8.     Board Members\t    Maria Lopez; James Parker; Anika Sharma\n9a/b.  Website & Email\t    www.techpathwaystx.org / info@techpathwaystx.org\n\n# Part II\nEntity Type\t             Corporation\nDate Incorporated\t     January 18, 2025\nState\t                 Texas\n\n\n# Part III\nMission\t             To bridge the digital divide by providing free STEM education,                        mentorship, and career guidance to underserved youth in Texas.\nNTEE Code\t         U41 (Computer Science Education)\nExempt Purpose\t     Educational; Charitable\n\n# Part IV – Part VI (Eligibility Questions) — Notes\nThese sections contain yes/no eligibility questions required by the IRS. For organizations eligible for 1023-EZ, the expected answers are typically \"No\" because \"Yes\" answers often indicate ineligibility for the simplified 1023-EZ route.\n\nWhy “No” is usually given:\nThe questions ask whether the organization has engaged in prohibited political or substantial lobbying activities, has provided private benefit, had prior revocations of tax-exempt status, or transacted outside U.S. rules — new, properly-structured charities usually answer “No.”\nIf you must answer “Yes” to any of these, the organization may be ineligible for 1023-EZ and should file the full Form 1023 instead.\nAction Steps:\n\nCarefully read each eligibility question in Parts IV–VI when completing 1023-EZ.\nIf any answer is “Yes”, consult counsel or prepare to file full Form 1023.\nKeep documentation to substantiate any “No” answers, such as club records or program descriptions.\n\n\n\n\n📌 MANDATORY OUTPUT RULE — USE BELOW HTML CODE BELOW FOR THE FINAL OUTPUT\n- As your final step, you must create the output following 100% this HTML.\n- You are not allowed to return plain text outside of the HTML.\n- Generate PG Smart Systems (AI Insights) and Other input content dynamically depending on the quality of the input.\n- Keep the order and section names exactly as in the template — no extra or missing sections.\n- Analyze the provided input carefully to ensure all fields in the template are filled, including list of board members with name, title, and address, mission statement, program descriptions, and tax year end.\n- If any required detail is missing in the input, flag it clearly in the AI Insight and Action Steps for that section so the user knows what to provide.\n- Cross-check dependencies between answers (e.g., if “Articles of Incorporation” = No, the incorporation date must be blank and an action step for filing must be included).\n\n\n\n\n<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n  <title>Legalize Your Nonprofit - Sample</title>\n  <style>\n    /* Simple, print-friendly CSS */\n    body {\n      font-family: \"Arial\", \"Helvetica\", sans-serif;\n      color: #111;\n      line-height: 1.45;\n      margin: 24px;\n      max-width: 900px;\n    }\n\n    h1 {\n      font-size: 28px;\n      margin: 8px 0 16px 0;\n      text-align: left;\n    }\n\n    h2 {\n      font-size: 18px;\n      margin: 20px 0 8px 0;\n      border-bottom: 1px solid #e0e0e0;\n      padding-bottom: 6px;\n    }\n\n    .meta {\n      margin-bottom: 12px;\n    }\n\n    .meta p {\n      margin: 2px 0;\n    }\n\n    .section {\n      margin-top: 12px;\n      padding: 10px 0;\n    }\n\n    .label {\n      font-weight: 600;\n    }\n\n    .value {\n      margin: 6px 0 12px 0;\n      padding-left: 6px;\n    }\n\n    ul.action-list {\n      margin: 6px 0 12px 20px;\n    }\n\n    .small {\n      font-size: 13px;\n      color: #444;\n    }\n\n    table.summary {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 8px;\n    }\n\n    table.summary td, table.summary th {\n      border: 1px solid #ddd;\n      padding: 8px;\n      vertical-align: top;\n    }\n\n    table.summary th {\n      background: #f7f7f7;\n      text-align: left;\n      font-weight: 700;\n    }\n\n    .note {\n      background: #fcfcfc;\n      border-left: 4px solid #e6e6e6;\n      padding: 8px 12px;\n      margin: 12px 0;\n    }\n\n    .footer {\n      margin-top: 28px;\n      font-size: 13px;\n      color: #666;\n    }\n\n    /* Print tweaks */\n    @media print {\n      body { margin: 12mm; }\n      h1 { page-break-after: avoid; }\n      .section { page-break-inside: avoid; }\n    }\n  </style>\n</head>\n<body>\n\n  <h1>LEGAL FORMATION OUTPUT DOCUMENT</h1>\n\n  <div class=\"meta\">\n    <p><span class=\"label\">Organization:</span> <span class=\"value\">Tech Pathways Texas</span></p>\n    <p><span class=\"label\">State:</span> <span class=\"value\">Texas</span></p>\n    <p><span class=\"label\">Mailing Address:</span> <span class=\"value\">7421 Oak Meadow Dr, Dallas, TX 75240</span></p>\n    <p><span class=\"label\">Website:</span> <span class=\"value\">www.techpathwaystx.org</span></p>\n  </div>\n\n  <h2>Articles of Incorporation</h2>\n  <p><strong>Filed:</strong> Yes — <em>Filed January 18, 2025</em></p>\n  <p class=\"small\"><strong>PG Smart Systems:</strong> Your Articles of Incorporation are complete and include the required state filing information. Keep the stamped copy in your compliance binder.</p>\n  <div class=\"value\">\n    <ul class=\"action-list\">\n      <li>Store physical and digital copies of the stamped Articles of Incorporation.</li>\n      <li>Review annually for accuracy and update if board or address changes.</li>\n    </ul>\n  </div>\n\n  <h2>Incorporation — Date</h2>\n  <p><strong>Date of Incorporation:</strong> January 18, 2025</p>\n  <p class=\"small\"><strong>PG Smart Systems:</strong> Use this exact date when completing Form 1023-EZ Part II.</p>\n  <div class=\"value\">\n    <ul class=\"action-list\">\n      <li>Enter the exact incorporation date on all IRS and state filings.</li>\n    </ul>\n  </div>\n\n  <h2>EIN</h2>\n  <p><strong>Has EIN:</strong> Yes — <em>12-3456789</em></p>\n  <p class=\"small\"><strong>PG Smart Systems:</strong> EIN format validated and ready for filings.</p>\n  <div class=\"value\">\n    <ul class=\"action-list\">\n      <li>Keep IRS EIN confirmation letter in the compliance binder.</li>\n    </ul>\n  </div>\n\n  <h2>Bylaws</h2>\n  <p><strong>Adopted:</strong> No</p>\n  <p class=\"small\"><strong>PG Smart Systems:</strong> Bylaws are required before filing Form 1023-EZ. The organization should adopt a set of bylaws and have board approval/minutes.</p>\n  <div class=\"value\">\n    <ul class=\"action-list\">\n      <li>Use the provided bylaws template (Articles I–VII + dissolution clause).</li>\n      <li>Schedule a board meeting to approve and sign the bylaws; keep signed copies.</li>\n    </ul>\n  </div>\n\n  <h2>Conflict of Interest Policy</h2>\n  <p><strong>Adopted:</strong> Yes — <em>Adopted February 2, 2025</em></p>\n  <p class=\"small\"><strong>PG Smart Systems:</strong> Ensure all current and future board members sign an annual conflict of interest statement.</p>\n  <div class=\"value\">\n    <ul class=\"action-list\">\n      <li>Maintain signed COI statements in the compliance binder.</li>\n    </ul>\n  </div>\n\n  <h2>Completed IRS Form 1023-EZ</h2>\n  <p><strong>Completed:</strong> No</p>\n  <p class=\"small\"><strong>PG Smart Systems:</strong> Form 1023-EZ can be completed once bylaws are adopted. Confirm eligibility checklist before submission.</p>\n  <div class=\"value\">\n    <ul class=\"action-list\">\n      <li>Watch the Pay.gov Scribe walkthrough and prepare attachments (bylaws + articles + EIN letter).</li>\n      <li>Confirm NTEE mapping and mission text for Part III.</li>\n    </ul>\n  </div>\n\n  <h2>Board Members (minimum 3)</h2>\n  <table class=\"summary\" aria-label=\"Board members\">\n    <tr>\n      <th>Name</th>\n      <th>Title</th>\n      <th>Mailing Address</th>\n    </tr>\n    <tr>\n      <td>Maria Lopez</td>\n      <td>President</td>\n      <td>7421 Oak Meadow Dr, Dallas, TX 75240</td>\n    </tr>\n    <tr>\n      <td>James Parker</td>\n      <td>Treasurer</td>\n      <td>501 Main St, Plano, TX 75074</td>\n    </tr>\n    <tr>\n      <td>Anika Sharma</td>\n      <td>Secretary</td>\n      <td>1400 W Mockingbird Ln, Dallas, TX 75247</td>\n    </tr>\n  </table>\n\n  <h2>Tax Year End</h2>\n  <p><strong>Month:</strong> December</p>\n\n  <h2>Mission Statement</h2>\n  <p>To bridge the digital divide by providing free STEM education, mentorship, and career guidance to underserved youth in Texas.</p>\n  <p class=\"small\"><strong>PG Smart Systems:</strong> Mission aligns with educational and charitable purposes. Recommended NTEE code: <strong>U41 (Computer Science Education)</strong>.</p>\n  <div class=\"value\">\n    <ul class=\"action-list\">\n      <li>Use this exact mission wording in Form 1023-EZ Part III.</li>\n    </ul>\n  </div>\n\n  <h2>Programs & Activities</h2>\n  <p>After-school coding bootcamps, robotics clubs, and summer tech internships for high school students in low-income communities.</p>\n  <p class=\"small\"><strong>PG Smart Systems:</strong> Activities clearly support educational charitable purpose. Maintain attendance and program impact records to support public charity status.</p>\n  <div class=\"value\">\n    <ul class=\"action-list\">\n      <li>Track participant rosters, curricula, and outcomes for IRS review and annual reporting.</li>\n    </ul>\n  </div>\n\n  <h2>Draft Form 1023-EZ (Use this document as a guide to complete Form 1023-EZ online)</h2>\n\n  <table class=\"summary\" aria-label=\"Draft 1023-EZ Part I\">\n    <tr><th colspan=\"2\">Part I</th></tr>\n    <tr><td>1a. Organization Name</td><td>Tech Pathways Texas</td></tr>\n    <tr><td>1c–f. Mailing Address</td><td>7421 Oak Meadow Dr, Dallas, TX 75240</td></tr>\n    <tr><td>2. EIN</td><td>12-3456789</td></tr>\n    <tr><td>3. Month Tax Year Ends</td><td>12 (December)</td></tr>\n    <tr><td>4. Contact Person</td><td>Maria Lopez</td></tr>\n    <tr><td>5. Contact Phone</td><td>(214) 555-8921</td></tr>\n    <tr><td>7. User Fee</td><td>$275</td></tr>\n    <tr><td>8. Board Members</td><td>Maria Lopez; James Parker; Anika Sharma</td></tr>\n    <tr><td>9a/b. Website & Email</td><td>www.techpathwaystx.org / info@techpathwaystx.org</td></tr>\n  </table>\n\n  <table class=\"summary\" aria-label=\"Draft 1023-EZ Part II\">\n    <tr><th colspan=\"2\">Part II</th></tr>\n    <tr><td>Entity Type</td><td>Corporation</td></tr>\n    <tr><td>Date Incorporated</td><td>January 18, 2025</td></tr>\n    <tr><td>State</td><td>Texas</td></tr>\n  </table>\n\n  <table class=\"summary\" aria-label=\"Draft 1023-EZ Part III\">\n    <tr><th colspan=\"2\">Part III</th></tr>\n    <tr><td>Mission</td><td>To bridge the digital divide by providing free STEM education, mentorship, and career guidance to underserved youth in Texas.</td></tr>\n    <tr><td>NTEE Code</td><td>U41 (Computer Science Education)</td></tr>\n    <tr><td>Exempt Purpose</td><td>Educational; Charitable</td></tr>\n  </table>\n\n  <h2>Part IV – Part VI (Eligibility Questions) — Notes</h2>\n  <p class=\"small\">These sections contain yes/no eligibility questions required by the IRS. For organizations eligible for 1023-EZ, the expected answers are typically <strong>\"No\"</strong> because \"Yes\" answers often indicate ineligibility for the simplified 1023-EZ route.</p>\n\n  <div class=\"note\">\n    <strong>Why “No” is usually given:</strong>\n    <ul>\n      <li>The questions ask whether the organization has engaged in prohibited political or substantial lobbying activities, has provided private benefit, had prior revocations of tax-exempt status, or transacted outside U.S. rules — new, properly-structured charities usually answer “No.”</li>\n      <li>If you must answer “Yes” to any of these, the organization may be ineligible for 1023-EZ and should file the full Form 1023 instead.</li>\n    </ul>\n  </div>\n\n  <p><strong>Action Steps:</strong></p>\n  <ul class=\"action-list\">\n    <li>Carefully read each eligibility question in Parts IV–VI when completing 1023-EZ.</li>\n    <li>If any answer is “Yes”, consult counsel or prepare to file full Form 1023.</li>\n    <li>Keep documentation to substantiate any “No” answers, such as club records or program descriptions.</li>\n  </ul>\n\n  <div class=\"footer\">\n    <p>Prepared by: Legalize Your Nonprofit — Sample Output</p>\n    <p class=\"small\">Note: This sample is for demonstration only. Always confirm state-specific filing steps and IRS fee amounts on official sites before submission.</p>\n  </div>\n\n</body>\n</html>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2528,320],"id":"2592f742-8fbd-4eaf-9242-a4526f3729fe","name":"Legal Formation Output Document"},{"parameters":{"description":"=Your Work is to fetch the tone of content which you get from the pinecone Vector Store.","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[2880,592],"id":"bf2049df-8608-422a-baf9-7c77f9ab9ab5","name":"Tone & Format Fetcher"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tblCZgjHCVoGhKmPm","mode":"list","cachedResultName":"Stage2-Legalize-your-nonprofit","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tblCZgjHCVoGhKmPm"},"columns":{"mappingMode":"defineBelow","value":{"Generated Doc Link":"={{ $json['document-link'] }}","RecordId":"={{ $('Webhook').item.json.body.record_id }}"},"matchingColumns":["RecordId"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"RecordId","displayName":"RecordId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Generated Doc Link","displayName":"Generated Doc Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Question1","displayName":"Question1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question2","displayName":"Question2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question3","displayName":"Question3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question6","displayName":"Question6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question5","displayName":"Question5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question7","displayName":"Question7","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question8","displayName":"Question8","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question9","displayName":"Question9","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Q2Label","displayName":"Q2Label","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Q5Label","displayName":"Q5Label","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question4","displayName":"Question4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Q6Label","displayName":"Q6Label","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question10","displayName":"Question10","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question11","displayName":"Question11","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"January","value":"January"},{"name":"February","value":"February"},{"name":"March","value":"March"},{"name":"April","value":"April"},{"name":"May","value":"May"},{"name":"June","value":"June"},{"name":"July","value":"July"},{"name":"August","value":"August"},{"name":"September","value":"September"},{"name":"October","value":"October"},{"name":"November","value":"November"},{"name":"December","value":"December"}],"readOnly":false,"removed":true},{"id":"Question12","displayName":"Question12","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question13","displayName":"Question13","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question14","displayName":"Question14","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question15","displayName":"Question15","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[5376,816],"id":"8ccd4058-1bb4-49e7-b2d8-7532353d60df","name":"Airtable Logging1"},{"parameters":{"httpMethod":"POST","path":"d23afd92-7a15-4766-a7d2-8c4e62a457c4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1232,576],"id":"4b7b6498-a947-46fa-b874-e86ab3727f5f","name":"Webhook","webhookId":"d23afd92-7a15-4766-a7d2-8c4e62a457c4"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"requests\": [\n    {\n      \"createHeader\": {\n        \"type\": \"DEFAULT\"\n      }\n    },\n    {\n      \"createFooter\": {\n        \"type\": \"DEFAULT\"\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4704,816],"id":"6e2985fa-96a3-42b3-9697-63bf48ad90c2","name":"Making Header and Footer in that GDOC to put header and footer images"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"insertInlineImage\": {\n        \"uri\": \"https://drive.google.com/uc?export=view&id=13DEgh4OtwmSbs9irkQ4J0YGODB5_AcIH\",\n        \"location\": {\n          \"segmentId\": \"{{ $json.replies[0].createHeader.headerId }}\",\n          \"index\": 0\n        },\n        \"objectSize\": {\n          \"height\": {\n            \"magnitude\": 100,\n            \"unit\": \"PT\"\n          },\n          \"width\": {\n            \"magnitude\": 468,\n            \"unit\": \"PT\"\n          }\n        }\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4928,816],"id":"33185927-6c20-4784-a99e-3d80e789d573","name":"Putting images into header and footer"},{"parameters":{"assignments":{"assignments":[{"id":"83e667ea-a929-4170-afda-b71b1b94646e","name":"document-link","value":"=https://docs.google.com/document/d/{{ $json.documentId }}/edit?tab=t.0","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5168,816],"id":"03e308ff-4557-4b26-8cb3-c97543a141b1","name":"Prepare Upload Fields","notesInFlow":true},{"parameters":{"base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tblCZgjHCVoGhKmPm","mode":"list","cachedResultName":"Stage2-Legalize-your-nonprofit","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tblCZgjHCVoGhKmPm"},"id":"={{ $json.body.record_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1488,576],"id":"f8c18bff-ed09-4df9-9844-04572b3ec231","name":"Get a record"}],"connections":{"Wrap into chatInput1":{"main":[[{"node":"Legal Formation Output Document","type":"main","index":0}]]},"Prepare Upload Fields1":{"main":[[{"node":"Build Google Docs Request","type":"main","index":0}]]},"Upload to Google Docs1":{"main":[[{"node":"Making Header and Footer in that GDOC to put header and footer images","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Prepare Upload Fields1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Legal Formation Output Document","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Tone & Format Fetcher","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Tone & Format Fetcher","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Code":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Build Google Docs Request":{"main":[[{"node":"Upload to Google Docs1","type":"main","index":0}]]},"Legal Formation Output Document":{"main":[[{"node":"Code","type":"main","index":0}]]},"Tone & Format Fetcher":{"ai_tool":[[{"node":"Legal Formation Output Document","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"Making Header and Footer in that GDOC to put header and footer images":{"main":[[{"node":"Putting images into header and footer","type":"main","index":0}]]},"Putting images into header and footer":{"main":[[{"node":"Prepare Upload Fields","type":"main","index":0}]]},"Prepare Upload Fields":{"main":[[{"node":"Airtable Logging1","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Wrap into chatInput1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8026b372-8d4c-4df5-9c6c-8adebbc12fdf","triggerCount":0,"shared":[{"createdAt":"2025-08-18T10:45:44.302Z","updatedAt":"2025-08-18T10:45:44.302Z","role":"workflow:owner","workflowId":"TMmelI5tlqXTqIou","projectId":"6EdZFkSJTSDUHwBl"}],"tags":[]}