my-workflow-44-8mAp4rO8qNv4yFKy.json
{"createdAt":"2025-08-06T06:15:25.075Z","updatedAt":"2025-08-06T14:52:02.000Z","id":"8mAp4rO8qNv4yFKy","name":"My workflow 44","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-416,-144],"id":"9f7cff77-0789-4b7b-ba1a-715f740d3c13","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://www.jotform.com/build/252162813981459?apiKey=6d2cfa0f3801268095aa9d290a4f402b","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-576],"id":"29e99740-a79b-48a2-831e-ba41e435ab8b","name":"Get Form"},{"parameters":{"url":"https://api.jotform.com/form/252170868692467/questions?apiKey=86460d0bc777c7217fe26fa9e2","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,480],"id":"18c16f84-01bc-4edb-80b3-212129328d43","name":"HTTP Request"},{"parameters":{"documentId":{"__rl":true,"value":"1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM","mode":"list","cachedResultName":"Form-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[496,-608],"id":"a7f3f7e7-e0d7-43d8-84f1-7ef71fdffd3b","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9690f7d8-373b-4d6e-81ad-0ed66116aafe","leftValue":"={{ $json[\"ID Number\"] }}","rightValue":990114049087,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,-608],"id":"58f0983d-9e63-440d-b836-6f3c69c2c1eb","name":"If"},{"parameters":{"method":"POST","url":"https://api.jotform.com/form/252170868692467/submissions?apiKey=c71076b66bf22ef92af6842f2b28a675","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"submission[26]","value":"={{ $json[\"Teacher ID\"] }}"},{"name":"submission[25]","value":"={{ $json.Email }}"},{"name":"submission[18]","value":"={{ $json[\"Teacher Name\"] }}"},{"name":"submission[17]","value":"={{ $json.Branch }}"},{"name":"submission[23]","value":"={{ $json[\"ID Number\"] }}"},{"name":"submission[7]","value":"={{ $json[\"First Name\"] }}"},{"name":"submission[22]","value":"={{ $json.Surname }}"},{"name":"submission[11]","value":"={{ $json[\"Lulaway ID\"] }}"},{"name":"submission[13]","value":"Marketing"},{"name":"submission[5]","value":"ICAS TEST 1"},{"name":"submission[19]","value":"50"},{"name":"submission[20]","value":"43"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,-624],"id":"bc3d04dd-f504-481d-85b6-d3c9384b2af5","name":"HTTP Request1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"Test type\"] }}","rightValue":"=Marketing","operator":{"type":"string","operation":"equals"},"id":"26e0a8e3-6bd9-41fc-a836-a11279c1106f"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"afdfbe4e-e3a6-4a13-8f7f-fe42ad26a626","leftValue":"={{ $json[\"Test type\"] }}","rightValue":"Economics","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db91860d-5fe7-424d-87a4-5256d5ec7d0d","leftValue":"={{ $json[\"Test type\"] }}","rightValue":"Communication","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef041478-9fa9-4d27-8ac2-8f96f8b3aca6","leftValue":"={{ $json[\"Test type\"] }}","rightValue":"Entrepreneurship","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[96,-176],"id":"6b1750b6-80b1-4804-88c5-8dd9fc96a539","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"d90fbd18-61c1-42c2-96fd-8fac0d395897","name":"Test type","value":"Marketing","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-144],"id":"a1ef9e74-bc85-4108-8aa3-31cd5d909f50","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM","mode":"list","cachedResultName":"Form-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[496,-384],"id":"4b4d4e13-32f9-4b11-8653-3043b139de31","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9690f7d8-373b-4d6e-81ad-0ed66116aafe","leftValue":"={{ $json[\"ID Number\"] }}","rightValue":990114049087,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,-384],"id":"2ed136ec-9370-4763-95da-a81339e9b81b","name":"If1"},{"parameters":{"method":"POST","url":"https://api.jotform.com/form/252165838286063/submissions?apiKey=bdfd7c513f90904c84eab428911e4293","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"submission[5]","value":"=990114049087"},{"name":"submission[4]","value":"=john"},{"name":"submission[6]","value":"=wahn"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,-400],"id":"94263db6-7d3a-41ec-ad49-63dd45c34f1f","name":"HTTP Request2"},{"parameters":{"documentId":{"__rl":true,"value":"1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM","mode":"list","cachedResultName":"Form-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[480,-144],"id":"463ef2e2-6cb0-4c7a-86c2-a8113115e6e9","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9690f7d8-373b-4d6e-81ad-0ed66116aafe","leftValue":"={{ $json[\"ID Number\"] }}","rightValue":990114049087,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,-144],"id":"407bdffc-be2d-4599-803a-3959d3b39f44","name":"If2"},{"parameters":{"method":"POST","url":"https://api.jotform.com/form/252165838286063/submissions?apiKey=bdfd7c513f90904c84eab428911e4293","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"submission[5]","value":"=990114049087"},{"name":"submission[4]","value":"=john"},{"name":"submission[6]","value":"=wahn"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,-160],"id":"c9e7f3e9-7e55-48eb-a94f-38fee9a05553","name":"HTTP Request3"},{"parameters":{"documentId":{"__rl":true,"value":"1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM","mode":"list","cachedResultName":"Form-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KF_j3IdNmuGRYrcqsVPIMzH3UmYPzCRScaXBfQvBCNM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[480,96],"id":"b6b2b7f0-b13e-4363-977b-06181d5f4c0a","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9690f7d8-373b-4d6e-81ad-0ed66116aafe","leftValue":"={{ $json[\"ID Number\"] }}","rightValue":990114049087,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,96],"id":"1136a534-9d0e-4184-b6cc-31ae7b1e9dec","name":"If3"},{"parameters":{"method":"POST","url":"https://api.jotform.com/form/252165838286063/submissions?apiKey=bdfd7c513f90904c84eab428911e4293","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"submission[5]","value":"=990114049087"},{"name":"submission[4]","value":"=john"},{"name":"submission[6]","value":"=wahn"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,80],"id":"3aac338f-21c5-4951-aad0-7cab65e8deb8","name":"HTTP Request4"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Get row(s) in sheet1","type":"main","index":0}],[{"node":"Get row(s) in sheet2","type":"main","index":0}],[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"278862d4-955c-4111-ad6c-3492934aae64","triggerCount":0,"tags":[]}