my-workflow-22-fAMnxiYvusVt0RSZ.json
{"createdAt":"2025-07-09T14:26:35.859Z","updatedAt":"2025-07-10T06:23:48.000Z","id":"fAMnxiYvusVt0RSZ","name":"My workflow 22","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"1a247b82-7d21-480d-aff4-d71798b29e1e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1120,600],"id":"8d9f13b6-6f1b-48c9-b8ff-8a0e64960c7d","name":"Webhook","webhookId":"1a247b82-7d21-480d-aff4-d71798b29e1e"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.approval }}","rightValue":"Approved","operator":{"type":"string","operation":"equals"},"id":"85e45481-640c-4718-8bc9-4f33fa9ff12d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approved"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"839f6aa2-118b-4a2d-96d4-a6cfe2ea62b0","leftValue":"={{ $json.body.approval }}","rightValue":"Rejected","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Rejected"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1380,600],"id":"5897e559-d543-4c29-b4dc-ee73a3897635","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1780,820],"id":"8c0c47e9-4bda-4043-86d3-2f5ffab9b492","name":"No Operation, do nothing"},{"parameters":{"person":"9qjUaYXigd","text":"={{ $json.body.content }}","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1800,400],"id":"516bbe96-f6d0-4422-8c7d-d9c39fbef6d6","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"6p0ozPVtSQrLRlVv","name":"LinkedIn account"}}},{"parameters":{"httpMethod":"POST","path":"d504354d-7111-41a0-af89-890395bf3746","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2080,600],"id":"b73b19ad-189b-4b8a-8331-637c4a60234c","name":"Webhook1","webhookId":"d504354d-7111-41a0-af89-890395bf3746"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.approval }}","rightValue":"Approved","operator":{"type":"string","operation":"equals"},"id":"1feb158f-c6fd-4dfe-8377-aa5ec7f7b5bd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approval"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4fc7dce-6014-42fc-a4bc-52a6280a0f66","leftValue":"={{ $json.body.approval }}","rightValue":"Rejected","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":" Rejected"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2360,600],"id":"0d525f3e-1b26-4da6-901d-ec67f86a26d2","name":"Switch1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2780,840],"id":"e591724f-9d51-4eab-9a2b-bb87639665f8","name":"No Operation, do nothing1"},{"parameters":{"text":"={{ $json.body.content }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[2780,360],"id":"9c44d744-7ed4-412f-8f4e-39adcc2cbb94","name":"Create Tweet","credentials":{"twitterOAuth2Api":{"id":"ANFxt95blyKv6cTY","name":"Jamshed's X App"}}},{"parameters":{"content":"# Webhook\n**Purpose: Listens for approval decisions from external systems (like Google Sheets).**\n**Details: Accepts POST requests containing two keys:\n** `content`: the LinkedIn/Twitter post content\n** `approval`: the approval status (\"Approved\" or \"Rejected\")**\n\n# Switch\n**Purpose: Filters the incoming request based on the `approval` value.**\n**Logic**:\n** If `approval` equals `\"Approved\"` → continue to publish**\n** If `approval` equals `\"Rejected\"` → stop execution\n\n# Create a post\n**Purpose: Publishes the approved content directly to the connected LinkedIn/Twitter account.**\n**Trigger: Only executes if the post was marked as `\"Approved\"` in the switch node.**\n\n# No Operation, do nothing\n**Purpose: Gracefully handles rejected content.**\n**Behavior: Ends the workflow when a post is not approved—prevents any further action.**\n","height":1220,"width":3280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"fbfc8c23-4b53-43b5-bbc4-1758b6d8a03d","name":"Sticky Note2"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Create a post","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Create Tweet","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a827cf86-0ae6-457c-bfbb-40b5310a2e5d","triggerCount":2,"tags":[]}