my-workflow-30-MoAidFS8mqQczvwJ.json
{"createdAt":"2025-07-17T12:58:43.516Z","updatedAt":"2025-07-17T13:37:31.000Z","id":"MoAidFS8mqQczvwJ","name":"My workflow 30","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"6f6f0ff8-0fca-465e-b018-757608c86f87","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[220,0],"id":"6f305743-5823-4d90-bfb5-ef645cada1dd","name":"HTML"},{"parameters":{"assignments":{"assignments":[{"id":"4c7b49b8-bd84-4882-a35c-bb43c9f4b5e6","name":"html","value":"={{ $json.html }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,0],"id":"15cd2659-7a57-45df-bae8-61aa40c18693","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://script.google.com/macros/s/AKfycby7nx4Mdr-pofR30cOotklox3VlrYpcuPTiuqCZogYK9nsv8bdn5T36oUbcWRcl8gB4/exec","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"html\": {{ $json.html }}\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,0],"id":"23f582f9-8eb2-42f9-913a-e7baf2d429a5","name":"HTTP Request"},{"parameters":{"jsCode":"// Get the raw HTML string\nconst rawHtml = $json.html;\n\n// Extract style and script blocks\nconst styleMatch = rawHtml.match(/<style[\\s\\S]*?<\\/style>/i);\nconst scriptMatch = rawHtml.match(/<script[\\s\\S]*?<\\/script>/i);\n\n// Remove them from the original location\nlet cleanedHtml = rawHtml\n  .replace(styleMatch?.[0] || '', '')\n  .replace(scriptMatch?.[0] || '', '');\n\n// Insert style and script into <head>\ncleanedHtml = cleanedHtml.replace(\n  /<head[^>]*>/i,\n  (match) =>\n    `${match}\n    ${styleMatch?.[0] || ''}\n    ${scriptMatch?.[0] || ''}`\n);\n\nreturn [\n  {\n    json: {\n      html: cleanedHtml,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"4369cb71-76ff-4842-a78f-12cfb39f3f15","name":"Code"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Code","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e53d2884-842a-4f2c-94ea-3c84c30018f7","triggerCount":0,"tags":[]}