precise-grant-knowledge-base-PRE0hWLleZSgeR9A.json
{"createdAt":"2025-07-29T22:44:36.982Z","updatedAt":"2025-08-04T15:01:48.000Z","id":"PRE0hWLleZSgeR9A","name":"Precise-Grant-Knowledge-Base","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,1152],"id":"6087214c-00d9-445a-901a-4f322acd8e5e","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1328,1472],"id":"c5cfad92-ba08-44ac-a39e-fad7ceec84ee","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"content":"#  Google Drive Trigger\n## Watches a specific folder for new files.\n\n#  Search Files in Drive Folder \n## Action: Searches for files inside the folder with ID 1ZctVqDaF-kTeyjlDrYdtjM6w9jiKkoUi.\n\n#  Download File from Drive \n## Action: Downloads each file found from the previous node using its id.\n\n#  OpenAI Embedding \n## Purpose: Generates embeddings using OpenAI. Although connected to Pinecone, it's not directly receiving inputs unless document parsing is bypassed.\n\n#  Parse Binary to Text \n## Purpose: Converts binary documents (PDF/DOCX/TXT) into raw text for further chunking.\n\n#  Text Chunking \n## Purpose: Splits large document text into smaller parts for better embedding and semantic search performance.\n\n#  Store in Pinecone Vector Store\n## Purpose: Stores parsed and chunked document text as embeddings in Pinecone.\n","height":976,"width":3296},"type":"n8n-nodes-base.stickyNote","position":[-1024,960],"typeVersion":1,"id":"45a11558-d39d-4d82-8654-b44aa331ab30","name":"Sticky Note"},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1ZctVqDaF-kTeyjlDrYdtjM6w9jiKkoUi","mode":"list","cachedResultName":"Precise_Grant_Testing-Precise","cachedResultUrl":"https://drive.google.com/drive/folders/1ZctVqDaF-kTeyjlDrYdtjM6w9jiKkoUi"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,1008],"id":"7932b60d-b6cf-4a86-bd0c-89e63d922dab","name":"Fetch Files from Drive Folder","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}},"disabled":true},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1712,1472],"id":"2c9a1dbb-54ae-4afc-b87d-94326493ef7f","name":"Parse Binary Document (Loader)"},{"parameters":{"chunkSize":500,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1712,1696],"id":"2fc9df85-a94b-4aba-833c-135937f68080","name":"Split Text into Chunks"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{"pineconeNamespace":"=Sample Documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[1504,1152],"id":"3a9805d5-cbb9-42aa-b66c-87db0dc17d7a","name":"Upload to Pinecone Vector DB","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,2240],"id":"1cec151c-5d12-4dfc-973e-31ed97b4f71b","name":"Download file1","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1392,2560],"id":"749dd53f-7e83-4453-b9dc-8999fb2cea06","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1A0YKP3PvYaOYw64FykW3EAUjfR3d8kVY","mode":"list","cachedResultName":"Precise-Grants-Form-Documents","cachedResultUrl":"https://drive.google.com/drive/folders/1A0YKP3PvYaOYw64FykW3EAUjfR3d8kVY"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[816,2480],"id":"f3d5cd30-10f9-4319-8a90-b2a1dba9a997","name":"Fetch Files from Drive Folder1","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}},"disabled":true},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1776,2560],"id":"4e6e58f6-8945-40d7-8291-bb335eac8885","name":"Parse Binary Document (Loader)1"},{"parameters":{"chunkSize":500,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1568,2816],"id":"9249c8a8-b5b8-4677-ad6a-8cca5acec1cf","name":"Split Text into Chunks1"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{"pineconeNamespace":"={{ $json.name }}"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[1568,2240],"id":"b440e7a7-5066-46f6-b843-574ab64560d5","name":"Upload to Pinecone Vector DB1","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1184,2240],"id":"877fd0e2-95f2-494e-926d-1b87631f8b6d","name":"Loop Over Items"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1A0YKP3PvYaOYw64FykW3EAUjfR3d8kVY","mode":"list","cachedResultName":"Precise-Grants-Form-Documents","cachedResultUrl":"https://drive.google.com/drive/folders/1A0YKP3PvYaOYw64FykW3EAUjfR3d8kVY"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[768,2240],"id":"e696a7b0-57d0-4d88-a601-c2e2ff6a435a","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1ZctVqDaF-kTeyjlDrYdtjM6w9jiKkoUi","mode":"list","cachedResultName":"Precise_Grant_Testing-Precise","cachedResultUrl":"https://drive.google.com/drive/folders/1ZctVqDaF-kTeyjlDrYdtjM6w9jiKkoUi"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[816,1152],"id":"60709bd2-8807-4bf1-96c5-b0bf79be15cf","name":"Google Drive Trigger1","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"content":"#  Google Drive Trigger\n## Watches a specific folder for new files.\n\n#  Download File1 (Google Drive Download)\n## Downloads the newly uploaded file using its File ID.\n\n#  Loop Over Items (SplitInBatches)\n## Iterates over items in batches.\n\n#  Embeddings OpenAI1\n## Converts text data into vector embeddings using OpenAI's text-embedding-3-large model.\n\n#  Parse Binary Document (Loader)\n## Parses the binary file (PDF, DOCX, etc.) into readable text.\n\n#  Split Text into Chunks1 (Recursive Character Text Splitter)\n##Purpose: Splits long documents into manageable text chunks.\n\n#  Upload to Pinecone Vector DB1\n## Uploads text chunks + embeddings into Pinecone Vector DB.\n\n#  Loop Continuation (Back to Loop Over Items)\n## Purpose: Loop feedback for batch processing.\n\n","height":1248,"width":3296},"type":"n8n-nodes-base.stickyNote","position":[-1024,2080],"typeVersion":1,"id":"c6649105-aa45-4e0b-9ff3-eb67f465a625","name":"Sticky Note1"}],"connections":{"Download file":{"main":[[{"node":"Upload to Pinecone Vector DB","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Upload to Pinecone Vector DB","type":"ai_embedding","index":0}]]},"Fetch Files from Drive Folder":{"main":[[]]},"Parse Binary Document (Loader)":{"ai_document":[[{"node":"Upload to Pinecone Vector DB","type":"ai_document","index":0}]]},"Split Text into Chunks":{"ai_textSplitter":[[{"node":"Parse Binary Document (Loader)","type":"ai_textSplitter","index":0}]]},"Upload to Pinecone Vector DB":{"main":[[]]},"Download file1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Upload to Pinecone Vector DB1","type":"ai_embedding","index":0}]]},"Fetch Files from Drive Folder1":{"main":[[]]},"Parse Binary Document (Loader)1":{"ai_document":[[{"node":"Upload to Pinecone Vector DB1","type":"ai_document","index":0}]]},"Split Text into Chunks1":{"ai_textSplitter":[[{"node":"Parse Binary Document (Loader)1","type":"ai_textSplitter","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Upload to Pinecone Vector DB1","type":"main","index":0}]]},"Upload to Pinecone Vector DB1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Download file1","type":"main","index":0}]]},"Google Drive Trigger1":{"main":[[{"node":"Download file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"45a5d5ad-6d8f-4d26-8edd-c00182a45cab","triggerCount":0,"tags":[]}