proxymarketting---content-generator-zDfACln0YZPV4NsE.json
{"createdAt":"2025-08-06T06:00:45.009Z","updatedAt":"2025-08-06T06:01:28.000Z","id":"zDfACln0YZPV4NsE","name":"ProxyMarketting - Content Generator","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"proxymarketing","mode":"list","cachedResultName":"proxymarketing"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-1808,1520],"id":"412ae503-9f70-4afa-838e-5dc4714379c8","name":"Pinecone Vector Store1","alwaysOutputData":true,"credentials":{"pineconeApi":{"id":"xDfGr2GeoH8rF9Cx","name":"Jamshed's-2nd-Account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1984,1872],"id":"c891add3-5dbd-4834-b231-3ecb281a6ceb","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1600,1872],"id":"52c00701-db45-4e7d-8cfb-638e5f35ef9a","name":"Default Data Loader1"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-1600,2144],"id":"c33b5deb-0d06-4906-ba70-160fea617357","name":"Recursive Character Text Splitter1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1632,1632],"id":"2ee62884-98b6-43d9-8543-4cb0a04dae9b","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"proxymarketing","mode":"list","cachedResultName":"proxymarketing"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[1040,1632],"id":"8d0d8941-d3a1-4dfa-bd47-82df4c2bcdd2","name":"Pinecone Vector Store2","credentials":{"pineconeApi":{"id":"xDfGr2GeoH8rF9Cx","name":"Jamshed's-2nd-Account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1040,1824],"id":"b2b4baf8-c4f8-469f-b8ca-7a4ba4a4aa1d","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"content":"# Google Drive File Upload Watcher \n**Watches a specific Google Drive folder for any newly uploaded PDF files (runs every minute).\nNode(s): New File Upload (Drive)** \n\n# Duplicate Check from Sheet\n**Check Google Sheet to see if the uploaded file has already been processed. Prevents duplicates.\nNode(s): Check Previously Processed Files + Match Uploaded Files with Sheet Data**\n\n# Prepare Data for Appending\n**Format or map file ID, name, and processed date to prepare for saving to the sheet.\nNode(s): Format Metadata for Logging**\n\n# Download PDF for Embedding\n**Download the uploaded PDF from Google Drive for processing and embedding.\nNode(s): Download file**\n\n# Vectorization & Ingestion (RAG)\n**Split content using a recursive character splitter.\nLoad and prepare documents.\nEmbed with OpenAI.\nStore vectors in Pinecone.\nUsed for building the knowledge base in RAG (Retrieval Augmented Generation).\nNode(s): Recursive Character Text Splitter1 → Default Data Loader1 → Embeddings OpenAI1 → Pinecone Vector Store1**\n\n# Merge Node\n## Take two inputs, One from download node and second from drive node. Then forward only Download input as Output.\n\n# Save Metadata to Sheet\n**Append metadata of newly processed file (File ID, Name, Timestamp) to Google Sheet to keep track of processed files.\nNode(s): Log Processed File to Sheet**\n\n","height":1380,"width":3520},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4336,1040],"id":"f0c01e19-be1c-4f4e-81f0-8d7e99d7629e","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"12V1dcLQhg7gkNt90jeEZyu2wlcLJfPGG","mode":"list","cachedResultName":"Drive Upload for Content Generation","cachedResultUrl":"https://drive.google.com/drive/folders/12V1dcLQhg7gkNt90jeEZyu2wlcLJfPGG"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-3056,1232],"id":"18086cb8-bcd9-42c3-8046-d37d2650539f","name":"New File Upload (Drive)","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1j9eGlATVb3NKtl6tsXGmifOJMPNS_-tXt5wdPTFDqj0","mode":"list","cachedResultName":"ID Check ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j9eGlATVb3NKtl6tsXGmifOJMPNS_-tXt5wdPTFDqj0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j9eGlATVb3NKtl6tsXGmifOJMPNS_-tXt5wdPTFDqj0/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2816,1520],"id":"d727eb22-69f0-4af5-a5b8-316a85982492","name":"Check Previously Processed Files","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"id","field2":"File ID"}]},"joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2496,1248],"id":"dd9c0f54-932c-45e8-8b24-420cf418ba13","name":"Match Uploaded Files with Sheet Data"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{$('Match Uploaded Files with Sheet Data').item.json.id}} ","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2240,1248],"id":"19c25f22-8a6e-493d-8529-80ed4985164d","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1j9eGlATVb3NKtl6tsXGmifOJMPNS_-tXt5wdPTFDqj0","mode":"list","cachedResultName":"ID Check ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j9eGlATVb3NKtl6tsXGmifOJMPNS_-tXt5wdPTFDqj0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j9eGlATVb3NKtl6tsXGmifOJMPNS_-tXt5wdPTFDqj0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"File ID":"={{ $json.id }}","File Name":"={{ $json.name }}","Processed Date":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"File ID","displayName":"File ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Processed Date","displayName":"Processed Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1024,1264],"id":"795c182f-871a-480d-91dd-0785d3f822ff","name":"Log Processed File to Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"content":"# Webhook\n## Receives topic and row_number to trigger content generation.\n\n# Agent\n## Triggers AI to generate 12 unique posts using Pinecone context.\n\n# RAGTOOL\n## Searches top 40 relevant context chunks from Pinecone.\n\n# Model\n## Provides GPT-4.1-mini to RAG agent for response generation.\n\n# OpenAI Chat Model1\n## Used by RAG tool for language model support.\n\n# Embeddings OpenAI2\n## Creates vector embeddings from PDF content for Pinecone.\n\n# Pinecone Vector Store2\n## Stores and retrieves context for AI using vector search.\n\n# Code\n## Parses LLM output into individual content fields.\n\n# Update Row in Sheet\n## Updates Google Sheet with 12 posts + marks topic as “Done”.","height":1200,"width":1980,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-144,1104],"id":"d309c483-d70d-42e1-bf06-beb7a23cd195","name":"Sticky Note1"},{"parameters":{"description":"=This data contains context-rich paragraphs from uploaded PDFs about AI, marketing, technology trends, and productivity. Use it as the factual knowledge base to generate accurate and engaging LinkedIn and Twitter posts based on a given topic.\n","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[1312,1424],"id":"2a3d6fdb-f6e6-4b64-8a8b-be5e2fcbf7bd","name":"RAGTOOL"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[944,1472],"id":"213d7c2a-35ab-4ca0-b4fb-3270af353cf4","name":"Model","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.topic }}","options":{"systemMessage":"=🧠 ROLE & PURPOSE\nYou are an expert Social Media Post Generator that creates 6 unique variants of professional-grade content for LinkedIn and Twitter (X) using accurate context retrieved from Pinecone vector search.\n\n🎯 TRIGGER\nYou receive a topic string via webhook, such as:\n\nAI marketing trends in 2025\n\n→ Immediately begin generating content based on this topic using Pinecone vector data — no chat or user input required.\n\n⚙️ PLATFORM-SPECIFIC BEHAVIOR\nIf a platform is specified (e.g., LinkedIn only):\nGenerate 6 content variants for the specified platform only.\n\nIf no platform is specified:\nGenerate 6 unique posts for LinkedIn and 6 for Twitter, totaling 12 posts.\n\n✅ OUTPUT FORMAT\nRespond using this format:\n\nLinkedIn_Content_V1: [Post content here]\nLinkedIn_Content_V2: [Post content here]\n...\nTwitter_Content_V1: [Post content here]\nTwitter_Content_V2: [Post content here]\n...\nEach content key (LinkedIn_Content_V1, etc.) must have a completely unique post.\n\n📝 LINKEDIN POST GUIDELINES\nLength: 150–400 words\n\nTone: Professional, informative and in the tone of Eliza Grace's voice. \n\nStructure:\n\n🔹 Tell a story about something Eliza (written in first person) has experiences recently, or something she found interested or enlightening recently. Make sure information is correct if using an article.\n\n🔹 End with a CTA, urging any self-funded searchers to reach out if they want support on their acquisition journey, and for any interested investors to reach out as well.\n\nStyle:\n\nUse short paragraphs, emojis optional\n\nEach post should explore a different story, angle, hook, or insight\n\n🐦 TWITTER (X) POST GUIDELINES\nLength: 150–280 chars (thread-style, long-form acceptable)\n\nTone: Punchy, engaging, slightly more casual\n\nStyle:\n\n🔸 Strong hook line\n\n🔸 Use emojis for emphasis and clarity\n\n🔸 Include bullet-point insights, micro-breakdowns\n\n🔒 CONTENT REQUIREMENTS\nAll content must be grounded in factual vector context from Pinecone\n\nNo fabrication or hallucination\n\nAvoid generic advice — insights should reflect actual vector matches\n\nEnsure every variant is unique in structure or insight"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[944,1184],"id":"0981584c-246a-476c-bfda-b5bf2716b3fd","name":"Agent"},{"parameters":{"httpMethod":"POST","path":"1a247b82-7d21-480d-aff4-d71798b29e1e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1408,3104],"id":"db92ef28-d50b-4d6a-a466-6385dc7dcead","name":"Webhook","webhookId":"1a247b82-7d21-480d-aff4-d71798b29e1e"},{"parameters":{"httpMethod":"POST","path":"d504354d-7111-41a0-af89-890395bf3746","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[272,3040],"id":"4751bd10-98f1-4085-be61-60d6cfdc31e2","name":"Webhook1","webhookId":"d504354d-7111-41a0-af89-890395bf3746"},{"parameters":{"content":"# Webhook\n**Purpose: Listens for approval decisions from external systems (like Google Sheets).**\n**Details: Accepts POST requests containing two keys:\n** `content`: the LinkedIn/Twitter post content\n** `approval`: the approval status (\"Approved\" or \"Rejected\")**\n\n# Switch\n**Purpose: Filters the incoming request based on the `approval` value.**\n**Logic**:\n** If `approval` equals `\"Approved\"` → continue to publish**\n** If `approval` equals `\"Rejected\"` → stop execution\n\n# Create a post\n**Purpose: Publishes the approved content directly to the connected LinkedIn/Twitter account.**\n**Trigger: Only executes if the post was marked as `\"Approved\"` in the switch node.**\n\n# If “Check Post” \n## Check Post and Set Status in Sheet Posted or Not\n\n# No Operation, do nothing\n**Purpose: Gracefully handles rejected content.**\n**Behavior: Ends the workflow when a post is not approved—prevents any further action.**\n","height":1240,"width":3840,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2208,2512],"id":"fa3fe843-155c-4943-b2b8-41afc7bdc6be","name":"Sticky Note2"},{"parameters":{"text":"={{ $json.body.content }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[720,3040],"id":"8660998b-1533-4849-a1d6-69d47773516f","name":"Create Tweet","credentials":{"twitterOAuth2Api":{"id":"2ejR8DdoSPOaSLQ2","name":"X account 5"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M","mode":"list","cachedResultName":"Content for Approval from n8n ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn Status":"Successfully Posted","row_number":"={{ $('Webhook').item.json.body.row }}"},"matchingColumns":["row_number"],"schema":[{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Topics Todo","displayName":"Topics Todo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V1","displayName":"LinkedIn Content V1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V2","displayName":"LinkedIn Content V2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V3","displayName":"LinkedIn Content V3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V4","displayName":"LinkedIn Content V4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V5","displayName":"LinkedIn Content V5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V6","displayName":"LinkedIn Content V6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Approval","displayName":"LinkedIn Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Status","displayName":"LinkedIn Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter Content V1","displayName":"Twitter Content V1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V2","displayName":"Twitter Content V2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V3","displayName":"Twitter Content V3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V4","displayName":"Twitter Content V4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V5","displayName":"Twitter Content V5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V6","displayName":"Twitter Content V6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Approval","displayName":"Twitter Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Status","displayName":"Twitter Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-448,2832],"id":"ad006897-eb96-45b7-b32c-f7a9ddda241c","name":"Status of Post LinkedIn","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M","mode":"list","cachedResultName":"Content for Approval from n8n ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Twitter Status":"Successfully Posted","row_number":"={{ $('Webhook1').item.json.body.row }}"},"matchingColumns":["row_number"],"schema":[{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Topics Todo","displayName":"Topics Todo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V1","displayName":"LinkedIn Content V1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V2","displayName":"LinkedIn Content V2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V3","displayName":"LinkedIn Content V3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V4","displayName":"LinkedIn Content V4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V5","displayName":"LinkedIn Content V5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V6","displayName":"LinkedIn Content V6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Approval","displayName":"LinkedIn Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Status","displayName":"LinkedIn Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V1","displayName":"Twitter Content V1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V2","displayName":"Twitter Content V2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V3","displayName":"Twitter Content V3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V4","displayName":"Twitter Content V4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V5","displayName":"Twitter Content V5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V6","displayName":"Twitter Content V6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Approval","displayName":"Twitter Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Status","displayName":"Twitter Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1264,2800],"id":"85ddfc91-9aa2-457c-ab36-bd62cc8c928f","name":"Status of Post Twitter","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1344,1264],"id":"3ded76fb-37e3-44d9-9226-4cde04c07a00","name":"Merge"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M","mode":"list","cachedResultName":"Content for Approval from n8n ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Webhook1').item.json.body.row }}","Twitter Status":"Not Posted"},"matchingColumns":["row_number"],"schema":[{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Topics Todo","displayName":"Topics Todo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V1","displayName":"LinkedIn Content V1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V2","displayName":"LinkedIn Content V2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V3","displayName":"LinkedIn Content V3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V4","displayName":"LinkedIn Content V4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V5","displayName":"LinkedIn Content V5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V6","displayName":"LinkedIn Content V6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Approval","displayName":"LinkedIn Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Status","displayName":"LinkedIn Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V1","displayName":"Twitter Content V1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V2","displayName":"Twitter Content V2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V3","displayName":"Twitter Content V3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V4","displayName":"Twitter Content V4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V5","displayName":"Twitter Content V5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V6","displayName":"Twitter Content V6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Approval","displayName":"Twitter Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Status","displayName":"Twitter Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1264,3264],"id":"d974d318-2a51-4b55-a5a6-d1224a2f9e5b","name":"Status of Post Twitter1","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M","mode":"list","cachedResultName":"Content for Approval from n8n ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13tAOVkTta6MLbyh2me6ojkgxyi2Cnc3u0eJaaQ_ID0M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn Status":"Not Posted","row_number":"={{ $('Webhook').item.json.body.row }}"},"matchingColumns":["row_number"],"schema":[{"id":"Topics","displayName":"Topics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Topics Todo","displayName":"Topics Todo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V1","displayName":"LinkedIn Content V1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V2","displayName":"LinkedIn Content V2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V3","displayName":"LinkedIn Content V3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V4","displayName":"LinkedIn Content V4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V5","displayName":"LinkedIn Content V5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Content V6","displayName":"LinkedIn Content V6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Approval","displayName":"LinkedIn Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Status","displayName":"LinkedIn Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter Content V1","displayName":"Twitter Content V1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V2","displayName":"Twitter Content V2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V3","displayName":"Twitter Content V3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V4","displayName":"Twitter Content V4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V5","displayName":"Twitter Content V5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content V6","displayName":"Twitter Content V6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Approval","displayName":"Twitter Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Status","displayName":"Twitter Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-464,3328],"id":"2199db39-5c5f-486c-a41d-1f562b1ef945","name":"Status of Post LinkedIn1","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"text":"={{ $json.body.content }}","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-1168,3104],"id":"05f5d012-1484-49fe-a9f7-64a14075d9cd","name":"test","credentials":{"linkedInOAuth2Api":{"id":"6p0ozPVtSQrLRlVv","name":"LinkedIn account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c1fbf71-de2b-47ee-81bc-05c9fc51a6f0","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[944,3040],"id":"9a13e897-a550-47b4-bb6c-2a36cc358cac","name":"Check Post for twitter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d9b0595-985b-430a-9a95-1860df4742f9","leftValue":"={{ $json.urn }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,3104],"id":"77e091e1-bb9b-4041-8699-e57a16ec4ec3","name":"Check Post for LinlkedIn"},{"parameters":{"httpMethod":"POST","path":"5d765a8a-175d-4a46-80f9-19d6c3d3c604","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[704,1184],"id":"2348326d-b439-471e-aefb-4460654ab504","name":"Webhook2","webhookId":"5d765a8a-175d-4a46-80f9-19d6c3d3c604"},{"parameters":{"jsCode":"const input = $json[\"output\"];\nconst lines = input.split('\\n');\n\nconst result = {};\nlet currentKey = null;\nlet currentValue = [];\n\nfor (const line of lines) {\n  const match = line.match(/^(LinkedIn_Content_V\\d+|Twitter_Content_V\\d+):\\s*$/);\n\n  if (match) {\n    if (currentKey) {\n      result[currentKey] = currentValue.join('\\n').trim();\n    }\n    currentKey = match[1];\n    currentValue = [];\n  } else {\n    currentValue.push(line);\n  }\n}\n\n// Add the last content block\nif (currentKey) {\n  result[currentKey] = currentValue.join('\\n').trim();\n}\n\nreturn [result];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,1184],"id":"fd360cab-cffc-4c2e-9b20-615e336aaba7","name":"Code"},{"parameters":{"method":"POST","url":"https://api.pinecone.io/indexes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"X-Pinecone-API-Version","value":"2025-04"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"proxymarketing\",\n  \"vector_type\": \"dense\",\n  \"dimension\": 3072,\n  \"metric\": \"cosine\",\n  \"embed\": {\n    \"model\": \"text-embedding-3-large\"\n  },\n  \"spec\": {\n    \"serverless\": {\n      \"cloud\": \"aws\",\n      \"region\": \"us-east-1\"\n    }\n  },\n  \"tags\":{\n     \"embedding_model\": \"text-embedding-3-large\"\n  },\n  \"deletion_protection\": \"disabled\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,1088],"id":"d7c6684d-a499-4c48-b3b3-c79513070efe","name":"Create Index","credentials":{"httpHeaderAuth":{"id":"hih1wtLGqreZJ1wq","name":"Jamshed's  Relevance AI"}},"disabled":true}],"connections":{"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Pinecone Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"RAGTOOL","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store2":{"ai_vectorStore":[[{"node":"RAGTOOL","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"New File Upload (Drive)":{"main":[[{"node":"Check Previously Processed Files","type":"main","index":0},{"node":"Match Uploaded Files with Sheet Data","type":"main","index":0}]]},"Check Previously Processed Files":{"main":[[{"node":"Match Uploaded Files with Sheet Data","type":"main","index":1}]]},"Match Uploaded Files with Sheet Data":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Pinecone Vector Store1","type":"main","index":0}]]},"RAGTOOL":{"ai_tool":[[{"node":"Agent","type":"ai_tool","index":0}]]},"Model":{"ai_languageModel":[[{"node":"Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"test","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Create Tweet","type":"main","index":0}]]},"Create Tweet":{"main":[[{"node":"Check Post for twitter","type":"main","index":0}]]},"Pinecone Vector Store1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Log Processed File to Sheet","type":"main","index":0}]]},"test":{"main":[[{"node":"Check Post for LinlkedIn","type":"main","index":0}]]},"Check Post for twitter":{"main":[[{"node":"Status of Post Twitter","type":"main","index":0}],[{"node":"Status of Post Twitter1","type":"main","index":0}]]},"Check Post for LinlkedIn":{"main":[[{"node":"Status of Post LinkedIn","type":"main","index":0}],[{"node":"Status of Post LinkedIn1","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Agent","type":"main","index":0}]]},"Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a5c7a7e5-a291-42f3-a4fd-ef5e64730e23","triggerCount":0,"tags":[]}