proxymarketing-JiULumsIZc2N0J0e.json
{"createdAt":"2025-07-11T12:58:30.270Z","updatedAt":"2025-07-30T07:23:56.000Z","id":"JiULumsIZc2N0J0e","name":"ProxyMarketing","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[2220,480],"id":"01a694ae-18d2-4d3b-9d03-908b62a8f2cc","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2080,740],"id":"d6e5bcf9-cbc2-4c6a-bdfc-bca13ac715e6","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[2320,780],"id":"658e5ecc-e07e-4177-b53e-c3985fb00717","name":"Default Data Loader1"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2380,980],"id":"6741c71c-75d8-4af6-8970-5f25a76792eb","name":"Recursive Character Text Splitter1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[4220,240],"id":"2bf23340-3959-4f95-aafe-46e16b072d2e","name":"When chat message received","webhookId":"afa2ae84-f160-4988-acf7-e0fc6604c7b9"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5180,660],"id":"c9ca1c9a-e517-401b-a7e5-2fed269dc9b4","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[4800,700],"id":"14e49bf7-ac4e-42a5-b6f8-4a777431206c","name":"Pinecone Vector Store2","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4800,900],"id":"65e2ff98-0597-4ecb-867e-79f422bdd02e","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"content":"# Google Drive File Upload Watcher \n**Watches a specific Google Drive folder for any newly uploaded PDF files (runs every minute).\nNode(s): New File Upload (Drive)** \n\n# Duplicate Check from Sheet\n**Check Google Sheet to see if the uploaded file has already been processed. Prevents duplicates.\nNode(s): Check Previously Processed Files + Match Uploaded Files with Sheet Data**\n\n# Prepare Data for Appending\n**Format or map file ID, name, and processed date to prepare for saving to the sheet.\nNode(s): Format Metadata for Logging**\n\n# Download PDF for Embedding\n**Download the uploaded PDF from Google Drive for processing and embedding.\nNode(s): Download file**\n\n# Vectorization & Ingestion (RAG)\n**Split content using a recursive character splitter.\nLoad and prepare documents.\nEmbed with OpenAI.\nStore vectors in Pinecone.\nUsed for building the knowledge base in RAG (Retrieval Augmented Generation).\nNode(s): Recursive Character Text Splitter1 → Default Data Loader1 → Embeddings OpenAI1 → Pinecone Vector Store1**\n\n# Save Metadata to Sheet\n**Append metadata of newly processed file (File ID, Name, Timestamp) to Google Sheet to keep track of processed files.\nNode(s): Log Processed File to Sheet**\n\n","height":1180,"width":2580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[60,80],"id":"8feec818-0d4c-4b40-83e7-132ce7ab19d6","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1aMPd8Dobi1t-n558Go0ZveYfj7CaJ28l","mode":"list","cachedResultName":"Proxy_Marketting","cachedResultUrl":"https://drive.google.com/drive/folders/1aMPd8Dobi1t-n558Go0ZveYfj7CaJ28l"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[780,300],"id":"e72aac47-b741-46c5-92f0-e8f59b62e0e2","name":"New File Upload (Drive)","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4","mode":"list","cachedResultName":"Proxy_Marketing ID Check","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1160,600],"id":"691a189b-3936-4080-9014-a79cad45c902","name":"Check Previously Processed Files","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"id","field2":"File ID"}]},"joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1400,320],"id":"e2c87ec1-ef98-47e4-aad7-faa98308f862","name":"Match Uploaded Files with Sheet Data"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1700,320],"id":"95ea771c-4009-42f9-aa70-b37282d7817d","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4","mode":"list","cachedResultName":"Proxy_Marketing ID Check","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"File ID":"={{ $('Download file').item.json.id }}","File Name":"={{ $('Match Uploaded Files with Sheet Data').item.json.name }}","Processed Date":"={{ $now.toFormat(\"yyyy-MM-dd HH:mm\") }}"},"matchingColumns":[],"schema":[{"id":"File ID","displayName":"File ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Processed Date","displayName":"Processed Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2300,220],"id":"43f255ce-be3e-4c48-a3d1-d2be3b7245b0","name":"Log Processed File to Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"content":"# Trigger\n**Starts the workflow when a chat message is received.\nWaits for user input from the interface or integration.**\n\n# Agent\n**Main control unit.\nReceives the user's topic and delegates the task of post generation, using memory, tools, and LLMs.**\n\n# Memory\n**Short-term context memory.\nStores recent messages to maintain continuity in conversation or prompts.**\n\n# Model\n**Primary LLM for conversation.\nHandles the user-agent conversation and interprets instructions.**\n\n# RAGTool\n**Retrieves factual context from Pinecone.\nQueries vector embeddings to fetch relevant context for the post.**\n\n# Query\n**Internal language model for tool.\nUsed by the RAGTool to turn queries into embedding-compatible format.**\n\n# Embed\n**Generates embeddings from uploaded documents.\nFeeds knowledge into the Pinecone vector store.**\n\n# VectorStore\nStores and searches vectorized knowledge.\nActs as the memory base for retrieval-augmented generation (RAG).**\n\n# Approval for Twitter/LinkedIn\n**Final output storage.\nStores complete LinkedIn posts in the Content column of a Google Sheet, only if they meet quality criteria.**\n\n","height":1180,"width":1980,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3440,80],"id":"cf838cd5-b3ec-4415-bbc8-86f4721a32f3","name":"Sticky Note1"},{"parameters":{"description":"=This data contains context-rich paragraphs from uploaded PDFs about AI, marketing, technology trends, and productivity. Use it as the factual knowledge base to generate accurate and engaging LinkedIn and Twitter posts based on a given topic.\n","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[4940,500],"id":"2049643a-761a-461c-af66-51ea2e267bf0","name":"RAGTOOL"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4240,480],"id":"42719ea4-5114-4589-abb5-d18d39d93622","name":"Model","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4380,480],"id":"fd0b5579-cee4-4655-87d7-2038abd551aa","name":"Memory"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=# Role & Purpose\nYou are an expert Social Media Post Generator that creates **professional-grade content for LinkedIn and Twitter (X) using vector-based context (from Pinecone). Every post must be optimized for the selected platform and based strictly on factual, retrieved knowledge — no assumptions, no hallucination.\n\n# Platform Detection & Response\n\n1. If the user specifies a platform:\n   * Generate only for that platform (`LinkedIn` or `Twitter`)\n   * Return one response for that platform only\n   * Immediately save the post to Google Sheets:\n     * Sheet: `\"Content Approval for Twitter/LinkedIn\"`\n     * LinkedIn → Column: `\"LinkedIn Content\"`\n     * Twitter → Column: `\"Twitter Content\"`\n\n2. If the user doesn’t specify a platform:\n\n   * Ask: “Would you like this post for LinkedIn, Twitter, or both?”\n   * Wait for the user to respond before generating content\n# LinkedIn Post Guidelines\n* Word Count: 150–300 words\n* Tone: Professional, informative, executive-level\n* Structure:\n  * 🔹 Strong opening hook (trend, insight, or data point)\n  * 🔹 Body: Clear, fact-based value (from vector results)\n  * 🔹 Closing: CTA, question, or final reflection\n  * 🔹 Use formatting: short paragraphs, bullets, caps for emphasis\n  * 🔹 Add up to 3 relevant **hashtags** if appropriate\n\n# Twitter (X) Post Guidelines\n* Character Limit: 280 characters\n* Tone: Engaging, sharp, and direct\n* Structure**:\n  * 🔸 Hook or micro-insight\n  * 🔸 Context or point (based on vector knowledge)\n  * 🔸 **Mandatory use of emojis** to support tone and visibility\n  * 🔸 Optionally include up to 2 **hashtags or emojis** at the end\n\n# Input Handling\n* Always use vector search (Pinecone) to base content on factual, context-aware data\n* Never generate generic or made-up insights\n* If the message is a greeting or unclear → respond politely and ask for clarification or the topic\n\n# Output Saving\n* At the end of the post generation process — always save the finalized content to the following Google Sheet:\n  * Sheet: `\"Content Approval for Twitter/LinkedIn\"`\n  * Save the LinkedIn post in the `\"LinkedIn Content\"` column\n  * Save the Twitter post in the `\"Twitter Content\"` column\n* Do this saving step as the final action before stopping the workflow\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4520,240],"id":"44ade33f-e454-45d0-b959-125adb531f39","name":"Agent"},{"parameters":{"httpMethod":"POST","path":"1a247b82-7d21-480d-aff4-d71798b29e1e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[460,2040],"id":"04a8ee4e-b131-4318-b94f-c015af394d96","name":"Webhook","webhookId":"1a247b82-7d21-480d-aff4-d71798b29e1e"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.approval }}","rightValue":"Approved","operator":{"type":"string","operation":"equals"},"id":"85e45481-640c-4718-8bc9-4f33fa9ff12d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approved"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"839f6aa2-118b-4a2d-96d4-a6cfe2ea62b0","leftValue":"={{ $json.body.approval }}","rightValue":"Rejected","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Rejected"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,2040],"id":"321136ca-41ce-4864-b478-2b8350602d96","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,2260],"id":"776723cd-823c-4b0e-84e3-a55280081cee","name":"No Operation, do nothing"},{"parameters":{"person":"9qjUaYXigd","text":"={{ $json.body.content }}","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1140,1840],"id":"02ef95f1-c746-4f78-b5e0-47575d5a7468","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"6p0ozPVtSQrLRlVv","name":"LinkedIn account"}}},{"parameters":{"httpMethod":"POST","path":"d504354d-7111-41a0-af89-890395bf3746","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1420,2040],"id":"bdb714e7-44f1-4503-8402-3c6385814379","name":"Webhook1","webhookId":"d504354d-7111-41a0-af89-890395bf3746"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.approval }}","rightValue":"Approved","operator":{"type":"string","operation":"equals"},"id":"1feb158f-c6fd-4dfe-8377-aa5ec7f7b5bd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approval"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4fc7dce-6014-42fc-a4bc-52a6280a0f66","leftValue":"={{ $json.body.approval }}","rightValue":"Rejected","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":" Rejected"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1700,2040],"id":"d199e91d-7159-437d-a955-f71fb34f33c6","name":"Switch1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2120,2280],"id":"b21c289e-9fb6-4d8d-9b5d-ac4e8220b344","name":"No Operation, do nothing1"},{"parameters":{"content":"# Webhook\n**Purpose: Listens for approval decisions from external systems (like Google Sheets).**\n**Details: Accepts POST requests containing two keys:\n** `content`: the LinkedIn/Twitter post content\n** `approval`: the approval status (\"Approved\" or \"Rejected\")**\n\n# Switch\n**Purpose: Filters the incoming request based on the `approval` value.**\n**Logic**:\n** If `approval` equals `\"Approved\"` → continue to publish**\n** If `approval` equals `\"Rejected\"` → stop execution\n\n# Create a post\n**Purpose: Publishes the approved content directly to the connected LinkedIn/Twitter account.**\n**Trigger: Only executes if the post was marked as `\"Approved\"` in the switch node.**\n\n# No Operation, do nothing\n**Purpose: Gracefully handles rejected content.**\n**Behavior: Ends the workflow when a post is not approved—prevents any further action.**\n","height":1220,"width":3280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,1440],"id":"9f51ca92-e3a8-44a5-adb8-7abf9125270e","name":"Sticky Note2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Lq2pTzTgCtD-jMdr9Esm5HdCeh7BxdM9ajgzwJg4Dqg","mode":"list","cachedResultName":"Proxy_Marketting Content Approval for Twitter/LinkedIn ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lq2pTzTgCtD-jMdr9Esm5HdCeh7BxdM9ajgzwJg4Dqg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Content Approval for Twitter","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lq2pTzTgCtD-jMdr9Esm5HdCeh7BxdM9ajgzwJg4Dqg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn Content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('LinkedIn_Content', ``, 'string') }}","Twitter Content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Twitter_Content', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"LinkedIn Content","displayName":"LinkedIn Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn Approval","displayName":"LinkedIn Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Approval","displayName":"Twitter Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[4500,620],"id":"78e24459-6a59-4f73-8b2c-d3ce1644059d","name":"Content Approval for Twitter/LinkedIn","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"text":"={{ $json.body.content }}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[2120,1900],"id":"da87b10f-3fca-4357-bc63-32ebb0c7b301","name":"Create Tweet","credentials":{"twitterOAuth2Api":{"id":"gnDgGOe4AYxKHhLd","name":"Jamshed's X account"}}}],"connections":{"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Pinecone Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"RAGTOOL","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store2":{"ai_vectorStore":[[{"node":"RAGTOOL","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"New File Upload (Drive)":{"main":[[{"node":"Match Uploaded Files with Sheet Data","type":"main","index":0},{"node":"Check Previously Processed Files","type":"main","index":0}]]},"Check Previously Processed Files":{"main":[[{"node":"Match Uploaded Files with Sheet Data","type":"main","index":1}]]},"Match Uploaded Files with Sheet Data":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store1","type":"main","index":0},{"node":"Log Processed File to Sheet","type":"main","index":0}]]},"RAGTOOL":{"ai_tool":[[{"node":"Agent","type":"ai_tool","index":0}]]},"Model":{"ai_languageModel":[[{"node":"Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Create a post","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Create Tweet","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Content Approval for Twitter/LinkedIn":{"ai_tool":[[{"node":"Agent","type":"ai_tool","index":0}]]},"Create Tweet":{"main":[[]]},"Pinecone Vector Store1":{"main":[[]]},"Agent":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Bs9nAZDSVW8QlMiA"},"staticData":{"node:New File Upload (Drive)":{"lastTimeChecked":"2025-07-30T06:56:56Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dcf44d5f-6478-43c6-baf1-c87446655940","triggerCount":4,"tags":[]}