sending-personalized-offers-Xpp6lJlhP2FDXJCq.json
{"createdAt":"2025-09-01T06:41:27.952Z","updatedAt":"2025-09-22T10:57:01.000Z","id":"Xpp6lJlhP2FDXJCq","name":"Sending-Personalized-Offers","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"#  Manual trigger\n## Manual trigger to start the workflow.\n\n#  Clients (Google Sheets)\n## Reads client list from Google Sheet “Mass offers” where column Send = Send.\n\n#  Prices (Google Sheets)\n## Reads product price list from Google Sheet “Prices”.\n\n#  Build Offers from Clients + Prices (Code)\n## Matches each client’s products with price list by country → generates offers text per client.","height":1088,"width":1744},"type":"n8n-nodes-base.stickyNote","position":[1264,1632],"typeVersion":1,"id":"b91f0a93-8e74-43b0-b482-b838e2b87ea3","name":"Sticky Note"},{"parameters":{"content":"#  Loop Over Clients (Split In Batches)\n## Loops through each client record one by one to generate personalized emails.\n\n#  Wrap Client Data into AI Input String (Code)\n## Formats client details + offers into a clean prompt string for AI agent.\n\n#  AI Agent (LangChain Agent)\n## Generates subject + HTML email body JSON with product pricing table (language-specific).\n\n#  OpenAI Chat Model\n## Provides GPT model backend (gpt-4.1-mini) for the AI Agent.","height":1088,"width":1840,"color":6},"type":"n8n-nodes-base.stickyNote","position":[3168,1632],"typeVersion":1,"id":"5b52da92-7724-4fb9-a342-37af0c50ce7b","name":"Sticky Note1"},{"parameters":{"content":"#  Parse AI JSON Response (Code)\n## Parses AI output JSON → extracts subject + HTML message.\n\n#  Check for Errors (If)\n## If AI output contains error → retry with AI Agent. Otherwise → proceed to send email.\n\n#  Send Email (Outlook)\n## Sends personalized email with subject + message. Adds signature block automatically.","height":1088,"width":1632,"color":3},"type":"n8n-nodes-base.stickyNote","position":[5184,1632],"typeVersion":1,"id":"16504422-e1e6-4f44-be23-bb57c9a845f0","name":"Sticky Note2"},{"parameters":{"toRecipients":"=abd-lag@hotmail.com","subject":"={{ $json.subject }}","bodyContent":"={{ $json.message }} <br><br>\nBest Regards,<br>\nMELKWEG HOLLAND<br>\n<br>\n<img src='https://bafkreic5yzzobwwvjtvekklauputt7bh3tvkwar27topjgmayjx2yyqrlq.ipfs.w3s.link/' alt='Signature' width='600'>\n\n","additionalFields":{"ccRecipients":"=personalizedoffers@outlook.com","bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[5808,2240],"id":"2ea00aa3-557b-4fe1-8b90-fa9f613a8802","name":"Send a message1","webhookId":"9fd13105-639b-4b7c-b684-fc5eedec537a","credentials":{"microsoftOutlookOAuth2Api":{"id":"TO9jBHpO4NodS267","name":"Microsoft Outlook account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3424,2208],"id":"30013172-7389-40e3-bd24-93b3ff9f1bf8","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=User Input: {{ $item(\"0\").$node[\"Wrap client data into a single string\"].json[\"aiInput\"] }}","options":{"systemMessage":"=You are a professional business assistant helping me write clear and structured emails.\n\nFollow these rules carefully:  \n1. Generate output ONLY in valid JSON format.  \n2. The JSON format must be:\n{\n  \"subject\": \"Generate a clear, engaging, and contextually aligned subject line in {{ $json.Language }} based on the email content: {{ $json.aiInput }}\",\n \n  \"message\": \"Full email message here in {{ $json.Language }} Language\"\n}\n3. Inside \"message\", format the email body in valid HTML. Use `<br>` for line breaks and empty lines. Do not include `<html>`, `<body>`, or `<head>` tags.  \n4. The email must start with this greeting: `{{ $json.Greeting }} {{ $json.Naam }}`  \n5. The email body content must be in `{{ $json.Language }}` language.  \n6. After the main email content, insert the following **mandatory product pricing table** exactly in the same structure and styling.  \n   - This table is always in **English** also column heading becomes \"Product\" and \"Price\", except when `{{ $json.Language }}` = \"French\", then the table Complete data should be in **French**.  \n   - Keep table design, colors, fonts, spacing, rounded corners, and shadow exactly as given.  \n\nHere is the **mandatory table template** (use it exactly with dynamic rows for products/prices):\n\n<!DOCTYPE html>\n<html lang=\"fr\">\n  <body style=\"margin:0;background:#ffffff;\">\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border-collapse:collapse;\">\n      <tr>\n        <td align=\"left\" style=\"padding:16px;\">\n          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"250\"\n                 style=\"border-collapse:collapse;background:#ffffff;font-family:'Trebuchet MS',sans-serif;\n                        font-size:10pt;text-align:center;table-layout:fixed;word-wrap:break-word;\">\n            <!-- Header -->\n            <tr>\n              <th align=\"center\" style=\"background:#002060;color:#ffffff;padding:6px;border:1px solid #000;width:70%;\">\n                PRODUIT\n              </th>\n              <th align=\"center\" style=\"background:#002060;color:#ffffff;padding:6px;border:1px solid #000;width:30%;\">\n                PRIX (CFR)\n              </th>\n            </tr>\n\n            <!-- Data rows -->\n            <tr>\n              <td style=\"padding:6px;border:1px solid #000;background:#fce4d6;text-align:center;width:70%;\">\n                SMP MH NON-STANDARDISÉE\n              </td>\n              <td style=\"padding:6px;border:1px solid #000;background:#e2efda;text-align:center;width:30%;\">\n                € 2.575\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:6px;border:1px solid #000;background:#fce4d6;text-align:center;width:70%;\">\n                BEURRE AMÉRIQUE DU SUD\n              </td>\n              <td style=\"padding:6px;border:1px solid #000;background:#e2efda;text-align:center;width:30%;\">\n                $ 6.000\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:6px;border:1px solid #000;background:#fce4d6;text-align:center;width:70%;\">\n                FCMP INSTANTANÉ\n              </td>\n              <td style=\"padding:6px;border:1px solid #000;background:#e2efda;text-align:center;width:30%;\">\n                € 3.000\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:6px;border:1px solid #000;background:#fce4d6;text-align:center;width:70%;\">\n                MPC85\n              </td>\n              <td style=\"padding:6px;border:1px solid #000;background:#e2efda;text-align:center;width:30%;\">\n                $ 6.650\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:6px;border:1px solid #000;background:#fce4d6;text-align:center;width:70%;\">\n                SERUM ITALIA SWP\n              </td>\n              <td style=\"padding:6px;border:1px solid #000;background:#e2efda;text-align:center;width:30%;\">\n                € 1.160\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:6px;border:1px solid #000;background:#fce4d6;text-align:center;width:70%;\">\n                NZ FCMP\n              </td>\n              <td style=\"padding:6px;border:1px solid #000;background:#e2efda;text-align:center;width:30%;\">\n                € 4.300\n              </td>\n            </tr>\n\n            <!-- Footer row (gray background) -->\n            <tr>\n              <td align=\"center\" style=\"padding:6px;border:1px solid #000;background:#d9d9d9;font-weight:bold;width:70%;\">\n                MELKWEG HOLLAND\n              </td>\n              <td align=\"center\" style=\"padding:6px;border:1px solid #000;background:#d9d9d9;width:30%;\">\n                <img src=\"https://bafkreiahjmuy67uq4xx7lyaarr635rqegdrbvstrd6sv4bjim5v6l2fz3e.ipfs.w3s.link/\"\n                     alt=\"Logo\" width=\"39\" height=\"30\"\n                     style=\"display:inline-block;border:0;outline:none;text-decoration:none;\">\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n\n\n\n7. The table rows must expand dynamically according to the products provided in the user input.  \n8. Do not change or remove any inline styles, spacing, colors, or fonts.  \n9. Output must always be clean JSON with `\"subject\"` and `\"message\"` keys only.\n10. Never add any unrelated content with the greeting message or the main message.\n\nInput: {{ $json.aiInput }}\n\n---\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3968,2224],"id":"07b40969-39a4-454b-b90d-6f42eedcd7b8","name":"AI Agent"},{"parameters":{"jsCode":"const client = $json;\n\n// Build a clean prompt string for AI\nconst inputString = `\nCompany: ${client.Company}\nContact: ${client.Naam}\nEmail: ${client.Email}\nCC: ${client.CC}\nGreeting: ${client.Greeting} ${client.Naam}\nLanguage: ${client.Language}\nCountry: ${client.Country}\n\nPersonal Message:\n${client[\"Personal Message\"]}\n\nOffers:\n${client.Offers}\n`;\n\nreturn [{\n  json: {\n    ...client,\n    aiInput: inputString.trim()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3696,2224],"id":"f10ccf90-44ff-4679-8861-c628e8f0f09d","name":"Wrap client data into a single string"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3952,2528],"id":"9593bdbb-9bc4-4f6c-9f9b-7256e73239fe","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"5XQh1a8XZxauHGkS","name":"Precise-grant-api"}}},{"parameters":{"jsCode":"const raw = $json[\"output\"];   // AI returned JSON string\nconst parsed = JSON.parse(raw);\n\nreturn [{ \n  subject: parsed.subject, \n  message: parsed.message \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5296,2224],"id":"95a59950-20ec-4d9a-942a-12f0e4f62b6c","name":"Wrap into final string","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1536,2208],"id":"0c924d31-f7f7-4a44-9733-fdfd693d2186","name":"Manual trigger"},{"parameters":{"jsCode":"// Get input data\nconst clients = $items(\"Clients Sheet\");  // from Clients node\nconst prices = $items(\"Prices Sheet\");    // from Prices node\n\n// Build lookup: product -> row of prices\nlet priceMap = {};\nprices.forEach(p => {\n  const row = p.json;\n  const product = row.Product?.trim();\n  if (product) {\n    priceMap[product] = row;\n  }\n});\n\nlet results = [];\n\nclients.forEach(c => {\n  const client = c.json;\n  const country = client.Country?.trim();\n  const productsRaw = client.Products || \"\";\n  const products = productsRaw.split(\";\").map(p => p.trim()).filter(p => p);\n\n  let offers = [];\n\n  products.forEach(prod => {\n    const row = priceMap[prod];\n    if (row) {\n      // e.g. \"France CFR\" or \"UAE CFR\"\n      const columnName = `${country} CFR`;\n      const price = row[columnName];\n      if (price && price !== \"\") {\n        offers.push(`${prod}: ${price}`);\n      }\n    }\n  });\n\n  results.push({\n    json: {\n      ...client,\n      Offers: offers.join(\"<br>\") || \"No matching prices found\"\n    }\n  });\n});\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,2208],"id":"11f7b585-fc7a-45e3-8c28-bb21e00957eb","name":"Clients + Prices"},{"parameters":{"documentId":{"__rl":true,"value":"1rSAiAfQYHjp1E591u08hEEP9vW4Y0fTSd5Fp0N2NsyI","mode":"list","cachedResultName":"Irenictech","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rSAiAfQYHjp1E591u08hEEP9vW4Y0fTSd5Fp0N2NsyI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Mass offers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rSAiAfQYHjp1E591u08hEEP9vW4Y0fTSd5Fp0N2NsyI/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Send","lookupValue":"Send"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1744,2208],"id":"86e55937-078d-4483-ad83-eb020e41f319","name":"Clients Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1rSAiAfQYHjp1E591u08hEEP9vW4Y0fTSd5Fp0N2NsyI","mode":"list","cachedResultName":"Irenictech","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rSAiAfQYHjp1E591u08hEEP9vW4Y0fTSd5Fp0N2NsyI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1785755665,"mode":"list","cachedResultName":"Prices","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rSAiAfQYHjp1E591u08hEEP9vW4Y0fTSd5Fp0N2NsyI/edit#gid=1785755665"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1952,2208],"id":"c1f7c474-f30b-49da-b748-f2a869a5cabe","name":"Prices Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9df3d52a-7678-44e1-928c-92afda7142e1","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5504,2224],"id":"d6a21a53-f853-4c55-b6cc-296b990a4b1b","name":"Check for Errors"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1rSAiAfQYHjp1E591u08hEEP9vW4Y0fTSd5Fp0N2NsyI","mode":"list","cachedResultName":"Irenictech","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rSAiAfQYHjp1E591u08hEEP9vW4Y0fTSd5Fp0N2NsyI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Mass offers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rSAiAfQYHjp1E591u08hEEP9vW4Y0fTSd5Fp0N2NsyI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Send":"Done","row_number":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"row_number\"] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Naam","displayName":"Naam","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CC","displayName":"CC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Products","displayName":"Products","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Personal Message","displayName":"Personal Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Greeting","displayName":"Greeting","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Send","displayName":"Send","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[6064,2240],"id":"c498f012-85bb-4982-bd7d-d199cd3a87e3","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}}],"connections":{"Send a message1":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wrap client data into a single string","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Wrap into final string","type":"main","index":0}]]},"Wrap client data into a single string":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Wrap into final string":{"main":[[{"node":"Check for Errors","type":"main","index":0}]]},"Manual trigger":{"main":[[{"node":"Clients Sheet","type":"main","index":0}]]},"Clients + Prices":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Clients Sheet":{"main":[[{"node":"Prices Sheet","type":"main","index":0}]]},"Prices Sheet":{"main":[[{"node":"Clients + Prices","type":"main","index":0}]]},"Check for Errors":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Send a message1","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5fd02ac8-f3d9-4c8c-9b9a-69866dcdef86","triggerCount":0,"shared":[{"createdAt":"2025-09-01T06:41:27.959Z","updatedAt":"2025-09-01T06:41:27.959Z","role":"workflow:owner","workflowId":"Xpp6lJlhP2FDXJCq","projectId":"6EdZFkSJTSDUHwBl"}],"tags":[]}