simple-clear-Pwp8As3i74dVOVIS.json
{"createdAt":"2025-09-08T08:10:33.101Z","updatedAt":"2025-09-12T13:15:54.000Z","id":"Pwp8As3i74dVOVIS","name":"Simple Clear","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://sandbox.simpleclearpaymentsdashboard.com/api/boarding-application/create","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"campaign\": {\n    \"id\": 1\n  },\n  \"processingMethod\": \"Acquiring\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5488,2304],"id":"e091bf0f-7b44-4e39-bfea-db8386f03b6e","name":"Create application in sandbox"},{"parameters":{"method":"PUT","url":"=https://sandbox.simpleclearpaymentsdashboard.com/api/boarding-application/{{ $item(\"0\").$node[\"Create application in sandbox\"].json[\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"company\": {\n    \"name\": \"{{ $json['Business Name'] }}\",\n    \"federalTaxId\": \"{{ $json['Federal Tax ID'] }}\",\n    \"address\": {\n      \"street\": \"{{ $json['Street Address'] }}\",\n      \"city\": \"{{ $json['City'] }}\",\n      \"zip\": \"{{ $json['Postal Code'] }}\",\n      \"state\": { \"id\": \"{{ $json['State'] }}\" },\n      \"country\": { \"id\": \"{{ $json['Country'] }}\" }\n    }\n  },\n  \"dba\": {\n    \"sameAsCompany\": \"No\",\n    \"name\": \"{{ $json['Company DBA Name'] }}\"\n  },\n  \"website\": \"{{ $json['Website'] }}\",\n  \"serviceDescription\": \"{{ $json['Products/Services being sold '] }}\",\n  \"corporateContact\": {\n    \"phone\": \"+14045552489\",\n    \"email\": \"{{ $json['Email'] }}\"\n  },\n  \"principals\": [\n    {\n      \"name\": {\n        \"first\": \"{{ $json['Principal First Name'] }}\",\n        \"last\": \"{{ $json['Principal Last Name'] }}\"\n      },\n      \"dayOfBirth\": \"{{ $json['Date Of Birth'].split('T')[0] }}\",\n      \"ssn\": \"{{ $json['Social Security Number'] }}\",\n      \"driverLicense\": {\n        \"number\": \"{{ $json['Driver\\'s License Number'] }}\"\n      },\n      \"address\": {\n        \"street\": \"{{ $json['Principal Address Street'] }}\",\n        \"city\": \"{{ $json['Principal City Name'] }}\",\n        \"zip\": \"{{ $json['Principal State Postal Code'] }}\",\n        \"state\": { \"id\": \"{{ $json['state ID'] }}\" },\n        \"country\": { \"id\": 199 }\n      },\n      \"phone\": \"+14155557921\",\n      \"email\": \"{{ $json['Principal Email'] }}\",\n      \"ownershipPercentage\": 1\n    }\n  ],\n  \"processing\": {\n    \"intendedUsage\": {\n      \"notes\": \"{{ $json['How is Your Business Taking Credit Cards? (Choose all that apply)'] }}\"\n    },\n    \"bank\": {\n      \"accountNumber\": \"{{ $json['Account Number'] }}\",\n      \"routingNumber\": \"{{ $json['Routing Number'] }}\"\n    },\n    \"volumes\": {\n      \"avgTransactionAmount\": \"{{ $json['Average Transaction '] }}\",\n      \"monthlyTransactionAmount\": \"{{ $json['Average Monthly Credit Card Volume'] }}\"\n    }\n  },\n  \"agent\": {\n    \"id\": 2\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5136,2304],"id":"3bb34263-ad1d-4f8a-9348-7080cc8ed490","name":"Put Data into Application"},{"parameters":{"url":"=https://sandbox.simpleclearpaymentsdashboard.com/api/boarding-application/{{ $item(\"0\").$node[\"Create application in sandbox\"].json[\"id\"] }}/principals","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5648,1104],"id":"5735210f-1080-4643-bb80-76cfd61da2d7","name":"Get Principals"},{"parameters":{"content":"## GoHighLevel Trigger (Webhook)\n- Fires when a form is submitted in GoHighLevel\n- Passes raw submission data into the workflow","height":640,"width":496,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-7184,1904],"typeVersion":1,"id":"342eebec-8ced-4724-b9d9-c082945d5945","name":"Sticky Note"},{"parameters":{"content":"## Clean Data (Set Node)\n- Organizes / formats incoming fields\n- Prepares request body for Sandbox API\n\n## Split Name & Address\n  - Splits full names into first/middle/last and parses home address into street, city, state, zip, and country.","height":640,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-6624,1904],"typeVersion":1,"id":"bfddc6d3-039e-4f0d-b5d2-bb4c20dfe074","name":"Sticky Note1"},{"parameters":{"content":"## Create Application in Sandbox\n-  Creates a new boarding application in the sandbox with minimal data (campaign, processingMethod).\n\n## Mapped Data\n- Rebuilds the cleaned data with the correct state ID and country ID included.\n## Post Data to Sandbox (HTTP Request)\n- Updates the created application with full company, DBA, contact, principals, banking, and processing details.","height":640,"width":784,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5600,1904],"typeVersion":1,"id":"859640f7-ad00-4742-9138-cfd67291e878","name":"Sticky Note2"},{"parameters":{"url":"https://sandbox-gateway.simpleclearpaymentsdashboard.com/payments","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter[terminal.id][eq]","value":"84"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer QQG.Mx8KqT3XznxC2Pu9qle893UYrCzcDHGJ"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6896,1104],"id":"53805438-f91b-4f18-b38f-c6a02bda315e","name":"Post Data to SandBox"},{"parameters":{"content":"# GoHighLevel → SimpleClear Sandbox Payment Integration\n- Captures form submissions from GoHighLevel\n- Cleans and maps incoming data\n- Sends data to SimpleClear Payments Sandbox API\n- Used only for sandbox testing (not live)","height":1120,"width":4624},"type":"n8n-nodes-base.stickyNote","position":[-7616,1632],"typeVersion":1,"id":"1392ec2e-c71a-459a-81cd-c19d4cae7e2a","name":"Sticky Note3"},{"parameters":{"method":"DELETE","url":"https://sandbox.simpleclearpaymentsdashboard.com/api/boarding-application/10909","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6704,1104],"id":"ef449dca-7b28-4a97-99c0-1d3334247bfa","name":"Dlt application from Sandbox"},{"parameters":{"url":"=https://sandbox.simpleclearpaymentsdashboard.com/api/country/199/states?page={{ $json.value }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5440,1104],"id":"07337b27-a331-4b50-9779-f183602021ae","name":"Get Countries"},{"parameters":{"url":"https://sandbox.simpleclearpaymentsdashboard.com/api/countries","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6496,1104],"id":"e4e85f5c-d662-4720-a7a5-5aa3b2b55f08","name":"Get States For each Country"},{"parameters":{"url":"https://sandbox.simpleclearpaymentsdashboard.com/api/country/199/state/34/zip","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6064,1104],"id":"7b43471e-96f7-4b07-8aa4-ae446db6d2c9","name":"List all cities and zip codes for state id"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3440,832],"id":"e943c209-31c6-4f20-b16e-394d44a53c11","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3628241b-bb7d-4d46-9c76-74563d0fb228","leftValue":"={{ $item(\"0\").$node[\"Get States\"].json[\"_links\"][\"next\"][\"href\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6000,2960],"id":"2319e915-8dec-4f9b-ae10-8735afccf79c","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"e017bb53-58fe-4818-9bdc-dc4a4f1f6465","name":"items","value":"={{ $json.items }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3440,384],"id":"1b328327-1607-4e68-98ba-4b68de9f32c9","name":"Edit Fields"},{"parameters":{"jsCode":"// n8n Code Node (JavaScript)\n\nconst output = [];\n\n// Loop through the \"items\" array from the first input item\nfor (const state of items[0].json.items) {\n  output.push({ json: state });\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3440,608],"id":"a92f473e-141e-4bf4-b61f-5d13b9d595f5","name":"Code1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1j5S9pIyfMBkTZVoqTpeDFN5IFwOM6cB2e-9vVGWvHss","mode":"list","cachedResultName":"States ID Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j5S9pIyfMBkTZVoqTpeDFN5IFwOM6cB2e-9vVGWvHss/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1j5S9pIyfMBkTZVoqTpeDFN5IFwOM6cB2e-9vVGWvHss/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Country ":"={{ $json.name }}","Code":"={{ $json.code }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country ","displayName":"Country ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Code","displayName":"Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-3408,1104],"id":"c5e4c971-6a67-44f5-a7d6-d2464308900f","name":"Append row in sheet"},{"parameters":{"url":"=https://sandbox.simpleclearpaymentsdashboard.com/api/country/199/states","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5856,1104],"id":"d60cd77e-6efb-4abf-a987-3b73c8d81d4f","name":"Get Countries1"},{"parameters":{"url":"=https://sandbox.simpleclearpaymentsdashboard.com/api/country/199/states","sendQuery":true,"queryParameters":{"parameters":[{"name":"page","value":"={{$json[\"PAGE COUNT\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6192,2960],"id":"4f05d374-4599-49a5-b8c4-4e49402ec822","name":"Get States"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"98957f76-2ee9-4697-a42c-31c9d68ad6bd","leftValue":"={{ $json.items[0].code }}","rightValue":"={{ $('Split Name & Address').item.json.State }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6448,2960],"id":"91450d0b-6bcb-4fe0-9b38-52276842c136","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"5495c188-c800-480b-b465-7ebeebd936c8","name":"PAGE COUNT","value":1,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5568,3184],"id":"2d17aa6c-3626-4761-8cb0-4939ecce5331","name":"Edit Fields1"},{"parameters":{"jsCode":"// Increment PAGE COUNT from previous item\nconst currentPage = $json[\"PAGE COUNT\"] || 0;\nreturn [\n  {\n    json: {\n      \"PAGE COUNT\": currentPage + 1\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5008,3184],"id":"789878b4-bc25-43e6-816d-412f29f19942","name":"Code3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5568,2960],"id":"06b39e5f-64c4-45ab-a582-23f64e410c35","name":"Merge"},{"parameters":{"httpMethod":"POST","path":"1c3b26df-b0cd-4778-8702-e6ca53173e24","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-6880,2304],"id":"4cb0c33c-7f94-4979-9849-c4b1b050cc2e","name":"Go-High-Level Trigger (On Submit)","webhookId":"1c3b26df-b0cd-4778-8702-e6ca53173e24"},{"parameters":{"assignments":{"assignments":[{"id":"3e7c8bf7-61e4-4f1a-a0c7-45f852990666","name":"Business Name","value":"={{ $json.body.company_name }}","type":"string"},{"id":"d2b798e6-a66f-4402-b471-350e3b1b4f3a","name":"Company DBA Name","value":"={{ $json.body[\"Company DBA Name\"] }}","type":"string"},{"id":"84e86abe-b335-4258-973a-7615afb5b3f8","name":"Street Address","value":"={{ $json.body.address1 }}","type":"string"},{"id":"33099616-79d3-435c-b0f5-b5908a058682","name":"City","value":"={{ $json.body.city }}","type":"string"},{"id":"c2c56481-856f-477a-88db-92c0c9648f16","name":"State","value":"={{ $json.body.state }}","type":"string"},{"id":"7f888833-7952-4806-8fa1-2b639b36881d","name":"Country","value":"={{ $json.body.country }}","type":"string"},{"id":"f0e0f19a-1edb-4d99-8dcf-0fb67db90e68","name":"Postal Code","value":"={{ $json.body.postal_code }}","type":"string"},{"id":"e091d155-3040-4a49-b12f-27a346108849","name":"Phone","value":"={{ $json.body.phone }}","type":"string"},{"id":"e0433f35-e53f-4697-9a8a-a20e9a7b106b","name":"Email","value":"={{ $json.body.email }}","type":"string"},{"id":"d1ab0f63-03c9-4bd2-8221-ee582291ecde","name":"Website","value":"={{ $json.body.website }}","type":"string"},{"id":"641bafc9-6e1b-4ffb-97e8-575ddc9c9825","name":"Products/Services being sold ","value":"={{ $json.body[\"Products/Services being sold\"] }}","type":"string"},{"id":"d2b58593-5643-4a5c-98ba-12459c2326e8","name":"How is Your Business Taking Credit Cards? (Choose all that apply)","value":"={{ $json.body[\"How is Your Business Taking Credit Cards? (Choose all that apply)\"] }}","type":"array"},{"id":"f30cae40-8f49-457b-99d1-353292e89596","name":"Average Transaction ","value":"={{ $json.body[\"Average Transaction \"] }}","type":"number"},{"id":"b16e4f7a-428d-49d9-be28-ddd3ef60b575","name":"Average Monthly Credit Card Volume","value":"={{ $json.body[\"Average Monthly Credit Card Volume\"] }}","type":"number"},{"id":"51443cbd-8706-4d2c-8408-a6ea496baa37","name":"Name on Bank Account","value":"={{ $json.body[\"Name on Bank Account\"] }}","type":"string"},{"id":"1b82f3be-c506-4ca2-b51f-a305d9dcba86","name":"Routing Number","value":"={{ $json.body[\"Routing Number\"] }}","type":"string"},{"id":"5494df03-f6eb-422a-a8f2-392b3aca94d2","name":"Account Number","value":"={{ $json.body[\"Account Number\"] }}","type":"string"},{"id":"6ffa949a-950d-412b-987e-7027785d92fc","name":"Federal Tax ID","value":"={{ $json.body[\"Federal Tax ID\"] }}","type":"string"},{"id":"bb992e82-8dec-460b-a267-6dc42375020a","name":"Principal Owner/Manager Full Name","value":"={{ $json.body[\"Principal Owner/Manager Full Name\"] }}","type":"string"},{"id":"eac75f74-2c64-44a5-bb15-f424c61a7fef","name":"% of Ownership","value":"={{ $json.body[\"% of Ownership\"] }}","type":"number"},{"id":"7dd1f258-0789-4489-8839-a76dd0330f00","name":"Home Address","value":"={{ $json.body[\"Home Address\"] }}","type":"string"},{"id":"1c111bfc-279a-4985-84f2-72c5ec0c4cb5","name":"Date Of Birth","value":"={{ $json.body.date_of_birth }}","type":"string"},{"id":"e37320af-4405-4f3e-b0ce-d879f112a822","name":"Social Security Number","value":"={{ $json.body[\"Social Security Number\"] }}","type":"string"},{"id":"fc20d973-4107-4eba-8ecb-c59614e314cf","name":"Driver's License Number","value":"={{ $json.body[\"Driver's License Number\"] }}","type":"number"},{"id":"f18272fe-f7b2-47bc-a18c-8cbbecf2ad0c","name":"Principal Phone","value":"={{ $json.body[\"Owner/Manager Phone\"] }}","type":"string"},{"id":"5a630ea3-b7d1-4bd3-94aa-661da3f63cae","name":"Principal Email","value":"={{ $json.body[\"Owner/Manager Email\"] }}","type":"string"},{"id":"74e745a3-d17a-4ebb-b853-576aa7a99dd3","name":"Signature","value":"={{ $json.body[\"Signature \"] }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6544,2304],"id":"07afec07-4245-4df8-9e75-546a232b2f2c","name":"Clean Data"},{"parameters":{"jsCode":"// Get input JSON (first item in array)\nconst item = items[0].json;\n\n// --- Split full name ---\nconst fullName = item[\"Principal Owner/Manager Full Name\"] || \"\";\nconst nameParts = fullName.trim().split(\" \");\n\nlet firstName = \"\";\nlet middleName = \"\";\nlet lastName = \"\";\n\nif (nameParts.length === 1) {\n  firstName = nameParts[0];\n} else if (nameParts.length === 2) {\n  firstName = nameParts[0];\n  lastName = nameParts[1];\n} else if (nameParts.length >= 3) {\n  firstName = nameParts[0];\n  lastName = nameParts[nameParts.length - 1];\n  middleName = nameParts.slice(1, -1).join(\" \");\n}\n\n// --- Split home address ---\nconst homeAddress = item[\"Home Address\"] || \"\";\nlet principalStreet = \"\";\nlet principalCity = \"\";\nlet principalState = \"\";\nlet principalZip = \"\";\nlet principalCountry = \"\";\n\nif (homeAddress) {\n  const parts = homeAddress.split(\",\");\n  principalStreet = parts[0]?.trim() || \"\";\n  principalCity = parts[1]?.trim() || \"\";\n\n  if (parts[2]) {\n    const stateZip = parts[2].trim().split(\" \");\n    principalState = stateZip[0] || \"\";\n    principalZip = stateZip[1] || \"\";\n  }\n\n  principalCountry = parts[3]?.trim() || \"\";\n}\n\n// --- Convert array to string ---\nconst cardAcceptanceArray = item[\"How is Your Business Taking Credit Cards? (Choose all that apply)\"] || [];\nconst cardAcceptanceString = Array.isArray(cardAcceptanceArray) ? cardAcceptanceArray.join(\", \") : \"\";\n\n// --- Return transformed object ---\nreturn [\n  {\n    json: {\n      ...item,\n      fullName: {\n        firstName,\n        middleName,\n        lastName,\n      },\n      principalAddress: {\n        street: principalStreet,\n        city: principalCity,\n        state: principalState,\n        zip: principalZip,\n        country: principalCountry,\n      },\n      cardAcceptance: cardAcceptanceString, // ✅ new string field\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6336,2304],"id":"cdc8fd02-44ad-478f-949b-576f3d85ca98","name":"Split Name & Address"},{"parameters":{"jsCode":"const results = [];\nlet page = 1;\nlet totalPages = 1;\n\ndo {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://sandbox.simpleclearpaymentsdashboard.com/api/country/199/states?page=${page}`,\n    headers: {\n      Authorization: 'Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3',\n      'Content-Type': 'application/json'\n    }\n  });\n\n  results.push(...response.items);\n  totalPages = response._meta.pageCount;\n  page++;\n} while (page <= totalPages);\n\nreturn results.map(state => ({ json: state }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6016,2304],"id":"c5c3cf9d-7999-462d-bd41-6a1f85cc3829","name":"Fetch States"},{"parameters":{"jsCode":"// Input 1 = Split Name & Address output\nconst cleanData = $item(0).$node[\"Split Name & Address\"].json;\n\n// Input 2 = all states from Fetch States\nconst states = $items(\"Fetch States\").map(item => item.json);\n\n// --- Helper function to find state object by code OR name ---\nfunction findState(stateValue) {\n  if (!stateValue) return null;\n  const normalized = stateValue.toString().trim().toLowerCase();\n  return states.find(s => \n    (s.code && s.code.toString().trim().toLowerCase() === normalized) ||\n    (s.name && s.name.toString().trim().toLowerCase() === normalized)\n  );\n}\n\n// --- Map Company Address state ---\nconst companyStateValue = cleanData.State || cleanData.state || cleanData[\"State\"];\nconst companyStateMatch = findState(companyStateValue);\n\n// --- Map Principal Address state ---\nconst principalStateValue = cleanData.principalAddress?.state || cleanData.principalAddress?.State;\nconst principalStateMatch = findState(principalStateValue);\n\n// --- Build final output ---\nreturn [\n  {\n    json: {\n      ...cleanData,\n      companyAddress: {\n        street: cleanData[\"Street Address\"] || \"\",\n        city: cleanData.City || \"\",\n        state: companyStateMatch ? {\n          id: companyStateMatch.id,\n          code: companyStateMatch.code,\n          name: companyStateMatch.name,\n        } : {\n          error: `State '${companyStateValue}' not found`\n        },\n        zip: cleanData[\"Postal Code\"] || \"\",\n        country: cleanData.Country || \"\"\n      },\n      principalAddress: {\n        ...cleanData.principalAddress,\n        state: principalStateMatch ? {\n          id: principalStateMatch.id,\n          code: principalStateMatch.code,\n          name: principalStateMatch.name,\n        } : {\n          error: `State '${principalStateValue}' not found`\n        }\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5824,2304],"id":"6f201c20-16c4-4b26-bba9-ee0e2273dcd0","name":"Match State"},{"parameters":{"url":"https://sandbox.simpleclearpaymentsdashboard.com/api/boarding-application/10905","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6288,1104],"id":"5e068edd-42e6-4243-aa34-4dc2f10841a5","name":"Get Sandbox application"},{"parameters":{"method":"PUT","url":"=https://sandbox.simpleclearpaymentsdashboard.com/api/boarding-application/{{ $item(\"0\").$node[\"Create application in sandbox\"].json[\"id\"] }}/auto-sign/Yes\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4960,2896],"id":"cb6865c8-6832-4867-bb0a-78ab54e01e3c","name":"Put Signature"},{"parameters":{"url":"=https://sandbox.simpleclearpaymentsdashboard.com/api/boarding-application/10921\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer jol.gg06w3M7qZYCwAlwqCU6mVKMegm4NoP3"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4640,2864],"id":"a8d56de9-359c-4262-853b-4ea6bc132e80","name":"Get Signature"},{"parameters":{"content":"## Fetch States\n  - Calls the SimpleClearPayments API to get all valid U.S. states (with IDs, names, codes).\n\n## Match State\n  - Matches submitted state values (e.g., \"CA\" or \"California\") against the API’s state list from Fetch States.","height":640,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-6080,1904],"typeVersion":1,"id":"df424a31-d9b0-4157-9ed1-ae9655098806","name":"Sticky Note4"},{"parameters":{"folderId":"default","title":"=My Image PDF"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-4528,2304],"id":"274edd14-3510-435a-b465-792ae8a00f3b","name":"Create a document"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.documentId }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}},"fileName":"={{ $item(\"0\").$node[\"Split Name & Address\"].json[\"Principal Owner/Manager Full Name\"] }}-Signature.pdf"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4224,2304],"id":"4de7845c-3c87-4e30-9788-99a8ed09d2f9","name":"Download file"},{"parameters":{"assignments":{"assignments":[{"id":"f2674f7f-562a-4be9-8960-62c3a113e81c","name":"Business Name","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Business Name\"] }}","type":"string"},{"id":"f527d520-b636-45ef-9644-3003fc90ba73","name":"Company DBA Name","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Company DBA Name\"] }}","type":"string"},{"id":"471f3bd2-af07-408c-b33e-fbff3f3b8d55","name":"Street Address","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Street Address\"] }}","type":"string"},{"id":"3fda3852-cb8e-40c0-a630-876c9716f1b8","name":"City","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"City\"] }}","type":"string"},{"id":"80970a67-58ce-47ef-bd9d-dac4a4091d97","name":"State","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"companyAddress\"][\"state\"][\"id\"] }}","type":"string"},{"id":"f43d166f-06d3-4e02-bd0a-4765c0967d22","name":"Country","value":"=199","type":"string"},{"id":"bacc364f-dcae-4651-afaf-9ed8dbcf72d2","name":"Postal Code","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Postal Code\"] }}","type":"string"},{"id":"91f901bd-b76c-4a5c-bc7e-5f6bced3750d","name":"Phone","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Phone\"] }}","type":"string"},{"id":"f8371166-fc93-4a20-aec3-1774d5dbf8d2","name":"Email","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Email\"] }}","type":"string"},{"id":"d0e3ee1b-7bf3-4458-964a-fd60069c3daa","name":"Website","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Website\"] }}","type":"string"},{"id":"97a7b7de-0183-4208-8eae-e8302f974007","name":"Products/Services being sold ","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Products/Services being sold \"] }}","type":"string"},{"id":"d2537796-6b45-497f-a4d3-e8cd15dbfd31","name":"How is Your Business Taking Credit Cards? (Choose all that apply)","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"How is Your Business Taking Credit Cards? (Choose all that apply)\"] }}","type":"array"},{"id":"f7fdd34b-fdd1-4a5c-8f93-a5133844972e","name":"Average Transaction ","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Average Transaction \"] }}","type":"number"},{"id":"bcd0a7a2-23ca-4fe4-b963-bc7476629037","name":"Average Monthly Credit Card Volume","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Average Monthly Credit Card Volume\"] }}","type":"number"},{"id":"f229911c-49b0-41db-9666-bb3a2bc9a3b9","name":"Name on Bank Account","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Name on Bank Account\"] }}","type":"string"},{"id":"93542859-7132-479c-bcf7-ce1e03253b11","name":"Routing Number","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Routing Number\"] }}","type":"string"},{"id":"6ad986d0-f2d3-4f28-9362-3cbb6f821175","name":"Account Number","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Account Number\"] }}","type":"string"},{"id":"255fbed4-0e3b-4c37-9efe-643adf83c62b","name":"Federal Tax ID","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Federal Tax ID\"] }}","type":"string"},{"id":"35346ea8-4c71-4d6f-a1ae-5b74e73f987a","name":"Principal Owner/Manager Full Name","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Principal Owner/Manager Full Name\"] }}\n","type":"string"},{"id":"6b6d8be3-9d4f-4c3a-b877-08e7bb80e91d","name":"% of Ownership","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"% of Ownership\"] }}","type":"number"},{"id":"5703c002-1b7d-40d9-8553-219d8de096b2","name":"Date Of Birth","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Date Of Birth\"].split('T')[0] }}","type":"string"},{"id":"c7e9880b-c94f-4365-bb67-a4d805a0525b","name":"Social Security Number","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Social Security Number\"] }}","type":"string"},{"id":"ff010e7a-1a2f-4fd8-9800-cce852e9f162","name":"Driver's License Number","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Driver's License Number\"] }}","type":"number"},{"id":"a034efdc-0851-44df-88e2-fb8ac18458cf","name":"Principal Phone","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Principal Phone\"] }}","type":"string"},{"id":"4b156af2-de76-446c-9464-e4cd2b5ec88f","name":"Principal Email","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"Principal Email\"] }}","type":"string"},{"id":"402db10e-5436-4eb0-8f4f-1befb3f2d019","name":"state ID","value":"={{ $item(\"0\").$node[\"Match State\"].json[\"principalAddress\"][\"state\"][\"id\"] }}","type":"number"},{"id":"78e10d35-6aee-4d60-b81d-5c9b8079e3bb","name":"Principal First Name","value":"={{ $item(\"0\").$node[\"Split Name & Address\"].json[\"fullName\"][\"firstName\"] }}","type":"string"},{"id":"8d742267-ea92-40ce-bb25-64800a829521","name":"Principal Last Name","value":"={{ $item(\"0\").$node[\"Split Name & Address\"].json[\"fullName\"][\"lastName\"] }}","type":"string"},{"id":"4bc2b069-8cc1-4ae3-8171-35e484eb9ff0","name":"Principal Address Street","value":"={{ $item(\"0\").$node[\"Split Name & Address\"].json[\"principalAddress\"][\"street\"] }}","type":"string"},{"id":"0e705648-b119-4e61-b749-35136b3e4751","name":"Principal City Name","value":"={{ $item(\"0\").$node[\"Split Name & Address\"].json[\"principalAddress\"][\"city\"] }}","type":"string"},{"id":"ed17df60-2734-43b9-a93c-37b872a85900","name":"Principal State","value":"={{ $item(\"0\").$node[\"Split Name & Address\"].json[\"principalAddress\"][\"state\"] }}","type":"string"},{"id":"9842a0ca-78b5-48c9-aefb-453d918108d3","name":"Principal State Postal Code","value":"={{ $item(\"0\").$node[\"Split Name & Address\"].json[\"principalAddress\"][\"zip\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5312,2304],"id":"c36f10e1-2765-440a-9d62-c7c621f229e5","name":"Mapped Data"},{"parameters":{"content":"## Create Html\n- Generates simple HTML with a heading and an image link. This HTML will later be inserted into the Google Doc.\n\n## Create a document\n- Creates a blank Google Doc inside the default folder with the given title.\n\n## Append Image in Doc\n- Uses Google Docs API batchUpdate to insert the image into the document at index 1.\n\n## Download file\n- Downloads the completed Google Doc as a PDF from Google Drive, with the file name set dynamically (Owner’s name + “-Signature.pdf”).","height":640,"width":752,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4752,1904],"typeVersion":1,"id":"4ecc3b3a-166f-41bd-8a48-a1e7ba1605a0","name":"Sticky Note5"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      html: `\n        <html>\n          <body>\n            <h2>PDF with Image</h2>\n            <img src=\"https://services.leadconnectorhq.com/documents/download/mnfVo105B4dV5zDSrrmP\" style=\"max-width:100%; height:auto;\" />\n          </body>\n        </html>\n      `\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4688,2304],"id":"54339603-10f1-4bfa-bc45-3afda09cd3f6","name":"Create Html"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $json.id }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","sendBody":true,"contentType":"raw","rawContentType":"html","body":"={\n  \"requests\": [\n    {\n      \"insertInlineImage\": {\n        \"uri\": \"{{ $item(\"0\").$node[\"Go-High-Level Trigger (On Submit)\"].json[\"body\"][\"Signature \"][\"url\"] }}\",\n        \"location\": {\n          \"index\": 1\n        }\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4368,2304],"id":"75942775-91fb-4d03-8607-30d203d788dc","name":"Append Image in Doc"},{"parameters":{"content":"## Post Attachment\n- Uploads a file to the SimpleClear Payments API using multipart/form-data.\n\n## Post Signature\n- After the file is uploaded, this step triggers a manual signature request on the boarding application.\n- It posts to the application’s /sign/manual endpoint using the application ID and includes the acquiring ID in the body.","height":640,"width":688,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3936,1904],"typeVersion":1,"id":"5dd6e6cb-56bc-41b2-a75b-0a8e9d920c51","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"https://sandbox.simpleclearpaymentsdashboard.com/api/attachment/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3824,2304],"id":"869f0f65-1e5a-4b0e-bf3c-da09df53286c","name":"Post Attachment"},{"parameters":{"method":"POST","url":"=https://sandbox.simpleclearpaymentsdashboard.com/api/boarding-application/{{ $item(\"0\").$node[\"Create application in sandbox\"].json[\"id\"] }}/sign/manual","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"acquiring","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3664,2304],"id":"b7cf00d8-00dd-4aad-89f2-f7880be8c5a0","name":"Post Signature"},{"parameters":{"method":"POST","url":"=https://sandbox.simpleclearpaymentsdashboard.com/api/boarding-application/{{ $item(\"0\").$node[\"Create application in sandbox\"].json[\"id\"] }}/note","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"note","value":"={{ $item(\"0\").$node[\"Split Name & Address\"].json[\"cardAcceptance\"] }}"},{"name":"notification","value":"Yes"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3440,2304],"id":"274327c9-501d-4747-baa0-24e4be72d3f8","name":"Post Notes"}],"connections":{"Create application in sandbox":{"main":[[{"node":"Mapped Data","type":"main","index":0}]]},"Put Data into Application":{"main":[[{"node":"Create Html","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Append row in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get States":{"main":[[{"node":"If","type":"main","index":0}]]},"Go-High-Level Trigger (On Submit)":{"main":[[{"node":"Clean Data","type":"main","index":0}]]},"Clean Data":{"main":[[{"node":"Split Name & Address","type":"main","index":0}]]},"Split Name & Address":{"main":[[{"node":"Fetch States","type":"main","index":0}]]},"Fetch States":{"main":[[{"node":"Match State","type":"main","index":0}]]},"Match State":{"main":[[{"node":"Create application in sandbox","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Append Image in Doc","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Post Attachment","type":"main","index":0}]]},"Mapped Data":{"main":[[{"node":"Put Data into Application","type":"main","index":0}]]},"Create Html":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Append Image in Doc":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Post Attachment":{"main":[[{"node":"Post Signature","type":"main","index":0}]]},"Post Signature":{"main":[[{"node":"Post Notes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"daf0c8a8-7344-4036-bf99-d85afd62ea0c","triggerCount":1,"shared":[{"createdAt":"2025-09-08T08:10:33.111Z","updatedAt":"2025-09-08T08:10:33.111Z","role":"workflow:owner","workflowId":"Pwp8As3i74dVOVIS","projectId":"6EdZFkSJTSDUHwBl"}],"tags":[]}