testing_tool-myj7uMSlkMOZlCUZ.json
{"createdAt":"2025-07-08T07:12:08.954Z","updatedAt":"2025-07-14T12:06:32.000Z","id":"myj7uMSlkMOZlCUZ","name":"testing_tool","active":false,"isArchived":true,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-1440,-780],"id":"42f5bed3-74dc-424b-96f7-a8aaa13eca4a","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1620,-540],"id":"a8953c50-b811-4629-ae55-f07586e213a5","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1300,-520],"id":"75bf39d4-c586-402b-b034-7479cf92172a","name":"Default Data Loader1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-1300,-260],"id":"41e0b292-ef00-43fb-bcb6-e95471fe3f12","name":"Recursive Character Text Splitter1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1440,-600],"id":"e06c1086-2cb0-4e0a-9bf0-857b9786266a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"pineconeIndex":{"__rl":true,"value":"clienttesting","mode":"list","cachedResultName":"clienttesting"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[1060,-580],"id":"9222a16a-5855-4b2a-ae1d-eefc0c3929ad","name":"Pinecone Vector Store2","credentials":{"pineconeApi":{"id":"INUAJbteVgOCaL5J","name":"Jamshed's PineconeApi account "}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1060,-360],"id":"949b45cf-8243-4e5d-a8e5-b9d31a701e4e","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"content":"# Google Drive File Upload Watcher \n**Watches a specific Google Drive folder for any newly uploaded PDF files (runs every minute).\nNode(s): New File Upload (Drive)** \n\n# Duplicate Check from Sheet\n**Check Google Sheet to see if the uploaded file has already been processed. Prevents duplicates.\nNode(s): Check Previously Processed Files + Match Uploaded Files with Sheet Data**\n\n# Prepare Data for Appending\n**Format or map file ID, name, and processed date to prepare for saving to the sheet.\nNode(s): Format Metadata for Logging**\n\n# Download PDF for Embedding\n**Download the uploaded PDF from Google Drive for processing and embedding.\nNode(s): Download file**\n\n# Vectorization & Ingestion (RAG)\n**Split content using a recursive character splitter.\nLoad and prepare documents.\nEmbed with OpenAI.\nStore vectors in Pinecone.\nUsed for building the knowledge base in RAG (Retrieval Augmented Generation).\nNode(s): Recursive Character Text Splitter1 → Default Data Loader1 → Embeddings OpenAI1 → Pinecone Vector Store1**\n\n# Save Metadata to Sheet\n**Append metadata of newly processed file (File ID, Name, Timestamp) to Google Sheet to keep track of processed files.\nNode(s): Log Processed File to Sheet**\n\n","height":1180,"width":3280},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,-1180],"id":"2cf8edf3-4532-46ae-88c5-d98157fe2bd2","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1aMPd8Dobi1t-n558Go0ZveYfj7CaJ28l","mode":"list","cachedResultName":"testing","cachedResultUrl":"https://drive.google.com/drive/folders/1aMPd8Dobi1t-n558Go0ZveYfj7CaJ28l"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2800,-960],"id":"97be4754-d5b2-49c9-b973-14e5460bf000","name":"New File Upload (Drive)","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4","mode":"list","cachedResultName":"ID Check","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2560,-660],"id":"b5526a94-d51d-4b11-ba63-aa032b4eca87","name":"Check Previously Processed Files","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"id","field2":"File ID"}]},"joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2320,-940],"id":"4a191666-14fc-4f11-b4ff-77884e4ef09c","name":"Match Uploaded Files with Sheet Data"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2020,-940],"id":"2bdc5b1c-d165-4fe6-9475-118d351e06b0","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"RO1XYx2xtjvQILlF","name":"Jamshed's Drive account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4","mode":"list","cachedResultName":"ID Check","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SjdaODPifu-Ik1xrTCCuML2fXDnVrPkx-4QlaVSE4-4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"File ID":"={{ $('Download file').item.json.id }}","File Name":"={{ $('Match Uploaded Files with Sheet Data').item.json.name }}","Processed Date":"={{ $now.toFormat(\"yyyy-MM-dd HH:mm\") }}"},"matchingColumns":[],"schema":[{"id":"File ID","displayName":"File ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Processed Date","displayName":"Processed Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1420,-1040],"id":"af86c97f-9d33-4f96-9e46-59f3ed283212","name":"Log Processed File to Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"content":"# Trigger\n**Starts the workflow when a chat message is received.\nWaits for user input from the interface or integration.**\n\n# Agent\n**Main control unit.\nReceives the user's topic and delegates the task of post generation, using memory, tools, and LLMs.**\n\n# Memory\n**Short-term context memory.\nStores recent messages to maintain continuity in conversation or prompts.**\n\n# Model\n**Primary LLM for conversation.\nHandles the user-agent conversation and interprets instructions.**\n\n# RAGTool\n**Retrieves factual context from Pinecone.\nQueries vector embeddings to fetch relevant context for the post.**\n\n# Query\n**Internal language model for tool.\nUsed by the RAGTool to turn queries into embedding-compatible format.**\n\n# Embed\n**Generates embeddings from uploaded documents.\nFeeds knowledge into the Pinecone vector store.**\n\n# VectorStore\nStores and searches vectorized knowledge.\nActs as the memory base for retrieval-augmented generation (RAG).**\n\n# Approval for Twitter/LinkedIn\n**Final output storage.\nStores complete LinkedIn posts in the Content column of a Google Sheet, only if they meet quality criteria.**\n\n","height":1180,"width":1980,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-1180],"id":"a2d5c389-36ff-48e7-9244-5819dcaea08f","name":"Sticky Note1"},{"parameters":{"description":"This data contains context-rich paragraphs from uploaded PDFs about AI, marketing, technology trends, and productivity. Use it as the factual knowledge base to generate accurate and engaging LinkedIn and Twitter posts based on a given topic.\n","topK":"=5"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[1140,-780],"id":"674003f0-29de-48df-9a54-cb3973f9312b","name":"RAGTOOL"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[500,-780],"id":"f6067603-e305-4924-9625-2d50ac1f4b49","name":"Model","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[640,-780],"id":"7982467a-456a-4388-baa1-ad63ef1457ca","name":"Memory"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=# Role & Purpose\nYou are an expert Social Media Post Generator that creates **professional-grade content for LinkedIn and Twitter (X) using vector-based context (from Pinecone). Every post must be optimized for the selected platform and based strictly on factual, retrieved knowledge — no assumptions, no hallucination.\n\n# Platform Detection & Response\n\n1. If the user specifies a platform:\n   * Generate only for that platform (`LinkedIn` or `Twitter`)\n   * Return one response for that platform only\n   * Immediately save the post to the Google Sheet named \"Approval for Twitter Tool\":\n     * Sheet: `\"Content Approval for Twitter/LinkedIn\"`\n     * LinkedIn → Column: `\"LinkedIn Content\"`\n     * Twitter → Column: `\"Twitter Content\"`\n\n2. If the user doesn’t specify a platform:\n\n   * Ask: “Would you like this post for LinkedIn, Twitter, or both?”\n   * Wait for the user to respond before generating content\n# LinkedIn Post Guidelines\n* Word Count: 150–300 words\n* Tone: Professional, informative, executive-level\n* Structure:\n  * 🔹 Strong opening hook (trend, insight, or data point)\n  * 🔹 Body: Clear, fact-based value (from vector results)\n  * 🔹 Closing: CTA, question, or final reflection\n  * 🔹 Use formatting: short paragraphs, bullets, caps for emphasis\n  * 🔹 Add up to 3 relevant **hashtags** if appropriate\n\n# Twitter (X) Post Guidelines\n* Character Limit: 280 characters\n* Tone: Engaging, sharp, and direct\n* Structure**:\n  * 🔸 Hook or micro-insight\n  * 🔸 Context or point (based on vector knowledge)\n  * 🔸 **Mandatory use of emojis** to support tone and visibility\n  * 🔸 Optionally include up to 2 **hashtags or emojis** at the end\n\n# Input Handling\n* Always use vector search (Pinecone) to base content on factual, context-aware data\n* Never generate generic or made-up insights\n* If the message is a greeting or unclear → respond politely and ask for clarification or the topic\n\n# Output Saving\n* Save only finalized, complete posts to Google Sheet named \"Approval for Twitter Tool\":\n  * Sheet: `\"Content Approval for Twitter/LinkedIn\"`\n  * Column depends on platform:\n    * LinkedIn → `\"LinkedIn Content\"`\n    * Twitter → `\"Twitter Content\"`\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[780,-1020],"id":"edf6dec7-0580-4ce6-a618-eab44ed38c90","name":"Agent"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Lq2pTzTgCtD-jMdr9Esm5HdCeh7BxdM9ajgzwJg4Dqg","mode":"list","cachedResultName":"Content Approval for Twitter ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lq2pTzTgCtD-jMdr9Esm5HdCeh7BxdM9ajgzwJg4Dqg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Content Approval for Twitter","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Lq2pTzTgCtD-jMdr9Esm5HdCeh7BxdM9ajgzwJg4Dqg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LinkedIn Content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('LinkedIn_Content', ``, 'string') }}","Twitter Content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Twitter_Content', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"LinkedIn Content","displayName":"LinkedIn Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedIn Approval","displayName":"LinkedIn Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Approval","displayName":"Twitter Approval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[760,-640],"id":"5235ac0d-fc7a-42a5-9a86-72c2f4fa600a","name":"Approval for Twitter","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"1a247b82-7d21-480d-aff4-d71798b29e1e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-960,1040],"id":"0511d48f-5228-4005-831a-479f6bb09d0d","name":"Webhook","webhookId":"1a247b82-7d21-480d-aff4-d71798b29e1e"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.approval }}","rightValue":"Approved","operator":{"type":"string","operation":"equals"},"id":"85e45481-640c-4718-8bc9-4f33fa9ff12d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approved"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"839f6aa2-118b-4a2d-96d4-a6cfe2ea62b0","leftValue":"={{ $json.body.approval }}","rightValue":"Rejected","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Rejected"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-700,1040],"id":"1a6db041-c87a-41e3-8c05-11d9f6a22981","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-300,1260],"id":"77e2f895-e219-4665-9aa1-38a3e0fe4431","name":"No Operation, do nothing"},{"parameters":{"person":"9qjUaYXigd","text":"={{ $json.body.content }}","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-280,840],"id":"f09a3917-04ed-45b2-b249-f2b121941095","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"6p0ozPVtSQrLRlVv","name":"LinkedIn account"}}},{"parameters":{"content":"# Webhook\n**Purpose: Listens for approval decisions from external systems (like Google Sheets).**\n**Details: Accepts POST requests containing two keys:\n** `content`: the LinkedIn/Twitter post content\n** `approval`: the approval status (\"Approved\" or \"Rejected\")**\n\n# Switch\n**Purpose: Filters the incoming request based on the `approval` value.**\n**Logic**:\n** If `approval` equals `\"Approved\"` → continue to publish**\n** If `approval` equals `\"Rejected\"` → stop execution\n\n# Create a post\n**Purpose: Publishes the approved content directly to the connected LinkedIn/Twitter account.**\n**Trigger: Only executes if the post was marked as `\"Approved\"` in the switch node.**\n\n# No Operation, do nothing\n**Purpose: Gracefully handles rejected content.**\n**Behavior: Ends the workflow when a post is not approved—prevents any further action.**\n","height":1220,"width":3280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2060,440],"id":"432522ce-51c0-4381-b9ec-a2c9729a0cde","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"ac905951-fbc0-4c69-8a2c-dcbb01cd621e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,980],"id":"a46dfaf8-affd-42ec-bc7d-c7f8fbcddb0e","name":"Webhook1","webhookId":"ac905951-fbc0-4c69-8a2c-dcbb01cd621e"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.approval }}","rightValue":"Approved","operator":{"type":"string","operation":"equals"},"id":"fe601828-38f2-4a36-8e43-f6dcbb308bf9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Approved"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9c880cb0-51a5-4ad4-b5f5-a3971186977a","leftValue":"={{ $json.body.approval }}","rightValue":"Rejected","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Rejected"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[300,980],"id":"294182d9-aa64-469d-8f48-9955ea2fc342","name":"Switch1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[680,1100],"id":"134fefed-3448-4bb6-ba35-d24c6b091199","name":"No Operation, do nothing1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[540,-1020],"id":"faba7fd2-9102-4650-a50c-b71b742c16fd","name":"When chat message received","webhookId":"bc2b1f0b-a5f6-4e35-8187-eb3a7c2396af"}],"connections":{"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Pinecone Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Pinecone Vector Store1":{"main":[[]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"RAGTOOL","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store2":{"ai_vectorStore":[[{"node":"RAGTOOL","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"New File Upload (Drive)":{"main":[[{"node":"Match Uploaded Files with Sheet Data","type":"main","index":0},{"node":"Check Previously Processed Files","type":"main","index":0}]]},"Check Previously Processed Files":{"main":[[{"node":"Match Uploaded Files with Sheet Data","type":"main","index":1}]]},"Match Uploaded Files with Sheet Data":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store1","type":"main","index":0},{"node":"Log Processed File to Sheet","type":"main","index":0}]]},"Log Processed File to Sheet":{"main":[[]]},"RAGTOOL":{"ai_tool":[[{"node":"Agent","type":"ai_tool","index":0}]]},"Model":{"ai_languageModel":[[{"node":"Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"Agent","type":"ai_memory","index":0}]]},"Agent":{"main":[[]]},"Approval for Twitter":{"ai_tool":[[{"node":"Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Create a post","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-07-08T10:48:19Z"},"node:New File Upload (Drive)":{"lastTimeChecked":"2025-07-11T14:04:50Z"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c5729105-9712-4067-b71f-db06095766b6","triggerCount":4,"tags":[]}