ucopportunities-service-log-jotform-pbivz2KmnQ9WPlut.json
{"createdAt":"2025-07-10T11:41:44.191Z","updatedAt":"2025-07-11T07:16:24.000Z","id":"pbivz2KmnQ9WPlut","name":"ucopportunities Service Log JotForm","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Resident Name: {{ $('Code').item.json['Resident Name'] }}\nMedicaid_Number: {{ $('Code').item.json['Medicade Number'] }}\nSocial Security Number: {{ $('Code').item.json['Social Security Number'] }}\nProvider Number: {{ $('Code').item.json['Provider Number'] }}\nDate: {{ $('Code').item.json.Date }}\nStart Time: {{ $('Code').item.json['Start Time'] }}\nEnd Time: {{ $('Code').item.json['End Time'] }}\nTotal Time: {{ $('Code').item.json['Total Time'] }}\nTime in Quater Hours: {{ $('Code').item.json['Time in Quater Hours'] }}\nGoal: {{ $('Code').item.json.Goal }}","hasOutputParser":true,"options":{"systemMessage":"=You are a professional data summarization agent. Your task is to analyze structured raw data submitted from a form and generate a clear, concise, and natural-language paragraph summarizing the key information.\n\nSummarize the form's contents in a readable, human-style report. Avoid listing fields one by one — instead, combine related facts into cohesive sentences. Maintain accuracy while focusing on important highlights such as dates, goals, services, medical updates, and outcomes.\n\nAvoid copying field names. Use natural phrasing. The tone should be neutral and professional."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[620,-200],"id":"d01dce85-1801-4b34-b3ee-2390e8c02d4c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[580,120],"id":"ead3a9d7-b5a8-4b41-9f35-60cd14365070","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"xVx0pwYla0RbJEUC","name":"Jamshed's OpenAi account"}}},{"parameters":{"jsCode":"// Step 1: Get the raw 'pretty' string\nconst rawText = $input.first().json.body.pretty || \"\";\nconst keyValuePairs = rawText.split(',').map(entry => entry.trim());\n\n// Step 2: Map known keys\nconst keyMap = {\n  \"Resident Name\": \"Resident Name\",\n  \"Autofill trigger\": \"Resident Name\",\n  \"Medicade Number\": \"Medicade Number\",\n  \"Social Security Number\": \"Social Security Number\",\n  \"Service Provided\": \"Service Provided\",\n  \"Provider Number\": \"Provider Number\",\n  \"Date\": \"Date\",\n  \"Start Time\": \"Start Time\",\n  \"End Time\": \"End Time\",\n  \"Total Time\": \"Total Time\",\n  \"Time in Quater Hours\": \"Time in Quater Hours\",\n  \"Goal\": \"Goal\",\n\n  // For flexibility — retain previously mapped fields too\n  \"Medicaid_Number\": \"Medicade Number\",\n  \"reshabProvider\": \"Provider Number\",\n  \"ServiceCodes\": \"Service Provided\",\n  \"Start Date\": \"Date\",\n  \"End Date\": \"Date\",\n  \"planstart\": \"Date\",\n  \"planend\": \"Date\"\n};\n\n// Step 3: Build final object with cleaned keys and formatted values\nconst result = {};\nfor (const pair of keyValuePairs) {\n  const [rawKey, ...rest] = pair.split(':');\n  if (!rawKey || rest.length === 0) continue;\n\n  const cleanKey = rawKey.trim();\n  const mappedKey = keyMap[cleanKey] || cleanKey;\n  let value = rest.join(':').trim();\n\n  // ✅ Auto-format \"date-like\" values: e.g., 04 04 2025 → 04-04-2025\n  if (/^\\d{2} \\d{2} \\d{4}$/.test(value)) {\n    value = value.replace(/ /g, '-');\n  }\n\n  result[mappedKey] = value;\n}\n\n// Step 4: Add metadata if needed\nresult[\"Sheet Name\"] = $input.first().json[\"Sheet Name\"] || \"Form Submission Data\";\nresult[\"Row Number\"] = $input.first().json[\"Row Number\"] || \"\";\n\n// ✅ STRONG TRIM for Resident Name to fix Switch node\nif (result[\"Resident Name\"]) {\n  result[\"Resident Name\"] = result[\"Resident Name\"]\n    .replace(/\\s+/g, ' ') // remove extra internal spaces\n    .replace(/\\u00A0/g, ' ') // remove non-breaking spaces\n    .trim(); // final trim\n  console.log(\"Cleaned Resident Name:\", `\"${result[\"Resident Name\"]}\"`);\n}\n\nreturn [{ json: result }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,-200],"id":"c645f5e4-aef6-4419-a263-7e9b265b9a64","name":"Code"},{"parameters":{"httpMethod":"POST","path":"8e4fd075-0807-44a4-92bc-47ab40803085","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,-200],"id":"483f03cc-ae2a-4fd0-b2a6-5588e208dae3","name":"Webhook","webhookId":"8e4fd075-0807-44a4-92bc-47ab40803085"},{"parameters":{"jsCode":"function generateSummary() {\n  const input = $input.first().json;\n\n  const residentName = input['Resident Name'];\n  const medicaidNumber = input['Medicade Number'];\n  const ssn = input['Social Security Number'];\n  const service = input['Service Provided'];\n  const providerNumber = input['Provider Number'];\n  const date = input['Date'];\n  const startTime = input['Start Time'];\n  const endTime = input['End Time'];\n  const totalTime = input['Total Time'];\n  const quarterHours = input['Time in Quater Hours'];\n  const goal = input['Goal'];\n\n  return `${residentName} (Medicaid #${medicaidNumber}, SSN: ${ssn}) received \"${service}\" on ${date} from ${startTime} to ${endTime} (Total: ${totalTime}, Quarter Hours: ${quarterHours}). Service was provided by #${providerNumber}. The session focused on the goal: \"${goal}\".`;\n}\n\n// Output the summary\nreturn [{ json: { summary: generateSummary() } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-200],"id":"096bcb9e-f37d-45f7-b1ab-3a8792bdf128","name":"Simple Summary"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Colony Nelson","operator":{"type":"string","operation":"equals"},"id":"6449d9b2-af55-4a85-94c6-fe838d14c1be"}],"combinator":"and"},"renameOutput":true,"outputKey":"Colony Nelson"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a40cc84c-5985-41f5-8ade-16b6a0cc3703","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Marjorie Eby","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Marjorie Eby"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d258c3a-9227-402b-a36e-3921a4db04c2","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Brian Flamand","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Brian Flamand"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bf888a6-ecbb-45bf-9616-c4cf99273eec","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Michael Morrow","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Michael Morrow"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ceef656-682a-4809-8e4e-27b50ea73e58","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Thomas Cook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Thomas Cook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27cbfac8-6185-46aa-91cb-fba46e3d32ef","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Boby Parker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Boby Parker"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7302a89d-f545-4caf-9ecf-b9ec3b985b84","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Lyndon White","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Lyndon White"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bca5089d-34cc-4fa3-857b-513f7c4679fb","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Marlon Hughes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Marlon Hughes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e2d7aa7f-eec2-4021-a53d-d16ff1710412","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Keoun Phillips","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Keoun Phillips"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1fbda7d-76c0-4193-8725-69a5d58e3510","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Anthony Carriker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Anthony Carriker"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5785868-0119-4d08-8c8a-03f42a02aa3b","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"Jacob Robinson","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Jacob Robinson"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"365fe2a3-e306-4ec8-b28c-6155e17c203b","leftValue":"={{ $json[\"Resident Name\"] }}","rightValue":"=Thomas Schweder","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Thomas Schweder"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1280,-380],"id":"34771231-dccb-44e2-9831-d206b9df20e7","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"ba602db5-e3ce-4074-a4da-94a6077562b2","name":"Resident Name","value":"={{ $('Code').item.json['Resident Name'] }}","type":"string"},{"id":"52ce996b-33ad-4c51-b18e-19a687b390f6","name":"Medicade Number","value":"={{ $('Code').item.json['Medicade Number'] }}","type":"string"},{"id":"108d9ef0-1f20-4638-a9ed-3b411315f75e","name":"Social Security Number","value":"={{ $('Code').item.json['Social Security Number'] }}","type":"string"},{"id":"73958d89-ea22-4995-b2ef-bc40298e304f","name":"Provider Number","value":"={{ $('Code').item.json['Provider Number'] }}","type":"string"},{"id":"2c7221dc-08af-43b1-b21c-3b1ab609858a","name":"Date","value":"={{ $('Code').item.json.Date }}","type":"string"},{"id":"0ab245a6-ebc8-4a0c-a7a9-bd206d9c343e","name":"Start Time","value":"={{ $('Code').item.json['Start Time'] }}","type":"string"},{"id":"a1420d10-7ab3-4366-84cf-c132b87e691a","name":"End Time","value":"={{ $('Code').item.json['End Time'] }}","type":"string"},{"id":"f0a3b92a-9721-4f85-bc90-7bb617caf20a","name":"Total Time","value":"={{ $('Code').item.json['Total Time'] }}","type":"string"},{"id":"42bd198f-f073-4b5d-8fc0-621ec939939c","name":"Time in Quater Hours","value":"={{ $('Code').item.json['Time in Quater Hours'] }}","type":"string"},{"id":"9c7a68a2-d272-4837-83c7-133907a230af","name":"Goal","value":"={{ $('Code').item.json.Goal }}","type":"string"},{"id":"b84bb0df-2cfe-4541-b7d2-03c6271d08d2","name":"Simple Summary","value":"={{ $('Simple Summary').item.json.summary }}","type":"string"},{"id":"754a23ff-5890-4467-8293-78a5eb35ba9f","name":"AI Summary","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,-200],"id":"126ea6d3-fa60-43a7-a6f5-d51f3f211a1d","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1334365281,"mode":"list","cachedResultName":"Colony Nelson","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=1334365281"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2440,-1340],"id":"15aa8400-b7e3-4f04-aaae-9a85ab9157e3","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1520533898,"mode":"list","cachedResultName":"Marjorie Eby","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=1520533898"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2440,-1160],"id":"bc41418f-d59e-4706-886e-6b68c5396068","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1309396863,"mode":"list","cachedResultName":"Brian Flamand","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=1309396863"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2440,-960],"id":"97afc3cd-0bef-4739-8e7e-24240754005c","name":"Append row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1181045507,"mode":"list","cachedResultName":"Michael Morrow","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=1181045507"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2440,-780],"id":"9636333f-30e3-41e1-aed8-2394e5c3b8ea","name":"Append row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1995242784,"mode":"list","cachedResultName":"Thomas Schweder","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=1995242784"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2420,660],"id":"ffd13b9d-2d5d-4d67-90a1-1c42f39a0d72","name":"Append row in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":775986569,"mode":"list","cachedResultName":"Keoun Phillips","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=775986569"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2400,80],"id":"f675d877-0966-4119-9a9d-07e2ebbc656c","name":"Append row in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2003627615,"mode":"list","cachedResultName":"Jacob Robinson","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=2003627615"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2400,280],"id":"0d0f10d6-5c49-49d7-a9dc-7eccca5d4b22","name":"Append row in sheet7","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1055266335,"mode":"list","cachedResultName":"Anthony Carriker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=1055266335"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2420,460],"id":"34bcb1b8-8c5a-4988-9cf8-23d17d1a99ca","name":"Append row in sheet8","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1072583480,"mode":"list","cachedResultName":"Thomas Cook","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=1072583480"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2880,-620],"id":"10a4fca5-5342-43c6-84f0-8338bc73b383","name":"Append row in sheet9","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1248975179,"mode":"list","cachedResultName":"Boby Parker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=1248975179"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2880,-420],"id":"e9a7a8ab-e43f-4a32-9a4b-bb0bcc9bf898","name":"Append row in sheet10","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1998877018,"mode":"list","cachedResultName":"Lyndon White","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=1998877018"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2880,-220],"id":"c738bf19-8bb8-4f4b-a1ef-eab47ef31501","name":"Append row in sheet11","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s","mode":"list","cachedResultName":"Clone of Service Log Form","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2042835789,"mode":"list","cachedResultName":"Marlon Hughes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D5W6L2NSd6tQ30qZpDkrbosuwiygDnpjqwR9c-U9j0s/edit#gid=2042835789"},"columns":{"mappingMode":"defineBelow","value":{"Resident Name":"={{ $json['Resident Name'] }}","Medicade Number":"={{ $json['Medicade Number'] }}","Social Security Number":"={{ $json['Social Security Number'] }}","Service Provided":"={{ $json['Service Provided'] }}","Provider Number":"={{ $json['Provider Number'] }}","Date":"={{ $json.Date }}","Start Time":"={{ $json['Start Time'] }}","End Time":"={{ $json['End Time'] }}","Total Time":"={{ $json['Total Time'] }}","Time in Quater Hours":"={{ $json['Time in Quater Hours'] }}","Goal":"={{ $json.Goal }}","Summary":"={{ $json['Simple Summary'] }}","AI Summary":"={{ $json['AI Summary'] }}"},"matchingColumns":[],"schema":[{"id":"Resident Name","displayName":"Resident Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medicade Number","displayName":"Medicade Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Social Security Number","displayName":"Social Security Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Provided","displayName":"Service Provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Provider Number","displayName":"Provider Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Time","displayName":"Start Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Time","displayName":"End Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Time","displayName":"Total Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time in Quater Hours","displayName":"Time in Quater Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AI Summary","displayName":"AI Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2880,0],"id":"cbf42c3a-98c7-4b79-ab05-4590444399da","name":"Append row in sheet12","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Simple Summary","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Summary":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Append row in sheet2","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Append row in sheet3","type":"main","index":0}],[{"node":"Append row in sheet4","type":"main","index":0}],[{"node":"Append row in sheet9","type":"main","index":0}],[{"node":"Append row in sheet10","type":"main","index":0}],[{"node":"Append row in sheet11","type":"main","index":0}],[{"node":"Append row in sheet12","type":"main","index":0}],[{"node":"Append row in sheet6","type":"main","index":0}],[{"node":"Append row in sheet7","type":"main","index":0}],[{"node":"Append row in sheet8","type":"main","index":0}],[{"node":"Append row in sheet5","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a18c7053-2a66-4f4e-bc1f-7a48984a969b","triggerCount":0,"tags":[]}