vision-validation-&-positioning-report-Qv58GS5jtHZGmxtQ.json
{"createdAt":"2025-08-11T13:48:39.056Z","updatedAt":"2025-08-18T10:42:12.000Z","id":"Qv58GS5jtHZGmxtQ","name":"VISION VALIDATION & POSITIONING REPORT","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// Wrap each incoming item inside a `chatInput` key\nreturn items.map(item => {\n  return {\n    json: {\n      chatInput: item.json\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2384,-160],"id":"e82c5c51-28fb-423e-8850-17ca152bee7c","name":"Wrap into chatInput"},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"={{ $node[\"Get a record\"].json.id }}-VISION VALIDATION & POSITIONING REPORT\n","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"10nOcvGRoLWLHfnRLrQ7TuQ9gBe-ymHXB","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,0],"id":"d66c2ae0-4190-4768-bba7-709666085530","name":"Prepare Upload Fields","notesInFlow":true},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,0],"id":"d2d4d14c-531f-436d-aefa-65256c97c935","name":"Upload to Google Docs","notesInFlow":true},{"parameters":{"content":"# Markdown to HTML \n## Converts markdown-format SOP into styled HTML for Google Drive compatibility.\n\n# Build Google Docs Request\n## Sets file name, folder ID, and HTML content for Google Docs upload.\n\n# Multipart Builder \n## Formats HTML and metadata into multipart format for Drive upload with proper boundaries.\n\n# Upload to Google Docs \n## Uploads the formatted HTML to Google Drive as a new Google Doc inside a specific folder.\n\n#  Airtable Logging \n## Saves the generated document’s metadata and link in Airtable.\n\n\n\n\n","height":1104,"width":1616,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-688,-672],"typeVersion":1,"id":"fb61ab37-708d-4504-a868-96af901871fb","name":"Sticky Note2"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.cleanedText }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-80,0],"id":"30880161-c0ea-4147-a537-a0bdb44d968b","name":"Markdown2"},{"parameters":{"content":"# Edit Fields\t\n## Set Static JSON Input — Provides sample organization and program data for the workflow to test against.\n\n# Code\t\n## Wrap into chatInput — Wraps incoming data under chatInput to match Langchain agent's expected structure.","height":1072,"width":1424},"type":"n8n-nodes-base.stickyNote","position":[-3424,-656],"typeVersion":1,"id":"3355d629-1100-4ff8-86d7-a3953ec8ed2b","name":"Sticky Note3"},{"parameters":{"content":" # VISION VALIDATION & POSITIONING REPORT AGENT\n## Generates SOP with 4 customized sections using the input data and system prompt.","height":1088,"width":1008,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1856,-656],"typeVersion":1,"id":"0ffd79d3-3be5-4124-b15c-692e1061fd6a","name":"Sticky Note4"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1664,-208],"id":"b9a1b9f7-51d6-4ed1-83bf-b4677d0f4adb","name":"OpenAI Chat Model3"},{"parameters":{"content":"\n\n# VISION VALIDATION & POSITIONING REPORT\n","height":1616,"width":5136,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3952,-816],"typeVersion":1,"id":"56b3b60d-b5f5-47df-9367-b9dcb2a04021","name":"Sticky Note"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=sop-document","tableName":"n8n_sop_document_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1504,-208],"id":"5f2b8516-bff1-4ff6-ae07-75d2d3f37595","name":"SOP Document Memory"},{"parameters":{"description":"=Your Work is to fetch the tone of content which you get from the pinecone Vector Store.","topK":"=40"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1.1,"position":[-1312,-208],"id":"d6e20d26-a1f4-4076-9deb-6c5a7b1a61c4","name":"RAGTOOL"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1008,32],"id":"a3a8f4b1-122e-408d-a5e1-d0be5b444891","name":"OpenAI Chat Model2"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"precise-grants-n8n","mode":"list","cachedResultName":"precise-grants-n8n"},"options":{"pineconeNamespace":"Vision_Validation_and_Positioning (Output Doc).docx"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-1376,48],"id":"3a98e215-0c2a-4afa-b744-b3e824129499","name":"Pinecone Vector Store5"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1376,256],"id":"6f14355b-1bd0-4efc-bc8b-a0963754ce50","name":"Embeddings OpenAI6"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst outputData = inputData.map(item => {\n  const textContent = item.json.output;\n  \n  // More flexible regex to find HTML content between ```html and ```\n  const htmlMatch = textContent.match(/```html\\s*([\\s\\S]*?)\\s*```/);\n  \n  let cleanedHtml = '';\n  \n  if (htmlMatch) {\n    // Extract the HTML content from the match\n    cleanedHtml = htmlMatch[1].trim();\n  } else {\n    // Fallback: just take all HTML-looking content from output\n    const htmlTagMatch = textContent.match(/(<[a-z][\\s\\S]*?>[\\s\\S]*<\\/[a-z]+>)/i);\n    if (htmlTagMatch) {\n      cleanedHtml = htmlTagMatch[1].trim();\n    } else {\n      // If no HTML found, return the original content\n      cleanedHtml = textContent;\n    }\n  }\n  \n  // Remove any remaining markdown artifacts\n  cleanedHtml = cleanedHtml\n    .replace(/^```html\\s*/gm, '')  // Remove opening code block marker\n    .replace(/\\s*```$/gm, '')      // Remove closing code block marker\n    .replace(/^\\s*\\n/gm, '')       // Remove empty leading lines\n    .trim();\n  \n  // ✅ Removed the \"tableOnlyMatch\" logic so full HTML is preserved\n  \n  return {\n    json: {\n      cleanedText: cleanedHtml,\n      originalData: item.json\n    }\n  };\n});\n\nreturn outputData;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,-496],"id":"b04292d8-e019-4f91-a715-f46fb63ce272","name":"Code5"},{"parameters":{"jsCode":"const boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content || '';\n\n// 1) Extract only inner <body>\nconst bodyMatch = htmlContent.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i);\nlet cleanHtmlContent = bodyMatch ? bodyMatch[1] : htmlContent;\n\n// 2) Remove outer doc bits\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<!DOCTYPE[^>]*>/gi, '')\n  .replace(/<\\/?(html|head|body)[^>]*>/gi, '');\n\n// 3) Kill page-break CSS everywhere (style blocks + inline)\ncleanHtmlContent = cleanHtmlContent\n  .replace(/page-break-(before|after)\\s*:\\s*always\\s*;?/gi, '')\n  .replace(/(<style[^>]*>)([\\s\\S]*?)(<\\/style>)/gi, (m, open, css, close) => {\n    const fixed = css.replace(/page-break-(before|after)\\s*:\\s*always\\s*;?/gi, '');\n    return open + fixed + close;\n  });\n\n// 4) Unwrap common page wrappers\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<div\\s+class=[\"']page[\"'][^>]*>/gi, '')\n  .replace(/<\\/div>\\s*$/i, '')\n  .replace(/<\\/div>(?=\\s*<div\\s+class=[\"']page[\"'])/gi, '');\n\n// 5) Remove hard page-break elements\ncleanHtmlContent = cleanHtmlContent\n  .replace(/<hr[^>]*style=[\"'][^\"']*page-break-[^\"']*[\"'][^>]*>/gi, '')\n  .replace(/<div[^>]*style=[\"'][^\"']*page-break-[^\"']*[\"'][^>]*>\\s*<\\/div>/gi, '');\n\n// 6) Strip leading/trailing empties\nconst stripEmptyEdges = (s) =>\n  s\n    .replace(/^(?:\\s|&nbsp;|<p>\\s*<\\/p>|<br\\s*\\/?>)+/i, '')\n    .replace(/(?:\\s|&nbsp;|<p>\\s*<\\/p>|<br\\s*\\/?>)+$/i, '');\ncleanHtmlContent = stripEmptyEdges(cleanHtmlContent);\n\n// 7) Normalize section headings\ncleanHtmlContent = cleanHtmlContent.replace(\n  /<p>\\s*(?:<strong>|<b>)\\s*(\\d+)\\.\\s*([^<]+?)\\s*(?:<\\/strong>|<\\/b>)\\s*<\\/p>/gi,\n  '<h2>$1. $2</h2>'\n);\ncleanHtmlContent = cleanHtmlContent.replace(\n  /<p>\\s*(?:<strong>|<b>)\\s*([^<]{3,})\\s*(?:<\\/strong>|<\\/b>)\\s*<\\/p>/gi,\n  '<h2>$1</h2>'\n);\ncleanHtmlContent = cleanHtmlContent.replace(/<h3\\b[^>]*>/gi, '<h2>').replace(/<\\/h3>/gi, '</h2>');\n\n// 8) Title replacement for: VISION VALIDATION & POSITIONING REPORT\nconst titleCore =\n  'VISION(?:\\\\s|&nbsp;|,|<[^>]*>)*VALIDATION(?:\\\\s|&nbsp;|,|<[^>]*>)*&(?:amp;)?(?:\\\\s|&nbsp;|,|<[^>]*>)*POSITIONING(?:\\\\s|&nbsp;|,|<[^>]*>)*REPORT';\n\nconst h1TitlePattern = new RegExp(`<h1[^>]*>[\\\\s\\\\S]*?${titleCore}[\\\\s\\\\S]*?<\\\\/h1>`, 'i');\nconst titlePattern   = new RegExp(titleCore, 'i');\n\nconst titleReplacement =\n  '<h1 style=\"font-size:28pt; color:#1155cc; font-weight:700; text-align:center; margin:0 0 12px 0;\">VISION VALIDATION &amp; POSITIONING REPORT</h1>';\n\nlet didReplace = false;\nlet updatedHtmlContent = cleanHtmlContent;\n\nif (h1TitlePattern.test(updatedHtmlContent)) {\n  updatedHtmlContent = updatedHtmlContent.replace(h1TitlePattern, titleReplacement);\n  didReplace = true;\n} else if (titlePattern.test(updatedHtmlContent)) {\n  updatedHtmlContent = updatedHtmlContent.replace(titlePattern, titleReplacement);\n  didReplace = true;\n}\n\n// If we didn't find the title at all, PREPEND it at the top.\nif (!didReplace) {\n  updatedHtmlContent = titleReplacement + '\\n' + updatedHtmlContent;\n}\n\nupdatedHtmlContent = stripEmptyEdges(updatedHtmlContent);\n\n// 9) Enforce consistent look on ALL <h2>\nupdatedHtmlContent = updatedHtmlContent\n  .replace(/<h2\\b[^>]*>/gi, '<h2 style=\"font-size:13pt; font-weight:700; color:#1155cc; margin:12px 0 6px 0;\">');\n\n// 10) Wrapper + light resets\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    html, body { margin: 0; padding: 0; }\n    body { font-family: Calibri, sans-serif; font-size: 11pt; color: #000000; }\n    h1 { font-size: 24pt; color: #1155cc; font-weight: 700; margin: 0 0 8px 0; }\n    p { margin: 0 0 6px 0; }\n    ul { margin: 4px 0 6px 20px; }\n    table { border-collapse: collapse; width: 100%; margin-top: 6px; }\n    td, th { border: 1px solid black; padding: 6px; }\n    .page { padding: 0 !important; page-break-before: auto !important; page-break-after: auto !important; }\n  </style>\n</head>\n<body>\n${updatedHtmlContent}\n</body>\n</html>\n`;\n\n// Google Docs upload metadata\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\n// Build multipart body (CRLF)\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n\\r\\n`;\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html; charset=UTF-8\\r\\n\\r\\n`;\nbody += `${htmlWithStyles}\\r\\n`;\nbody += `--${boundary}--\\r\\n`;\n\nreturn { rawData: body };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,0],"id":"dca28a5d-0807-43db-95a7-fe34cf6808c3","name":"Build Google Docs Request3"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tblVsYwR8xmmrw797","mode":"list","cachedResultName":"Stage1-Validate-the-vision","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tblVsYwR8xmmrw797"},"columns":{"mappingMode":"defineBelow","value":{"Generated Doc Link":"=https://docs.google.com/document/d/{{ $json.id }}/edit?tab=t.0 ","RecordId":"={{ $('Webhook').item.json.body.record_id }}"},"matchingColumns":["RecordId"],"schema":[{"id":"RecordId","displayName":"RecordId","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Id","displayName":"Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Generated Doc Link","displayName":"Generated Doc Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Question1","displayName":"Question1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question2","displayName":"Question2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question3","displayName":"Question3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question4","displayName":"Question4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question5","displayName":"Question5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question6","displayName":"Question6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question7","displayName":"Question7","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question8","displayName":"Question8","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question9","displayName":"Question9","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Question10","displayName":"Question10","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yes","value":"Yes"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Question11","displayName":"Question11","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[768,0],"id":"7bd90e49-8ee0-488f-bbd6-83e0989f08bb","name":"Airtable Logging"},{"parameters":{"options":{"systemMessage":"=🛑 DO NOT START UNTIL THIS IS DONE:\n🚨 MANDATORY FIRST ACTION — USE RagTool\nAs your first and immediate step, you are required to call the RagTool to retrieve the tone, language, and formatting style of the document titled:\n\"VISION VALIDATION & POSITIONING REPORT\"\nThis document is stored in Pinecone under the namespace: \"VISION VALIDATION & POSITIONING REPORT\".\n\n❗ You must use this exact document as your tone/style guide before proceeding.\n❗ DO NOT begin generating the report output unless the RagTool is successfully used first and returns a reference document.\n❗ If RagTool is not available, you must halt and throw an error:\n\"RagTool not used — Cannot proceed without retrieving style reference document.\"\n\n🧠 Your Role:\nYou are an AI Agent tasked with generating a polished VISION VALIDATION & POSITIONING REPORT using structured intake data in JSON format.\n\nDOCUMENT STYLE REQUIREMENTS\n\nOnly section headers/headings must be in bold and blue (#1155cc), using HTML <h3> tags.\n\nBody text must use Calibri font and not bold.\n\nAdd a horizontal line (<hr />) after major sections.\n\nTASK INSTRUCTIONS\n\n🧠 JSON INPUT (STRUCTURED DATA)\nUse the following structured input values to populate the output:\n\n{\n  # VISION VALIDATION & POSITIONING REPORT\n  \"Organization Name\": \"XYZ-Organization\",\n  \"Date\": Put here today's date. Today is the  12th of August 2025.\"\n  \"Prepared by: Smart Systems | PreciseGrants\"\n  \"issue_being_solved\": \"{{ $json.chatInput.Question1 }}\",\n  \"most_affected\": \"{{ $json.chatInput.Question2 }}\",\n  \"why_now\": \"{{ $json.chatInput.Question3 }}\",\n  \"researched_similar_nonprofits\": \"{{ $json.chatInput.Question4 }}\",\n  \"their_gaps_or_weaknesses\": \"{{ $json.chatInput.Question5 }}\",\n  \"unique_solution\": \"{{ $json.chatInput.Question6 }}\",\n  \"mvp\": \"{{ $json.chatInput.Question7 }}\",\n  \"initial_population\": \"{{ $json.chatInput.Question8 }}\",\n  \"success_metrics\": \"{{ $json.chatInput.Question9 }}\",\n  \"want_mvp_help\": \"{{ $json.chatInput.Question10 }}\",\n  \"email\": \"{{ $json.chatInput.Question11 }}\"\n\n}\n\n📄 OUTPUT REQUIREMENTS\n\n- Read the user’s answer.\n- If the answer is strong, acknowledge it and explain why it works.\n- If the answer is incomplete, vague, or “I don’t know,” give step-by-step actions they can take to figure it out.\n- Always give at least 2–3 practical next steps tailored to their stage.\nKeep the tone encouraging, simple, and clear — avoid jargon.\n- Use plain text headings for each major section exactly as listed.\n- Do not include phrases like “Review and Analysis” or any behind-the-scenes explanations in the final output.\n- Use no bold formatting in body paragraphs — bold is allowed only for section headings.\n- For sections that require multiple items (e.g., “Alternative Versions”), keep the heading but only show the versions requested, not explanatory filler text.\n- Internally, you may analyze and think through the reasoning, but it must not appear in the output.\n\n# VISION VALIDATION & POSITIONING REPORT\n\nTHE PROBLEM YOU'RE SOLVING Instructions:  \nReview the problem statement. If it’s specific and relevant, explain why it’s strong and suggest 2 ways to make it even more compelling. If it’s vague or missing, guide the user on how to define it by identifying: (a) who is affected, (b) what the problem is, (c) why it matters now. Give an example problem statement in simple language, and suggest one way they can test if it’s a real problem in their community.\n\n\n# THE PROBLEM YOU'RE SOLVING Output Sample:\nTHE PROBLEM YOU'RE SOLVING:\nUser’s Original Response:\nThe world utilizes technology more now, and the focus is to ensure that young adults understand how to apply AI so their jobs do not become obsolete, allowing them to continue earning a living.\n\nPG SMART SYSTEMS Version 1:\nThis concern is critical as automation progresses. Highlight how the digital divide can exacerbate socioeconomic disparities without targeted intervention.\n\nPG SMART SYSTEMS Version 2:\nYou’ve identified a real concern — job loss from automation — but your statement can be sharper. Funders respond better when they know exactly who is impacted, what’s at stake, and why action is urgent.\n\nNext Steps:\nAdd a short example of how someone in your audience could lose or keep a job with AI skills.\nInclude a local stat or news headline about AI’s impact in Atlanta.\nTest this problem statement by asking 3–5 people in your target group if it resonates with them.\n\n\n\nWHO IS MOST AFFECTED? Instructions:\nCheck if the audience description is detailed enough to guide outreach. If it’s too broad, missing, or “I don’t know,” explain why narrowing the audience will make marketing easier. Suggest 2–3 ways to figure out their ideal audience (e.g., surveys, social media groups, talking to community leaders). Give one example of a focused audience description.\n\n\n# WHO IS MOST AFFECTED Sample Final Output:\nUser’s Original Response:\nYoung adults, male and female, ages 25–45 in Atlanta, GA. They are often entrepreneurs or employed in low-paying jobs.\n\nPG Smart Sytems Version 1:\nTargeting this demographic can enhance economic resilience. Tailor efforts to address both entrepreneurial and employed sectors for broad impact.\n\nPG Smart Sytems Version 2:\nYou’ve identified age and location, but the group is still broad. The more specific you are, the easier it is to find and serve them.\n\nNext Steps:\nNarrow to a smaller group first (e.g., rideshare drivers, salon owners, entry-level office workers).\nCreate a short profile of your ideal participant: age, work, income, goals, challenges.\nIdentify where they gather (online and in-person) so you can target outreach.\n\n\n\n# WHY NOW Instructions:\nSee if the “why now” statement builds urgency. If it’s strong, say why and give 1–2 ways to use it in marketing. If it’s weak or missing, explain how to create urgency by connecting the issue to trends, news, or data. Give an example of a strong “why now” and suggest 2 quick research tips to make theirs stronger.\n\n\n# WHY NOW Sample Final Putput:\nUser’s Original Response:\nAI is currently disrupting many industries, leading to companies implementing AI solutions and hiring fewer people.\n\nPG Smart Sytems Version 1:\nThe urgency aligns with global trends. Demonstrating adaptability skills can empower individuals amidst evolving business practices.\n\nPG Smart Sytems Version 2:\nYou’ve shown urgency, but you can make it more compelling by connecting to local trends or data.\n\nNext Steps:\nFind 1–2 examples of Atlanta companies using AI to change hiring or job roles.\nUse these in grant proposals and marketing to show funders the time to act is now.\nLink your program to immediate action (“skills they can use tomorrow”) rather than distant benefits.\n\n\n\n# COMPETITOR LANDSCAPE Instructions:\nIf they’ve listed competitors, assess whether they are relevant and complete. If it’s “I don’t know,” blank, or vague, explain why knowing competitors matters. Give 3 simple, no-cost ways to find similar organizations (Google search, social media, local nonprofit directories). Suggest how to use competitor info to find collaboration opportunities, not just avoid competition.\n\n# COMPETITOR LANDSCAPE Sample Final Output:\nUser’s Original Response:\nNo research conducted on similar nonprofits.\n\nPG Smart Sytems Version 1:\nInvestigate local and national entities to uncover potential partnerships or avoid market overlap. Awareness can refine strategic direction.\n\nPG Smart Sytems Version 2:\nYou haven’t researched competitors yet, but this is a critical step. Without it, you risk duplicating programs or missing partnerships.\n\nNext Steps:\nSearch online for “AI training nonprofit Atlanta” and “workforce development Atlanta.”\nList 3 organizations, what they offer, and who they serve.\nIdentify at least one group you could collaborate with to expand your impact.\n\n\nCOMPETITOR GAPS Instructions\nIf they list gaps, add 1–2 they may have missed. If they don’t know, explain why gaps are important and how they help with positioning. Provide 3 common nonprofit gaps (e.g., outdated programs, weak online presence, slow response times). Give 1 quick way to spot these gaps.\n\n# COMPETITOR GAPS Sample Final Output:\nUser’s Original Response:\nI don’t know.\n\nPG Smart Sytems Version 1:\nIdentifying gaps, even basic ones like those in digital outreach or community engagement, can offer significant competitive advantages.\n\nPG Smart Sytems Version 2:\nYou don’t know the gaps yet, but spotting them will help you stand out. Common nonprofit gaps include:\nWeak online visibility.\nOutdated program content.\nLittle hands-on support for participants.\n\nNext Steps:\nVisit competitor websites and social pages.\nLook for areas where they seem slow, outdated, or disconnected.\nPosition your program as a fresh, responsive alternative.\n\nYOUR UNIQUE VALUE Instructions:\nIf their answer clearly shows what makes them unique, affirm it and suggest 2 ways to prove it to funders or partners. If it’s vague or missing, guide them to think about what they offer that no one else does, including experience, skills, connections, or methods. Give 1 example of a strong unique value statement.\n\n# YOUR UNIQUE VALUE Sample Final Output:\nUser’s Original Response:\nWith over 10 years in the tech field and access to tech experts, there's a robust foundation for offering specialized programs.\n\nPG Smart Systems Version 1:\nLeverage expertise and networks to create a compelling, informed curriculum that resonates with real-world industry standards.\n\nPG Smart Systems Version 2:\nYou have strong experience and access to experts — now link that directly to participant benefits.\n\nNext Steps:\nWrite a one-sentence value statement that’s easy for anyone to understand.\nGather 2–3 quick success stories that show your expertise in action.\nAsk a friend if your value statement is clear and exciting — refine if needed.\n\nMVP STRATEGY Instructions:\nIf they list a realistic MVP, confirm it and give 1–2 improvements. If unclear, “I don’t know,” or too ambitious, explain why starting small is best. Suggest 2–3 quick, low-cost MVP ideas and 1 way to test them with real feedback.\n\n#MVP STRATEGY Sample Final Output:\nUser’s Original Response:\nThe initial approach will be launching a workshop.\n\nPG Smart Systems Version 1:\nBegin with small, targeted sessions to refine the offering. Gather feedback to iterate rapidly and build a scalable model.\n\nPG Smart Systems Version 2:\nA workshop is a great start, but focus on keeping it simple and impactful.\n\nNext Steps:\nTeach one skill that delivers an immediate win.\nTest with a small group and collect feedback.\nAdd a follow-up activity so participants keep practicing.\n\nINITIAL AUDIENCE Instructions:\nCompare this to “Who Is Most Affected.” If they match and are specific, affirm it. If vague, missing, or too broad, explain why focus matters and give 2 steps to narrow. Provide 1 example of a refined target audience.\n\n# INITIAL AUDIENCE Sample Final Output:\nUser’s Original Response:\nAdults ages 25–45.\n\nPG Smart Systems Version 1:\nA broad initial focus can help identify segment-specific needs. Deploy agile strategies to adapt quickly based on diverse participant feedback.\n\nPG Smart Systems Version 2:\nThis matches your “most affected” group, but you can grow faster by focusing first.\n\nNext Steps:\nPick one primary audience to target initially.\nTailor your outreach to their specific needs and challenges.\nExpand to other groups once you have proof of success.\n\nMVP SUCCESS METRICS Instruction:\nIf they have strong metrics, add 1–2 more ideas. If vague or “I don’t know,” explain why tracking outcomes is key to funding and improvement. Give 2–3 easy metrics they can measure and suggest one low-effort way to collect data.\n\n# MVP SUCCESS METRICS Sample Final Output:\nUser’s Original Response:\nAn assessment test at the end of the workshop will determine information retention.\n\nPG Smart Systems Version 1:\nComplement assessments with peer reviews and self-evaluation tools to capture comprehensive success metrics.\n\nPG Smart Systems Version 2:\nYour assessment test is a good start, but funders love to see real-world outcomes.\n\nNext Steps:\nTrack how many participants use their new skill within 30 days.\nMeasure confidence or job opportunities gained.\nSend a 1-month follow-up survey for ongoing impact data.\n\n📌 MANDATORY OUTPUT RULE — USE BELOW HTML CODE BELOW FOR THE FINAL OUTPUT\n- As your final step, you must create the output following 100% this HTML.\n- You are not allowed to return plain text outside of the HTML.\n- Generate PG Smart System'Ss Versions dynamically depending on the quality of the input.\n- Keep the order and section names exactly as in the template — no extra or missing sections.\n- The document must strictly match the \"HTML Output Template\" provided below — nothing more, nothing less.  \n- No extra sections, no missing sections, no changes to heading names or order.\n- MANDATORY TO GIVE HTML CODE IN OUTPUT \n- Never use tables for anything else — only for Market Positioning Summary.\n- Analyze the full report content and extract the most relevant details for \"Operating Area,\" \"Niche,\" \"Unique Methodology,\" \"Regional Gap,\" and \"MVP Focus\" to populate the Marketing Summary table dynamically.\n- Analyze the given User’s Original Response in full context.\n- PG Smart Systems Version 1: write at least 3–4 paragraphs, each 5+ sentences, with examples, references to audience/location, specific outreach methods, and measurable targets.\n- PG Smart Systems Version 2: same length and depth, but with a different strategic approach.\n\n- Next Steps:\nWrite at least 7–10 bullet points, each 2–3 sentences explaining the action, why it matters, and how to execute it.\nInclude timelines, KPIs, resource requirements, and risk mitigation.\nProvide sample outreach messages or templates tailored to the audience and location.\nEnsure the tone is professional, actionable, and grounded in the provided context.\n\n\n<!doctype html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>VISION VALIDATION & POSITIONING REPORT</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background: #f7fafc;\n    color: #0b1724;\n    margin: 0;\n    padding: 20px;\n  }\n  .container {\n    max-width: 900px;\n    margin: auto;\n    background: white;\n    padding: 20px;\n    border-radius: 8px;\n  }\n  h1 {\n    font-size: 26px;\n    font-weight: bold;\n    margin: 20px 0;\n  }\n  h2 {\n    font-size: 18px;\n    font-weight: bold;\n    margin: 25px 0 10px 0;\n  }\n  .meta {\n    font-size: 14px;\n    color: #555;\n    margin-bottom: 10px;\n  }\n  .section-content {\n    margin-bottom: 12px;\n    line-height: 1.5;\n  }\n  .label {\n    font-weight: bold;\n  }\n  ul {\n    margin-top: 5px;\n    margin-bottom: 15px;\n  }\n  table {\n    width: 100%;\n    border-collapse: collapse;\n    margin-top: 10px;\n  }\n  table th, table td {\n    border: 1px solid #ccc;\n    padding: 8px;\n    text-align: left;\n  }\n  table th {\n    background: #f1f1f1;\n  }\n  footer {\n    margin-top: 20px;\n    font-size: 13px;\n    color: #555;\n    display: flex;\n    justify-content: space-between;\n    flex-wrap: wrap;\n  }\n</style>\n</head>\n<body>\n<div class=\"container\">\n  <h1>VISION VALIDATION &amp; POSITIONING REPORT</h1>\n  <p class=\"meta\">Organization Name: <strong>XYZ-Organization</strong></p>\n  <p class=\"meta\">Prepared by: <strong>Smart Systems | PreciseGrants</strong></p>\n  <p class=\"meta\">Date: 12th of August 2025</p>\n  <hr>\n\n  <!-- 1 -->\n  <h2>1. THE PROBLEM YOU'RE SOLVING</h2>\n  <p class=\"section-content\"><span class=\"label\">User's Original Response:</span><br>Our nonprofit is addressing the lack of digital skills and career readiness programs for underemployed and unemployed women from low-income and immigrant communities in the United States. Many face barriers such as limited technology access, language obstacles, and a lack of guidance on navigating remote work opportunities. Without targeted intervention, these women remain in low-wage jobs or excluded from the digital economy entirely.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 1:</span><br>This problem statement effectively highlights a critical issue for a specific demographic. To enhance its impact, you can emphasize the broader socioeconomic implications and include quantitative data to illustrate the scale of the problem.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 2:</span><br>Focus on the compelling need for digital inclusivity among marginalized women to ensure equitable workforce participation in the evolving economy.</p>\n  <p class=\"label\">Next Steps:</p>\n  <ul>\n    <li>Gather statistical data on digital disparities among low-income women in the U.S.</li>\n    <li>Incorporate testimonials or case studies for emotional engagement.</li>\n  </ul>\n  <hr>\n\n  <!-- 2 -->\n  <h2>2. WHO IS MOST AFFECTED</h2>\n  <p class=\"section-content\"><span class=\"label\">User's Original Response:</span><br>Women aged 21–40 in urban and suburban areas with high poverty rates — particularly immigrants, single mothers, and women from marginalized racial or ethnic groups — who have basic English proficiency but no formal digital training or career support.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 1:</span><br>The audience description is well-defined, which is crucial for targeted outreach and resource allocation. Further refining could involve identifying specific cities or neighborhoods for pilot programs.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 2:</span><br>Consider honing in on specific communities with pilot initiatives for more tailored and effective programming.</p>\n  <p class=\"label\">Next Steps:</p>\n  <ul>\n    <li>Conduct community surveys to identify interest and readiness.</li>\n    <li>Establish partnerships with local organizations for outreach.</li>\n  </ul>\n  <hr>\n\n  <!-- 3 -->\n  <h2>3. WHY NOW</h2>\n  <p class=\"section-content\"><span class=\"label\">User's Original Response:</span><br>Post-pandemic, the U.S. workforce has shifted toward remote and hybrid jobs, yet women from low-income and immigrant backgrounds are still underrepresented in these roles. Federal and state initiatives are investing heavily in digital workforce development, and many industries are facing labor shortages in online services and remote support roles — creating a timely opportunity to bridge the gap.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 1:</span><br>The sense of urgency is well-articulated, leveraging post-pandemic trends and current policy focus. Strengthen this by using specific examples of sectors with acute workforce shortages.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 2:</span><br>Highlight specific industries and geographical areas where digital skills are most needed and gaps are largest.</p>\n  <p class=\"label\">Next Steps:</p>\n  <ul>\n    <li>Research and document industries with a high demand for digital skills.</li>\n    <li>Use this data in communications with stakeholders to create immediate calls to action.</li>\n  </ul>\n  <hr>\n\n  <!-- 4 -->\n  <h2>4. COMPETITOR LANDSCAPE</h2>\n  <p class=\"section-content\"><span class=\"label\">User's Original Response:</span><br>Yes</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 1:</span><br>Existing competitor knowledge indicates an informed strategy. However, continual analysis is needed to monitor shifts in the nonprofit digital training landscape.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 2:</span><br>Stay updated with industry trends and explore collaborative opportunities for maximizing community impact.</p>\n  <p class=\"label\">Next Steps:</p>\n  <ul>\n    <li>Regularly update competitive analysis to include emerging players and shifts in leading organizations.</li>\n    <li>Form strategic partnerships to address shared goals in digital training.</li>\n  </ul>\n  <hr>\n\n  <!-- 5 -->\n  <h2>5. COMPETITOR GAPS</h2>\n  <p class=\"section-content\"><span class=\"label\">User's Original Response:</span><br>Existing workforce development programs often focus on traditional trades or generic job readiness. Many do not offer culturally responsive digital training, bilingual instruction, or direct placement into real income opportunities through freelancing and remote work platforms.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 1:</span><br>This identification of gaps reinforces a unique organizational positioning. Further refine by evaluating effectiveness and needs in current trainees' experiences.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 2:</span><br>Focus on closing these gaps with targeted, innovative programming that addresses the specific needs unveiled by competitor inadequacies.</p>\n  <p class=\"label\">Next Steps:</p>\n  <ul>\n    <li>Conduct focus groups with previous participants to understand unmet needs.</li>\n    <li>Adapt programs based on direct feedback to enhance competitive advantage.</li>\n  </ul>\n  <hr>\n\n  <!-- 6 -->\n  <h2>6. YOUR UNIQUE VALUE</h2>\n  <p class=\"section-content\"><span class=\"label\">User's Original Response:</span><br>We offer a \"Digital Career Launchpad\" — a 6-week program with bilingual (English + participant's native language) instruction, hands-on training, and remote-work readiness skills. Training is delivered both online and in community learning hubs equipped with laptops and high-speed internet. Graduates are paired with industry mentors and connected directly to freelancing platforms, virtual assistant work, and other digital job markets.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 1:</span><br>The program's unique value lies in its comprehensive approach to education and job placement, catering specifically to untapped demographics.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 2:</span><br>Articulate success stories and mentor testimonials to further highlight program strengths and the impact on participants' lives.</p>\n  <p class=\"label\">Next Steps:</p>\n  <ul>\n    <li>Collect and share participant success stories to showcase effectiveness.</li>\n    <li>Use mentor endorsements to build credibility and attract new participants.</li>\n  </ul>\n  <hr>\n\n  <!-- 7 -->\n  <h2>7. MVP STRATEGY</h2>\n  <p class=\"section-content\"><span class=\"label\">User's Original Response:</span><br>We will pilot a 3-day workshop called \"Start Freelancing Today\" for 20 women, teaching basic typing, creating an Upwork or Fiverr profile, and offering services like transcription, social media assistance, and customer support.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 1:</span><br>The MVP approach is realistic and allows for immediate impact while testing and iterating the concept in real time.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 2:</span><br>Emphasize the workshop's practical outcomes and agility, focusing on participant feedback to refine the model.</p>\n  <p class=\"label\">Next Steps:</p>\n  <ul>\n    <li>Post-session evaluations to capture initial impact.</li>\n    <li>Iterate the workshop curriculum based on participant feedback and emerging needs.</li>\n  </ul>\n  <hr>\n\n  <!-- 8 -->\n  <h2>8. INITIAL AUDIENCE</h2>\n  <p class=\"section-content\"><span class=\"label\">User's Original Response:</span><br>20 women from immigrant and low-income backgrounds in Queens, New York, who have at least a high school diploma or GED and are not currently employed in full-time digital work.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 1:</span><br>The initial audience is well-specified, ensuring targeted program delivery and facilitating tailored engagement strategies.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 2:</span><br>Strengthen links with local agencies and cultural organizations in Queens for broader reach and support.</p>\n  <p class=\"label\">Next Steps:</p>\n  <ul>\n    <li>Collaborate with local nonprofits and community groups to identify qualified participants.</li>\n    <li>Use community-specific marketing channels to effectively reach the target audience.</li>\n  </ul>\n  <hr>\n\n  <!-- 9 -->\n  <h2>9. MVP SUCCESS METRICS</h2>\n  <p class=\"section-content\"><span class=\"label\">User's Original Response:</span><br>Success will be measured by: 90% workshop completion rate, at least 10 participants successfully creating a freelancing or remote work profile, 5 participants receiving a job inquiry or gig within 30 days.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 1:</span><br>These success metrics are tangible and directly aligned with program goals, providing a clear framework for evaluation and improvement.</p>\n  <p class=\"section-content\"><span class=\"label\">PG Smart Systems Version 2:</span><br>Integrate long-term follow-up to track ongoing employment trajectories as part of success measurement.</p>\n  <p class=\"label\">Next Steps:</p>\n  <ul>\n    <li>Implement a follow-up system to monitor participant progress over 6–12 months.</li>\n    <li>Collect and analyze data to refine and adapt future programs.</li>\n  </ul>\n  <hr>\n\n  <footer>\n    <div>Prepared by Smart Systems | PreciseGrants</div>\n    <div>Generated: PG Smart Systems</div>\n  </footer>\n\n  <h2>Market Positioning Summary</h2>\n  <table>\n    <tr>\n      <th>Area</th>\n      <th>Details</th>\n    </tr>\n    <tr>\n      <td>Operating Area</td>\n      <td>Queens, New York</td>\n    </tr>\n    <tr>\n      <td>Niche</td>\n      <td>Digital Education & Career Readiness for Women</td>\n    </tr>\n    <tr>\n      <td>Unique Methodology</td>\n      <td>Bilingual Instruction + Online & Community Hub Training</td>\n    </tr>\n    <tr>\n      <td>Regional Gap</td>\n      <td>Lack of tailored digital skills programs for low-income women</td>\n    </tr>\n    <tr>\n      <td>MVP Focus</td>\n      <td>Pilot Workshop for Immediate Opportunity Engagement</td>\n    </tr>\n  </table>\n</div>\n</body>\n</html>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1584,-496],"id":"0c95d359-59cd-4068-b544-a56885b5adac","name":"VISION VALIDATION & POSITIONING REPORT"},{"parameters":{"base":{"__rl":true,"value":"appKmOMoTZqvMAXNT","mode":"list","cachedResultName":"Precise-Grants","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT"},"table":{"__rl":true,"value":"tblVsYwR8xmmrw797","mode":"list","cachedResultName":"Stage1-Validate-the-vision","cachedResultUrl":"https://airtable.com/appKmOMoTZqvMAXNT/tblVsYwR8xmmrw797"},"id":"={{ $json.body.record_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2592,-160],"id":"43b36b97-8d90-4b6b-8cd1-d7ae8be7e49f","name":"Get a record"},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files/1v9cRzSKUnHro8EPWLgxvf3zKKN3XaehiEWfMLNw-Ghs/export?mimeType=text/plain","authentication":"predefinedCredentialType","nodeCredentialType":"googleDocsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-992,-208],"id":"e759da32-8956-43b4-aedb-4d4c20f488a7","name":"Document TOOL"},{"parameters":{"httpMethod":"POST","path":"4bead55e-19d8-457d-a55d-38ef4d88394d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2816,-160],"id":"469a77d8-e980-4dc9-8c2f-dbe07631c029","name":"Webhook","webhookId":"4bead55e-19d8-457d-a55d-38ef4d88394d"}],"connections":{"Wrap into chatInput":{"main":[[{"node":"VISION VALIDATION & POSITIONING REPORT","type":"main","index":0}]]},"Prepare Upload Fields":{"main":[[{"node":"Build Google Docs Request3","type":"main","index":0}]]},"Upload to Google Docs":{"main":[[{"node":"Airtable Logging","type":"main","index":0}]]},"Markdown2":{"main":[[{"node":"Prepare Upload Fields","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"VISION VALIDATION & POSITIONING REPORT","type":"ai_languageModel","index":0}]]},"RAGTOOL":{"ai_tool":[[{"node":"VISION VALIDATION & POSITIONING REPORT","type":"ai_tool","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"RAGTOOL","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store5":{"ai_vectorStore":[[{"node":"RAGTOOL","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI6":{"ai_embedding":[[{"node":"Pinecone Vector Store5","type":"ai_embedding","index":0}]]},"Code5":{"main":[[{"node":"Markdown2","type":"main","index":0}]]},"Build Google Docs Request3":{"main":[[{"node":"Upload to Google Docs","type":"main","index":0}]]},"VISION VALIDATION & POSITIONING REPORT":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Wrap into chatInput","type":"main","index":0}]]},"Document TOOL":{"ai_tool":[[{"node":"VISION VALIDATION & POSITIONING REPORT","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Get a record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3243c919-9fd4-4e7d-958e-d53424b3db11","triggerCount":0,"tags":[]}