wealthy-&-wise-tracker-X99xyGTJ7SKCQNBo.json
{"createdAt":"2025-09-24T10:02:43.421Z","updatedAt":"2025-09-25T12:33:57.000Z","id":"X99xyGTJ7SKCQNBo","name":"Wealthy & Wise Tracker","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"=Wealthy & Wise Tracker","formFields":{"values":[{"fieldLabel":"Action Occurred","fieldType":"date","requiredField":true},{"fieldLabel":"Closed A Trade","fieldType":"date","requiredField":true},{"fieldLabel":"At Action","requiredField":true},{"fieldLabel":"At Close","requiredField":true},{"fieldLabel":"Type","requiredField":true},{"fieldLabel":"Action","requiredField":true},{"fieldLabel":"Number","requiredField":true},{"fieldLabel":"Expiration Date","requiredField":true},{"fieldLabel":"$ / Share","requiredField":true},{"fieldLabel":"I-Volatility (%)","requiredField":true},{"fieldLabel":"Probability (Delta)","requiredField":true},{"fieldLabel":"Action","requiredField":true},{"fieldLabel":"Close"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-1392,-960],"id":"f3b69f6d-d565-4c27-bb66-05c3ffeab266","name":"On form submission","webhookId":"3db2d2f8-b9f9-49ea-8835-9599bf389ed1","disabled":true},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Action Occurred\": \"2025-03-31\",\n  \"Closed A Trade\": \"2025-05-02\",\n  \"At Action\": \"29.88\",\n  \"At Close\": \"39.54\",\n  \"Type\": \"Puts\",\n  \"Action\": \"Sell to Open\",\n  \"Number\": \"1\",\n  \"Expiration Date\": \"2-May-25\",\n  \"$ / Share\": \"29\",\n  \"I-Volatility (%)\": \"102%\",\n  \"Probability (Delta)\": \"0.4\",\n  \"Close\": \"\",\n  \"Sheet Name\": \"Test-ACF\",\n  \"submittedAt\": \"2025-09-24T15:07:14.800+05:00\",\n  \"formMode\": \"production\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-928,-448],"id":"67fb2e94-f932-4668-a6b8-548c693da868","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1136,-448],"id":"46d803fe-048c-47f5-8894-503ad3f71d5b","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"create","documentId":{"__rl":true,"value":"17pHN8OCSqu-eREEwW2l4Ro1t90lFEwOuYQ3sSAFsbFY","mode":"list","cachedResultName":"Wealthy & Wise Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17pHN8OCSqu-eREEwW2l4Ro1t90lFEwOuYQ3sSAFsbFY/edit?usp=drivesdk"},"title":"={{ $json[\"Sheet Name\"] }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1376,-224],"id":"0925108b-29e7-412b-a0bf-6614b7082e58","name":"Create sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://script.google.com/macros/s/AKfycbwhc6NB82SEfdL0Nd2mF1BMAsdwrKojIT_-Pw2vc66-hKfUXdyW0fdbUNtvaq269JDgiw/exec","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"Sheet Name\": \"Test-ACF\",\n  \"append\": false,\n  \"Action Occurred\": \"2025-03-31\",\n  \"Closed A Trade\": \"2025-05-02\",\n  \"At Action\": \"29.88\",\n  \"At Close\": \"39.54\",\n  \"Type\": \"Puts\",\n  \"Current Action\": \"Sell to Open\",\n  \"Number\": \"1\",\n  \"Expiration Date\": \"2-May-25\",\n  \"$ / Share\": \"29\",\n  \"I-Volatility (%)\": \"102%\",\n  \"Probability (Delta)\": \"0.4\",\n  \"Action\": \"2.94\",\n  \"Close\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-320],"id":"50847f1c-3ecd-443f-b588-6022b8866cd7","name":"Create New Sheet"},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/17pHN8OCSqu-eREEwW2l4Ro1t90lFEwOuYQ3sSAFsbFY?fields=sheets.properties\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-736,-448],"id":"9209dd85-c208-47c6-be38-b95d4171068c","name":"Get gid's of Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0272775-7c32-45f9-b390-8999fb8a6c08","leftValue":"={{ $json.exists }}","rightValue":"={{ $json.properties.title }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,-448],"id":"7bc811bf-ee5d-46b7-96bb-1a7b424437ab","name":"If"},{"parameters":{"fieldToSplitOut":"sheets","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-240,-976],"id":"1d6b12c4-6fda-4a5b-8612-f5ba8d591295","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-160,-112],"id":"711c54f5-c473-4c1a-8ac6-08942bfd66c9","name":"Loop Over Items"},{"parameters":{"jsCode":"// Input 1: comes from \"Get gid's of Sheet\"\n// Input 2: comes from \"Edit Fields\"\n\nconst sheetsData = $json.sheets; // from Get gid's of Sheet\nconst desiredName = $items(\"Edit Fields\")[0].json[\"Sheet Name\"]; // from Edit Fields\n\n// Find if sheet already exists\nconst match = sheetsData.find(sheet => sheet.properties.title === desiredName);\n\nif (match) {\n  return [\n    {\n      json: {\n        exists: true,\n        sheetId: match.properties.sheetId,\n        title: match.properties.title\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        exists: false,\n        sheetName: desiredName\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-448],"id":"a4d3cd5a-1a56-46d5-820f-4742f66afaee","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://script.google.com/macros/s/AKfycbwhc6NB82SEfdL0Nd2mF1BMAsdwrKojIT_-Pw2vc66-hKfUXdyW0fdbUNtvaq269JDgiw/exec","sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={\n  \"append\": true,\n  \"Sheet Id\":\"{{ $json.sheetId }}\",\n  \"Action Occurred\": \"2-May-25\",\n  \"Closed A Trade\": \"23-May-25\",\n  \"At Action\": \"40.3\",\n  \"At Close\": \"54.47\",\n  \"Type\": \"Puts\",\n  \"Current Action Action\": \"Sell to Open\",\n  \"Number\": \"1\",\n  \"Expiration Date\": \"16-Jun-25\",\n  \"$ / Share\": \"39\",\n  \"I-Volatility (%)\": \"\",\n  \"Probability (Delta)\": \"\",\n  \"Action\": \"10.64\",\n  \"Close\": \"-7.24\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,-592],"id":"cf2a665b-17c1-4163-9c9e-96e085daed06","name":"Append Data into Existing Sheet"}],"connections":{"On form submission":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get gid's of Sheet","type":"main","index":0}]]},"Create New Sheet":{"main":[[]]},"Get gid's of Sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Split Out":{"main":[[]]},"Loop Over Items":{"main":[[],[]]},"If":{"main":[[{"node":"Append Data into Existing Sheet","type":"main","index":0}],[{"node":"Create New Sheet","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a0f9bac0-1bd6-4c36-bd42-d6b30b3b3169","triggerCount":1,"shared":[{"createdAt":"2025-09-24T10:02:43.431Z","updatedAt":"2025-09-24T10:02:43.431Z","role":"workflow:owner","workflowId":"X99xyGTJ7SKCQNBo","projectId":"6EdZFkSJTSDUHwBl"}],"tags":[]}