youtube-analytics-tool-(for-15-req)-pMQeQL2k8FvDjHWO.json
{"createdAt":"2025-07-07T12:40:26.327Z","updatedAt":"2025-07-07T12:42:19.000Z","id":"pMQeQL2k8FvDjHWO","name":"Youtube Analytics Tool (For 15 Req)","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"6a7f4656-dd2f-467d-80f5-2c176b692930","name":"q","value":"={{ $json.body.title }}","type":"string"},{"id":"759f3283-ca81-4b3d-b10e-34c83f814979","name":"pageToken","value":"=","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1600,300],"id":"0054b8f1-385f-4482-94ac-7f76c062f3a3","name":"Input Niche"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"=snippet"},{"name":"q","value":"={{ $json.q }}"},{"name":"pageToken","value":"={{ $json.pageToken }}"},{"name":"type","value":"channels"},{"name":"key","value":"AIzaSyC18fp8ncZ92OPL1Gne2fOWSOqZ_UtDlfU"},{"name":"regionCode","value":"US"},{"name":"maxResults","value":"=50"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1340,300],"id":"d23e8f9d-f243-4d21-b90c-1be03bcd6952","name":"Search Based On Niche"},{"parameters":{"jsCode":"const inputData = $input.all();\nconst output = [];\n\nfor (const row of inputData) {\n  let items;\n\n  try {\n    items = typeof row.json.items === 'string'\n      ? JSON.parse(row.json.items)\n      : row.json.items;\n  } catch (error) {\n    continue; // Skip if JSON parsing fails\n  }\n\n  if (Array.isArray(items)) {\n    for (const item of items) {\n      const channelId = item?.snippet?.channelId;\n      const channelTitle = item?.snippet?.channelTitle;\n      const videoId = item?.id?.videoId;\n\n      if (channelId && channelTitle && videoId) {\n        output.push({\n          json: {\n            channelId,\n            channelTitle,\n            videoId\n          }\n        });\n      }\n    }\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,-20],"id":"90b87365-20d6-4460-a969-780476fab1a3","name":"List down id & Title"},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,statistics"},{"name":"id","value":"={{ $json.videoId }}"},{"name":"key","value":"=AIzaSyC18fp8ncZ92OPL1Gne2fOWSOqZ_UtDlfU"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,-20],"id":"a6bbed84-6f2e-4deb-b2dc-e8392afc518c","name":"Get Subscribers & Views"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72f8e513-8909-49c2-b87e-561ad42b119e","leftValue":"={{ $json.pageToken }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,280],"id":"87858e69-cc78-4650-9de5-7caff3025671","name":"If"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1080,0],"id":"121e878f-0975-4bab-9155-1bccdb2613ea","name":"Merge"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[600,260],"id":"c08bba72-30b6-4bc4-a4f1-e6810e927666","name":"Wait","webhookId":"6625b9b0-7d4f-43be-84c2-76fb8e59a4b1"},{"parameters":{"assignments":{"assignments":[{"id":"42d373d6-c4fc-46ad-a7f9-3e62a01af8da","name":"q","value":"={{ $('Input Niche').item.json.q }}","type":"string"},{"id":"ba689bf5-c5ae-45c0-a507-18fd04e4d45b","name":"pageToken","value":"={{ $('Merge').item.json.nextPageToken }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,280],"id":"4681a7cd-f4e2-4ba8-a20e-8f5e32048794","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1UqUuCylRx2EsEBiPUUdrckrXBzH0rHMSLSfIDTu0zME","mode":"list","cachedResultName":"Youtube Raw Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UqUuCylRx2EsEBiPUUdrckrXBzH0rHMSLSfIDTu0zME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UqUuCylRx2EsEBiPUUdrckrXBzH0rHMSLSfIDTu0zME/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"items":"={{ $json.items }}","nextPageToken ":"={{ $json.nextPageToken }}"},"matchingColumns":["Items"],"schema":[{"id":"items","displayName":"items","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nextPageToken ","displayName":"nextPageToken ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-820,0],"id":"94c68622-f64e-466b-98bd-ea743218a616","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}},{"parameters":{"jsCode":"const output = [];\n\nfor (const row of $input.all()) {\n  const items = row.json.items;\n\n  if (Array.isArray(items)) {\n    for (const video of items) {\n      const videoId = video?.id;\n      const stats = video?.statistics;\n      const snippet = video?.snippet;\n\n      if (videoId && stats && snippet) {\n        output.push({\n          json: {\n            videoId,\n            title: snippet.title,\n            publishedAt: snippet.publishedAt,\n            channelId: snippet.channelId,\n            channelTitle: snippet.channelTitle,\n            views: parseInt(stats.viewCount),\n            likes: parseInt(stats.likeCount),\n            comments: parseInt(stats.commentCount)\n          }\n        });\n      }\n    }\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,-20],"id":"5307ef34-c1c1-4561-9f8b-8611defa96bd","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['nextPageToken '] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"e7cbc88b-c933-448d-a980-018756992edb"}],"combinator":"and"},"renameOutput":true,"outputKey":"if/else node"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a1082aa-99cd-48c8-977d-598f9947cbd4","leftValue":"={{ $json['nextPageToken '] }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Operations"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-480,0],"id":"27e3c0a0-61ca-4424-9336-ed83c2e591b8","name":"Switch"},{"parameters":{"jsCode":"const inputData = $input.all();\nconst output = [];\n\nconst videoMap = new Map();\nlet duplicatesRemoved = 0;\n\nfor (const row of inputData) {\n  const videoId = row.json.videoId;\n  const title = row.json.title;\n  const views = parseInt(row.json.views);\n  const likes = parseInt(row.json.likes);\n  const comments = parseInt(row.json.comments);\n  const channelId = row.json.channelId;\n  const channelTitle = row.json.channelTitle;\n\n  if (!videoId || isNaN(views)) continue;\n\n  const videoUrl = `https://www.youtube.com/watch?v=${videoId}`;\n\n  if (videoMap.has(videoId)) {\n    const existing = videoMap.get(videoId);\n    if (views > existing.views) {\n      videoMap.set(videoId, {\n        videoId,\n        title,\n        views,\n        likes,\n        comments,\n        channelId,\n        channelTitle,\n        videoUrl\n      });\n      duplicatesRemoved++;\n    } else {\n      duplicatesRemoved++;\n    }\n  } else {\n    videoMap.set(videoId, {\n      videoId,\n      title,\n      views,\n      likes,\n      comments,\n      channelId,\n      channelTitle,\n      videoUrl\n    });\n  }\n}\n\n// Sort by views descending\nconst sorted = [...videoMap.values()].sort((a, b) => b.views - a.views);\n\n// Get top 10\nconst top10 = sorted.slice(0, 10);\n\n// Push top 10 to output\nfor (const video of top10) {\n  output.push({ json: video });\n}\n\n\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,-20],"id":"0d48013b-9d32-4cca-a2cf-22a116fbe950","name":"Code3"},{"parameters":{"httpMethod":"POST","path":"741b1123-10dd-4690-a2d1-3de7e0ecb264","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1860,300],"id":"2963aee9-1cc8-4af1-9346-ac1b1c948be2","name":"Webhook","webhookId":"741b1123-10dd-4690-a2d1-3de7e0ecb264"},{"parameters":{"documentId":{"__rl":true,"value":"1UqUuCylRx2EsEBiPUUdrckrXBzH0rHMSLSfIDTu0zME","mode":"list","cachedResultName":"Youtube Raw Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UqUuCylRx2EsEBiPUUdrckrXBzH0rHMSLSfIDTu0zME/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UqUuCylRx2EsEBiPUUdrckrXBzH0rHMSLSfIDTu0zME/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-160,-20],"id":"ce5d60e9-e77b-46b3-a615-8bc4ae1c63f6","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"h3pE0TkJRiFBzkh2","name":"Jamshed's Google Sheets account"}}}],"connections":{"Input Niche":{"main":[[{"node":"Search Based On Niche","type":"main","index":0}]]},"Search Based On Niche":{"main":[[{"node":"Merge","type":"main","index":0}]]},"List down id & Title":{"main":[[{"node":"Get Subscribers & Views","type":"main","index":0}]]},"Get Subscribers & Views":{"main":[[{"node":"Code","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Search Based On Niche","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Input Niche","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"List down id & Title","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6631a932-665a-4064-97da-19e46ee14f62","triggerCount":0,"tags":[]}